{% extends "bases/basesigloXVIII.html" %}

{% load static %}

{% block titulo %} ilustracion {% endblock %}

{% block cabecera %} La Ilustración {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXVIII/jovellanos.jpg' %}" alt="">  {% endblock %}

{% block contenido %}

Pensadores anteriores  que influyeron en la Ilustración
<div class="row justify-content-center my-5">
    <div class="col-md-2 ">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXVIII/descartes.jpg' %}" alt="">
            <figcaption class="text-center mt-2">Descartes (1649-1700)</figcaption>
        </figure>
    </div>
    <div class="col-md-2 "><figure>
        <img class="img-fluid" src="{% static 'images/sigloXVIII/newton.jpg' %}" alt="">
        <figcaption class="text-center mt-2">Newton (1703-1727)</figcaption>
    </figure></div>
    <div class="col-md-2 "><figure>
        <img class="img-fluid" src="{% static 'images/sigloXVIII/locke.jpg' %}" alt="">
        <figcaption class="text-center mt-2">John Locke (1632-1704)</figcaption>
        <figcaption class="text-center">División de poderes</figcaption>
    </figure></div>
</div>

<p>Es el movimiento filosófico, literario y científico que se desarrolló en Europa y sus colonias a lo largo del siglo XVIII ("de las Luces”). Representó una importante modernización cultural y el intento de transformar las caducas estructuras del Antiguo Régimen.</p>

<div class="row my-3 border" style="background-color: #FEF5E7 ;" >    
    <h6 class="my-2">Ideas fundamentales</h6>    
</div>
<p><strong>La razon</strong> es el único medio para conseguir la verdad</p>
<div>
    <ul>
        <li>Junto con el progreso, constituye el camino para alcanzar la felicidad. Sirve de guía frente a la superstición, el fanatismo religioso y la ignorancia.</li>
        <li>El autor que criticó con mayor denuedo la intolerancia y fanatismo de la religión de su tiempo fue <strong>Voltaire</strong>.</li>
        <li>Este tratamiento de la razón tuvo sus fuentes de <strong>inspiración</strong> en la filosofía de <strong>Descartes</strong>, basada en "duda metódica" (sólo es considerado verdadero lo que es evidente) y en las leyes generales de la Física de <strong>Newton</strong>.</li>
    </ul>
</div>
<p><strong>El Progreso</strong>, al que ha de llegarse mediante la Ciencia en combinación con la técnica, permite el avance de la humanidad de manera evolutiva e indefinida.</p>
<p><strong>La Naturaleza</strong> es el origen de todo lo genuino, verdadero y auténtico. Sin embargo la sociedad pervierte y corrompe al hombre, bueno en estado natural. La principal figura que desarrolla el aspecto social de la Ilustración es <strong>Jean Jacques Rousseau</strong>.</p> 
<p><strong>La Felicidad</strong> es un bien al que todo hombre tiene derecho y constituye un fin en sí misma. La política es considerada como el “arte de hacer felices a los pueblos”.</p>

<div class="row my-3 border" style="background-color: #FEF5E7 ;">    
    <h6 class="my-2">Vehículos de difusión de las ideas ilustradas</h6>    
</div>
<p>Aunque la Ilustración caló exclusivamente en sectores minoritarios de la sociedad, sus valedores siempre intentaron extender sus ideas desde y a través de diferentes ámbitos.</p>
<div class="row">
    <div class="col-md-10">
        <ul>
            <li>Las sociedades científicas, literarias o artísticas y las academias, apoyadas por los poderes públicos.</li>
            <li>Las sociedades de amigos del país, establecidas usualmente en las principales ciudades y capitales de provincia.</li>
            <li>Los Salones. Tertulias o reuniones de ilustrados para tratar sobre los más diversos temas.</li>
            <li>La Enciclopedia. Diccionario ilustrado que recoge todo el conocimiento de la humanidad:
                <ul>
                    <li>Es un “diccionario razonado de las ciencias, las artes y los oficios”. Es decir, un inventario de todo el saber de la época. Su director fue Diderot.</li>
                    <li>Se publicó entre 1751 y 1772 y en él colaboraron especialistas de diversas materias: D’Alembert (matemático), Voltaire y Rousseau (filósofos), Turgot (economista), Buffon (naturalista), etc.</li>
                    <li>Los criterios para su elaboración fueron estricatamente científicos, lo que le grangeó la oposicion de los sectores más reaccionarios de la sociedad y la persecución eclesiástica.</li>
                    <li>Obtuvo un notable éxito en Francia (donde se publicó por vez primera) e igualmente en el resto de Europa.</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXVIII/diderot.jpg' %}" alt="">
            <figcaption class="text-center mt-2">Denis Diderot  (1713-1784)</figcaption>
        </figure>
    </div>
    
</div>

<div class="row my-3 border" style="background-color: #FEF5E7 ;">    
    <h6 class="my-2">El pensamiento ilustrado</h6>    
</div>

<p>Los antecedentes pueden encontrarse en Inglaterra y Holanda durante el siglo XVII. Las evidencias se encuentran en <strong>Newton</strong> desde el punto de vista científico (Física moderna) y en la Revolución inglesa de 1688 en sus aspectos políticos. Esta última implantó el parlamentarismo, que tanta influencia ejercería en Voltaire y en Montesquieu.</p>
<p>Figura destacada es <strong>John Locke</strong> que en su obra “Dos tratados sobre el gobierno civil” (1660), propugnó la separación de poderes mediante el ejercicio de un gobierno parlamentario que garantizase las libertades individuales y sustituyese al absolutismo monárquico.</p>
<div class="row">
    <div class="col-md-3 py-2" style="background-color:#EBF5FB  ;">
        El pensamiento político
    </div>
</div>
<div class="row justify-content-center my-5">
    <div class="col-md-2 ">
        <figure>
            <img class="img-fluid" style="width:280px ; height:185px ;" src="{% static 'images/sigloXVIII/montesquieu.png' %}" alt="">
            <figcaption class="text-center mt-2">Montesquieu (1689-1755)</figcaption>
            <figcaption class="text-center ">División de poderes</figcaption>
        </figure>
    </div>
    <div class="col-md-2 "><figure>
        <img class="img-fluid" style="width:280px ; height:185px ;" src="{% static 'images/sigloXVIII/voltaire1.jpg' %}" alt="">
        <figcaption class="text-center mt-2">Voltaire (1694-1778)</figcaption>
    </figure></div>
    <div class="col-md-2 "><figure>
        <img class="img-fluid" style="width:280px ; height:185px ;" src="{% static 'images/sigloXVIII/rousseau1.jpg' %}" alt="">
        <figcaption class="text-center mt-2">Rousseau (1712-1778)</figcaption>
        <figcaption class="text-center ">Soberanía popular</figcaption>
    </figure></div>
</div>
<p>Se desarrolló en la obra de los siguientes autores:</p>
<div>
    <ul>
        <li>Montesquieu. Teorizó sobre la división de poderes.</li>
        <li>Voltaire. Indagó en la libertad de pensamiento y abogó por una nueva religión (deísmo) que sustituyese a las reveladas (cristianismo, judaísmo, islamismo, etc).</li>
        <li>Rousseau. Hizo hincapié en el estudio de la Naturaleza y las relaciones sociales entre los hombres.</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-3 py-2" style="background-color:#EBF5FB  ;">
        El pensamiento económico
    </div>
</div>
<p>Se concretó en dos nuevas corrientes: la fisiocracia y liberalismo, que entraron en conflicto con el pensamiento imperante del momento, el mercantilismo.</p>
<div>
    <ul>
        <li><strong>El Mercantilismo.</strong> El mercantilismo constituye un conjunto de doctrinas económicas, poco sistematizadas (aunque con rasgos comunes) que se desarrolla en Europa y sus colonias a lo largo de los siglos XVI, XVII y XVIII. Cifraba la riqueza de un estado en la posesión de metales preciosos (oro y plata). Su objetivo era contribuir al engrandecimiento del monarca a través de los medios económicos. Su principal valedor fue Jean-Baptiste Colbert, ministro de Luis XIV de Francia.</li>
        <li><strong>La Fisiocracia.</strong> Los fisiócratas sostenían que la riqueza de un estado hay que buscarla en la naturaleza, más exactamente de la agricultura. Las otras actividades económicas (industria y comercio) son consideradas estériles. Turgot, ministro de Luis XVI de Francia y discípulo de Quesnay (principal ideólogo de esta teoría), completó la teoría, afirmando que la economía está sujeta a un orden natural y que el Estado ha de intervenir lo menos posible en ella. Los reyes deben dejar que precios, salarios y producción se regulen por sí solos.</li>
        <li><strong>El Liberalismo.</strong> Para sus defensores, la riqueza del Estado no radica ni en la acumulación de metales preciosos (mercantilismo) ni exclusivamente en la agricultura (fisiocracia), sino en la libertad. El Estado no ha de intervenir en la actividad económica, ha de dejar total libertad a la iniciativa y a la empresa privadas. Su principal teórico fue Adam Smith (1793-1790), quien expuso su pensamiento en la conocida obra "La riqueza de las naciones".
            <ul>
                <li>Frente a los mercantilistas A. Smith sostiene que la responsabilidad económica del Estado debe ser mínima y ha de ser sustituida por el Interés Personal. </li>
                <li>El mercado es el que regula las relaciones económicas mediante la Ley de la Oferta y la Demanda. Según ésta, cuando la oferta supera la demanda, los productores han de bajar los precios a fin de estimular las ventas; de igual modo, cuando la demanda es superior a la oferta, los compradores presionan al alza el precio de los bienes.</li>
                <li>Estas ideas tuvieron correspondencia en el liberalismo político, que tuvo un importante desarrollo a lo largo del siglo XIX.</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}