{% extends "bases/basesigloXVIII.html" %}

{% load static %}

{% block titulo %} siglo XVIII {% endblock %}

{% block cabecera %} Siglo XVIII {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXVIII/jovellanos.jpg' %}" alt="">  {% endblock %}

{% block contenido %}

<div class="row justify-content-center">
    <div class="arrowRight">
        <div class="row justify-content-center mt-1">
    
            <div class="border-1 rounded my-2 text-center " style="background-color:#E74C3C ; color:white; width:145px ; height:235px ;">
                <a href="{% url 'carlosIV' %}" class="text-light", style="text-decoration:none ;">    
                    <div class="row text-center">                                    
                        <img class="img-fluid mt-4" style="width:135px ; height:125px ;" src="{% static 'images/sigloXVIII/felipeV.png' %}" alt="">
                        <figcaption class="text-center mt-3">Felipe V</figcaption>
                        <span class="text-center">(1683-1746)</span> 
                    </div>
                </a>                       
            </div>
            <div class="border-1 rounded my-2 mx-1 text-center " style="background-color:#066725 ; color:white; width:145px ; height:235px ;">
                <a href="{% url 'independencia' %}" class="text-light", style="text-decoration:none ;">    
                    <div class="row text-center">                                    
                        <img class="img-fluid mt-4" style="width:135px ; height:125px ;" src="{% static 'images/sigloXVIII/fernandoVI.jpg' %}" alt="">
                        <figcaption class="text-center mt-3">Fernando VI</figcaption>
                        <span class="text-center">(1746-1759)</span> 
                    </div>
                </a>                       
            </div>
            <div class="border-1 rounded my-2 mx-1 text-center " style="background-color:#590e96 ; color:white; width:145px ; height:235px ;">
                <a href="{% url 'monarquiaAbsoluta' %}" class="text-light", style="text-decoration:none ;">    
                    <div class="row text-center">                                    
                        <img class="img-fluid mt-4" style="width:135px ; height:125px ;"src="{% static 'images/sigloXVIII/carlosIII.jpg' %}" alt="">
                        <figcaption class="text-center mt-3">Carlos III</figcaption>
                        <span class="text-center">(1759-1788)</span> 
                    </div>
                </a>                       
            </div>
            <div class="border-1 rounded my-2 mx-1 text-center " style="background-color:#F39C12 ; color:white; width:145px ; height:235px ;">
                <a href="{% url 'regencias' %}" class="text-light", style="text-decoration:none ;">    
                    <div class="row text-center">                                    
                        <img class="img-fluid mt-4" style="width:135px ; height:125px ;" src="{% static 'images/sigloXVIII/carlosIV.jpg' %}" alt="">
                        <figcaption class="text-center mt-3">Carlos IV</figcaption>
                        <span class="text-center">(1748-1819)</span> 
                    </div>
                </a>                       
            </div>
            

        </div>
    </div>
</div>



{% endblock %}