{% load static %}

<!doctype html>
<html lang="es">
    <head>
        <title> {% block titulo %} {% endblock %} </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Datatable -->
        

        <!-- Bootstrap CSS v5.0.2 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <link rel="stylesheet" href="{% static 'librerias/jquery-ui-1.13.1.custom/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="{% static 'librerias/jquery-ui-1.13.1.custom/jquery-ui.min.js' %}"></script>       
        <!-- <link rel="stylesheet" href="{% static 'css/estilos.css' %}"> -->
        <link rel="stylesheet" href="{% static 'css/prueba.css' %}">

        {% block head %} {% endblock %}

       <style>
        .logo-medieval{
            max-height:70px;
            width:auto;
            object-fit:contain;
            }

            @media (max-width:991px){

            #logotipo{
                padding-top:0.6rem;
            }

            #logotipo h1{
                font-size:1.8rem;
                margin-bottom:0;
            }

        }
       </style>
    </head>
    <body>
        <header>
            <div class="row align-items-center justify-content-center" id="logotipo">
                <div class="col-md-1 d-none d-md-block text-center">
                    <figure class="m-0">
                        <img src="{% static 'images/favicon1.png' %}"
                            alt="Logo"
                            class="img-fluid logo-medieval">
                    </figure>
                </div>
                <div class="col-md-8 text-center ">
                    <h1>{% block cabecera %} {% endblock %}</h1>
                </div>
                
                <div class="col-md-1 text-center ">
                    {% block imgCabecera %}  {% endblock %}
                </div>
                
                
                
            </div>           
            
        </header>
        <div class="row justify-content-center">
            <div class="col-md-11 text-center align-items-center justify-content-center">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-3 px-3 rounded">

                <a class="navbar-brand" href="{% url 'inicio' %}">
                    🏠 Inicio
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuEdadMedia"
                        aria-controls="menuEdadMedia" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menuEdadMedia">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inicioEspagna' %}">España</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'edad_media' %}">Edad Media</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reyes_timeline' %}">Introducción</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reyes_timeline' %}">Visigodos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reyes_timeline' %}">Al-Ándalus</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reyes_timeline' %}">Reinos cristianos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reyes_timeline' %}">Reconquista</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reyes_timeline' %}">Reyes Católicos</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="temasEdadMedia" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Temas
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="temasEdadMedia">
                        <li>
                            <a class="dropdown-item" href="{% url 'romanico' %}">Camino de Santiago</a>
                        </li>
                        </ul>
                    </li>

                    </ul>
                </div>

                </nav>
            </div>
            
        </div>
        

        <div class="container justify-content-center mt-5">
            
                    {% block contenido %} {% endblock %} 
                
        </div>
        <div class="row my-4 justify-content-center">
            <div class="col-md-11 text-end mx-3 py-2 " style="background-color:#E5E7E9 ;">
                Juan Carlos Perea
            </div>
            
        </div>
      
        <!-- Bootstrap JavaScript Libraries -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        
        {% block datatable %} {% endblock %}
    </body>
</html>