{% extends "bases/basesigloXX.html" %}

{% load static %}

{% block titulo %} Primo Rivera {% endblock %}
{% block cabecera %} Dictadura de Primo de Rivera {% endblock %}
{% block imgCabecera %} <img src="{% static 'images/sigloXX/miguelPrimoRivera.jpg' %}" class="card-img-top" alt="..."> {% endblock %}

{% block contenido %}




<h3 class="mt-5">Recursos </h3>
    <hr>
    <p><p><u>Documentales</u></p></p>
    <div>    
        <ul>
            <li><a href="https://www.youtube.com/watch?v=sxqzgjizzdo&list=PLTg9oK7EhhS1jHvWBFVA-jDv_v5YjY6A3&index=25" target="_blank" style="text-decoration:none ;">El crack del 29 y la Gran Depresión</a>.</li>
            
        </ul>
    </div>


{% endblock %}