{% extends "bases/basesigloXIX.html" %}

{% load static %}

{% block titulo %} carlos iv {% endblock %}

{% block cabecera %} Carlos IV {% endblock %}



{% block contenido %}

<div class="container  mt-5 justify-content-center text-center">
    <div class="row mb-4 ">
        
        <div class="col-md-3 text-start border">
            <figure>
            <img class="imagenInicio" src="{% static 'images/sigloXIX/carlosIV.jpg' %}" alt="">
            </figure>
            <figcaption>
            Carlos IV de España, llamado <strong> <span> «el Cazador» (1788-1808)</span></strong></br></br>
            <strong> <span> Rey de España </span></strong>desde el 14 de diciembre de 1788 hasta el 19 de marzo de 1808. </br>
            <strong> Hijo y sucesor</strong> de Carlos III y de María Amalia de Sajonia y de Polonia.<br> 
            <strong> Nacimiento:</strong> 11 de noviembre de 1748, Palacio Real de Portici, Portici, Italia<br>
            <strong> Fallecimiento:</strong> 20 de enero de 1819, Palacio Barberini, Roma, Italia<br>
            <strong> Cónyuge:</strong> María Luisa de Parma (m. 1765–1819)<br>
            <strong> Hijos: </strong>Fernando VII de España, Carlos María Isidro de Borbón<br>
            
            </figcaption> 
            <p></p>
        </div>
        <div class="col-md-9 text-start mt-2 ">
            <p>Rey carente de talento y voluntad, que delegó en sus validos</p>
            <h5>Gobierno del <span  data-bs-toggle="modal" data-bs-target="#floridablanca">
            <strong> conde de Floridablanca</strong> </span>(1777-1792)</h5>
            <!-------------------------------------------- MODAL -->
            <div class="modal fade" id="floridablanca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Conde de Floridablanca</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{% static 'images/sigloXIX/floridablanca.jpg' %}" alt="">
                        </div>
                        <div class="col-md-6 border"> 
                            <h5>Notas básicas</h5>
                            <p></p>
                        </div>

                    </div>
                    
                </div>
                
                </div>
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->


            <p>Esta época viene marcada por el estallido de la Revolución Francesa en 1789.</p>
            <p> Conforme llegan las noticias de Francia, el nerviosismo de la corona crece y acaba por cerrar las Cortes. 
                El aislamiento parece ser la receta para evitar la propagación de las ideas revolucionarias a España. 
                Floridablanca estableció controles en la frontera para impedir la expansión de las ideas revolucionarias y efectuó una fuerte presión diplomática en apoyo a Luis XVI. 
                También puso fin a los proyectos reformistas del reinado anterior y los sustituyó por el conservadurismo y la represión</p>
            <h5>Gobierno del <span  data-bs-toggle="modal" data-bs-target="#aranda">
            <strong> conde de Aranda</strong> </span>(1792)</h5>
            <!-------------------------------------------- MODAL -->
            <div class="modal fade" id="aranda" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Conde de Aranda</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    <div class="modal-body container-fluid">
                        <div class="row">
                                <div class="col-md-6">
                                    <img src="{% static 'images/sigloXIX/condeAranda.jpg' %}" alt="">
                                </div>
                                <div class="col-md-6 border">
                                    <h5>Notas básicas</h5>
                                    <p></p>
                                </div>

                            </div>
                        
                        </div>
                    
                    </div>
                </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->
            <p>El rey le encomienda la difícil papeleta de salvar la vida de su primo el rey Luis XVI. 
                Sin embargo el rey francés fue guillotinado y quedó proclamada la República. 
                Esto precipitó la caída del conde de Aranda y la llegada al poder de Manuel Godoy el 15 de noviembre de 1792. </p>

            <h5>Gobierno de <span  data-bs-toggle="modal" data-bs-target="#godoy">
            <strong> Manuel de Godoy</strong> </span>(1792-1808)</h5>
            <!-------------------------------------------- MODAL GODOY -------------------------------------------------------->
            <div class="modal fade" id="godoy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Manuel de Godoy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            <div class="col-md-6">
                                <img src="{% static 'images/sigloXIX/godoy.jpg' %}" alt="">
                            </div>
                            <div class="col-md-6 ">
                                 
                                <p>A lo largo de su valimiento, lleno de luces y sombras, logró mantener la situación de España ante el poderío de Francia con una <strong>política exterior pragmática</strong> </p>
                                <p>En el interior trató de llevar a cabo un <strong>programa reformista ilustrado</strong> que generó un profundo rechazo en muchos grupos sociales, en especial entre la nobleza y el clero.</p>
                                <p>Godoy, uno de los personajes más <strong>vilipendiados</strong> de la historia de España, ha sido objeto en los últimos tiempos de una serie de estudios rehabilitadores coincidentes con el 150.º aniversario de su muerte.</p>
                            </div>

                        </div>
                    
                    </div>
                    
                </div>
                
               
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->
            <p>De pensamiento ilustrado.<br><br> Luis XVI fue guillotinado en enero de <strong>1793</strong>, lo que generalizó una guerra de las potencias europeas contra 
                la Francia revolucionaria conocida como la <span  data-bs-toggle="modal" data-bs-target="#guerraConvencion">
            <strong> Guerra de la Convención</strong> </span>, en la que España participó y fue derrotada. Godoy suscribió con Francia la <span  data-bs-toggle="modal" data-bs-target="#pazBasilea">
            <strong> Paz de Basilea de 1795</strong> </span>. En agradecimiento el rey Carlos IV le concedió el título de <strong>príncipe de la Paz</strong>.<br>
                <!-------------------------------------------- MODAL GUERRA DE CONVENCIÓN----------------------------------------------- -->
            <div class="modal fade" id="guerraConvencion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Guerra de la convención</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            
                            <div class="col-md-12 ">
                                
                                <p>Enfrentó a Francia conta España y Portugal desde 1793 a 1795</p>
                                <p>La guerra se libró en los Pirineos orientales, los Pirineos occidentales, en el puerto francés de Tolón y en el mar. </p>
                                <p>A partir de 1794 las tropas españolas se vieron forzadas a la retirada. Los franceses ocuparon Figueras, Irún, San Sebastián, Bilbao, Vitoria y Miranda de Ebro.</p>
                                <p>La República francesa devolvió a España las plazas ocupadas, a cambio del territorio hispano de la isla de La Española —colonia de Santo Domingo—.</p>
                            </div>

                        </div>
                    
                    </div>
                    
                </div>
                
               
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->
              <!-------------------------------------------- MODAL PAZ DE BASILEA------------------------------------------------------->
            <div class="modal fade" id="pazBasilea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Paz de Basilea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            
                            <div class="col-md-12 ">
                               
                                <p>Francia devolvió a España las plazas ocupadas, a cambio del territorio hispano de la isla de La Española —colonia de Santo Domingo—.</p>
                                <p>La modestia de las reivindicaciones francesas se debió a que pretendía la reconciliación con España y reeditar la alianza frente al común enemigo británico</p>
                            </div>

                        </div>
                    
                    </div>
                    
                </div>
                
               
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->
                
                
                <strong> En 1796</strong>, concluida la fase más radical de la Revolución, Godoy firmó el <span  data-bs-toggle="modal" data-bs-target="#ildefonso">
            <strong> Tratado de san Ildefonso</strong> </span>y España se convirtió en aliada de Francia. 
                Este cambio de postura buscaba el enfrentamiento con Gran Bretaña, principal adversario de la Francia revolucionaria y tradicional enemiga de España con la que disputaba la hegemonía marítima y, concretamente, el comercio con América. 
                La escuadra española sufrió la derrota frente al <span  data-bs-toggle="modal" data-bs-target="#caboVicente">
            <strong> Cabo de San Vicente</strong> </span> en 1797.<br><br>
                En <strong>1801 </strong>Godoy firmó el <strong>Convenio de Aranjuez</strong> por el que ponía a disposición de Napoleón la escuadra española, lo que implicaba de nuevo la guerra contra Gran Bretaña.<br><br>
                En <strong>1801</strong> declara la guerra a Portugal, principal aliado británico en el continente, antes de que lo hiciera Francia. Este conflicto, conocido como la<span  data-bs-toggle="modal" data-bs-target="#guerraNaranjas">
            <strong> guerra de las naranjas</strong> </span>, significó la ocupación de Olivenza por España, que además obtuvo el compromiso de Portugal de impedir el atraque de buques británicos en sus puertos.

                </p>
                <p>En <strong>1805 </strong>, la derrota de la escuadra franco-española en la <span  data-bs-toggle="modal" data-bs-target="#trafalgar">
            <strong> batalla de Trafalgar</strong> </span> por la Armada británica modificó la situación 
                    radicalmente. Frente a la hegemonía de Gran Bretaña en los mares, Napoleón recurrió al bloqueo continental, medida a la que se sumó España. .</p>
                <p>En <strong>1807</strong> se firmó el <span  data-bs-toggle="modal" data-bs-target="#fontainebleau">
            <strong> Tratado de Fontainebleau</strong> </span> que estableció el reparto de Portugal entre Francia, España y el propio Godoy, y el derecho de paso por España de las tropas francesas encargadas de su ocupación</p>
                <p>A finales de <strong>1807</strong> se produjo la <span  data-bs-toggle="modal" data-bs-target="#conjuraEscorial">
            <strong> Conjura del Escorial</strong> </span>, que se presentó como una conspiración encabezada por Fernando, príncipe de Asturias, que pretendía la sustitución de Godoy y el destronamiento de su propio padre</p>
                <p>En marzo de <strong>1808</strong>, ante la evidencia de la ocupación francesa, Godoy aconsejó a los reyes que abandonaran la península y se refugiaran en América.​ Pero se produjo el <span  data-bs-toggle="modal" data-bs-target="#motinAranjuez">
            <strong> motín de Aranjuez</strong> </span>, levantamiento popular atizado por el príncipe Fernando y los nobles opuestos a Godoy, contra los reyes aprovechando su presencia en el palacio de Aranjuez.​ Godoy fue hecho preso por los amotinados. Carlos IV, enfermo y desanimado, abdicó en su hijo Fernando VII ante el cariz de los acontecimientos</p>
            </div>

            <!-------------------------------------------- MODAL TRATADO DE SAN ILDEFONSO------------------------------------------------------->
            <div class="modal fade" id="ildefonso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tratado de San Ildefonso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            
                            <div class="col-md-12 ">
                                
                                <p class="text-start">Según los términos del acuerdo, ambos Estados convenían en mantener una política militar conjunta frente a Reino Unido, 
                                que en esos momentos amenazaba a la flota española en sus viajes a América.</p>
                            </div>

                        </div>
                    
                    </div>
                    
                </div>
                
               
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->

             <!-------------------------------------------- MODAL CABO SAN VICENTE------------------------------------------------------->
            <div class="modal fade" id="caboVicente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cabo San Vicente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            
                            <div class="col-md-12 ">
                                
                                <p class="text-start">Se desarrolló en 1797 frente al cabo de San Vicente, en el extremo occidental de la costa portuguesa del Algarve. España se encontraba en aquel momento aliada a la Francia revolucionaria merced al Tratado de San Ildefonso, que la comprometía a enfrentarse a Inglaterra.</p>
                                <p class="text-start">La escuadra española, formada por 24 navíos de línea, 7 fragatas y un bergantín, con un total de 2638 cañones al mando del teniente general José de Córdova. Entre los buques de la flota española se encontraba el Santísima Trinidad, entonces el mayor buque de guerra del mundo, con 136 cañones y el único con cuatro cubiertas de artillería</p>
                                <p class="text-start">La flota inglesa, con 15 navíos de línea, cuatro fragatas, dos balandros y un cúter, con un total de 1430 cañones y al mando de John Jervis</p>
                                <p class="text-start">Se saldó con una victoria para los ingleses</p>
                            </div>

                        </div>
                    
                    </div>
                    
                </div>
                
               
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->
             <!-------------------------------------------- MODAL GUERRA DE LAS NARANJASE------------------------------------------------------->
            <div class="modal fade" id="guerraNaranjas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Guerra de las naranjas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            
                            <div class="col-md-12 ">
                                
                                <p class="text-start">En 1801, Napoleón conminó a Portugal para que rompiera su alianza tradicional con Inglaterra y cerrara sus puertos a los barcos ingleses. </p>
                                <p class="text-start">En el tratado de Madrid de 1801 España se comprometía a declarar la guerra a Portugal si la nación vecina mantenía su apoyo a los ingleses. Ante la negativa portuguesa a someterse a las pretensiones franco-españolas, se desencadenó la llamada Guerra de las Naranjas.</p>
                                <p class="text-start">La campaña militar apenas duró dieciocho días entre mayo y junio de 1801 y se saldó con Victoria de Godoy</p>
                                <p class="text-start">La guerra de las Naranjas recibió este nombre debido al ramo de naranjas que Godoy hizo llegar a la reina María Luisa cuando sitiaba la ciudad de Elvas</p>
                            </div>

                        </div>
                    
                    </div>
                    
                </div>
                
               
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->

             <!-------------------------------------------- MODAL BATALLA TRAFALGAR------------------------------------------------------->
            <div class="modal fade" id="trafalgar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Batalla de Trafalgar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            
                            <div class="col-md-12 ">
                                <strong></strong>
                                <p class="text-start">Combate naval que enfrentó a Gran Bretaña contra Francia y España y que tuvo lugar frente al cabo Trafalgar, en Barbate, el 21 de octubre de 1805.</p>
                                <p class="text-start">La armada de <strong>Francia</strong>, con el apoyo de la de España: comandadas por el almirante francés <strong>Pierre Villeneuve</strong> y el teniente general español Federico Gravina, al mando de 33 buques de guerra, 15 españoles y 18 franceses.</p>
                                <p class="text-start">La flota de <strong>Gran Bretaña</strong>: liderada por el vicealmirante inglés Horatio <strong>Nelson</strong>, que contaba con 27 naves. Gran Bretaña era aliada de Austria, Rusia, Nápoles y Suecia, con las que había formado la Tercera Coalición, una alianza antifrancesa.</p>
                                <p class="text-start">Al mismo tiempo Napoleón concentró gran cantidad de tropas a orillas del Canal de la Mancha con el objetivo de invadir Inglaterra cuando le llegaran las noticias de la destrucción de la flota enemiga.</p>
                                <p class="text-start">Debido a su superioridad en estrategia, experiencia y armamento, los británicos lograron derrotar a sus enemigos, aunque estos los superaban en número.</p>
                                <p class="text-start">En la batalla perdió la vida el vicealmirante Nelson</p>
                                <h6 class="text-start">Consecuencias</h6>
                                <ul>
                                    <li class="text-start">El debilitamiento de la flota española implicó que España no pudiera proteger debidamente sus colonias americanas. Esto contribuyó a que se desarrollaran los procesos de independencia hispanoamericanos</li>
                                    <li class="text-start">La flota británica quedó intacta y permaneció siendo la mayor del mundo durante más de 100 años.</li>
                                    <li class="text-start">Napoleón no pudo concretar la invasión a Gran Bretaña, por lo que desvió su atención a sus rivales continentales.</li>
                                </ul>
                            </div>

                        </div>
                    
                    </div>
                    
                </div>
                
               
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->

             <!-------------------------------------------- MODAL Tratado de Fontainebleau------------------------------------------------------->
            <div class="modal fade" id="fontainebleau" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tratado de Fontainebleau</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            
                            <div class="col-md-12 ">
                                
                                <p class="text-start">Firmado en 1807 entre Godoy y Napoleón. En él se estipulaba la invasión militar conjunta franco-española de Portugal aliada del Reino Unido de Gran Bretaña y se permitía para ello el paso de las tropas francesas por territorio español.</p>
                            </div>

                        </div>
                    
                    </div>
                    
                </div>
                
               
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->

             <!-------------------------------------------- MODAL Conjura de El Escorial------------------------------------------------------->
            <div class="modal fade" id="conjuraEscorial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Conjura de El Escorial</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            
                            <div class="col-md-12 ">
                                
                                <p class="text-start">Fue una conspiración fallida encabezada por el príncipe de Asturias Fernando de Borbón para provocar la caída del ‘’favorito’’ Manuel Godoy y poner bajo control a la reina María Luisa de Parma, su principal apoyo. La suerte que correría el rey Carlos IV de España nunca estuvo clara.</p>
                                <p class="text-start">Fue descubierta el 27 de octubre de 1807 durante una estancia de la familia real en el Monasterio de El Escorial, de ahí el nombre que recibe.</p>
                                <p class="text-start">Paradójicamente de la "conjura de El Escorial" salió fortalecido el príncipe Fernando —considerado víctima de la ambición de su madre y de Godoy—, y los desprestigiados fueron Godoy, la reina y el "débil" Carlos IV. </p>
                            </div>

                        </div>
                    
                    </div>
                    
                </div>
                
               
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->

             <!-------------------------------------------- MODAL motín de Aranjuez------------------------------------------------------->
            <div class="modal fade" id="motinAranjuez" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Motín de Aranjuez</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                            
                            <div class="col-md-12 ">
                                
                                <p class="text-start"> Levantamiento de la ciudad de Aranjuez ocurrió entre el 17 y el 18 de marzo de 1808</p>
                                <h6 class="text-start">Causas</h6>
                                <ul>
                                    <li class="text-start">La impaciencia de Fernando VII por reinar, algo que sumado a la creencia de que la reina María Luisa y Godoy mantenían una relación daría como resultado las intrigas que el príncipe preparó para conseguir la abdicación de su progenitor.</li>
                                    <li class="text-start">El desastre de Trafalgar. La gran crisis económica en la que España se había sumergido atacaba directamente a las clases más bajas. Además, en este punto, el clero temía que dicha crisis obligara al Gobierno a desamortizar sus propiedades.</li>
                                    <li class="text-start">La presencia de las tropas francesas en España, a razón del tratado de Fontainebleau para la conquista conjunta de Portugal, habían crecido considerablemente.</li>
                                    <li class="text-start">Godoy comenzó a sospechar que era el comienzo de una invasión napoleónica. Decidió que la familia real viajara hasta Aranjuez para, en caso de necesidad, siguiera su camino hasta Sevilla para embarcar hacia América, como ya habría hecho el monarca portugués.</li>
                                   
                                </ul>
                                <p class="text-start">El día 17 empieza a correr el rumor del viaje real y la muchedumbre, poco espontánea, se agolpa ante las puertas del Palacio Real de la ciudad. Esta muchedumbre ha sido organizada a conciencia por los fernandinos, aristócratas que apoyaban la figura del príncipe. En Madrid, otra masa de gente ataca el palacio de Godoy, el cual intentó salvar su vida escondiéndose como pudo.</p>
                                <p class="text-start">Finalmente, el día 19 sería trasladado al cuartel de Guardias de Corps. Será Fernando VII el que salve al mismísimo Godoy del linchamiento, consiguiendo además que su padre renuncie y abdique en él para comenzar a reinar como Fernando VII.</p>
                                <p class="text-start">El día 23, tan sólo cuatro días tras la llegada del nuevo monarca Murat entra en Madrid, en nombre de Bonaparte, el cual invalida la abdicación del rey Carlos IV y decide intervenir en el enfrentamiento de ambos en Bayona, camino del exilio.</p>
                            </div>

                        </div>
                    
                    </div>
                    
                </div>
                
               
            </div>
            </div>

             <!---------------------------------------------------------------------------------------------------------- -->
        
        
    </div>
    
</div>
<h3 class="mt-5">Recursos </h3>
    <hr>
    <p><p><u>Documentales</u></p></p>
    <div>    
        <ul>
            <li><a href="https://www.youtube.com/watch?v=d1WoGh4OMoQ&list=PLTg9oK7EhhS1jHvWBFVA-jDv_v5YjY6A3&index=121" target="_blank" style="text-decoration:none ;">La batalla de Trafalgar</a>.</li>
            
        </ul>
    </div>


{% endblock %}