{% extends "bases/basesigloXIX.html" %}

{% load static %}

{% block titulo %} cosntituciones {% endblock %}

{% block cabecera %} Constituciones españolas siglo XIX {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXIX/constitucion.jpg' %}" alt="">  {% endblock %}

{% block contenido %}

<div class="row align-items-center vertical-align-center text-center py-3 my-5 " >  
        
    <table class="table table-striped mx-2 border">
        
        <tr class="table-success ">
            <th class="border border-dark">Características</th>
            <th class="border border-dark">1812</th>
            <th class="border border-dark" style="background-color:#FEF5E7 ;">1834 (Estatuto Real)</th>
            <th class="border border-dark" style="background-color:#FEF5E7 ;">1837</th>
            <th class="border border-dark ">1845</th>
            <th class="border border-dark">1856 (Non nata)</th>
            <th class="border border-dark">1869</th>
            <th class="border border-dark">1876</th>
            
        </tr>
        <tr>
            <th class="border border-dark text-start">Época histórica</th>
            <td class="border border-dark">Vacío de poder</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Regencia Mª Cristina</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Regencia Mª Cristina</td>
            <td class="border border-dark ">Isabel II</td>
            <td class="border border-dark">Primera República</td>
            <td class="border border-dark">Regencia general Serrano</td>
            <td class="border border-dark">Alfonso XII</td>
            
        </tr>
        <tr>
            <th class="border border-dark text-start">Tendencia política</th>                
            <td class="border border-dark">Progresista</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Moderada</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Progresista</td>
            <td class="border border-dark">Moderada</td>
            <td class="border border-dark">Progresista</td>
            <td class="border border-dark">Progresista</td>
            <td class="border border-dark">Moderada</td>                    
                            
        </tr>
        <tr>
            <th class="border border-dark text-start">Soberanía</th>                
            <td class="border border-dark">Nacional</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Rey</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Nacional</td>
            <td class="border border-dark">Rey y Cortes</td>
            <td class="border border-dark">Nacional</td>
            <td class="border border-dark">Nacional</td>
            <td class="border border-dark">Rey y Cortes</td>                    
                            
        </tr>
        <tr>
            <th class="border border-dark text-start">Sufragio</th>                
            <td class="border border-dark">Universal</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Rey</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Censitario amplio</td>
            <td class="border border-dark">Censitario restringido</td>
            <td class="border border-dark">Censitario</td>
            <td class="border border-dark">Universal masculino</td>
            <td class="border border-dark">Universal masculino</td>                    
                            
        </tr>
        <tr>
            <th class="border border-dark text-start">Parlamento</th>                
            <td class="border border-dark">Unicameral</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Bicameral</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Bicameral</td>
            <td class="border border-dark">Bicameral</td>
            <td class="border border-dark">Bicameral</td>
            <td class="border border-dark">Bicameral</td>
            <td class="border border-dark">Bicameral</td>                    
                            
        </tr>
        <tr>
            <th class="border border-dark text-start">Iglesia</th>                
            <td class="border border-dark">No libertad de culto</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">No libertad de culto</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">Libertad de culto</td>
            <td class="border border-dark">No libertad de culto</td>
            <td class="border border-dark">Libertad de culto</td>
            <td class="border border-dark">Libertad de culto</td>
            <td class="border border-dark">Libertad de culto</td>                    
                            
        </tr>
        <tr>
            <th class="border border-dark text-start">Duración</th>                
            <td class="border border-dark">6 años</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">3 años</td>
            <td class="border border-dark" style="background-color:#FEF5E7 ;">8 años</td>
            <td class="border border-dark">24 años</td>
            <td class="border border-dark">-</td>
            <td class="border border-dark">4 años</td>
            <td class="border border-dark">47 años</td>                    
                            
        </tr>
    </table>
</div>


{% endblock %}