{% extends "bases/basesigloXIX.html" %}

{% load static %}

{% block titulo %} guerras carlistas {% endblock %}

{% block cabecera %} Guerras Carlistas {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXIX/carlosMariaIsidro.jpg' %}" alt="">  {% endblock %}

{% block contenido %}


<div class="row">
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/carlosMariaIsidro.jpg' %}" alt="">
            <figcaption class="text-center">Carlos María Isidro</figcaption>                
        </figure>
    </div>
    <div class="col-md-9">
        <p>Fernando VII murió el 29 de septiembre de 1833, dos días después, su hermano <strong>Carlos María Isidro</strong>, a través del Manifiesto de Abrantes, reclamaba el trono desde Portugal. En distintos puntos de España hubo levantamientos a favor de don Carlos, pero, poco a poco, la guerra que se desataba no era solo una guerra dinástica sino un enfrentamiento entre los partidarios del Antiguo Régimen y los que querían convertir a España en un Estado liberal. La regente Mª Cristina buscó el apoyo de los liberales, única fuerza capaz de defender los derechos al trono de Isabel II. </p>
        <p>En el plano ideológico,<strong> los carlistas</strong> eran partidarios del absolutismo monárquico, la defensa de la religión y de los fueros que se identificaban con el Antiguo Régimen; esta defensa foral arrastrará a las provincias vascas y a Navarra a la causa carlista. Desde el punto de vista social dentro del carlismo se encontraban miembros del ejército, la mayor parte del clero regular y del bajo clero secular, para quienes el liberalismo representaba la expropiación y venta de sus bienes; parte de la nobleza y del campesinado, que coincidía mucho con los sermones del clero en contra del liberalismo, cuyas normas beneficiaban a los propietarios y empeoraban las condiciones de vida de los campesinos. Las zonas de mayor implantación carlista fueron: Álava, Guipúzcoa, Vizcaya, Navarra, el Maestrazgo, el Pirineo catalán…</p>
        <p>En el <strong>bando isabelino</strong> (o cristino) la reina regente contó con el apoyo de parte de la nobleza, del funcionariado y altas jerarquías de la Iglesia, altos mandos del ejército, burguesía y profesiones liberales (abogados, médicos…) y clases populares urbanas.  </p>
        
    </div>
</div>
<p>En resumen, el carlismo triunfó, sobre todo, en las zonas rurales, y especialmente en el norte, País Vasco y Navarra, al considerarse amenazadas por el liberalismo uniformista y centralizador, pero tuvo escaso arraigo entre las masas urbanas que rechazaban el absolutismo.</p>

<h3>Primera guerra carlista  (1833-1839)</h3>
<hr>
<div class="row">
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/zumalacarregui.jpg' %}" alt="">
            <figcaption class="text-center">Zumalacárregui</figcaption>                
        </figure>
    </div>
    <div class="col-md-6">
        <p>En una <strong>primera fase (1833-1835)</strong> destacan los <strong>triunfos carlistas</strong>. Formación del foco de insurrección vasco-navarro. En esta zona Zumalacárregui creó un auténtico ejército carlista, pero su muerte en el asedio a Bilbao privó al carlismo de su militar más capacitado. En el Maestrazgo y en el Pirineo catalán se constituyó el embrión de un ejér­cito regular. En otras zonas, como La Mancha, el movimiento carlista no pasó de partidas de guerrilleros aisladas.</p>
        <p><strong>La segunda etapa (1835-1837)</strong> se caracteriza por las <strong>grandes expediciones carlistas.</strong> La más destacada, la Expedición Real, encabezada por el pretendiente, llegó hasta las afueras de Madrid, pero no logró tomarla. La victoria de Espartero en el puente de Luchana (diciembre 1836) evitó el nuevo intento carlista de tomar Bilbao.</p>
        <p>La <strong>tercera fase (1837-1839)</strong> se caracteriza por el <strong>agotamiento de los contendientes</strong>, interesados en buscar la paz. El ejército isabelino pasó a la ofensiva. El bando carlista se dividió, imponiéndose Maroto (julio 1838), partidario de negociar la paz. En agosto de 1839 Maroto y Espartero firmaban el <strong>Convenio de Vergara</strong> con el que acababa la guerra en Navarra y País Vasco. Carlos María Isidro, contrario al pacto, se exilió a Francia.</p>
    </div>
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/abrazoVergara.jfif' %}" alt="">
            <figcaption class="text-center">El abrazo de Vergara</figcaption>                
        </figure>
    </div>
</div>
<p><strong>Final de la guerra en el Maestrazgo (1839-1840)</strong>. El general Cabrera no acató el Convenio de Vergara y siguió luchando hasta que Espartero tomó Morella, su principal reducto en el Maestrazgo. En julio de 1840, los últimos comba­tientes carlistas huyeron a Francia.</p>
        



{% endblock %}