{% extends "bases/basesigloXIX.html" %}

{% load static %}

{% block titulo %} Guerra de Cuba {% endblock %}

{% block cabecera %} Guerra de Cuba {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXIX/cespedes.jpg' %}" alt="">  {% endblock %}

{% block contenido %}

<div class="row my-3 border" style="background-color: #FEF5E7 ;" id="guerraCuba">    
    <h6 class="my-2">Guerra de los 10 años (1868-78)</h6>    
</div>

<div class="row">
    <div class="col-md-2">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/martinezCampos.jpg' %}" alt="">
            <figcaption class="text-center"> Martínez Campos</figcaption>                
        </figure>
    </div>
    <div class="col-md-8">
        <p>Fue la primera de las 3 guerras de independencia cubana contra las fuerzas reales españolas.</p>
        <p> La guerra comenzó con el <strong>Grito de Yara</strong> en la finca de Carlos Manuel de Céspedes.</p>
        <p>Bandos enfrentados:</p>
        <div>
            <ul>
                <li><strong>Bando independentista:</strong> Exponía los agravios contra la metrópoli que justificaban la secesión: rechazo del sistema fiscal y de las trabas al libre comercio; mantenimiento de la esclavitud, nula capacidad de autogobierno por parte de los habitantes de la isla. En 1869 crearon una constitución propia para Cuba.</li>
                <li><strong>Partido peninsular o españolista:</strong> Formado por grandes burgueses y propietarios españoles y criollos, contrarios al fin de la esclavitud y a la eliminación del proteccionismo. Se enfrentaron a los funcionarios liberales que enviaban los gobiernos del Sexenio Revolucionario, se opusieron a las conversaciones que inicio Prim con los independentistas y financiaron el golpe de Martínez Campos contra la Primera República.</li>
            </ul>
        </div>
        <p>Terminó diez años más tarde con la <strong>Paz de Zanjón</strong>, donde se establece la capitulación del Ejército Independentista Cubano frente a las tropas españolas. Este acuerdo no garantizaba ninguno de los dos objetivos fundamentales de dicha guerra: la independencia de Cuba y la abolición de la esclavitud.</p>
    </div>
    <div class="col-md-2">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/cespedes.jpg' %}" alt="">
            <figcaption class="text-center"> Carlos Manuel de Céspedes</figcaption>                
        </figure>
    </div>
</div>
<div class="row my-3 border" style="background-color: #FEF5E7 ;" id="guerraCuba">    
    <h6 class="my-2">Guerra chiquita (1879-80)</h6>    
</div>
<div class="row">
    <div class="col-md-2">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/martinezCampos.jpg' %}" alt="">
            <figcaption class="text-center"> Martínez Campos</figcaption>                
        </figure>
    </div>
    <div class="col-md-8">
        <p>El 24 de agosto de 1879 se escuchó el grito: «¡Independencia o muerte!» en los campos de las inmediaciones de Rioja y posteriormente se extendió hacia la región de Gibara.</p>
        <p><strong>Causas:</strong> </p>
        <div>
            <ul>
                <li>La Guerra de los Diez Años (1868-1878) había terminado como un fracaso. El Pacto de Zanjón frustró casi cualquier idea independentista.</li>
                <li>El descontento, insatisfacción e incumplimiento de promesas llevaron a algunos cubanos a un nuevo alzamiento.</li>
                
            </ul>
        </div>
        <p>No hubo muchos combates en esta guerra. Los pocos efectuados terminaron con reveses para los cubanos. A pesar de la disposición de los mambises, existía escasez de balas y el entrenado ejército español era muy superior.</p>
        <p>La ausencia en la ínsula de jefes militares de gran importancia para la dirección de la lucha, como Antonio Maceo y Calixto García, la carencia de armamentos y municiones y de ayuda exterior, condicionaban el desaliento de las tropas y la falta de fe en la victoria.</p>
        
    </div>
    <div class="col-md-2">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/calistoGarcia.jpg' %}" alt="">
            <figcaption class="text-center"> Calisto García</figcaption>                
        </figure>
    </div>
    <p>La fatiga y el desánimo de muchos combatientes tras la Gran Guerra, redujo sustancialmente el número de combatientes dispuestos a embarcarse en una nueva lucha, cuando solo habían transcurrido pocos meses tras El Pacto del Zanjón. Al mismo tiempo, por el tan poco tiempo transcurrido, el ejército español no se había dispersado o desmovilizado, de manera que disponía de todos los recursos necesarios para aplastar la nueva lucha.</p>
    <p>Aunque fracasó, la Guerra Chiquita demostró que el problema cubano no estaba resuelto, que la guerra había terminado sobre todo por agotamiento, y que si el gobierno español no efectuaba drásticas reformas, (que nunca llegaron) la revuelta prendería de nuevo más tarde o temprano. El factor más trascendente fue el ascenso de <strong>Martí</strong> como dirigente del pueblo cubano, con lo que ganó experiencia para organizar la Guerra del 95 (1895-1898).</p>
</div>
<div class="row my-3 border" style="background-color: #FEF5E7 ;" id="guerraCuba">    
    <h6 class="my-2">Guerra de Cuba (1895-98)</h6>    
</div>
<div class="row">
    <div class="col-md-2">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/weyler.jpg' %}" alt="">
            <figcaption class="text-center"> Valeriano Weyler</figcaption>                
        </figure>
    </div>
    <div class="col-md-8">
        <p>En 1895 se inició un nuevo conflicto en Cuba capitaneado por el poesta José Martí que fundó el PRC (Partido Revolucionario Cubano). Sus versos sencillos dieron lugar años más tarde a la canción Guantanamera <a href="https://www.youtube.com/watch?v=oEJtFGdKc5M">(Guantanamera por Compay Segundo) </a></p> 
        <p><strong>Causas:</strong></p>    
        <div>
            <ul>
                <li>El desarrollo de un <strong>sentimiento nacionalista cubano</strong>.</li>
                <li>El <strong>retraso en la concesión del autogobierno</strong> por la presión de grupos que se oponían a cualquier cambio que pudiera reducir sus ganancias en la explotación de los recursos cubanos. Este retraso provocó el descrédito del Partido Autonomista Cubano y el aumento de los apoyos a los independentistas.</li>
                <li>Los <strong>aranceles</strong> que España imponía para dificultar el comercio con Estados Unidos, principal comprador de productos cubanos, provocaron gran malestar tanto en Cuba como en EE.UU., que amenazó con cerrar su mercado a los principales productos cubanos (azúcar y tabaco), si España no modificaba su política arancelaria. Además, EE.UU. apoyó la independencia cubana al considerar que era su área natural de expansión imperialista.</li>
                
            </ul>
        </div>
        
    </div>
    <div class="col-md-2">
        <figure>
            <img class="img-fluid" style="height:270px ; " src="{% static 'images/sigloXIX/joseMarti.jpg' %}" alt="">
            <figcaption class="text-center"> José Martí</figcaption>                
        </figure>
    </div>
    <p>La insurrección comenzó con el <strong>“Grito de Baire”</strong> (febrero de <strong>1895</strong>), dirigida por Antonio Maceo, Máximo Gómez y José Martí. El gobierno de <strong>Cánovas envió al general Martínez Campos</strong> para combatir la revuelta y buscar una salida negociada, pero al fracasar <strong>fue sustituido por el “más enérgico” general Weyler</strong>, que recuperó gran parte del territorio, tras lo cual se inició una “guerra de desgaste” (1896-97), basada en la superioridad militar española y en la acción de los guerrilleros cubanos, apoyados por EE.UU.</p>
        <p>Tras el asesinato de Cánovas (1897),<strong> Sagasta optó por la estrategia de la conciliación:</strong> relevó a Weyler y concedió a Cuba la autonomía política y arancelaria. La toma de posesión del gobierno autonómico cubano (enero de 1898) parecía que podía producir la pacificación definitiva, pero los independentistas no aceptaron el cese de las hostilidades, esperando la intervención de EE.UU., que declaró la guerra a España por el hundimiento del acorazado Maine, al responsabilizar a España de su voladura. Tras proponer la compra de la isla, EE.UU. lanzó un ultimátum que amenazaba con la guerra si España no renunciaba a la soberanía. Tras la debacle de la flota del almirante Cervera en el puerto de Santiago, España perdía la guerra.</p>
</div>


{% endblock %}