{% extends "bases/basesigloXIX.html" %}

{% load static %}

{% block titulo %} isabel II {% endblock %}

{% block cabecera %} El reinado de Isabel II {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXIX/isabelII.webp' %}" alt="">  {% endblock %}

{% block contenido %}

<div class="row justify-content-center mt-5">
    <div class="col-9 border-1 rounded my-2 text-center py-4" style="background-color:#E74C3C ; color:white">
        REINADO DE ISABEL II
    </div>
    
</div>
<div class="row justify-content-center">
          
    <div class="col-2 border-1 rounded my-2 text-center py-4 mx-1" style="background-color:#E74C3C ; color:white">
        <a href="#decadaModerada" class="text-light", style="text-decoration:none ;">    
            <div class="row text-center">                                    
                <img class="img-fluid mt-4" style="width:270px ; height:165px ;" src="{% static 'images/sigloXIX/narvaez2.jpg' %}" alt="">
                <figcaption class="text-center mt-3">DÉCADA MODERADA</figcaption>
                <span class="text-center">(1844-1854)</span> 
            </div>
        </a>                       
    </div>
    <div class="col-2 border-1 rounded my-2 mx-1 text-center py-4 mx-1" style="background-color:#066725 ; color:white">
        <a href="#bienioProgresista" class="text-light", style="text-decoration:none ;">    
            <div class="row text-center">                                    
                <img class="img-fluid mt-4" style="width:270px ; height:165px ;" src="{% static 'images/sigloXIX/espartero1.jpg' %}" alt="">
                <figcaption class="text-center mt-3">BIENIO PROGRESISTA</figcaption>
                <span class="text-center">(1854-1856)</span> 
            </div>
        </a>                       
    </div>
    

    <div class="col-2 border-1 rounded my-2 text-center py-4 mx-1" style="background-color:#590e96 ; color:white">
        <a href="#unionLiberal" class="text-light", style="text-decoration:none ;">    
            <div class="row text-center">
            <img class="img-fluid mt-4" style="width:270px ; height:165px ;" src="{% static 'images/sigloXIX/odonell1.jpg' %}" alt="">
            <figcaption class="text-center mt-3">UNIÓN LIBERAL</figcaption>
            <span class="text-center">(1856-1863)</span>
            </div>        
        </a> 
    </div>
    <div class="col-2 border-1 rounded my-2 text-center py-4 mx-1" style="background-color:#E74C3C ; color:white">
        <a href="#narvaezGB" class="text-light", style="text-decoration:none ;">    
            <div class="row text-center">                                    
                <img class="img-fluid mt-4" style="width:270px ; height:165px ;" src="{% static 'images/sigloXIX/narvaez1.jpg' %}" alt="">
                <figcaption class="mt-3">GOBIERNO MODERADO</figcaption>               
                <span class="text-center">(1863-1868)</span> 
            </div>
        </a>                       
    </div>
    
    
</div>



<div class="row justify-content-center text-center mt-4">
    <div class="col-md-9">
        <div class="row align-items-center vertical-align-center justify-content-center text-center  " >
            <div class="col-md-8">
                <table class="table table-striped mx-2 border">        
                    <tr class="table-success ">
                        <th class="border border-dark">REINADO DE ISABEL II (1843-1868)</th>          
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1843. Gobierno progresista de Olózaga</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1844-1854. Década moderada de Narváez y Bravo Murillo</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start" style="background-color:#FADBD8 ;">1854. Vicalvarada. Pronuciamiento de O'Donnell y otros </td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1854-1854. Bienio progresista de O'Donnell y Espartero</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start" >1856-1858. Bienio moderado de Narváez</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1858-1863. Gobierno de la Unión Liberal de O'Donnell</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1863-1868. Gobiernos moderados de Narváez y González Bravo</td>                         
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row align-items-center vertical-align-center text-center py-3 mt-3 border" style="background-color:#E2F6F6 ;">
        
    <h5 class="text-center pt-2" id="decadaModerada">La década moderada (1844-1854)</h5>
        
</div>
<div class="row border" style="background-color:#E2F6F6  ;">
    <div class="col-md-2 "></div>
    <div class="col-md-4 border-end text-center">INICIO: Pronunciamiento de Narváez en 1844 </div>
    <div class="col-md-4 text-center">FIN: Pronunciamiento de O'Donnell en 1854 (Vicalvarada)</div>
    <div class="col-md-2 "></div>
</div>    

<div class="row mt-3">
<div class="col-md-3 text-center">
    <figure >
        <img class="img-fluid" src="{% static 'images/sigloXIX/generalNarvaez1.jpg' %}" alt="">
        <figcaption class="text-center"> General Narváez</figcaption>                
    </figure>
    <figure class="mt-5">
        <img class="img-fluid" src="{% static 'images/sigloXIX/bravoMurillo.jpg' %}" alt="">
        <figcaption class="text-center"> Juan Bravo Murillo</figcaption>    
    </figure>
</div>
<div class="col-md-9">
    <div class="row my-3 border" style="background-color: #FEF5E7 ;">    
        <h6 class="my-2">LAS REFORMAS MODERADAS</h6>    
    </div>
    <p>En 1843, el general Narváez, mediante un pronunciamiento militar, puso fin a la regencia de Espartero. Para evitar el retorno de María Cristina como regente, se proclamó a Isabel II mayor de edad con 13 años (1844) y asumía el trono de España, encargando la for­mación de gobierno a Nar­váez, el gran protago­nista de la década.<p>
    
        <p>Narváez, líder de los moderados, gobierna por decreto y persigue a los progresistas. Aunque en esta etapa hubo 16 gobiernos, Narváez gobierna durante casi toda la década, menos algunos periodos en los que gobierna otros moderados como <strong>Bravo Murillo</strong>, segundo en el partido. Los aspectos que caracterizan el período son la mejora económica en todos los órdenes y las
        reformas político-administrativas encaminadas a una mayor eficacia y a la integración del país</p>
    <ol>
        <li><strong>Provincias.</strong> Se consolida la división territorial en provincias a cuyo cargo
            se sitúa un Gobernador Civil y una Diputación Provincial como entidad que coordina los municipios.</li>
        <li><strong>Ciudades.</strong> La Ley de Ayuntamientos (1845) eliminaba toda posibilidad
            de autonomía. Los municipios superiores a 2000 habitantes y las capitales de provincia tendrán un
            alcalde nombrado por la Corona y en los municipios menores, los alcaldes serán designados por el
            Gobernador Civil.</li>
        <li><strong>Reforma tributaria.</strong> (Ley Mon-Santillán, 1845). 
            Modernizó la Hacienda, simplificando los impuestos existentes y dejando solo 4:
            <ul>
                <li>La <strong>contribución territorial</strong>, aplicada a cada persona en función de sus propiedades, principalmente agrarias., aplicada a cada persona en función de sus propiedades, principalmente agrarias.</li>
                <li>La <strong>contribución industrial</strong> y de comercio pagado por las empresas.</li>
                <li>Impuesto a los inmuebles por arrendamiento o venta.</li>
                <li>El <strong>impuesto de consumos</strong>. Tributo que gravaba a los productos de consumo diario. Sus recaudadores se situaban en casetas en las entradas de las ciudades. Este tributo afecta sobre todo a las clases bajas, que no recibían ninguna contraprestación a cambio de este tributo. Por sus bajos ingresos eran muy vulnerables en las épocas de escasez o crisis económica, por lo que habrá frecuentes revueltas contra esta forma de pago. Este sistema fiscal se mantendrá hasta bien entrado el siglo XX.</li>
            </ul>
        </li>
        <li><strong> Relaciones con la Iglesia.</strong> Los moderados intentaron también mejorar sus relaciones con la Iglesia, que en gran
            parte se había mostrado también contraria al liberalismo y proclive al carlismo, muy
            especialmente a causa de la desamortización y de la abolición del diezmo. En 1851 se firmó
            un <strong>Concordato con la Santa Sede</strong>, en el que se establecía la suspensión de la venta de
            bienes eclesiásticos desamortizados y el retorno de los no vendidos. A cambio, la Santa Sede
            reconocía a Isabel II, mientras el Estado se comprometía al sostenimiento de la Iglesia
            (presupuesto de culto y clero), otorgaba amplias competencias en materia de educación y
            reconocía al catolicismo como religión oficial del país.</li>
    </ol> 
</div>

<div class="row my-3 border" style="background-color: #FEF5E7 ;">    
    <h6 class="my-2">CONSTITUCIÓN DE 1845 </h6>    
</div>   
<p class="text-start">Redactaron la <a href="{% url 'constituciones' %}"  style="text-decoration:none ; color: #3498DB ;">Constitución de 1845.</a> Es una reforma de la del 37 para hacerla más moderada y centralista. Excluyeron a los progresistas de su elaboración.</p>
<div class="row text-start text-center">
    <div class="col-md-6">
        
        <figure>
            <img class="img-fluid" style="width:280px ; height:480px ;"  src="{% static 'images/sigloXIX/constitucion1845_1.png' %}" alt="">
                            
        </figure>
            
        </ul>
    </div>
    <div class="col-md-6 align-self-center">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/constitucion1845.jpg' %}" alt="">
                            
        </figure>
    </div>

    
</div>
<div class="row my-3 border" style="background-color: #FEF5E7 ;">    
    <h6 class="my-2">EL DESARROLLO POLÍTICO DE LA DÉCADA</h6>    
</div>
<div>
    <ol>
        <li><strong>Matromonio de la reina. </strong>
            <ul>
                <li>Francia e Inglaterra procuraron evitar que el candidato elegido fuera contrario a sus intereses. Con ello terminaron por limitar los candidatos a la propia familia Borbón, casándose, en efecto, con su primo Francisco de Asís (octubre de 1846), un matrimonio desgraciado para ambos.</li>
                <li>A la vez, la hermana de la reina, Luisa Fernanda, se casó con Antonio de Orleáns, duque de Montpensier, hijo del rey de Francia.</li>
                
            </ul>
        </li>
        <li>El matrimonio de la reina con Francisco de Asís reavivó el enfrentamiento con los carlistas, que confiaban en casar a Isabel II con el pretendiente Carlos VI, conde de Montemolín, hijo de Carlos María Isidro, que finalmente fracasó. Ello dio lugar al estallido de la <strong>segunda guerra carlista (1846-1849) o “guerra dels Matiners”</strong>, con centro en Cataluña y en donde Ramón Cabrera que regresó de Inglaterra, se puso al frente de las partidas de guerrilleros.</li>
        <li><strong>Gobierno de Bravo Murillo </strong>(enero 1851- diciembre 1852). 
            <ul>
                <li>Durante su mandato se firmó el Concordato con la Santa Sede, firmado en marzo de 1851, por el que el papa reconocía a Isabel II como reina y aceptaba la pérdida de los bienes ya vendidos.</li>
                <li>En su etapa de gobierno saneó la
                    economía y realizó un plan de obras públicas, como la construcción del canal de
                    Isabel II.</li>
                <li>Su gobierno fue más tecnocrático que político y no exento de autoritarismo. Propuso una reforma constitucional que transformara el Estado en una dictadura
                    tecnocrática, que contemplara la posibilidad de gobernar por decreto y suspender
                    indefinidamente las Cortes, a la vez que se restringía aún más el censo electoral</li>
            </ul>
        </li>
        <li>En esta época nacen 2 partidos políticos nuevos:
            <ul>
                <li><strong>Partido demócrata (1849)</strong>. Rama del partido progresista. Defendían el sufragio universal masculino y políticas a favor de los intereses populares (criticaban el impuesto de consumos y las quintas). Se opuso firmemente desde su creación a la política de Bravo Murillo. Dirigido por Nicolás María Rivero, contó entre sus filas a Emilio Castelar, Estanislao Figueras, Francisco Pi y Margall. </li>
                <li><strong>Unión liberal</strong>. Algunos sectores moderados fueron avanzando hacia una opción más centrista (los puritanos) que posteriormente formarán la Unión Liberal, cuyo líder será <strong>O'Donnell</strong>.</li>
            </ul>
        
               
    </ol>
</div>
<div class="row my-3 border" style="background-color: #FEF5E7 ;">    
    <h6 class="my-2">CAIDA DE LOS MODERADOS</h6>    
</div>

<p>Sucesión de acontecimientos: </p>
<div>
    <ul>
        <li>Descontento con el conde de San Luis por su autoritarismo (disolvió las cortes y gobierna por decreto) y por la corrupción (concesiones de ferrocarril). Solo cuenta con el apoyo de la reina.  </li>
        <li>Los demócratas intentan un pronunciamiento en Zaragoza y fracasan.</li>
        <li>Pronunciamiento de los generales O’Donnell (moderado puritano) y Dulce y Garay (progresista) en Aranjuez (la <strong>Vicalvarada</strong>). Al ir a Madrid fracasan al ser rechazados por unidades de artillería. O'Donnell se retira a Andalucia para buscar más apoyos. Allí se une al general Serrano (progresista) que influye para lanzar un manifiesto.</li>
        <li><strong>Manifiesto del Manzanares</strong>. El periodista puritano <strong>José Cánovas del Castillo</strong> redacta un manifiesto orientado hacia los progresistas para conseguir una movilización popular. Lo firma O'Donnell y piden medidas progresistas (los 5 queremos"):
        <ul>
            <li>La conservación del trono, pero la supresión de la camarilla (personas cercanas al rey, que controlan el poder) </li>
            <li>La práctica de las leyes fundamentales, que se cumpla con la constitución (Cortes) y con la libertad de imprenta. </li>
            <li>Rebaja de impuestos.</li>
            <li>Restauración de la milicia nacional</li>
        </ul>
        </li>
        <li>El manifiesto logra el apoyo de los militares progresistas y  anima a la formación de numerosas juntas urbanas revolucionarias de progresistas y demócratas, a la que se unen, entre otros, antiguos moderados como Martínez de la Rosa. Triunfan en Barcelona, Valencia Valladolid, Madrid, Málaga.  Los manifestantes sacan las barricas bajo el lema: "Pan, trabajo y Espartero"Se convierte en una revolución popular. Aparece el temor entre los dirigentes de ambos bandos y llegan a un acuerdo. </li>
        <li>La reina, sin apoyo militar se ve obligada a encargar gobierno a Espartero, líder del partido progresista, que nombra a O’Donnell jefe de ejército con el fin de contar con  los puritanos.</li>
    </ul>
</div>


<div class="row align-items-center vertical-align-center text-center py-3 mt-3 border " style="background-color:#E2F6F6 ;">
        
    <h5 class="text-center pt-2" id="bienioProgresista">El bienio progresista (1854-1856)</h5>
        
</div>
<div class="row border " style="background-color:#E2F6F6 ;">
    
    <div class="col-md-6 border-end text-center">INICIO: Pronunciamiento de O'Donnell en 1854 (Vicalvarada) </div>
    <div class="col-md-6 text-center">FIN: Dimisión de Espartero 1856 </div>
    
</div> 

<div class="row mt-3">
<div class="col-md-3">
    <figure>
        <img class="img-fluid" src="{% static 'images/sigloXIX/espartero.jpg' %}" alt="">
        <figcaption> General Espartero</figcaption>                
    </figure>
</div>
<div class="col-md-9 text-start">    
    <p>Convocadas <strong>elecciones</strong> para unas Cortes constituyentes, las votaciones tuvieron lugar en octubre dando el triunfo al nuevo partido de la Unión Liberal, liderado por O’Donnell.</p>
    <p>Estas Cortes del Bienio desempeñaron un importante papel en lo político (una nueva Constitución) y en lo económico con la aprobación de un conjunto de leyes que contribuyeron a la industrialización del país:</p>
    <div>
        <ul>
            <li>La <a style="text-decoration: none ;" href="{% url 'constituciones' %}">Constitución de 1856</a>. Se suspendió la constitución del 45 y comenzó la redacción de una nueva, la del 56, que era más progresista, los senadores también hubieran sido electos. Pero no tuvo tiempo de entrar en vigor.</li>
            <li><strong>Desamortización de Madoz.</strong> Afectó a los bienes de la Iglesia que habían quedado sin vender, a los que se sumó la venta de los bienes municipales (bienes propios del ayuntamiento y bienes comunales ). La burguesía con dinero fue de nuevo la gran beneficiaria</li>
            <li>La <strong>ley General de Ferrocarriles</strong> de 1855, que ofrecía amplios incentivos a las empresas que intervinieran en ella, de lo que se beneficiaron especialmente los capitales extranjeros, que acudieron en abundancia al mercado español..</li>
            <li>La <strong>ley de Bancos de emisión y de Sociedades de crédito </strong>, de 1856, destinadas a favorecer la movilización de los capitales para financiar la construcción de las líneas ferroviarias.</li>
        </ul>
    </div>
    
</div>
<div class="row my-3 border" style="background-color: #FEF5E7 ;">    
    <h6 class="my-2">Crisis del bienio</h6>    
</div>
<div>
    <ul>
        <li>Las medidas reformistas no remediaron la crisis de subsistencia. Fueron frecuentes las <strong>huelgas obreras en Cataluña</strong>, que pedían la reducción de la jornada laboral, la eliminación de los impuestos de consumos,la mejora de los salarios y la abolición de las quintas.</li>
        <li>El malestar social condujo también a un importante <strong>levantamiento campesino en tierras castellanas y andaluzas</strong>, con asaltos e incendios de fincas.</li>
        <li>Además, las discrepancias dentro de la coalición gubernamental entre el progresismo más moderado (Unión Liberal), y el más radical (Partido Demócrata), se agudizaron.</li>
        <li>Espartero dimitió y la reina confió el gobierno a O’Donnell, que reprimió duramente las protestas. Los diputados progresistas y demócratas de las Cortes, que negaban su confianza al nuevo gobierno, no tuvieron más remedio que abandonar la cámara cuando las tropas gubernamentales iniciaban el cañoneo del edificio y los primeros cascos de granada entraban en la sala de sesiones. Es significativo que el propio O’Donnell ayudase a eliminar el gobierno que él había colocado en el poder dos años antes.</li>
    </ul>
</div>

<div class="row align-items-center vertical-align-center text-center py-3 mt-3 border" style="background-color:#E2F6F6 ;">
        
    <h5 class="text-center pt-2" id="unionLiberal">La Unión Liberal de O'Donnell (1856-1863)</h5>
        
</div>
<div class="row border " style="background-color:#E2F6F6  ;">
    <div class="col-md-6 border-end text-center">INICIO: Dimisión de Espartero 1856 </div>
    <div class="col-md-6 text-center">FIN: Dimisión de O'Donnell 1863 </div>
</div>     

<div class="row mt-3">
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/odonnell.jpg' %}" alt="">
            <figcaption> General O'Donnell</figcaption>                
        </figure>
    </div>
    <div class="col-md-9 text-start">
        <div class="row my-3 border" style="background-color: #FEF5E7 ;">    
            <h6 class="my-2">Medidas políticas</h6>    
        </div>
        
            <div>
                <ol>
                    <li></strong> El nuevo gobierno intentó un equilibrio político combinando:
                        <div>
                            <ul>
                                <li>Propuestas moderadas. Restablecimiento de la Constitución de 1845, pero aumenta el sufragio y
                                    permite la elección de los gobiernos locales de las ciudades de más de 40.000 habitantes</li>
                                <li>Propuestas progresistas. Aceptación de la desamortización y limitación de los poderes de la Corona</li>
                            </ul>
                        </div></li>
                    <li>Reconciliación con la Iglesia paralizando las desamortizaciones. </li>
                    <li>Ley de Instrucción pública o Ley Moyano (Claudio Moyano moderado) de educación. La primera ley general de educación, vigente hasta 1970.</li>
                    <li>Expansión de la red de ferrocarriles con el desarrollo de la ley de ferrocarriles. Los resultados fueron espectaculares: Entre 1859 y 1875 España pasó de 28 (el Mataró-Barcelona del 48) a 6.124 Km., es decir, la mitad de la red ferroviaria española actual</li>
                </ol>
            </div>
        
        
        <p>De este modo se consiguió una relativa estabilidad política interna que estuvo acompañada por una etapa de
            prosperidad económica debido a la fiebre especuladora de las acciones ferroviarias.</p>
        
        
    </div>
    <div class="row my-3 border" style="background-color: #FEF5E7 ;">    
        <h6 class="my-2">Política exterior</h6>    
    </div>
   <div class="row">
    <div class="col-md-9">
        <ol>
            <li><strong>Guerra de África o Primera Guerra de Marruecos (1859-1860).</strong>
                <div>
                    <ul>
                        <li>O'Donell acusó al sultán de Marruecos de no reprimir con suficiente dureza a los rifeños que hacían incursiones contra Ceuta. En 1859 se le declaró la guerra a Marruecos.</li>
                        <li>O'Donell dirigió el ejército, junto con Juan Prim y en la <strong>batalla de Wad-Ras</strong> , donde Juan Prim se convirtió en un héroe. </li>
                        <li>Se firmó la <strong>paz de Wad-Ras</strong>, con la que amplió el territorio de Ceuta y Melilla, se adquirió derechos pesqueros en la costra marroquí situada frente a Canarias y se <strong>ocupó temporalmente Tetuán</strong>. </li>
                        <li>Los cañones capturados en la batalla de Wad-Ras se fundieron y se usaron para hacer los dos leones situados en la entrada del Congreso.</li>
                    </ul>
                </div>
            </li>
            <li><strong>Expedición a Indochina</strong> (1857-62) junto a Francia contra el reino de Vietnam por el asesinato de sacerdotes católicos, incluido un obispo español. Con tropas filipinas conquistan Saigón y Cochinchina. Pero el el tratado de paz España no consiguió ningún territorio, se los quedó Francia, solo lograron privilegios comerciales. </li>
            <li><strong>Expedición a México</strong> (1861-62) junto a Inglaterra y Francia para que pagara sus deudas. </li>
            <li>Otras: ataque marítimo a Perú y Chile y recuperación temporal de Santo Domingo.</li>
        </ol>
    </div>
    
    <div class="col-md-3 text-center">
        <figure>
            <img src="{% static 'images/sigloXIX/prim.jpg' %}" alt="">
            <figcaption class="text-center">General Prim</figcaption>
        </figure>
    </div>
   </div>
    
</div>
<div class="row my-3 border" style="background-color: #FEF5E7 ;">    
    <h6 class="my-2">Caída de O'Donell</h6>    
</div>
<p>A partir de 1861 la cohesión interna del partido que sustentaba al gobierno de O'Donnell se fue resquebrajando al carecer de una firme base ideológica</p>
<div>
    <ul>
        <li>En la firma de Tratado de Londres de 1861 por el que España se comprometía en la expedición a México junto a Gran Bretaña y Francia algunos diputados de la Unión Liberal no respaldaron al gobierno. </li>
        <li>Cuando en diciembre de 1861 se votó una moción de confianza al gobierno unos 80 diputados unionistas se la negaron</li>
        <li>Otros líderes unionistas que comenzaron a desmarcarse fueron Cánovas del Castillo o el general Prim entre otros.</li>
        <li>Comenzaron a aflorar denuncias de corrupción</li>
       
    </ul>
    <p>A comienzos de marzo de 1863 O'Donnell pidió a la reina la disolución de las Cortes para contar con un parlamento más adicto poniendo fin a la disidencia que había surgido en la Unión Liberal. Pero Isabel II se negó, entre otras razones por la oposición del gobierno de O'Donnell a que la reina madre María Cristina de Borbón volviera a España. Entonces O'Donnell presentó su dimisión que le fue aceptada. Fue el final del "gobierno largo" de la Unión Liberal. La reina nombró al marqués de Miraflores como nuevo presidente del gobierno con lo que el Partido Moderado volvía al poder.</p>
</div>
<div class="row align-items-center vertical-align-center text-center py-3 mt-3 border" style="background-color:#E2F6F6 ;">
        
    <h5 class="text-center pt-2" id="narvaezGB">Gobierno moderado (1863-1868)</h5>
        
</div>
<div class="row border " style="background-color:#E2F6F6  ;">
    <div class="col-md-6 border-end text-center">INICIO: Dimisión de O'Donnell 1863 </div>
    <div class="col-md-6 text-center">FIN: Revolución Gloriosa de 1868 </div>
</div> 
<p class="mt-3">Los años que transcurrieron entre 1863 y 1868 supusieron el retorno de Narváez al poder y
    la reposición de los antiguos principios del <strong>moderantismo</strong>. El moderantismo impuso de
    nuevo la forma autoritaria de gobierno, al margen de las Cortes y de los grupos políticos,
    ejerciendo una fuerte represión contra los opositores.</p>
<p><strong>La noche de San Daniel </strong>(10 de abril de 1865). Con Narváez en el gobierno, el catedrático Emilio Castelar fue expedientado tras escribir un artículo titulado “El rasgo”, donde criticaba a la reina. El rector de la Universidad Central se puso a su lado y una manifestación de estudiantes acabó, tras la actuación de la fuerza pública, con 11 muertos y 193 heridos. El gobierno, desprestigiado, cayó para ser sustituido por otro dirigido por O’Donnell.</p>
<p><strong>Sublevación de los sargentos del cuartel de San Gil</strong> (1866). Los sargentos de artillería del cuartel de San Gil en Madrid se amotinaron y al querer hacerse con el mismo se enfrentaron a sus oficiales, dando lugar a una gran carnicería. El gobierno de O’Donnell respondió con una fuerte represión, fusilando a 66 de sus participantes, acusados de sublevación. Otra vez la reina aplicó el adiós a O’Donnell para volver a Narváez.</p>
<p><strong>Pacto de Ostende </strong>(1866). La oposición de progresistas y demócratas, en el exilio, firmaba el pacto de Ostende (Bélgica) con el propósito de unir fuerzas para conseguir destronar a Isabel II.. Tras la muerte de O’Donnell en 1867, los unionistas, ahora bajo la dirección del general Serrano, se unían al pacto</p>
<p>En abril de 1868 fallecía Narváez, sucediéndole González Bravo.</p>
<p>La sublevación estalla en septiembre de 1868. Denominada por sus protagonistas “la Gloriosa”, al triunfar ésta trajo consigo la caída de Isabel II.</p>

<div class="row align-items-center vertical-align-center text-center py-3 my-3 border" style="background-color:#E2F6F6 ;">
        
    <h5 class="text-center pt-2" id="narvaezGB">Caída de Isabel II</h5>
        
</div>

<div>
    <ul>
        <li>En el 68 <strong>muere Narváez</strong>. Descabezados de sus líderes históricos, el nuevo gobernante, el liberal moderado González Bravo, no tiene apoyos.</li>
        <li>El general Prim y el comandante del puerto de Cádiz, el brigadier Topete, inician en Cádiz el pronunciamiento con el manifiesto acabado: ¡Viva España con honra, abajo los Borbones! </li>
        <li>Se crean <strong>juntas locales revolucionarias</strong> y milicias urbanas "voluntarios por la libertad". En ellas predominaban los demócratas y contaba con el apoyo popular (obreros y clases bajas urbanas).</li>
        <li>La dirección de los sublevados la asume el <strong>general Serrano</strong>, los representantes de las juntas locales quedan excluidos. </li>
        <li><strong>Batalla del Puente de la Alcolea</strong> (Córdoba. 26-28 septiembre). Serrano vence al ejército isabelino dirigido por el general Pavía enviado desde Madrid. La reina huye a Francia y fijó su residencia en París, donde vivió hasta su muerte (1904). En 1870 abdicó la corona en su hijo Alfonso (el futuro Alfonso XII).</li>
        <p>En Madrid se crea una junta local que forma un  gobierno provisional.</p>
    </ul>
</div>
<!-------------------------------------------- MODAL VICALVARADA -------------------------------------------------------->
<div class="modal fade" id="ostende" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pacto de Ostende de 1854</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                     <p>Los unionistas abandonan a la reina y se unen a progresistas y demócratas. Se decide destronar a la reina y convocar unas cortes constituyentes con sufragio universal en las que se decida la forma de gobierno:</p>   
                     <div>
                         <ul>
                             <li><strong>La Unión Liberal</strong>, ahora dirigida por el general <strong>Serrano</strong> se ha pasado a la oposición después de la destitución de O´Donnell (se había exiliado a Francia tras su destitución y muere en el 67). Cuenta con  el apoyo del comandante de la flota de Cádiz <strong>Topete</strong> y con el político <strong>Cánovas del Castillo</strong>.</li>
                             <li><strong>Progresistas</strong>, el partido ahora liderado por el héroe de guerra en Marruecos y México <strong>Juan Prim</strong>, (ha vuelto desde la UL) y que cuenta con <strong>Práxedes Mateo Sagasta</strong>, Domingo Dulce y Garay y Manuel Ruiz Zorrilla.</li>
                             <li><strong>Demócratas</strong> con Emilio Castelar o Francisco Pi y Margall.</li>
                         </ul>
                     </div>   
                    
                
                </div>
                
            </div>
            
           
        </div>
    </div>
</div>
    <!-- ------------------------------------------------------------------------------------------------ -->
    <div class="row align-items-center vertical-align-center text-center py-3 my-3 border" style="background-color:#E2F6F6 ;">
        
        <h5 class="text-center pt-2" id="narvaezGB">Curiosidades</h5>
            
    </div>
    <div>
        <ul>
            <li>
                <span class="text-primary" data-bs-toggle="modal" data-bs-target="#paletaIsabelII"> Paleta de plata </span> 
                que utilizó la reina Isabel II para poner la primera piedra del edificio del Congreso de los Diputados en 1843.
            </li>
            <li>
                <span class="text-primary"  data-bs-toggle="modal" data-bs-target="#monedaConstitucion1837"> Moneda </span> 
                Promulgación de la Constitución en 1837

            </li>
            <li>
                <span class="text-primary"  data-bs-toggle="modal" data-bs-target="#bodaIsabelII"> Boda de Isabel II </span> 
                
            </li>
            <li>
                <span class="text-primary"  data-bs-toggle="modal" data-bs-target="#banderaEspagna"> Bandera de España </span> 
                
            </li>
            
        </ul>
    </div>




    
<!-------------------------------------------- MONEDA CONSTITUCIÓN -------------------------------------------------------->
<div class="modal fade" id="monedaConstitucion1837" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Moneda constitución 1837</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXIX/monedaConstitucion1837.jpg' %}" alt="">
                                            
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXIX/monedaConstitucion18372.jpg' %}" alt="">
                                            
                        </figure>
                    </div>                   
                </div>
                
            </div>
        </div>
       
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<!-------------------------------------------- Paleta ISABEL II -------------------------------------------------------->
<div class="modal fade" id="paletaIsabelII" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Paleta plata Isabel II</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXIX/paletaPlataIsabelII.jpg' %}" alt="">
                                            
                        </figure>
                    </div>
                                
                </div>
                
            </div>
        
        </div>
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<!-------------------------------------------- BODA ISABEL ii -------------------------------------------------------->
<div class="modal fade" id="bodaIsabelII" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Boda de Isabel II</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>La boda de Isabel II se convirtió
                            en un asunto de Estado y comportó
                            intensas negociaciones en las que
                            intervinieron partidos políticos y las
                            potencias extranjeras.</p>
                        <p>Candidatos:</p>
                        <div>
                            <ul>
                                <li><strong>Duque de Montemolín</strong> (hijo de Carlos Mª
                                    Isidro). Contó con el veto de los liberales.</li>
                                <li><strong>Infante don Enrique de
                                    Borbón.</strong> Fue rechazado por los
                                    moderados</li>
                                <li><strong>Conde de Trapani</strong> (tío de Isabel II). Vetado por los progresistas.</li>
                            </ul>
                        </div>
                        <p>Finalmente, fue elegido Francisco de Asís, primo de la reina, un candidato apolítico,
                            muy religioso y que no levantó la oposición de ningún partido ni de ninguna potencia
                            extranjera. La oposición más fuerte vino de la propia reina que acabó aceptándolo a
                            regañadientes. La boda real se celebró el 10 de octubre de 1846.</p>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXIX/bodaReina2.jpg' %}" alt="">
                                            
                        </figure>
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXIX/bodaIsabelII.webp' %}" alt="">
                                            
                        </figure>
                    </div>                   
                </div>
                
            </div>
        </div>
       
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------ -->
<!-------------------------------------------- BODA ISABEL ii -------------------------------------------------------->
<div class="modal fade" id="banderaEspagna" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Boda de Isabel II</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        <p>Pabellón nacional, o bandera de popa, es la denominación que recibe la bandera que indica nacionalidad en los buques.</p>
                        <p>La actual bandera de España, conocida popularmente como la 'rojigualda', nació como Pabellón Nacional bajo el reinado de Carlos III el 28 de mayo de 1785 aunque no fue impuesta como bandera nacional hasta 1843, cuando Isabel II era la reina.</p>
                    </div>      
                </div>                
            </div>
        </div>
       
    </div>
</div>
<!-- ------------------------------------------------------------------------------------------------ -->

{% endblock %}