{% extends "bases/basesigloXIX.html" %}

{% load static %}

{% block titulo %} absolutismo {% endblock %}

{% block cabecera %} Monarquia absoluta {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXIX/fernandoVII.jpg' %}" alt="">  {% endblock %}

{% block contenido %}
<div class="row justify-content-center mt-5">
    <div class="col-7 border-1 rounded my-2 text-center py-4" style="background-color:#E74C3C ; color:white">
        MONARQUÍA ABSOLUTA
    </div>
    
</div>
<div class="row justify-content-center">

       
    <div class="col-2 border-1 rounded my-2 text-center py-4 mx-1" style="background-color:#E74C3C ; color:white">
        <a href="#sexenioAbsolutista" class="text-light", style="text-decoration:none ;">    
            <div class="row text-center">                                    
                <img class="img-fluid mt-4" src="{% static 'images/sigloXIX/fernandoVII.jpg' %}" alt="">
                <figcaption class="text-center mt-3">SEXENIO ABSOLUTISTA</figcaption>
                <span class="text-center">(1814-1820)</span> 
            </div>
        </a>                       
    </div>
    <div class="col-2 border-1 rounded my-2 mx-1 text-center py-4 mx-1" style="background-color:#066725 ; color:white">
        <a href="#trienioLiberal" class="text-light", style="text-decoration:none ;">    
            <div class="row text-center">                                    
                <img class="img-fluid mt-4" src="{% static 'images/sigloXIX/riego4.jpg' %}" alt="">
                <figcaption class="text-center mt-3">TRIENIO LIBERAL</figcaption>
                <span class="text-center">(1820-1823)</span> 
            </div>
        </a>                       
    </div>
    

    <div class="col-2 border-1 rounded my-2 text-center py-4 mx-1" style="background-color:#590e96 ; color:white">
        <a href="#decadaOminosa" class="text-light", style="text-decoration:none ;">    
            <div class="row text-center">
            <img class="img-fluid mt-4" style="width:160px ; height:167px ;" src="{% static 'images/sigloXIX/fernandoVII3.jpg' %}" alt="">
            <figcaption class="text-center mt-3">DECADA OMINOSA</figcaption>
            <span class="text-center">(1823-1833)</span>
        </a> 
    </div>
</div>

<div class="row mb-4 text-center">
    <h2 id="monarquiaAbsoluta">La monarquía absoluta (1814-1833)</h2>
    <hr>
    <figure>
        <img class="img-fluid"  src="{% static 'images/sigloXIX/cronologiaFernandoVII.png' %}" alt="">
                            
    </figure>
</div>
<p>Tras las guerras napoleónicas, se inició en Europa la Restauración: monarcas como Fernando VII recuperan sus tronos y restablecen el absolutismo previo a la oleada revolucionara iniciada en 1789, aunque el liberalismo no desaparecerá del todo y, después de Fernando VII, se acabará imponiendo.</p>
<hr>
<h3 id="sexenioAbsolutista">Sexenio absolutista (1814-1820)</h3>
<hr>

<div class="border"  style="background-color: #FEF5E7 ;">
    <p class="py-1  my-2 text-center">INICIO: Fin de la Guerra de Independencia</p>
    
</div>
<div class="row mt-3">
    
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/fernandoVII.jpg' %}" alt="">
            <figcaption class="text-center">Fernando VII </figcaption>                
        </figure>
    </div>
    <div class="col-md-9">
        <p>Una vez acabada la Guerra, las Cortes se trasladan a Madrid. De acuerdo con la
            Constitución, las Cortes, para aceptar a Fernando VII como rey, éste debía jurar la
            Constitución. Fernando, denominado el Deseado, recuperó su trono entre muestras de calor
            popular y de prestigio. Era el símbolo de los seis años de resistencia y encarnaba grandes
            expectativas de cambio y mejoras tras una etapa tan especialmente penosa. </p>
        <p>Fernando VII llega a España, entra por Cataluña (marzo de 1814), sigue hacia
            Zaragoza, y de allí a <strong>Valencia</strong>, en esta ciudad recibe el <strong>Manifiesto de los persas</strong>, un escrito de
            sesenta y nueve diputados instándole a que implante el Antiguo Régimen y por tanto la
            monarquía absoluta.</p>
        <p>Se restauraba el poder absoluto del monarca y se abolía
            toda la legislación de las Cortes de Cádiz, “como si no
            hubiesen pasado jamás tales actos”. A finales de mayo,
            Fernando VII, como rey absoluto, entraba en Madrid.</p>
        
    </div>
    <p>Debe tenerse en cuenta que el retorno al
            absolutismo se inscribe en un <strong>contexto favorable a la
            vuelta al Antiguo Régimen en Europa</strong> a la caída de
            Napoleón. Las potencias vencedoras de Napoleón se
            reunieron en el Congreso de Viena y terminaron
            creando la <strong>Santa Alianza</strong>, una unión entre las
            monarquías absolutistas para acabar con cualquier brote
            liberal. </p>
    <p>Tras el golpe de Estado vino la <strong>represión
        política</strong>. Fueron detenidos y juzgados <strong>liberales y
        afrancesados</strong>, acusados, respectivamente, de
        conspiración contra el rey y de traición. Otros muchos
        lograron abandonar antes el país, integraban el primer exilio de la España contemporánea.</p>
    <p>En cuando a la <strong>labor de los gobiernos</strong> de Fernando VII hay que decir que fue
    <strong>desastroso</strong>. La Hacienda estaba prácticamente en <strong>bancarrota</strong>, los pagos de los intereses de la
    deuda estatal no se cumplían y la <strong>guerra en América</strong> se llevaba los pocos ingresos de la
    Hacienda. Pero el mantenimiento de las colonias americanas era clave para la Hacienda, por
    los recursos que desde siempre habían generado, y ello explica el denodado esfuerzo de
    Fernando VII para hacer fracasar la independencia de las colonias.</p>
    <div class="border" style="background-color: #FBEEE6 ;">
        <p>La represión política no detuvo la <strong>acción de los sectores liberales</strong>. Se dedicaron a
        conspirar siendo el mejor marco para ello las <strong>logias masónicas</strong>, muy difundidas en el ejército
        y serán los <strong>pronunciamientos</strong> o golpes militares las herramientas más adecuadas para acabar
        con el absolutismo:</p>
        <div>
            <ul>
                <li>Durante el periodo de <strong>1814 a 1819</strong> hubo varios (Francisco Espoz y Mina
        en Pamplona, Juan Díaz Porlier en La Coruña, Luis de Lacy en Barcelona…), pero todos
        fracasaron al no contar con el suficiente apoyo.</li>
                <li>En <strong>1820</strong>, en cambio, el teniente coronel <strong>Rafael
        del Riego</strong> se subleva en Las Cabezas de San Juan (Sevilla) con las tropas que se concentraban
        para sofocar la rebelión en América; él y otros militares que se suman a la sublevación exigen
        al rey que jure la Constitución de 1812. El rey, consciente de su debilidad, aceptó el 7 de marzo
        la Constitución de 1812, la juró el día 9 y el 10 publicó un manifiesto en que afirmaba:
        “Marchemos francamente, y yo el primero, por la senda constitucional”.</li>
            </ul>
        </div>
    </div>  

</div>
<div class="border mt-3"  style="background-color: #FEF5E7 ;">
    <p class="py-1  my-2 text-center">FIN: Pronunciamiento de Riego en 1820 en Cabezas de San Juan</p>
    
</div>

<hr>
<h3 id="trienioLiberal">Trienio liberal (1820-1823)</h3>
<hr>
<div class="border "  style="background-color: #FEF5E7 ;">
    <p class="py-1  my-2 text-center">INICIO: Pronunciamiento de Riego en 1820 en Cabezas de San Juan</p>
    
</div>

<div class="row mt-3">
    <div class="col-md 3">
        <p class="text-center"><strong>EXALTADOS O RADICALES</strong> </p>
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/riego3.jpg' %}" alt="">
            <figcaption class="text-center" style="color:#3498DB ;">
                <span  data-bs-toggle="modal" data-bs-target="#riego"><strong> Rafael de Riego</strong> (1785-1823) </span>
            </figcaption>
        </figure>
        
        <!-------------------------------------------- MODAL RIEGO --------------------------------------------->
        <div class="modal fade" id="riego" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">Rafael de Riego</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <ul>
                                <li>Militar <strong>asturiano</strong>, miembro de la guardia del rey Carlos IV</li>
                                <li>En 1808, con el grado de capitán, fue hecho prisionero durante
                                    la guerra de la Independencia y deportado a Francia</li>
                                <li>Regresó en 1814 y se dedicó a difundir la <strong>francmasonería</strong> en los cuarteles.</li>
                                <li>En 1819 es destinado como teniente coronel a un batallón que debía
                                    embarcarse hacia a América para combatir los intentos de
                                    emancipación de las colonias americanas</li>
                                <li>El 1 de enero de 1920 efectuó un pronunciamiento en Cabezas de San Juan (Sevilla) y recorrió
                                    Andalucía proclamando la Constitución liberal de 1812 (Constitución
                                    de Cádiz), lo que posibilitó el inicio del Trienio Liberal.</li>
                                <li>El 7 de marzo de 1820, tras el pronunciamiento de Riego, seguido
                                    por otras guarniciones del país, Fernando VII anuncia por Decreto
                                    que está dispuesto a jurar la Constitución de Cádiz de 1812.
                                    Se inicia así el Trienio Liberal (1820-1823).</li>
                                <li>Fue elegido diputado y, en 1822, fue presidente de las Cortes.</li>
                                <li>En 1823 combatió a las tropas enviadas por la Santa Alianza para
                                    restaurar el absolutismo (los llamados Cien
                                    Mil Hijos de San Luis). Capturado en la localidad de Arquillos
                                    (Jaén), fue ejecutado en Madrid el 7 de noviembre del mismo año.</li>
                                <li>El llamado Himno de Riego, creado en su honor, llegó a ser
                                    declarado en 1931 himno oficial del Estado español durante la II
                                    República.</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <figure>
                                <img class="img-fluid" src="{% static 'images/sigloXIX/balconDiscursoRiego.jpg' %}" alt="">
                                <figcaption class="text-center" >
                                    Balcón discurso Riego en Tineo
                                </figcaption>
                            </figure>
                            <figure>
                                <img class="img-fluid" src="{% static 'images/sigloXIX/mujerRiego.jpg' %}" alt="">
                                <figcaption class="text-center" >
                                    María Teresa del Riego
                                </figcaption>
                            </figure>
                            
                        </div>
                        

                    </div>
                    
                </div>
                
                </div>
            </div>
            </div>

        <!---------------------------------------------------------------------------------------------------------- -->
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/mendizabal2.jpg' %}" alt="">
            <figcaption class="text-center">Juan Álvarez Mendizabal</figcaption>
        </figure>
    </div>
    <div class="col-md-6">
     <p>A lo largo de los tres años, las Cortes aprobaron una legislación reformista, que venía a
        completar y desarrollar la labor legislativa de las Cortes de Cádiz, con la intención de acabar con el Antiguo Régimen:</p>
        <div>
            <ul>
                <li>Supresión de los mayorazgos (los mayorazgos eran el derecho que tiene el primogénito de una familia de heredar todos los bienes.)</li>
                <li>Ley de Supresión de Monacales, por la que se disolvían los conventos y se desamortizaban sus bienes. También quedó suprimido el Tribunal de la Inquisición.</li>
                <li>Restablecimiento de la Milicia Nacional, fuerza cívico-militar, que los liberales apoyaban en los medios urbanos para defender la Constitución.</li>
                
            </ul>
        </div>
        <p>Mientras, en el interior de la cámara empezó a darse una división entre los mismos liberales:</p>
        <div>
            <ul>
                <li>Por un lado estaban los <strong>moderados</strong>, antiguos políticos doceañistas (apelativo con el que se conoció posteriormente a los liberales españoles que participaron en las Cortes de Cádiz que elaboraron y aprobaron la Constitución de 1812) que se habían moderado y buscaban una aceptación del sistema por la Corona, lo que pasaba por reformar la Constitución; eran partidarios, por tanto, de realizar reformas con prudencia.</li>
                <li>Por otro lado estaban los <strong>exaltados o radicales</strong>, se trataba de elementos jóvenes, querían una aplicación estricta de la Constitución, reduciendo, si cabe, los poderes del rey a los meramente ejecutivos.</li>
            </ul>
        </div>
        <p>A todo esto, el régimen constitucional avanzaba con grandes dificultades:</p>
        <div>
            <ul>
                <li>Oposición de las potencias absolutistas de Europa</li>
                <li>Reacciones antiliberales del campesinado</li>
                <li>Problemas de la Hacienda, llena de deudas a la espera de una reforma fiscal</li>
                <li>Enfrentamientos con la Iglesia</li>
            </ul>
        </div>
        
    </div>
    <div class="col-md-3">
        <p class="text-center"><strong>MODERADOS</strong> </p>
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/martinezRosa.jpg' %}" alt="">
            <figcaption class="text-center">Martínez de la Rosa </figcaption>                
        </figure>
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/arguelles2.jpg' %}" alt="">
            <figcaption class="text-center">Juan Arguelles </figcaption>                
        </figure>
    </div>
    
</div>
<div class="border" style="background-color: #FBEEE6 ;">
    <p class="py-2 my-2 px-2"><strong>PRONUNCIAMIENTOS</strong> </p>
    <div>
        <ul>
            <li>El<strong> 7 de julio de 1822</strong>, en Madrid, un <strong>golpe militar absolutista</strong> pudo acabar con el gobierno liberal. Detrás de él también estaba el rey. Fue sofocado por la Milicia Nacional y por civiles armados. Su efecto fue la caída del gobierno, moderado, de Martínez de la Rosa y su sustitución por otro, radical, presidido por el general Evaristo San Miguel.</li>
            <li>Desde entonces las partidas o <strong>guerrillas realistas</strong> organizadas por la aristocracia y el clero absolutista, que ya venían actuando desde 1821, incrementaron sus acciones. En <strong>Seo de Urgel</strong> se hicieron fuertes e instalaron una Regencia formada por absolutistas que fueron más tarde sometidos.</li>
            
        </ul>
    </div>
    
</div>
<div class="border mt-3"  style="background-color: #FEF5E7 ;">
    <p class="py-1  my-2 text-center">FIN: En 1823 los Cien Mil Hijos de San Luis entraron en España al
        mando del duque de Angulema y libraron a Fernando VII.</p>
    
</div>
<hr>
<h3 id="decadaOminosa">La década ominosa (1823-1833)</h3>
<hr>
<div class="border "  style="background-color: #FEF5E7 ;">
    <p class="py-1  my-2 text-center">INICIO: En 1823 los Cien Mil Hijos de San Luis entraron en España al
        mando del duque de Angulema y libraron a Fernando VII.</p>
    
</div>

<div class="row">
    <div class="col-md-9">
        <p class="mt-3">Por <strong>decreto de 1 de octubre de 1823</strong> el rey declaraba la nulidad de todo lo aprobado por las Cortes y el gobierno durante los tres años constitucionales.</p>
        <p>Fernando VII desencadenó una violenta represión, el terror blanco, contra los liberales:</p>
        <div>
            <ul>
                <li>Muchos liberales fueron ejecutados incluido Riego.</li>
                <li>Se crearon <strong>Comisiones Militares</strong> para procesar a los que desempeñaron puestos en el Trienio, con más de cien ejecuciones</li>
                <li>Se organizaron <strong>Juntas de Purificación</strong>, encargadas de depurar la Administración de empleados y profesores de tendencia liberal.</li>
                <li>Se restablecieron las instituciones de la monarquía absoluta (excepto la Inquisición)</li>
            </ul>
        </div>
        <p>Además de la represión, los gobiernos intentaron reformar la Administración y la Hacienda:</p>
        <div>
            <ul>
                <li>Se creó el Con­sejo de ministros (1823) y el ministerio de Fomento (1832), para pro­mover el desarrollo económico del país.</li>
                <li>El ministro de Hacienda, Luis López Ballesteros (1823-1832), diseñó los primeros Presupuestos del Estado, creó el Tribunal de Cuentas, redujo la deuda pública e inició una moderada liberalización económica.</li>
                <li>Se creó el Banco Real de San Fernando (1829) y la Bolsa de Madrid (1831).</li>
                
            </ul>
        </div>
        <p>Aunque el objetivo de estas reformas era la supervivencia del absolutismo, esta vía estaba amenazada por: </p>
        <div>
            <ul>
                <li>Los liberales que pretendían mediante pronunciamientos o conspiraciones la vuelta a la Constitución</li>
                <li>Los absolutistas acérrimos opuestos a cualquier cambio o reforma.</li>
            </ul>
        </div>

        <p>Estas reformas hicieron creer a los absolutistas que Fernando VII estaba en manos de los liberales. El propio hermano del rey, Carlos María Isidro, organizó a los más radicales, que promo­vieron conspiraciones como la revuelta de los Malcontents, que tuvo lugar en Cataluña (1827). Fernando VII hizo detener y ejecutar a los cabecillas.</p>
        <p>La inestabilidad política se incrementó en 1830. Antes de nacer su primera hija, Fernando VII promulgó la <strong>Pragmática Sanción (1830)</strong>, que, al abolir <strong>la Ley Sálica</strong>, permitía reinar a las mujeres. Los realistas exaltados (carlistas) no la aceptaron y consideraron que esta decisión se debía a una conspiración liberal. Aprovecharon la enfermedad del rey para que aboliera la Pragmática Sanción (<strong>sucesos de La Granja, 1832</strong>) y así pudiera gobernar su hermano. Fracasado el complot, Carlos María Isidro se exilió a Portugal y el rey confirmó los derechos sucesorios de su hija Isabel, pero al morir Fernando VII en 1833 se inició una guerra civil, conocida como I Guerra Carlista.</p>
    </div>
    <div class="col-md-3 mt-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/fernandoVII3.jpg' %}" alt="">
            <figcaption class="text-center">Fernando VII</figcaption>
        </figure>
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/luisLopezBallesteros.jpg' %}" alt="">
            <figcaption class="text-center">Luís López Ballesteros </figcaption>
        </figure>
    </div>
    
</div>



<div class="border "  style="background-color: #FEF5E7 ;">
    <p class="py-1  my-2 text-center">FIN: Esta época termina con la muerte de Fernando VII en 1933.</p>
    
</div>
<hr>
<h3>La emancipación de la América española (1810-1824)</h3>
<hr>
<div class="row">
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/sanMartin.jpg' %}" alt="">
            <figcaption class="text-center">José de San Martín (Argentina y Chile)</figcaption>
        </figure>
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/antonioJSucre.jpg' %}" alt="">
            <figcaption class="text-center">Antonio José de Sucre (Perú, Bolivia).</figcaption>
        </figure>
    </div>
    <div class="col-md-6">
        <p>Para comprender el deseo independentista hay que observar la estratificación social que existía en las colonias americanas:</p>
        <div>
            <ul>
                <li><strong>Criollos.</strong> Nacidos en América, pero descendientes directos de españoles; suponían casi un 15% de la población, formaban un grupo social dinámico y poderoso económicamente, pero no podían acceder a cargos públicos.</li>
                <li><strong>Peninsulares.</strong> Formaban un reducido grupo de administradores enviados desde España. Ocupaban todos los cargos públicos de importancia en las colonias.</li>
                <li><strong>Indios, mestizos, negros y mulatos.</strong> Formaban una masa campesina y minera explotada, tanto por los peninsulares como por los criollos.</li>
            </ul>
        </div>
        <p>Para tener mayor protagonismo político los criollos impulsaron movimientos de protesta que serían apoyados por los campesinos, al creer que con la independencia mejorarían sus condiciones de vida. El proceso de independencia puede dividirse en varias fases:</p>
        <div>
            <ul>
                <li><strong>(1808-1814). Los intentos independentistas fracasan.</strong> Al iniciarse la Guerra de Independencia en España se formaron en Hispanoamérica juntas revolucionarias como en la península, pero su verdadero carácter era promover el independentismo criollo; a partir de 1813 los ejércitos realistas comenzaron a reconquistar las zonas sublevadas. En esta fase destaca el movimiento en México, que tuvo un marcado carácter de revolución social: el cura José María Morelos lideró el movimiento campesino y en 1813 declaró la independencia mexicana, pero en 1815 Morelos fue ejecutado</li>
                <li><strong>(1816-1819)</strong>. La quiebra financiera de España facilitó la emancipación de las colonias americanas al no poder enviar las tropas necesarias. En el Congreso de Tucumán (1816) se proclama la independencia de las Provincias Unidas de Sudamérica (futura Argentina). En 1818 Chile logra la Independencia y en 1819 se proclamó la República de la Gran Colombia (que comprendía las actuales Venezuela y Colombia), teniendo como presidente a Simón Bolívar.</li>
                <li><strong>(1821-1824)</strong>. En 1821 el general Iturbide logró la independencia de México La batalla de Ayacucho (diciembre 1824) supone la derrota final de los españoles. Meses después se proclamó la independencia de Bolivia, que adoptó el nombre en homenaje a su libertador.</li>
            </ul>
        </div>
        
    </div>
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/simonBolivar.jpg' %}" alt="">
            <figcaption class="text-center">Simón Bolívar (Ecuador, Venezuela, Colombia) </figcaption>
        </figure>
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/agustinIturbe.png' %}" alt="">
            <figcaption class="text-center">Agustín de Itúrbide (México) </figcaption>
        </figure>
    </div>
    <p>La derrota española se debió, tanto a la fuerza del movimiento independentista como a los problemas internos de la monarquía de Fernando VII. También fue decisiva la ayuda inglesa a los insurrectos y el apoyo diplomático y militar desde EE.UU. Sin embargo, la situación de Hispanoamérica no mejoró. Los sueños de los libertadores San Martín y Bolívar de una América unida se desintegraron muy pronto. La situación social empeoró: el dominio de los criollos perjudicó al campesinado y se establecieron regímenes dictatoriales de tipo militar.</p>
        
</div>

{% endblock %}