{% extends "bases/basesigloXIX.html" %}

{% load static %}

{% block titulo %} monedas {% endblock %}

{% block cabecera %} Sistema monetario 1869 {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXIX/unaPesetaCara.jpg' %}" alt="">  {% endblock %}

{% block contenido %}

<p>En 1868 había en España más de 90 monedas en uso : de oro había escudos, ducados, castellanos, excelentes, de plata el real, de plata y cobre el real de Vellón, de cobre el marevedí, además había monedas regionales como el dinero en Valencia, Aragón y Cataluña.</p>
<p>El ministro de hacienda Laureano Figuerola realiza la unificación monetaria con la peseta de plata (octubre 68). </p>
<p>Se divide en 100 céntimos, popularmente:</p>
<div>
    <ul>
        <li>Duro (cinco pesetas)</li>
        <li>Dos reales (50 céntimos)</li>
        <li>Perra gorda (por león que parece un perro, 10 céntimos)</li>
        <li>Perra chica (por el león, 5 céntimos)</li>
    </ul>
</div>
<div class="row">
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/unaPesetaCara.jpg' %}" alt="">
            <figcaption class="text-center">Peseta cara</figcaption>
        </figure>
    </div>
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/unaPesetaCruz.jpg' %}" alt="">
            <figcaption class="text-center">Peseta cruz</figcaption>
        </figure>
    </div>
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/cincoPesetasCara.jpg' %}" alt="">
            <figcaption class="text-center">Duro cara( 5 ptas )</figcaption>
        </figure>
    </div>
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/cincoPesetasCruz.jpg' %}" alt="">
            <figcaption class="text-center">Duro cruz( 5 ptas )</figcaption>
        </figure>
    </div>
    
</div>
<div class="row">
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/perraChicaCara.jpg' %}" alt="">
            <figcaption class="text-center">Perra hica cara</figcaption>
        </figure>
    </div>
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/perraChicaCruz.jpg' %}" alt="">
            <figcaption class="text-center">Perra chica cruz</figcaption>
        </figure>
    </div>
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/perraGordaCara.jpg' %}" alt="">
            <figcaption class="text-center">Perra gorda cara</figcaption>
        </figure>
    </div>
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/perraGordaCruz.jpg' %}" alt="">
            <figcaption class="text-center">Perra gorda cruz</figcaption>
        </figure>
    </div>
    
</div>

<div class="row">
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/cincuentaCentimosCara.jpg' %}" alt="">
            <figcaption class="text-center">50 céntimos cara</figcaption>
        </figure>
    </div>
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/cincuentaCentimosCruz.jpg' %}" alt="">
            <figcaption class="text-center">50 céntimos cruz</figcaption>
        </figure>
    </div>
</div>

{% endblock %}