{% extends "bases/basesigloXIX.html" %}

{% load static %}

{% block titulo %} movimiento obrero {% endblock %}

{% block cabecera %} Historia del movimiento obrero {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXIX/bakunin.jfif' %}" alt="">  {% endblock %}

{% block contenido %}
<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
    
    <h5 class="text-center pt-2" id="inicioRevolucionGloriosa">Movimiento obrero en Europa</h5>
        
</div>
<div class="row">
    <div class="col-md-9">
        <p>El movimiento obrero es un fenómeno social y político que tiene sus orígenes en Inglaterra en el siglo XVIII. Este fenómeno tuvo como principal objetivo mejorar el bienestar de los trabajadores y surgió a partir de la Revolución Industrial y los cambios que trajo aparejada.</p>
        <p>La primera etapa de la industrialización se caracterizó por la plena libertad por parte de los empresarios (sector denominado “burguesía”) sobre las condiciones laborales de sus trabajadores (sector denominado “proletariado”). En un contexto en el que no existía la legislación laboral, eran los empresarios quienes decidían sobre los salarios o la extensión de la jornada laboral de los trabajadores.</p>
        <p>El origen del movimiento social responde a una serie de condiciones que llevaron a los trabajadores a tomar “conciencia de clase” y agruparse para reclamar una serie de mejoras. Algunas de las razones que llevaron a la conformación del movimiento obrero tienen que ver con:</p>
    <div>
        <ul>
            <li><strong>Concentración</strong>. La clase proletaria se concentraba en los núcleos industriales, lo que les permitió mantener contactos entre sí.</li>
            <li><strong>Pésimas condiciones laborales</strong>. Las jornadas de trabajo eran excesivas y no quedaban excluidos niños ni mujeres.</li>
            <li><strong>Salarios bajos.</strong> Además de jornadas extremas, los trabajadores tenían salarios que ni siquiera les permitían cubrir sus necesidades básicas.</li>
            <li><strong>Hacinamiento</strong>. Los trabajadores vivían en suburbios en condiciones de hacinamiento y falta de higiene, donde se contagiaban de epidemias y enfermedades de todo tipo.</li>
        </ul>
    </div>
    
    </div>
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/tren.jpg' %}" alt="">
            <figcaption class="text-center">Revolución industrial</figcaption>
        </figure>
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/trabajadores.png' %}" alt="">
            <figcaption class="text-center">Obreros</figcaption>
        </figure>
    </div>
    <p>A este malestar que atravesaban los obreros se le sumó el impacto que tuvo la Revolución Francesa, en la que los valores como la democracia, la política y la solidaridad fomentaron la lucha por los Derechos Humanos.</p>
    <p>En este contexto, trabajadores provenientes de diversos títulos (como los antiguos artesanos o los tejedores ingleses) se organizaron en hermandades tomando como modelo los gremios medievales. Así fue que los trabajadores comenzaron a ayudarse mutuamente y a reclamar mejoras laborales y, con el tiempo, comenzaron a cuestionar la industrialización.</p>
    <p>Los primeros en repudiar las condiciones económicas fueron los ludistas, un movimiento sindical que surgió en la Gran Bretaña del siglo XIX y que se opuso de forma aguerrida a la incorporación de las maquinarias en los procesos de producción textiles.</p>
    <p>Su rechazo los llevó a quemar maquinarias y esta actitud comenzó a ser imitada por los trabajadores rurales. Este proceso fue el inicio de los distintos movimientos que comenzaron a organizarse ya no en contra de las maquinarias sino de los empresarios, por las condiciones laborales que les imponían a los trabajadores.</p>
    
    
    <div class="row my-3 border" style="background-color: #FEF5E7 ;" id="guerraCuba">    
        <h6 class="my-2">La sociedad de clases</h6>    
    </div>
    <p>Las revoluciones políticas y el proceso de industrialización fueron resquebrajando la sociedad estamental, que terminó siendo reemplazada por la "sociedad de clases". </p>
    <p>Frente a los privilegios del Antiguo Régimen, la nueva realidad se fundamentó en la igualdad jurídica ("Declaración de los Derechos del Hombre y del Ciudadano", 1789) y la libertad de los individuos ante a la ley. Los privilegiados de la vieja sociedad feudal fueron desplazados o se fusionaron con la nueva clase dominante, la burguesía, al tiempo que la industrialización hizo crecer a su directo antagonista, el proletariado. </p>
    <p>A lo largo del siglo XIX la clase obrera protagonizó reivindicaciones y movilizaciones que se desarrollaron en un escenario esencialmente urbano. El campesinado, un colectivo menos dinámico, continuó supeditado a los grandes propietarios, aunque desvinculado legalmente de ellos.</p>
    <p>En la sociedad capitalista se aprecian los siguientes grupos:</p>
    <div>
        <ul>
            <li><strong>La burguesía.</strong> El término burguesía fue empleado en la Edad Media para designar al grupo social compuesto esencialmente por comerciantes, artesanos libres y personas no sometidas a la jurisdicción señorial que vivía en las ciudades.
                En el siglo XIX la industrialización y las revoluciones liberales le otorgaron el poder económico y político. Los revolucionarios socialistas y anarquistas consideraban a la burguesía la clase que, frente al proletariado (los obreros), ostentaba la propiedad de los medios de producción (capital dinerario, máquinas, materias primas, las fábricas, inmuebles urbanos, tierras, etc). 
                Sin embargo la burguesía decimonónica como clase social era muy heterogénea y en su seno podían distinguirse los siguientes grupos:
                <ul>
                    <div class="row">
                        <div class="col-md-8">
                            <li><strong>Alta burguesía.</strong> Situada en la cúspide de la sociedad capitalista. Controlaba las industrias, la banca, el comercio y los altos cargos de la administración del Estado. Se adueñó de muchas tierras procedentes de la Iglesia y la nobleza arruinada, transformándose en terrateniente. Este grupo se aristocratizó en ciertos casos, bien uniéndose con la antigua nobleza, bien mediante la compra de nuevos títulos. </li>
                            <li><strong>Burguesía media</strong> También conocida por "clases medias". Estaba integrada por profesionales de alta cualificación (abogados, ingenieros, intelectuales, profesores universitarios, miembros de profesiones liberales, etc.), comerciantes, agricultores acomodados, etc.</li>
                            <li><strong>Pequeña burguesía</strong> Constituida por pequeños comerciantes, artesanos, funcionarios de nivel medio-bajo, empleados diversos. Imitaba las formas de vida de la burguesía alta y media. En realidad se encontraba a un paso de la proletarización. Buena parte de los problemas que aquejaron a este colectivo coincidían con los de los trabajadores. Junto a ellos intervinieron en protestas, demandas y reivindicaciones comunes, como ocurrió durante la Revolución de 1848.</li>
                        </div>
                        <div class="col-md-4">
                            <figure>
                                <img class="img-fluid" src="{% static 'images/sigloXIX/burguesia.jpg' %}" alt="">
                                <figcaption class="text-center">Burguesía</figcaption>
                            </figure>
                        </div>
                    </div>
                    
                </ul>
            </li>
            <li><strong>El proletariado</strong>
                <ul>
                    <div class="row">
                        <div class="col-md-9">
                            <li>Estaban concentrados en las ciudades, donde se ubicaban las industrias, diferenciándose claramente de los trabajadores agrarios por su forma de vida e intereses.</li>
                            <li>Padecían duras condiciones de trabajo (larga jornada laboral, falta de higiene) e inseguridad (paro, inexistencia de seguro médico, de desempleo o jubilación).</li>
                            <li>La concienciación de su precaria situación los condujo a la protesta y la reivindicación organizadas, pero también a la alienación y la desesperanza: algunos se sumieron en el alcoholismo, el juego o la delincuencia.</li>
                            <li>Al carecer de propiedades, se veían obligados a vender su fuerza de trabajo a cambio de un salario.</li>
                            <li>Unos pertenecían a la industria fabril (en alza frente a la artesanal) y su número no dejó de crecer. Su escasa cualificación los hizo fácilmente intercambiables en las diversas tareas de producción.</li>
                            <li>Otros trabajaban en el sector servicios (doméstico, vendedores ambulantes, etc.). Abundaban los niños y la mujeres, peor consideradas y remuneradas que los adultos varones.</li>
                            <li>Persistieron los viejos oficios artesanos, en retroceso con respecto a la industria moderna: zapateros, sastres, herreros, etc. A menudo eran los trabajadores con un mayor grado de especialización y formación, de sus filas surgieron las primeras protestas y reivindicaciones obreras</li>
                            <li>En la escala inferior del proletariado, junto con niños y mujeres, hay que hacer mención a los inmigrantes, alienados por partida doble por su condición de trabajadores y extranjeros (ej., los irlandeses que se trasladaron a Inglaterra o USA).</li>
                        </div>
                        <div class="col-md-3">
                            <figure>
                                <img class="img-fluid" src="{% static 'images/sigloXIX/proletariado.jpg' %}" alt="">
                                <figcaption class="text-center">Proletariado</figcaption>
                            </figure>
                        </div>
                    </div>
                    
                </ul>
            </li>
            <li><strong>El campesinado</strong>
                <ul>
                    <li>Durante el siglo XIX las estructuras agrarias se mantuvieron con fuerza a pesar del proceso de urbanización.</li>
                    <li>Los campesinos siguieron constituyendo la mayor parte de la población. Continuaron inmersos en la tradición, el inmovilismo, las creencias religiosas y el rechazo a las nuevas ideas políticas, ya fuese el liberalismo o el socialismo. También se resistieron a las nuevas prácticas económicas.</li>
                    <li>Eso sin embargo, no impidió su asimilación a las nuevas formas capitalistas de producción y su conversión en obreros asalariados rurales. Desaparecieron los vínculos legales que los había atado a sus señores (servidumbre), algo que aconteció en algunos países muy tardíamente (1861 en Rusia).</li>
                    <li>Sus condiciones de vida no mejoraron y generaron un constante flujo migratorio a las ciudades industriales, donde fueron transformados en mano de obra sin cualificar, mal remunerados y víctimas del hacinamiento urbanístico. En algunos casos esa emigración se hizo hacia países extranjeros y constituyó un acontecimiento masivo, como el protagonizado por los irlandeses hacia Inglaterra y Estados Unidos (que se prolongó hasta bien entrado el siglo XX) o los polacos que viajaron a Alemania.</li>
                    <li>En el seno de este grupo podemos detectar dos realidades distintas:
                        <ul>
                            <li>Los campesinos propietarios de tierras, relativamente numerosos en occidente, que se beneficiaron de las reformas liberales y se convirtieron en propietarios agrarios (Ej., en Francia a raíz de la Revolución).</li>
                            <li>Los jornaleros no propietarios, cuyo número fue especialmente elevado en zonas del Mediterráneo (Italia, España) y el oriente europeo (Rusia, Polonia). Muchos hubieron de emigrar y, con frecuencia, se adhirieron a doctrinas revolucionarias vinculadas al anarquismo.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="row my-3 border" style="background-color: #FEF5E7 ;" >    
        <h6 class="my-2">Las ideologías del movimiento obrero</h6>    
    </div>
    <p>Las nuevas circunstancias económicas y sociales del capitalismo propiciaron el nacimiento de ideologías y movimientos protagonizados por la clase obrera.</p>
    <p>A lo largo del siglo XIX se fueron gestando reflexiones intelectuales que ponían en evidencia y criticaban las contradicciones del proceso de industrialización y las injusticias inherentes al capitalismo. Surgieron iniciativas reivindicando el igualitarismo y la solidaridad, ideas que se englobaron bajo el amplio epígrafe de "Socialismo", en cuyo seno pueden distinguirse tres amplias corrientes:</p>
    <div>
        <ol>
            <li><strong>Socialismo utópico</strong></li>
            <li><strong>Socialismo científico (marxismo)</strong></li>
            <li><strong>Anarquismo</strong></li>            
        </ol>
    </div>
    <div class="row my-3 border" style="background-color: #FEF5E7 ;" id="guerraCuba">    
        <h6 class="my-2">Socialismo utópico</h6>    
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>El término socialismo utópico fue acuñado en 1839 por Louis Blanqui, aunque alcanzó notoriedad tras el empleo que de él hicieron Marx y Engels en su "Manifiesto Comunista". Éstos consideraban que los pensadores utópicos, aunque bienintencionados, pecaban de idealismo e ingenuidad. Para impedir ser confundidos con ellos, etiquetaron su propia teoría con el calificativo de "científico".</p>
            <p>La expresión "utopía" significa plan, proyecto, doctrina o sistema optimista que aparece como irrealizable ya desde el mismo momento de su formulación. Proviene de "Utopía", obra escrita por Tomás Moro, intelectual, político y humanista inglés (S. XV-XVI). En ella teorizaba acerca de una isla de ese nombre que era ideal y perfecta.</p>
            <p>Cronológicamente las ideas del socialismo utópico alcanzaron su madurez en el período comprendido entre 1815 y 1848 (fecha de publicación del Manifiesto Comunista).</p>
            <p>Los socialistas utópicos formaron un grupo de pensadores heterogéneo. Sin embargo tuvieron en común una serie rasgos, en gran medida influidos por las ideas de Rousseau.</p>
            <div>
                <ul>
                    <li>La importancia de la naturaleza estaba muy presente en sus ideales, aunque ello no fue obstáculo para que fuesen favorables a la industrialización y el maquinismo.</li>
                    <li>Dedicaron sus esfuerzos a la creación de una sociedad ideal y perfecta, en la que el ser humano se relacionase en paz, armonía e igualdad.</li>
                    <li>Sus metas habrían de alcanzarse mediante la simple voluntad de los hombres, es decir, pacíficamente, de ahí que sus seguidores se opusieran a las revoluciones y a acciones como la huelga.</li>
                    <li>Pusieron al descubierto y denunciaron los perniciosos efectos del capitalismo, pero no investigaron sobre sus causas profundas.</li>
                    <li>Con el fin de paliar las injusticias y desigualdades emprendieron diversos planes, en los que primaron la solidaridad, la filantropía y el amor fraternal.</li>
                </ul>
            </div>
    <p>Pensadores utópicos: Robert Owen, conde de Saint-Simon, Charles Fourier, Blanqui y Louis Blanc</p>
        </div>
        <div class="col-md-3">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXIX/engels1.jpg' %}" alt="">
                <figcaption class="text-center">Friedrich Engels fue quien acuñó el término de «socialismo utópico»</figcaption>
            </figure>
        </div>
    </div>
    

    <div class="row my-3 border" style="background-color: #FEF5E7 ;" id="guerraCuba">    
        <h6 class="my-2">Socialismo científico (marxismo)</h6>    
    </div>
    <div class="row">
        <div class="col-md-10">
            <p>Partiendo del estudio histórico sobre la transición de unas sociedades a otras, Carlos Marx y su colaborador y amigo Federico Engels realizaron un análisis de la sociedad capitalista, indagando en sus contradicciones y planteando los medios para su destrucción.</p>
            <p>El marxismo se alejaba de los postulados teóricos, reformistas, idealistas y supuestamente irrealizables del socialismo utópico.</p>
            <p>La Revolución de 1848 constituyó un momento clave en el desarrollo de esta nueva corriente socialista pues, una vez frustrada, el marxismo reemplazó al socialismo utópico como corriente ideológica obrerista dominante, erigiéndose en motor y referente de buena parte de los movimientos revolucionarios de la segunda mitad del siglo XIX y XX. Fue precisamente en 1848 cuando se publicó el "Manifiesto comunista”, la obra más conocida del marxismo.</p>
            <p>Las ideas marxistas no conforman un bloque unitario, pues los escritos de Marx han ido completándose con el tiempo y han sido objeto de notables revisiones.</p>
            <p>Marx y Engels consideraron el socialismo como un paso intermedio entre el capitalismo y el comunismo. Desarrollaron una teoría en la que destacan los siguientes aspectos:</p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXIX/marx.jpg' %}" alt="">
                <figcaption class="text-center">Marx</figcaption>
            </figure>
            
        </div>
    </div>
    <div>    
        <ol>
            <li><strong>Materialismo histórico.</strong> 
            <div class="row">
                <div class="col-md-10">
                    <p>Para el marxismo, son las circunstancias materiales y no las ideas o la voluntad de los hombres las que determinan los hechos históricos. En tal sentido, diferencia entre infraestructura (la economía) y superestructura (la organización del Estado, los aspectos políticos, jurídicos, ideológicos, el pensamiento filosófico, las creencias religiosas, la producción artística, las costumbres, etc).</p>
                    <p>Entre ambas instancias existe una estrecha relación dialéctica. La infraestructura económica constituye la base de la historia y genera unas determinadas relaciones de producción. Las variaciones en la infraestructura provocan a su vez cambios en la superestructura, pero no de forma mecánica automática, sino que cada instancia ejerce una peculiar influencia sobre la otra. A largo plazo, sin embargo, el papel determinante corresponderá a la infraestructura.</p>
                    <p>Esta dinámica hay que situarla en el influjo que ejerce sobre el marxismo la teoría del proceso dialéctico de Hegel. Según este filósofo cada hecho o circunstancia (tesis) lleva en su seno su propia contradicción (antítesis). De la pugna entre ambas surge una nueva realidad (síntesis) que implica la superación de las anteriores y que a su vez se transforma en una nueva tesis.</p>
                    
                </div>
                <div class="col-md-2">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXIX/hegel.jpg' %}" alt="">
                        <figcaption class="text-center">Hegel</figcaption>
                    </figure>
                </div>
            </div>
            <p>La humanidad ha pasado por varios estadios con diferentes estructuras y sus propias contradicciones: sociedad comunitario-tribal, esclavista, feudal y capitalista. En ésta última la burguesía ha creado unas condiciones (económicas, legales, unos modos de vida y hasta la religión) que le permiten prosperar material y socialmente, pero a costa del proletariado. Del mayor o menor desarrollo del movimiento obrero depende que la clase trabajadora reconozca cuáles son realmente sus intereses y luche por ellos a través de la acción revolucionaria</p>
        
            </li>
            <li><strong>La acumulación del capital</strong>
            <p>La intensificación de la explotación de los obreros (aumento del ritmo de trabajo, empleo de mano de obra infantil, jornada laboral abusiva, etc.), permiten al capitalista incrementar sus beneficios. Sin embargo, las ganancias se concentran en cada vez menor número de empresarios debido a que una parte de éstos -los menos competitivos- van desapareciendo y engrosando las filas de los desposeídos, el proletariado.</p>
            </li>
            <li><strong>La plusvalía</strong>
            <p>Podría definirse como la diferencia entre la riqueza producida por el trabajo del obrero y el salario que éste recibe del patrono. Esa remuneración sirve para hacer frente a los gastos de alimentación, vestido y el alojamiento que necesita para subsistir y seguir trabajando pero no satisface el total del valor del trabajo desarrollado. Este hecho conlleva el enriquecimiento del capitalista, producto de la apropiación de parte la actividad realizada. La plusvalía sería por tanto, la parte del trabajo que el empresario deja de satisfacer al trabajador.</p>
            </li>
            <li><strong>La lucha de clases.</strong>
                <div class="row">
                    <div class="col-md-9">
                        <p>Las clases sociales para el marxismo están definidas por las relaciones de producción, es decir, por la forma en que los hombres producen mercancías. En el seno de las relaciones de producción, el papel que ocupa cada individuo está determinado por la división del trabajo, es decir, aquellos que desarrollan una misma actividad -y por tanto están sometidos a unas idénticas condiciones- conforman una clase social. Las clases sociales vienen determinadas por el lugar que ocupan en el proceso de producción de la riqueza. Unos la producen y otros se apropian de una porción de la misma. De esa relación no cabe esperar sino el antagonismo y la hostilidad entre explotados y explotadores.</p>
                        <p>A lo largo de la historia siempre ha habido clases enfrentadas. En las sociedades esclavistas (Grecia y Roma en la Antigüedad) fueron antagónicos los propietarios libres y los esclavos; en el seno de la sociedad feudal estamental el enfrentamiento se estableció entre nobles y eclesiásticos por un lado y siervos por otro.</p>
                        
                    </div>
                    <div class="col-md-3">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXIX/luchaClases.jpg' %}" alt="">
                            <figcaption class="text-center">Lucha de clases</figcaption>
                        </figure>
                    </div>
                </div>
                <p>En el seno de la sociedad capitalista ocurre igual: la lucha de clases es protagonizada por la burguesía, propietaria de los medios de producción (capital, fábricas, máquinas, transportes, etc.) y por el proletariado que, al disponer únicamente de su fuerza de trabajo, se ve obligado a venderla a cambio de un salario que escasamente sirve para satisfacer la supervivencia.</p>
                <p>Los intereses de ambas clases son antagónicos e incompatibles y conducirán indefectiblemente al enfrentamiento. A medida que el capitalismo vaya desarrollándose el número de obreros se incrementará, lo que unido al deterioro de sus condiciones de vida, conducirá a la revolución.</p>
                <p>La revolución tendrá como objetivo conseguir una sociedad perfecta donde no existan ni explotadores ni explotados. Para ello será imprescindible la abolición de la propiedad privada, es decir, la socialización los medios de producción, evitando la mera sustitución de los antiguos propietarios por otros nuevos.</p>
            
        </li>
            <li><strong>La dictadura del proletariado</strong>
                <div class="row">
                    <div class="col-md-9">
                        <p>Una vez que la clase obrera haya tomado conciencia de la explotación y opresión sufre, se organizará en torno a partidos de carácter revolucionario, siendo dirigida por una vanguardia especialmente capacitada y activa, empeñada en planificar la destrucción del sistema capitalista.</p>
                        <p>Esa acción no debe circunscribirse a un solo país ya que, siendo las condiciones y los intereses de la clase trabajadora idénticos en todo el mundo capitalista, ha de tener un carácter internacional.</p>
                        <p>A través de la acción revolucionaria los obreros han de derribar el gobierno burgués y sustituirlo por uno de carácter obrero. Ello puede requerir el uso de la violencia, pues los trabajadores se encontrarán con la fuerte oposición de la clase dominante.</p>
                        <p>Una vez conseguido el control del Estado será necesario salvaguardar las conquistas realizadas mediante el ejercicio de una dictadura de los trabajadores, constituyendo éste el primer paso hacia la consecución de una sociedad comunista sin clases. </p>    
                        
                    </div>
                    <div class="col-md-3">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXIX/dictaduraProletariado.jpg' %}" alt="">
                            <figcaption class="text-center">Dictadura del proletariado</figcaption>
                        </figure>
                    </div>
                    <p>El nuevo Estado que surge de la revolución habrá de suprimir la propiedad privada de los medios de producción (elemento primordial en la explotación de la clase obrera) y sustituirla por la propiedad colectiva de los mismos.</p>
                        <p>La tesis de la dictadura del proletariado ha sido una de las más controvertidas del marxismo, ya que implica la conquista de una de las claves de la superestructura social: el Estado. El modo de conseguirlo ha sido criticado por algunos autores posteriores a Marx, tildados por los marxistas clásicos de revisionistas.</p>
                </div>
            

            </li>
            <li><strong>La sociedad sin clases (comunismo)</strong>
            <p>Una vez consolidado el nuevo Estado, el peso de éste tenderá a disminuir hasta desaparecer, pues al haber desaparecido las amenazas que pesaban sobre él, el aparato coercitivo dejará de tener sentido y cada individuo trabajará voluntariamente en beneficio de la comunidad.</p>
            <p>Las relaciones de producción se habrán transformado y los medios de producción no estarán concentrados en manos de una minoría, sino que serán colectivos. Por lo tanto, ya no habrá ni opresores ni oprimidos, tan sólo una clase social, la trabajadora. En su seno regirá la solidaridad y la armonía entre hombre y trabajo, éste ya no será fuente de sufrimiento y alienación. Se disiparán asimismo las diferencias entre agro y ciudad, entre trabajo manual e intelectual. En suma, se habrá alcanzado una suerte de paraíso en la tierra, el de la sociedad comunista. </p>
            </li>
            <li><strong>El revisionismo marxista.</strong>
            <p>El revisionismo se puede definir como la acción de someter a revisión doctrinas, apreciaciones o prácticas ya establecidas con el objetivo de actualizarlas o modernizarlas.</p>
            <p>El marxismo ortodoxo advertía a los obreros sobre el riesgo que constituía el pacto con otras clases sociales ajenas a sus intereses. Prevenía sobre el reformismo político en el seno del Estado capitalista. La razón es que el Estado es el principal instrumento del que se sirve la burguesía para ejercer su dominio social. El único objetivo que el proletariado debe perseguir es la toma del poder mediante la revolución.</p>
            <p>Sin embargo, a fines del siglo XIX (a partir de la II Internacional), Eduard Bernstein, miembro del SPD (Partido Socialdemócrata Alemán), desde una postura menos radical y más conciliadora, sostuvo que los partidos revolucionarios podían y debían, según las circunstancias, intervenir en el sistema político democrático y liberal, utilizando como principal arma para conseguir sus aspiraciones, el sufragio universal. Afirmaba que las predicciones realizadas por el marxismo respecto a la progresiva pauperización de los trabajadores eran erróneas y que los obreros habían mejorado objetivamente su situación respecto a tiempos pretéritos. Se habría de este modo una vía no revolucionaria que perseguía cambios no radicales, sino graduales y pacíficos.</p>
            <p>El revisionismo despertó airadas críticas en el seno de los sectores más izquierdistas del marxismo (Rosa Luxemburgo, Lenin, etc.), Sin embargo, jugó un importante papel en la política del siglo XX, muestra de ello es la labor ejercida por partidos hoy plenamente consolidados y activos en Europa, tales como el Partido Laborista Británico, el mencionado Socialdemócrata Alemán (SPD) o el Partido Socialista Obrero Español, entre otros.</p>
        
            </li>
        </ol>
    </div>
    
    

    <div class="row my-3 border" style="background-color: #FEF5E7 ;" >    
        <h6 class="my-2">Anarquismo</h6>    
    </div>
    <p>El término anarquismo es de origen griego y significa “sin autoridad ni poder”. Esta ideología, junto con el marxismo, constituye una de las corrientes del “socialismo”. Ambas, anarquismo y marxismo, coinciden en la crítica al capitalismo y en la necesidad de su eliminación, pero difieren radicalmente en cuanto a los métodos para conseguirlo. De hecho, a lo largo del siglo XIX ambos pensamientos se fueron alejando progresivamente, hasta convertirse en irreconciliables antagonistas.</p>
    <p>El anarquismo estuvo muy influido por la idea roussoniana de que el individuo es bueno por naturaleza y es la sociedad (o el Estado y sus instituciones) quien destruye su felicidad.</p>
    <p>Alcanzó su máxima influencia en el seno de sociedades escasamente industrializadas -España, Italia y Rusia-, en tanto que en países más avanzados tuvo mayor peso el marxismo. En España el anarcosindicalismo se materializó en la creación de organizaciones como la CNT (Confederación Nacional del Trabajo) que jugaron un importante papel en el primer tercio del siglo XX.</p>
    <p>Algunos sectores del anarquismo preconizaron la acción radical y violenta. Ello se concretó en atentados terroristas que reputaron en su día esta corriente de agresiva y salvaje.</p>
    <div class="row">
        <div class="col-md-3 py-2" style="background-color:#EBF5FB  ;">
            La teoría anarquista
        </div>
    </div>
    <p>El pensamiento anarquista no es uniforme, sin embargo, sus defensores comparten algunas ideas afines:</p>
    <div>
        <ul>
            <li>El <strong>rechazo de cualquier tipo de autoridad</strong> -en especial la del Estado- y el repudio a <strong>cualquier forma de organización</strong>, sea de carácter partidista, administrativa o religiosa. Junto al rechazo a la autoridad preconiza la libertad individual. 
                Para los anarquistas el Estado capitalista constituye una estructura que posibilita la explotación de la clase obrera y por ello debe ser destruido. Rechaza tanto el juego político como la organización de partidos. El medio fundamental para eliminar al Estado es la huelga general, que permite arruinar a la burguesía.
                La organización social ha de estructurarse de abajo arriba, partiendo de pequeñas comunidades autosuficientes y por libre decisión de sus miembros, expresada a través del sufragio universal, nunca por imposición.</li>
            <li><strong>La abolición de la propiedad</strong>, ya que ésta es considerada como un robo cuando se consigue sin trabajo. El derecho a la herencia (origen del status social) ha de eliminarse y sustituirse por la colectivización de los bienes.</li>
            <li>La importancia de <strong>la educación</strong>. El hombre solo será libre cuando sea capaz de pensar por sí mismo y el mejor medio para conseguirlo es una esmerada instrucción.</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3 py-2" style="background-color:#EBF5FB  ;">
            Pensadores anarquistas
        </div>
    </div>

    <h6 class="mt-3">Pierre Joseph Proudhon (1809-1865)</h6>
    <div class="row">
        <div class="col-md-9 mt-4">
            <p>Su influencia se dejó sentir hasta la década de los años 60 del siglo XIX, a partir de la cual alcanzaron más relevancia las ideas de Bakunin y Kropotkin. Aunque muy relacionado con el grupo de los socialistas utópicos, de quien fue contemporáneo, se le considera el fundador del anarquismo; sus escritos son posteriores a 1848.</p>
            <p>Criticó el juego parlamentario, sosteniendo que el sufragio universal es fácilmente manejable por la propaganda de los partidos burgueses.
                Frente al Estado y la Ley preconizó la asociación de pequeños productores autónomos reunidos políticamente en una federación de comunas socialmente articuladas en torno al mutualismo y el cooperativismo.</p>
            <p>Confió en la vía pacífica y en la ayuda mutua como formas de conseguir la liberación del hombre, siendo ajeno a los anarquistas que alentaron el uso de la violencia.</p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXIX/proudhon.jpg' %}" alt="">
                <figcaption class="text-center">Proudhon</figcaption>
            </figure>

        </div>
    </div>
    <h6 class="mt-3">Bakunin (1814-1876)</h6>
    <div class="row">
        <div class="col-md-9">
            <p>Fue el primer teórico anarquista en presentar su pensamiento de una manera sistemática.</p>
            <p>Propuso la colectivización (“anarco-colectivismo”) de los medios de producción (capital, tierra, industrias, etc), pero no así de los frutos que se obtienen de ellos. En esto difería de la postura más radical de Kropotkin quien sostenía que dichos frutos también debían ser de propiedad colectiva.</p>
            <p>Según Bakunin, el Estado y otras instituciones como la Iglesia y el Ejército han de ser reemplazados por una federación de comunas creadas de forma espontánea. Minimizó el papel de los partidos políticos revolucionarios como instrumento de transformación social e igualmente rechazó el juego político parlamentario.</p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXIX/bakunin.jfif' %}" alt="">
                <figcaption class="text-center">Bakunin</figcaption>
            </figure>

        </div>
    </div>
    <h6 class="mt-4">Kropotkin (1842-1921)</h6>
    <div class="row">
        <div class="col-md-9 mt-3">
            <p>Aristócrata ruso antizarista, estuvo muy influido por las ideas de Bakunin a quien apoyó en la Primera Internacional frente a Marx. Abogó por una sociedad sin Estado, donde el trabajo intelectual y manual no estuviesen separados y los hombres practicaran el apoyo mutuo, la libertad, la solidaridad y la justicia.</p>
            <p>
                Kropotkin alentó la acción de los obreros por la vía sindical, no política, siendo representante del denominado “anarcosindicalismo”.
                Como instrumento indispensable para cambiar la sociedad propuso la educación, aunque también ponderó la violencia para conseguirlo.</p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXIX/kropotking.jpg' %}" alt="">
                <figcaption class="text-center">Kropotkin </figcaption>
            </figure>

        </div>
    </div>
<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
    
    <h5 class="text-center pt-2" id="inicioRevolucionGloriosa">Movimiento obrero en España</h5>
        
</div>

   
</div>

        <div class="row text-start">
            <div class="col-md-9">
                <p>Al morir Fernando VII (1833) se inició el proceso hacia el nuevo modelo de sociedad de clases, que sustituía a la sociedad estamental del Antiguo Régimen. La ley garantizará la igualdad jurídica de todos los ciudadanos, pero esto no erradicó la desigualdad. Se configura una sociedad, en la que los individuos ascenderían o descenderían según sus propios méritos, al estar ausentes los privilegios jurídicos. </p>
                <div>
                    <ol>
                        <li><strong>Oligarquía</strong>: antigua nobleza y alta burguesía (5%) que se unen. Ambos grupos van uniendo sus intereses. La burguesía compra tierras con la desamortización y la nobleza invierte en industrias. Además entre ellos se establecen lazos familiares. Son los propietarios de las tierras, de grandes capitales y de las grandes empresas industriales y comerciales. Controlan el poder político directa o indirectamente.
                        <ul>
                            <li>La <strong>alta burguesía</strong>. Isabel II pudo ganar la guerra civil y asentarse en el trono gracias al apoyo de la nueva burguesía, que aprovechará la situación para ascender al poder y construir un Estado a su medida. Era una burguesía «aristocratizante», que por la vía del matrimonio o mediante la concesión de nuevos títulos pretendía ennoblecerse.</li>
                            <li>La <strong>aristocracia</strong>: aunque entonces aparecía como una reliquia del Antiguo Régimen, mantenía, aún, un protagonismo social, gran poder económico e influencia política.</li>
                            <li>La <strong>Iglesia</strong>. La desamortización de sus bienes le privó de buena parte de sus riquezas y con ello perdió poder político y pasó a depender económicamente del Estado.</li>
                            <li>El <strong>Ejército</strong>. Los militares controlaron la política y participaron en los gobiernos. Así comenzó el denominado «régimen de los generales», que duraría prácticamente hasta 1868. La alta burguesía y las clases medias los aceptaron porque eran una garantía para la guarda de su propiedad.</li>
                        </ul>
                    
                        </li>
                        <li><strong>Clases medias </strong>(12%). constituían un 15% de la población y en ellas se incluía una variada mezcla de políticos, funcionarios, propietarios agrícolas, empresarios industriales… Eran los nuevos representantes de las clases acomodadas, interesadas en que hubiera orden y paz para los negocios de la nueva economía. Pertenecían a un sector que, a veces, quedaba fuera del censo, cuando gobernaban los moderados, pero que, en ocasiones, sí conseguían gozar de ese derecho. La pequeña burguesía constituye el grupo más amplio de las clases medias y, según las circuntancias, su frontera con las clases bajas será difusa. Son defensores de la propiedad privada, de los derechos individuales, de la participación política y de la nueva economía industrial.</li>
                        <li><strong>Clases bajas.</strong> Por encima del 80%.
                        <ul>
                            <li><strong>Sirvientes</strong> asalariados (5%)</li>
                            <li><strong>Obreros</strong> (3%) asalariados que trabajan en la industria. </li>
                            <li><strong>Campesinos</strong> (75%, tres de cada cuatro españoles).  Paro estacional, miseria.</li>
                        </ul>
                        </li>
                        <li><strong>Proletariado urbano</strong>  (pobres) y mendigos</li>

                    </ol>
                </div>
                <p>En el ámbito urbano destacan los obreros (5% de la población), que padecerán bajos salarios, largas jornadas, alta siniestralidad, trabajo infantil y mínimas o inexistentes coberturas sociales. Como en otros lugares de Europa sus primeras protestas se dirigieron contra las máquinas (<strong>luddismo</strong>). Más adelante se formarán <strong>Asociaciones obreras</strong> espontáneas y la primera en ser legalizada fue la Asociación Mutua de Tejedores de Barcelona (1840). La primera Huelga general se inició en Barcelona en el verano de 1855, liderada por el sindicato «Unión de Clases», que reivindicaba aumento de salarios y jornada de 10 horas. Se extendió a otras ciudades como Salamanca, Alcoy y Antequera. Fue la primera huelga general de la Historia de España y fue duramente reprimida.</p>
            </div>
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXIX/verduleras.jpg' %}" alt="">                                               
                </figure>
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXIX/anselmoLorenzo.png' %}" alt="">                                               
                </figure>
            </div>
            
        <div class="row my-3 border" style="background-color: #FEF5E7 ;" >    
            <h6 class="my-2">El movimiento obrero internacional</h6>    
        </div>
        
        <p>El movimiento obrero nació como movimiento político definido en la revolución francesa del 48, pero no se unificó hasta <strong>1864</strong>, formando la <strong>I Asociación Internacional de Trabajadores (AIT)</strong>.</p>
        <p><strong>Ideología común de la I Internacional:</strong>  </p>
        <div>
            <ul>
                <li><strong>Asociación</strong>. Los trabajadores deben asociarse para luchar conjuntamente por sus intereses. </li>
                <li><strong>Revolución. </strong>Como son más en número, en algún momento obtendrán el poder e instaurarán un nuevo sistema. La revolución  puede empezar en cualquier momento, a continuación de una huelga o de una manifestación. </li>
                <li><strong>Consciencia de clase.</strong> Para que se produzca la revolución, hay que movilizar al conjunto del proletariado y de los campesinos, para ello es necesario un labor previa de formación y cultura. Se trata de sacar de la ignorancia y de superar las ideologías alienantes, es decir, aquellas que consagran la subordinación del proletariado a las clases dominantes, como la monarquía  o el liberalismo, y  la Iglesia oficial. Los internacionalistas en un primer momento no rechazaban la religión, únicamente a las instituciones religiosas por su unión con las clases dominantes, a esto se llama anticlericalismo.</li>
                <li><strong>Sociedad igualitaria ideal. </strong>El centro teórico es el deseo de alcanzar una sociedad igualitaria o comunista que vendrá después de la revolución (cambio del sistema). A esta sociedad se le atribuyen un sinfín de virtudes, considerándose el sistema social perfecto. En este sentido mantiene muchos paralelismos con la idea religiosa de paraíso, en este caso paraíso terrenal. </li>
                <li><strong>Dictadura del proletariado.</strong> En esa sociedad comunista únicamente existirá el proletariado y no habrá división de clases porque se suprimirán las clases dominantes</li>
            </ul>
        </div>
        <p>En 1871 protagonizaron la revolución de la comuna de París, que fue duramente reprimida. En 1872, se rompe la unidad del movimiento obrero con la división en dos la posibilidad de presentarse a las elecciones: </p>
        <div class="row">
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXIX/marx.jfif' %}" alt="">
                    <figcaption class="text-center">Karl Marx</figcaption>                                               
                </figure>
            </div>
            <div class="col-md-6">
                <ul>
                    <li><strong>Bakunistas (anarquistas)</strong>. Consideran que después de la revolución, no debe crearse una estructura política jerárquica, sino que las decisiones se deben tomar mediante asambleas. Es decir, que los Estados deben organizarse igual que los sindicatos.  Partidarios de usar como medios únicamente los sindicatos y las huelgas. Rechazan participar en la democracia burguesa por fraudulenta y por ser una manifestación del autoritarismo del capitalismo. </li>
                    <li><strong>Marxistas (socialistas)</strong>. Consideran que después de la revolución, sí que debe crearse una estructura política jerárquica, solo que en este caso, el poder político estará en manos del proletariado. Partidarios de usar como medios, además de los sindicatos, partidos políticos que se presenten a las elecciones. </li>
                </ul>
            </div>
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXIX/bakunin.jfif' %}" alt="">
                    <figcaption class="text-center">Mijail Bakunin</figcaption>                                               
                </figure>
            </div>
            
        </div>
        <div class="row my-3 border" style="background-color: #FEF5E7 ;" >    
            <h6 class="my-2">El anarquismo</h6>    
        </div>
        <p>Existió desde la segunda mitad del siglo XIX hasta inicios del siglo XX, fundamentado sobre la obra intelectual y la militancia política de los anarquistas socialistas Pierre-Joseph <strong>Proudhon</strong> en Francia y su sucesor ideológico Mijaíl <strong>Bakunin</strong> (1814-1876), quien desde la Suiza francófona se convirtió en el principal constructor del movimiento anarquista europeo. Sus ideas fundamentales son:</p>
        <div class="row">            
            <div class="col-md-10">
                <ul>
                    <li><strong>Asociación de trabajadores o sindicato</strong> que proclame la huelga general revolucionaria (indefinida hasta la victoria), como instrumentos para lograr la emancipación (liberación de la represión) y no las elecciones fraudulentas.</li>
                    <li><strong>Autogestión</strong>. Gestión de las tierras y de las empresas por los propios trabajadores.</li>
                    <li><strong>Anarcocomunismo</strong> o comunismo libertario. Colectivización de las tierras y gestión colectiva de su explotación y de sus beneficios.</li>
                    <li><strong>Poder político asambleario</strong> o federalismo social. Poder político en mano de comunas o asambleas locales, que se van federando para formar entidades supra-locales, de modo que el poder se transmite de abajo a arriba.</li>
                </ul>
                <p>La ilegalidad del movimiento sindical (prohibido en España desde 1874) y las violentas represiones por parte de las fuerzas armadas de los estados (ejecución de los huelguistas), lleva a la adopción de métodos violentos, la llamada propaganda por el hecho (atentados contra oligarcas). Por eso se defendió el uso de las vías violentas desde el congreso de la Internacional anarquista en Verviers, en 1877.  Se trata de una adaptación de la teoría del <strong>tiranicidio</strong>, teoría previa que justificaba el asesinato de tiranos.  Con esta estrategia se conseguían dos cosas: <strong>Venganza</strong> (se responde al terrorismo contra los de abajo, con terrorismo contra los de arriba) 
                y <strong>Publicidad</strong> (se consigue publicidad entre los trabajadores, que ven una demostración de fuerza contra la oligarquía).</p>
            </div>
            <div class="col-md-2">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXIX/proudhong.jpg' %}" alt="">
                    <figcaption class="text-center">Proudhong</figcaption>                                               
                </figure>
            </div>
            <p>En cuanto se legalizaron las asociaciones obreras (81) los sindicatos anarcosindicalistas rechazaron el terrorismo, se dividió en dos tendencias:</p>
            <div>
                <ul>
                    <li><strong>Anarcosindicalismo.</strong> El sindicato y la huelga revolucionaria como único medio de lograr la emancipación, rechazo del anarcoterrorismo por ineficaz.</li>
                    <li><strong>Anarcoterrorismo.</strong> Como el Estado siguió reprimiendo las huelgas y ejecutando a sindicalistas, se siguieron realizando atentados pero de forma individual a los policias, políticos y religiosos responsables o cómplices, según su criterio.  </li>
                </ul>
            </div>
        </div>

        <p><u>En España:</u></p>
        <div>
            <ul>
                <li><strong>1968. </strong><strong>Fanelli</strong> trae la I Internacional a España.  Fanelli es bakunista por lo que trae a España las ideas anarquistas que pasan a ser <strong>dominantes entre los campesinos andaluces y los obreros catalanes</strong>. En España se funda la sección de la AIT en 1870, la FRE-AIT. </li>
                <li><strong>1971. </strong>Llega a España <strong>Lafargue</strong>, cuñado de Marx, difunde el marxismo (se quedarán con el término de socialistas) en la sección madrileña de la AIT.  Pretende fundar un sindicato marxista (lo hará en 1888, la UGT) y un partido político marxista (lo hará en 1879, el PSOE)</li>
                <li><strong>1973. </strong>Los anarquistas se unen a los movimientos revolucionarios y republicanos de los cantones. Pero los republicanos rechazan los cambios económicos y laborales. Desde entonces, el movimiento obrero se separa de la ideología republicana. Se ilegalizan las asociaciones obreras desde 1874 hasta 1881.</li>
                <li><strong>1878 y 1879. </strong>Atentados fallidos contra Alfonso XII</li>
                <li><strong>1881. </strong>Se legalizan las asociaciones obreras. Surge la organización terrorista anarquista "<strong>la Mano Negra"</strong> en Andalucía que se cree que realmente no existió sino que fue inventada por la policia para justificar la detención de muchos anarquistas.</li>
                <li><strong>1888. </strong> El ejército dispara contra una manifestación y mata a 200 personas que  protestaban por las emanaciones tóxicas de las minas a cielo abierto de Riotinto: la matanza de Ríotinto.</li>
                <li><strong>1893</strong> 
                    <ul>
                        <li>Martínez Campos interviene en la represión de las revueltas campesinas de Jerez de 1892 y en la ejecución de varios anarquistas.</li>
                        <li>Atentado de Paulino Pallás contra el Martínez Campos, gobernador militar de Cataluña, Fracasa, se le detiene y es ejecutado. </li>
                        <li>Como represalia a la ejecución de Paulino, otro anarquista lanza una bomba en el teatro del Liceo, donde se concentraba la burguesía que apoyaba la actuación de Martínez Campos (22 muertos).</li>
                        
                    </ul>
                </li>
                <li><strong>1896. </strong>Como represalia al enjuiciamiento de los anarquistas se produce el atentando de la Procesión del Corpus con 11 muertos. Ese año sentencia a los anarquistas presos en los denominados Procesos de Montjuic: se fusila a 5 anarquistas y se encarcela y tortura a centenares, la mayoría sin relación con el atentado. </li>
                <li><strong>1897. </strong>Como consecuencia de los procesos de Montjuic, Michele Angiolillo asesinó a <strong>Antonio Cánovas del Castillo</strong>, al considerarlo el responsable político de estos juicios.</li>
            </ul>
        </div>
        <div class="row my-3 border" style="background-color: #FEF5E7 ;" >    
            <h6 class="my-2">El marxismo</h6>    
        </div>
        <p>El socialismo marxista tiene como punto de partida las ideas de Marx, pero luego se enriquece con la aportación de otros pensadores marxistas modificando al propio Marx. Ideas principales: </p>
        <div>
            <ul>
                <li><strong>Lucha de clases.</strong> Idea marxista que dice que la interacción o dialéctica entre clases sociales es el motor de la historia.</li>
                <li><strong>Revolución inevitable por la acumulación del capital.</strong> En el sistema capitalista, las diferencias sociales irán aumentando por  la existencia de plusvalía  (beneficio acumulado, descontando el coste de producción). Los capitalistas irán aumentando sus capitales hasta que el sistema colapse por falta de demanda, entonces se producirá la revolución obrera.</li>
                <li>Los socialistas se organizan en torno a partidos socialistas y en sindicatos socialistas, a diferencia de los anarquistas que solo tienen sindicatos porque rechazan la organización estatal. Aspiran a convertirse en  dirigentes del Estado como representantes de la clase social de los obreros cuando estos protagonicen la revolución que les llevará a la emancipación (liberación de la opresión). La II internacional socialista (1889-1914) es una alianza de todos los partidos socialistas del mundo. </li>
                <li>En <strong>1879</strong>  en España <strong>se fundó el PSOE</strong>, y en <strong>1888</strong>  el sindicato de la <strong>UGT</strong>. Su difusión se produjo tras las crisis del 1898. En 1910, Pablo Iglesias entró en el congreso como diputado. En España el socialismo tuvo una gran influencia del pensamiento krausista, un humanismo laico. </li>
                
            </ul>
        </div>
        
        </div>



{% endblock %}