{% extends "bases/basesigloXIX.html" %}

{% load static %}

{% block titulo %} absolutismo {% endblock %}

{% block cabecera %} Monarquia absoluta {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXIX/canovas1.jpg' %}" alt="">  {% endblock %}

{% block contenido %}

<div class="row">
    <div class="col-md-12 text-center">
        <figure>
            <img src="{% static 'images/sigloXIX/partidosPoliticos.png' %}" alt="">
        </figure>
    </div>
</div>



{% endblock %}