{% extends "bases/basesigloXIX.html" %}

{% load static %}

{% block titulo %} regencias {% endblock %}

{% block cabecera %} Las regencias {% endblock %}

{% block imgCabecera %}<img class="img-fluid" src="{% static 'images/sigloXIX/mariaCristinaBorbon.jpg' %}" alt="">  {% endblock %}

{% block contenido %}

<p>Al morir Fernando VII hereda el trono, según la Pragmática Sanción, su hija Isabel II, de tres años de edad. De este hecho se derivarán dos consecuencias: la necesidad de establecer una regencia y el inicio de una guerra civil entre isabelinos y carlistas.</p>

<div class="row justify-content-center">
          
    <div class="col-2 border-1 rounded my-2 text-center py-4 mx-1" style="background-color:#E74C3C ; color:white">
        <a href="#regenciaMCristina" class="text-light", style="text-decoration:none ;">    
            <div class="row text-center">                                    
                <img class="img-fluid mt-4" style="width:270px ; height:165px ;" src="{% static 'images/sigloXIX/mariaCristinaBorbon.jpg' %}" alt="">
                <figcaption class="text-center mt-3">REGENCIA Mª CRISTINA</figcaption>
                <span class="text-center">(1833-1840)</span> 
            </div>
        </a>                       
    </div>
    <div class="col-2 border-1 rounded my-2 mx-1 text-center py-4 mx-1" style="background-color:#066725 ; color:white">
        <a href="#regenciaEspartero" class="text-light", style="text-decoration:none ;">    
            <div class="row text-center">                                    
                <img class="img-fluid mt-4" style="width:270px ; height:165px ;" src="{% static 'images/sigloXIX/espartero1.jpg' %}" alt="">
                <figcaption class="text-center mt-3">REGENCIA ESPARTERO</figcaption>
                <span class="text-center">(1840-1843)</span> 
            </div>
        </a>                       
    </div>
</div>



<div class="row align-items-center vertical-align-center text-center py-3 mt-3 border" style="background-color:#E2F6F6 ;">
        
    <h5 id="regenciaMCristina" class="text-center pt-2">Regencia de María Cristina (1833-1840).</h5>
        
</div>
<div class="row border border-dark" style="background-color:#E2F6F6  ;">
    <div class="col-md-3 "></div>
    <div class="col-md-3 border-end border-dark text-center">INICIO:Muerte de Fernando VII </div>
    <div class="col-md-3 text-center">FIN: Pronunciamiento de Espartero</div>
    <div class="col-md-3 "></div>
</div>    
 
<div class="row mt-5">
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/mariaCristinaBorbon.jpg' %}" alt="">
            <figcaption class="text-center mt-4"> Mª Cristina de Borbón</figcaption>                
        </figure>
    </div>
    <div class="col-md-9">
        <div class="row align-items-center vertical-align-center justify-content-center text-center  " >
            <div class="col-md-8">
                <table class="table table-striped mx-2 border">        
                    <tr class="table-success ">
                        <th class="border border-dark">REGENCIA DE MARÍA CRISTINA DE BORBÓN (1833-1840)</th>          
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1833. Absolutismo moderado de Cea Bermúdez</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1834-1835. Liberalismo moderado de Martínez de la Rosa</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1836. Liberalismo progresita de Mendizábal</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1836. Liberalismo moderado de Istúriz</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start" style="background-color:#FADBD8 ;">1836. Pronunciamiento de los sargentos de la Guardia Real de la Granja</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1836-1937. Liberalismo progresista de Calatrava</td>                         
                    </tr>
                    <tr>                            
                        <td class="border border-dark text-start">1838-1940. Liberalismo moderado</td>                         
                    </tr>
                </table>
            </div>
        </div>
    </div>
   
    <div class="row my-5">
        <p>María Cristina tuvo que apoyarse en el ejército liberal para mantener a su hija en el tro­no frente a los carlistas. En el liberalismo español había dos corrientes: moderados y progresistas.</p>
        <table class="table table-striped mx-2 border">
            <thead>
                <tr>
                    <th class="border border-dark" scope="col"></th>
                    <th class="border border-dark" scope="col">Moderados</th>
                    <th class="border border-dark" scope="col">Progresistas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="border border-dark" scope="row">Base social</th>
                    <td class="border border-dark">
                        <p>Personas de orden: alta burguesía, nobleza, alto clero, jerarquía militar</p>
                        
                    </td>
                    <td class="border border-dark">
                        <p>Clases medias: pequeña y mediana burguesía, oficiales militares, clases populares urbanas</p>
                    </td>
                </tr>
                <tr>
                    <th class="border border-dark" scope="row">Base  ideológica</th>
                    </td>
                    <td class="border border-dark">
                        <p>Sufragio muy censitario</p>
                        <p>Guardia Civil</p>
                        <p>Soberanía compartida Cortes Corona</p>
                        <p>Amplios poderes del monarca</p>
                        <p>Cortes bicamerales</p>
                        <p>Derechos individuales limitados</p>
                        <p>Confesionalidad católica del Estado y política</p>
                        <p>Subordinación de la libertad individual a la autoridad y orden social</p>
                        <p>Economía proteccionista</p>                       
                    </td>
                    <td class="border border-dark">
                        <p>Sufragio menos censitario</p>
                        <p>Milicia Nacional</p>
                        <p>Soberanía nacional</p>
                        <p>Limitación del poder de la Corona</p>
                        <p>Cortes unicamerales</p>
                        <p>Amplios derechos individuales</p>
                        <p>Limitación de la influencia de la Iglesia Católica</p>
                        <p>Autonomía municipal</p>
                        <p>Económica librecambista</p>
                    </td>
                </tr>
                <tr>
                    <th class="border border-dark" scope="row">Líderes</th>
                    <td class="border border-dark">
                        <p>Ramón María Narváez, Francisco Bravo Murillo</p>
                    </td>
                    <td class="border border-dark">
                        <p>Juan Álvarez Mendizábal, Baldomero Espartero, Juan Prim</p>
                    </td>
                </tr>
            </tbody>
        </table>

    
    </div>
    </div>    
      
    <div class="row">
        <div class="col-md-9">
            <p><strong>1833.</strong> A la muerte de Fernando VII, Isabel II llega al trono, con su madre,
                María Cristina, como regente. Los partidarios del hermano del rey,
                Carlos, no aceptan a la nueva reina. Se inicia así la <strong>primera guerra carlista</strong> (1833-1840).</p>
                <div class="row my-3 border " style="background-color: #FEF5E7 ;">    
                    <h6 class="my-2">MARTÍNEZ DE LA ROSA (moderado) </h6>    
                </div>
            <p><strong>1834.</strong> En enero de 1834, era llamado para formar gobierno <strong>Martínez de la Rosa</strong>, antiguo doceañista y jefe de gobierno durante el Trienio Liberal. Ganado ya para un liberalismo moderado, Martínez de la Rosa buscó una fórmula de equilibrio entre las tendencias liberales y el mismo carlismo. El resultado fue la aprobación del <strong>Estatuto Real</strong>, firmado por la regente en abril de 1834. No era una constitución sino una <strong>“carta otorgada”</strong> por la corona, no reconocía derechos individuales ni la división de poderes y si establecía una convocatoria de Cortes con dos cámaras: el Estamento de Próceres (cámara alta) y el Estamento de Procuradores (cámara baja).</p>
            <p>En contra de lo imaginable, la cámara recién elegida, con sorpresa para el gobierno, por su actitud crítica, exigía reformas profundas y en ella, además, volvía a resurgir las diferencias entre moderados y progresistas (ya iniciadas en el trienio liberal). El gobierno estaba entre dos frentes: <strong>la oposición de los liberales radicales y la guerra contra los carlistas</strong>, que  no daba los éxitos previstos.</p>    
            <p>Aislado y falto de apoyos, Martínez de la Rosa dimitió en junio de 1835 siendo sustituido por el<strong> conde de Toreno</strong>, también del sector moderado.</p>
            
        </div>
        <div class="col-md-3">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXIX/martinezRosa.jpg' %}" alt="">
                <figcaption class="text-center"> Martínez de la Rosa (enero 34- junio 35)</figcaption>                
            </figure> 
        </div>
    </div>
    <div class="row my-3 border" style="background-color: #FEF5E7 ;">    
        <h6 class="my-2">CONDE DE TORENO (moderado) </h6>    
    </div>
    <p>El nuevo gobierno solo duró cuatro meses. No lograba imponerse en la guerra carlista, mientras los liberales extremistas promovían <strong>amotinamientos populares</strong>, con asaltos y quemas de conventos-a los frailes se les acusaba de estar al lado de los carlistas- en ciudades como Zaragoza, Valencia, Cádiz, Málaga, Barcelona (donde también se prendió fuego a la fábrica de tejidos de Bonaplata)… El resultado fue la <strong>formación de Juntas revolucionarias de signo progresista</strong> en varias capitales, que Toreno intentó disolver pero al fracasar presentó su dimisión. La regente, entonces, llamó a <strong>Mendizábal</strong>, un liberal progresista, para formar gobierno en septiembre de 1835. </p>
    
    <div class="row">
        <div class="col-md-3">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXIX/mendizabal.jpg' %}" alt="">
                <figcaption class="text-center"> Mendizabal (sep 35- mayo 36)</figcaption>                
            </figure>
        </div>
        <div class="col-md-9">
            <div class="row my-3 border " style="background-color: #FEF5E7 ;">    
                <h6 class="my-2">MENDIZÁBAL (progresista) </h6>    
            </div>
            <p>El nuevo gabinete de Mendizábal se formaba contando con una Hacienda prácticamente sin fondos, y ante una guerra de la que era necesario darle un giro a favor de los isabelinos. Así, se amplió el alistamiento de hombres para el ejército y como vía para obtener fondos se aprobó la <strong>desamortización</strong> de bienes eclesiásticos del clero regular, el 19 de febrero <strong>de 1836</strong>. Con ella, en efecto, se buscaba contar con recursos para la Hacienda, eliminar o disminuir la deuda pública, hacer frente al carlismo y atraerse a las filas liberales a los compradores de bienes desamortizados.  </p>
            <p>A todo esto, como es imaginable, la regente no se encontraba a gusto con Mendizábal. En <strong>mayo de 1836 Mendizábal decidió dimitir</strong> ante las diferencias con la regente a la hora del nombramiento de determinados cargos militares.   </p>
            <div class="row my-3 border " style="background-color: #FEF5E7 ;">    
                <h6 class="my-2">FRANCISCO JAVIER ISTÚRIZ (moderado): </h6>    
            </div>
            <p>Era lo que buscaba la regente, que encargó a <strong>Francisco Javier Istúriz </strong> (mayo–agosto de 1836) formar gobierno. Pero éste, de corte moderado, no contaba con el apoyo de las Cortes. Otra vez volvían, en julio y agosto, los levantamientos populares de signo progresista contra el gobierno y a favor del restablecimiento de la Constitución de 1812. </p>
            <div class="border" style="background-color: #FBEEE6 ;">
                <p>Por fin, <strong>el 12 de agosto (1836) tenía lugar el motín de los sargentos de La Granja</strong>, que obligó a la regente a restablecer la Constitución de 1812 y a formar un nuevo gobierno. </p>    
            </div>
            
            
        </div>
    </div>
    <div class="row my-3 border " style="background-color: #FEF5E7 ;">    
        <h6 class="my-2">JOSÉ MARÍA CALATRAVA (progresista) </h6>    
    </div>
    <div class="row">
        <div class="col-md-3">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXIX/calatrava.jpg' %}" alt="">
                <figcaption class="text-center"> Calatrava (agosto 1836–agosto 1837)</figcaption>                
            </figure>
        </div>
        <div class="col-md-9">
            <p class="mt-3">El nuevo gobierno contaba con <strong>José María Calatrava</strong> al frente (agosto de 1836–agosto de 1837) y Mendizábal en Hacienda. Es a partir de ahora cuando quedó consolidada la división de los liberales entre un partido moderado y otro progresista, que era el que subía al poder con Calatrava.   </p>
            <p>El <strong>programa del gobierno</strong> consistió en acabar con las instituciones del Antiguo Régimen e implantar un régimen liberal con una monarquía constitucional. Convocadas elecciones a Cortes, la nueva Cámara tuvo mayoría progresista. Un conjunto de leyes permitieron la disolución del régimen señorial y el mayorazgo, la supresión de los privilegios gremiales reconociéndose la libertad de industria y comercio, el establecimiento de la libertad de imprenta (de prensa) y la reanudación de la desamortización de las fincas rústicas y urbanas de las órdenes religiosas.</p>
            
       
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p class="mt-5">El proceso que comentamos culminó con la promulgación de la <strong>Constitución de 1837</strong>. Fue aprobada con la intención de que fuera de consenso para que les permitiera alternarse en el poder sin necesidad de modificarla cada vez que hubiera un cambio de gobierno. 
                <div>
                    <ul>
                        <li>Soberanía nacional y los derechos individuales</li>
                        <li>Cortes bicamerales</li>
                        <li>Fortalecimiento de la corona a la que se le reconoce el derecho de veto y la disolución de las Cortes</li>
                        <li>Nueva ley electoral (1837). Sufragio censitario y restringido aunque más amplio que antes</li>
                        
                    </ul>
                </div>
        </div>
        <div class="col-md-3">
            <figure class="text-center">
                <img class="img-fluid border" style="width:170px ; height:265px ;" src="{% static 'images/sigloXIX/constitucion1837.jpg' %}" alt="">
                <figcaption class="text-center"> Constitución de 1837</figcaption>                
            </figure>
        </div>
    </div>
    


    <div class="row my-3 border" style="background-color: #FEF5E7 ;">    
        <h6 class="my-2">GOBIERNO MODERADO (1837-1840)</h6>    
    </div>
    <p>Una vez aprobada la Constitución se convocaron <strong>elecciones para octubre de 1837</strong> que fueron ganadas por los <strong>moderados</strong>. Los gobiernos de esta etapa se vieron influidos por los dos militares que estaban destinados a marcar el curso político de la historia de España en los próximos años: <strong>Baldomero Fernández Espartero</strong>, que podía presentar sus éxitos en la guerra carlista, se convirtió en cabeza de los progresistas y <strong>Ramón María Narváez</strong> de los moderados. </p>
    <p>Tras el final de la guerra carlista el gobierno se propuso aprobar una <strong>ley de ayuntamientos</strong> donde las diferencias entre progresistas y moderados eran muy fuertes. Los primeros defendían la elección del alcalde por los votantes, en cambio los moderados pretendían que fuese designado por el gobierno de entre los concejales elegidos. Las Cortes aprobaron la polémica ley y los progresistas decidieron movilizarse contra ella. Espartero, entonces en la cumbre de su prestigio militar, manifestó su rechazo a la ley que la regente terminó sancionando (14 de julio de 1840). Días después otra vez volvían a formarse <strong>juntas en las principales ciudades del país</strong>. La regente para frenar la insurrección nombró a <strong>Espartero jefe de gobierno</strong>, pero al no aceptar el programa del nuevo gobierno <strong>la regente presento su renuncia</strong>, marchando a Francia (octubre de 1840). </p>
     

<div class="row align-items-center vertical-align-center text-center py-3 mt-5 border" style="background-color:#E2F6F6 ;">
        
    <h5 id="regenciaEspartero" class="text-center pt-2">REGENCIA DE ESPARTERO (1840-1843).</h5>    
        
</div>
<div class="row border border-dark" style="background-color:#E2F6F6 ;">
    <div class="col-md-3 "></div>
    <div class="col-md-3 border-end border-dark text-center">INICIO: Pronunciamiento de Espartero en 1840 </div>
    <div class="col-md-3 text-center">FIN: Pronunciamiento de Narváez</div>
    <div class="col-md-3 "></div>
</div> 

<div class="row mt-5">
    <div class="col-md-3">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXIX/espartero.jpg' %}" alt="">
            <figcaption class="text-center"> Espartero</figcaption>                
        </figure>
    </div>
    <div class="col-md-9">
        <p>Los problemas para Espartero vinieron de su forma de gobernar, muy personalista y en ocasiones autoritaria, apoyándose en sus amigos personales, una <strong>camarilla de militares</strong> afines, alejándose, por el contrario, del sector mayoritario del grupo progresista de las Cortes. El enfrentamiento, por tanto, entre las Cortes y el gobierno, ambos progresistas, podía terminar facilitando la vuelta al poder a los moderados, como, al final, así fue.  </p>
        <p>Los <strong>sucesos de Barcelona</strong> también contribuyeron a desprestigiar a Espartero. Entre los empresarios y los mismos trabajadores reinaba la inquietud ante las noticias sobre un proyecto de negociación librecambista del gobierno con Inglaterra, valorado muy perjudicial para los intereses de la industria textil catalana. El malestar derivó hacia una <strong>insurrección social</strong> con barricadas, las autoridades abandonaban Barcelona mientras se constituía una junta revolucionaria. Espartero respondió con el <strong>bombardeo de Barcelona</strong>, entre el 3 y 4 de diciembre de 1842. Desde el castillo de Montjuich los cañones dispararon 1.014 proyectiles que dañaron 462 casas. Hubo un total de 20 muertos.  Este grave incidente redujo los apoyos que recibía el regente.</p>
        <p> El <strong>partido progresista seguía dividido</strong> entre los de la camarilla militar, al servicio del regente, y los del sector progresista de la Cámara, en su contra. Este último grupo puso en marcha un movimiento conspirativo, con <strong>levantamientos armados</strong> por buena parte de España, al que <strong>se unieron los moderados</strong>, liderados por su líder militar Ramón María <strong>Narváez</strong>. Éste regresa de Francia y se suma al pronunciamiento en Valencia.  </p>
    </div>
    <div class="border" style="background-color: #FBEEE6 ;">
        <p>Narváez se enfrentó a las tropas de Espartero, sobre las que <strong>se impuso</strong>, en Torrejón de Ardoz (julio de 1843). Espartero, sin apoyos, terminó abandonando el país, embarcando en Cádiz rumbo a Londres.</p>
    </div>
    
</div>
<p>Para evitar disputas por la regencia, en noviembre las Cortes adelantaron la <strong>mayoría de edad de Isabel (contaba con 13 años)</strong> y la proclamaron reina. Antes de terminar el año, la reina encargaba a un político moderado, González Bravo, la formación de un gobierno, que duró unos seis meses, siendo sustituido por otro dirigido por <strong>Narváez</strong>. Con él daba comienzo la <strong>Década Moderada</strong>. </p>



</div>

{% endblock %}