{% extends "baseDiabetes.html" %}
{% load static %}
{% block titulo %} tratamiento {% endblock %}
{% block cabecera %}Tto cetosis no{% endblock %}
{% block imgCabecera %} <img src="{% static 'img/ado.png' %}" alt="" class="img-fluid"> {% endblock %}
{% block contenido %}
<div class="row align-items-center justify-content-center mt-2 pt-3 pb-2 px-2 ">
    
    
    <div class="col-md-2 border py-2 text-center" id= cuadroFG style="background-color:{{colorC}} ; color: {{colorT}};">Filtrado glomerular: {{ FG }}</div>
</div>
    

<div class="row justify-content-center">
    <div id="cuadroRespuestas" class="col-12 border border-5 border-success rounded my-3" style="background-color:#EFEBDD; min-height: 200px;">
        <div class="row bg-success justify-content-between pb-1" style="color:white ;">
            <div class="col-md-4  text-start" id="farmaco1" name="farmaco1" >
                <div class="row border py-2 justify-content-center">
                    TRATAMIENTO ACTUAL
                </div>
                <div class="row pt-3 border-end border-success" style="background-color:#D5F5E3 ; color: black;">
                    <p>Primer fármaco: {{ farmaco1 }}</p>
                    <p>Segundo fármaco: {{ farmaco2 }}</p>
                    <p>Tercer fármaco: {{ farmaco3 }}</p> 
                </div>               
                               
            </div>
            <div class="col-md-4 text-start" id="glicada" name="glicada">
                <div class="row border py-2 justify-content-center">
                    HB GLICADA:
                </div>
                <div class="row pt-3 border-end border-success" style="background-color:#D5F5E3 ; color: black;">
                    <p>Glicada = {{ glicada }}</p>
                    <p>Objetivo glicada = {{ objetivoGlicada }}</p>
                    <p>Número de fármacos a añadir: {{ numeroFarmacosAdicionar }}</p>
                </div>
                                
            </div>
            <div class="col-md-4 text-start" id="pprincipal" name="pprincipal">
                <div class="row border py-2 justify-content-center">
                    PATOLOGÍAS:
                </div>
                <div class="row pt-3 " style="background-color:#D5F5E3 ; color: black;">
                    <p>Patol. predominante: {{ predominante }}</p>
                    <p>Patología secundaria: {{ secundaria }} </p>
                    <p>Patología terciaria: {{ terciaria }}</p>
                </div>               
            </div>
            
        </div>    
    
        <div class="row border border-success border-2" >
            <p class="mt-3">{{ comentario }}</p>
        </div>
        <div class="row border border-success border-2 " >
            
        </div>
        <div class="row border border-success border-2 " >
            
        </div>
        <div class="row border border-success border-2 " style="background-color: yellow; " >
            
        </div>
    </div>
    
       








<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.chained.js' %}"></script>
<script src="{% static 'js/cambiaCB.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/main10.js' %}"></script>

<script>
   
    
</script>








{% endblock %}