.arrowRight{
    position:relative;
    margin: 20px;
    width:48px;
    height: 38px;
    background: #d1d1d1;
    border:solid 1px #999;
    float: left;
   }
   
.arrowRight:before, .arrowRight:after {
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    top:-1px;
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;   
    }
.arrowRight:after {
    border-left: 16px solid #d1d1d1;
    right: -15px;
    z-index: 2;
    }
    
.arrowRight:before {
    border-left: 16px solid #999;
    right: -16px;
    z-index: 1;
    }