{% extends "baseEspecialidades.html" %}
{% block titulo %} cardiologia {% endblock %}
{% block cabecera %}Cardiologia {% endblock %}
{% load static %}
{% block imgCabecera %} <img src="{% static 'img/cardiologia1.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}
<div class="row mt-4">
    <div class="col-md-3">        
        <ul>
            <li><a href="{% url 'acuerdoCardiologia' %}"class="text-success", style="text-decoration:none ;" >Acuerdo cardiologia</a></li>
        </ul>
    </div>
</div>
{% endblock %}