{% extends "cirugia/baseCirugia.html" %}

{% block titulo %} cirugia {% endblock %}
{% load static %}

{% block cabecera %} Cirugía {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/cirugia.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<div class="row mt-4">
    <div class="col-md-3"> 
        <br>       
        <ul>
            <li><a href="{% url 'cirugiaPlastica' %} "class="text-success", style="text-decoration:none ;" >Cirugía plástica</a></li>
            
            
        </ul>
        
    </div>
</div>



{% endblock %}