{% extends "baseEspecialidades.html" %}

{% block titulo %} digestivo {% endblock %}

{% block cabecera %} Aparato Digestivo {% endblock %}

{% block contenido %}


{% load static %}

<div class="row mt-4">
    <div class="col-md-5">
        <p><strong>Documentos</strong> </p>
        <ul>
            <li><a href="{% url 'peticionEndoscopia' %} "class="text-success", style="text-decoration:none ;" >Petición de endoscopia (Anexo 1)</a></li>
            <li><a href="{% url 'acuerdoDigestivo' %} "class="text-success", style="text-decoration:none ;" >Acuerdo con Digestivo enero de 2023</a></li>
            
        </ul>
        
    </div>
    <div class="col-md-7">
        <p><strong>Teléfonos</strong> </p>
        <ul>
            <li>Gastro-Cáncer colon: Dra. María Pleguezuelo. MARTES a partir de las 12:00
                horas (511299).</li>
            <li>Enf. Inflamatoria Intestinal: Dra. Eva Iglesias. MIÉRCOLES a partir de las
                12:00 horas (511299)</li>
            <li>Hepatología: Dra. Pilar Barrera. MARTES antes de las 9:30 horas (511914)</li>
        </ul>
    </div>
    
</div>



    <div class="row align-items-center vertical-align-center text-center py-5 ">
    
        <div class="col-md-6 ">

            <div class="card-group">
                <img src="{% static 'img/estomago.jpg' %}" alt="" class="img-fluid">
                <div class="card py-3">
                    
                    <a href="{% url 'dispepsia' %} " class="text-success", style="text-decoration:none ;"> 
                        <h5 class="card-title text-center">Dispepsia y ERGE</h5>                        
                    </a>
                    <a href="{% url 'testhp' %} " class="text-success", style="text-decoration:none ;"> 
                        <h5 class="card-title text-center">Infección por helicobacter pylori</h5>                        
                    </a>
                                                  
                </div>
                
            </div>
        </div>
        <div class="col-md-6 ">

            <div class="card-group">
                <img src="{% static 'img/intestino.jpg' %}" alt="" class="img-fluid">
                <div class="card py-3">
                    
                    <a href="{% url 'colonoscopia' %} " class="text-success", style="text-decoration:none ;"> 
                        <h5 class="card-title text-center">Indicaciones de colonoscopia</h5>                        
                    </a>
                    <a href="{% url 'analitica' %} " class="text-success", style="text-decoration:none ;"> 
                        <h5 class="card-title text-center">Alteraciones analíticas</h5>                        
                    </a>
                    
                         
                </div>
            </div>
        </div>
    </div>



{% endblock %}