{% extends "hematologia/baseHematologia.html" %}

{% block titulo %} hematologia {% endblock %}
{% load static %}

{% block cabecera %} HEMATOLOGÍA {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/hematologia.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}
<div class="row mt-4">
    <div class="col-md-4"><a href="{% url 'esquemaSintrom' %} "class="text-success", style="text-decoration:none ;" >ESQUEMA AJUSTE DOSIS</a></div>
    <div class="col-md-4"><a href="{% url 'poeSintrom' %} "class="text-success", style="text-decoration:none ;" >POE sintrom</a></div>
</div>
<hr>
<div class="row mt-3">
    <div class="col-md-4"><a href="{% url 'consejosPaciente' %} "class="text-success", style="text-decoration:none ;" >Información al paciente</a></div>
    <div class="col-md-4"><a href="{% url 'informacionPaciente' %} "class="text-success", style="text-decoration:none ;" >Consejos al paciente</a></div>
    <div class="col-md-4"><a href="{% url 'valoracionEnfermeria' %} "class="text-success", style="text-decoration:none ;" >Cuidados de enfermería</a></div>
</div>
<hr class="my-3">

{% endblock %}