{% extends "baseEspecialidades.html" %}
{% block titulo %} interna {% endblock %}
{% block cabecera %}Medicina Interna {% endblock %}
{% load static %}
{% block imgCabecera %} <img src="{% static 'img/interna1.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}
<div class="row mt-4">
    <div class="col-md-3">        
        <ul>
            <li><a href="{% url 'acuerdoInterna' %}"class="text-success", style="text-decoration:none ;" >Acuerdo Interna</a></li>
        </ul>
    </div>
</div>
{% endblock %}