{% extends "locomotor/baseLocomotor.html" %}

{% block titulo %} locomotor {% endblock %}
{% load static %}

{% block cabecera %} Aparato Locomotor {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/locomotor.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}
<div class="row my-4">
    <div class="col-md-3">
        <h6 class="text-success"><span  data-bs-toggle="modal" data-bs-target="#floridablanca">
            Indicaciones de derivación preferente</span></h6>
            
            <!-------------------------------------------- MODAL -->
            <div class="modal fade" id="floridablanca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-success text-light">
                        <h5 class="modal-title" id="exampleModalLabel">Derivación preferente </h5>                            
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: azure;"></button>
                    </div>
                    
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-start"> 
                            
                            <ul>
                                <li>Procesos agudos y subagudos con alto riesgo de discapacidad y en los que existan evidencias de beneficio de la intervención precoz: ARTRITIS DE INICIO (INDICAR ROGAMOS VALORACION POR REUMA) /LUMBALGIA INFLAMATORIA QUE NO CEDE A MEDICACIÓN HABITUAL</li>
                                <li>Enfermedades autoinmunes sistémicas: Al tratarse de enfermedades inflamatorias, en estos casos debe aportarse en la información clínica igualmente una analítica que incluya reactantes de fase aguda y pruebas reumáticas. INDICAR ROGAMOS VALORACION POR REUMA.</li>
                                <li>PACIENTE EN IT: Procesos agudos o subagudos con discapacidad o incapacidad evitable que sea precisa la valoración lo antes posible y en los que la petición de exploraciones complementarias por parte de aparato locomotor y su actuación precoz sea imprescindible.</li>
                                <li>Signos clínicos, radiológicos o analíticos o síntomas de ALARMA , sobre todo en el ámbito de patología infecciosa o tumoral o de compresión neuropática.</li>
                                <li><strong>Se debe marcar el carácter de la interconsulta como ¨preferente¨</strong></li>
                            </ul>
                           
                            
                        </div>
    
                    </div>
                    
                </div>
                
                </div>
            </div>
            </div>
    
            <!---------------------------------------------------------------------------------------------------------- -->
    </div>
    <div class="col-md-3">
        <h6 class="text-success"><span  data-bs-toggle="modal" data-bs-target="#ortesisLumbares">
            Financiación ortesis lumbares</span></h6>
            
            <!-------------------------------------------- MODAL -->
            <div class="modal fade" id="ortesisLumbares" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-success text-light">
                        <h5 class="modal-title" id="exampleModalLabel">Ortesis lumbares </h5>                            
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: azure;"></button>
                    </div>
                    
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-start"> 
                            <p>Las órtesis lumbares preventivas, que son la mayoría de las que indicamos a nuestros pacientes, están excluidas de la financiación desde la entrada en vigor del nuevo catálogo de prescripciones ortoprotésicas del verano pasado.</p>
                            <p>Por parte de Locomotor, nos informan que desde hace tiempo ellos ya no prescriben ortesis preventivas y que solo las hacen para:</p>
                            <div>
                                <ol>
                                    <li>Inestabilidad de columna lumbar (espondilolistesis y algunos casos de escoliosis degenerativa del adulto)</li>
                                    <li>Paciente postquirúrgicos</li>
                                    <li>Fracturas vertebrales</li>
                                </ol>
                            </div>
                            <p>Hasta ahora, su renovación se ha estado realizando con informe clínico y deberá seguir haciéndose de la misma forma.</p>
                           
                            
                        </div>
    
                    </div>
                    
                </div>
                
                </div>
            </div>
            </div>
    
            <!---------------------------------------------------------------------------------------------------------- -->
    </div>
</div>
<hr>
<div class="container d-flex vertical-align-center ">
    
    </div>
    <div class="row align-items-center py-5 justify-content-center">
    
        <div class="col-md-3 ">

            <div class="card-group">
                <div class="">
                    <a href="{% url 'cervicalgia' %} "> 
                        
                        <img src="{% static 'img/cervicalgia1.png' %}" alt="" class="img-fluid ">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Cervicalgia</h5>
                    </div>          
                </div>
            </div>
        </div>

        <div class="col-md-3 ">

            <div class="card-group">
                <div class="">
                    <a href="{% url 'dorsalgia' %}">
                        <img src="{% static 'img/dorsalgia1.jpg' %}" class="card-img-top p-4" alt="...">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Dorsalgia</h5>
                    </div>          
                </div>
            </div>
        </div>

        <div class="col-md-3 ">

            <div class="card-group">
                <div class="">
                    <a href="{% url 'lumbalgia' %}">
                        <img src="{% static 'img/lumbalgia1.jpg' %}" class="card-img-top mx-2 my-5" alt="...">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Lumbalgia</h5>
                    </div>          
                </div>
            </div>
        </div>
        <div class="col-md-3 ">

            <div class="card-group">
                <div class="">
                    <a href="{% url 'osteoporosis' %}">
                        <img src="{% static 'img/osteoporosis.jpg' %}" class="card-img-top mx-5 my-5" alt="...">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Osteoporosis</h5>
                    </div>          
                </div>
            </div>
        </div>

       
    </div>
    
    
</div>

<div class="contenedorDiabetes container d-flex vertical-align-center ">
    <div class="row align-items-center py-5 justify-content-center">
    
        <div class="col-md-3 ">

            <div class="card-group">
                <div class="">
                    <a href="{% url 'hombro' %} "> 
                        
                        <img src="{% static 'img/hombro.jpg' %}" alt="" class="img-fluid px-5">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Hombro</h5>
                    </div>          
                </div>
            </div>
        </div>

        <div class="col-md-3 ">

            <div class="card-group">
                <div class="">
                    <a href="{% url 'codo' %}">
                        <img src="{% static 'img/codo.jpg' %}" class="card-img-top px-5 py-5" alt="...">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Codo</h5>
                    </div>          
                </div>
            </div>
        </div>

        <div class="col-md-3 ">

            <div class="card-group">
                <div class="">
                    <a href="{% url 'mano' %}">
                        <img src="{% static 'img/mano.jpg' %}" class="card-img-top mx-5 my-5" alt="...">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Mano</h5>
                    </div>          
                </div>
            </div>
        </div>

       
    </div>
    
    
</div>

<div class="contenedorDiabetes container d-flex vertical-align-center ">
    <div class="row align-items-center py-5 justify-content-center">
    
        <div class="col-md-3 ">

            <div class="card-group">
                <div class="">
                    <a href="{% url 'cadera' %} "> 
                        
                        <img src="{% static 'img/cadera.jpg' %}" alt="" class="img-fluid px-5">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Cadera</h5>
                    </div>          
                </div>
            </div>
        </div>

        <div class="col-md-3 ">

            <div class="card-group">
                <div class="">
                    <a href="{% url 'rodilla' %}">
                        <img src="{% static 'img/rodilla.jpg' %}" class="card-img-top px-5 py-5" alt="...">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Rodilla</h5>
                    </div>          
                </div>
            </div>
        </div>

        <div class="col-md-3 ">

            <div class="card-group">
                <div class="">
                    <a href="{% url 'pie' %}">
                        <img src="{% static 'img/pie.jpg' %}" class="card-img-top mx-5 my-5" alt="...">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Pie</h5>
                    </div>          
                </div>
            </div>
        </div>

       
    </div>
    
    
</div> 

{% endblock %}