{% extends "mujer/baseMujer.html" %}

{% block titulo %} mujer {% endblock %}
{% load static %}

{% block cabecera %} Mujer {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/ginecologia.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<div class="row mt-4 justify-content-center">            
    
    <div class="col-md-7 px-4">
    <h3 class="text-center">HORMONAS</h3>
        <table class="table table-striped mx-2 border">
            
            <tr class="table-success ">
                <th class="border border-dark">Hormona</th>
                <th class="border border-dark">Día a medir</th>
                <th class="border border-dark">Valores normales</th>
                <th class="border border-dark">Significado</th>
                                
            </tr>
            <tr>
                <th class="border border-dark">FSH</th>                
                <td class="border border-dark">Día 3</td>
                <td class="border border-dark">3-20</td>
                <td class="border border-dark">
                    Indicador de estimulación ovárica.
                    <strong>Valores: </strong>
                    <ul>
                        <li>< 6: Excelente</li>
                        <li>6-9: Bueno</li>
                        <li>9-10: Moderado</li>
                        <li>10-13: Disminuido</li>
                        <li>>13: Insuficiente</li>
                    </ul>
                </td>                              
            </tr>
            <tr>
                <th class="border border-dark">LH</th>                
                <td class="border border-dark">Día 3</td>
                <td class="border border-dark"><7</td>
                <td class="border border-dark"></td>                   
            </tr>
            <tr>
                <th class="border border-dark">Estradiol</th>                
                <td class="border border-dark">Día 3</td>
                <td class="border border-dark">25-75</td>
                <td class="border border-dark">Niveles bajos pueden indicar quiste ovárico o reserva ovárica disminuida</td>                   
            </tr>
            <tr>
                <th class="border border-dark">Prolactina</th>                
                <td class="border border-dark">Día 3</td>
                <td class="border border-dark"><24</td>
                <td class="border border-dark"></td>                   
            </tr>
            <tr>
                <th class="border border-dark">Progesterona</th>                
                <td class="border border-dark">Día 3</td>
                <td class="border border-dark">>15</td>
                <td class="border border-dark">Se mide para confirmar ovulación. Más preciso si se hace a primera hora de la mañana</td>                   
            </tr>
            <tr>
                <th class="border border-dark">Testosterona total</th>                
                <td class="border border-dark">Día 3</td>
                <td class="border border-dark">6-86</td>
                <td class="border border-dark">Segregada por glándula adrenal y ovarios. A partir de 50 se considera elevada</td>                   
            </tr>
            <tr>
                <th class="border border-dark">Testosterona libre</th>                
                <td class="border border-dark">Día 3</td>
                <td class="border border-dark">7-36</td>
                <td class="border border-dark"></td>                   
            </tr>
            <tr>
                <th class="border border-dark">DHEAS (dihidroepiandrosterona)</th>                
                <td class="border border-dark">Día 3</td>
                <td class="border border-dark">35-430</td>
                <td class="border border-dark"></td>                   
            </tr>

        </table>
    </div>
    <div class="row align-items-center vertical-align-center text-center my-3 ">
        <h3 class="text-center " id="ciclo">CICLO OVÁRICO</h3>
        <hr>    
    </div>
    <row>
        <div>
            <ul>
                <li><strong>Día 1-3: </strong> &#8595; niveles de estrógenos y progesterona. &#8593; el estímulo FSH y LH</li>
                <li><strong>Día 6:</strong>
                    <ul>
                        <li>La FSH estimula la maduración de folículos</li>
                        <li>Los folículos comienzan a producir estrógenos (17-B-estradiol)</li>
                        <li>Los estrógenos estimulan proliferación de endometrio y producción de LH.</li>
                    </ul>
                </li>
                <li><strong>Día 13</strong>
                    <ul>
                        <li>Pico de FSH, Lh y estradiol</li>
                        <li>El aumento de estradiol y sus niveles mantenidos más de 50 horas desencadenan un pico de LH (marcador de la ovulación).</li>
                    </ul>
                </li>
                <li><strong>Día 14. Ovulación</strong>
                    <ul>
                        <li>El folículo de Graaf sufre una rotura y sale el óvulo.</li>
                        <li>El ovocito se mantiene fértil 12 h + 4-5 días de fertilidad del espermatozoide = 6 días de fertilidad por ciclo.</li>
                    </ul>
                </li>
                <li><strong>Días 15-28. Fase lútea.</strong>
                    <ul>
                        <li>Los restos de folículo se transforman en cuerpo lúteo por la LH</li>
                        <li>El cuerpo lúteo produce estrógenos y progesterona que bajan la FSH y la LH.</li>
                        <li>El día 21 tiene su pico.</li>
                        <li>El día 26 pasa a cuerpo albicans que no produce progesterona &#8594; menstruación.</li>
                    </ul>
                </li>
            </ul>
        </div>
    </row>

    <div class="row align-items-center vertical-align-center text-center my-3 ">
        <h3 class="text-center " id="alteraciones">ALTERACIONES DEL CICLO OVÁRICO</h3>
        <hr>    
    </div>
    <div>
        <ul>
            <li>Amenorrea &#8594; No sangrado en 6 meses o más</li>
            <li>Oligomenorrea &#8594; Ciclos largos > 35 días</li>
            <li>Polimenorrea &#8594; Ciclos cortos menores de 21 días</li>
            <li>Hipermenorrea &#8594; Aumento del ciclo menstrual normal</li>
            <li>Menorragia &#8594; &#8593; sangrado menstrual en cantidad (> 80 ml) o en duración</li>
            <li>Metrorragia &#8594; sangre procedente del útero no menstrual</li>
            <li>Spooting intermenstrual Menorragia &#8594; Escaso sangrado preovulatorio por &#8595; estrógenos</li>
            <li>Metrorragia postmenopáusica.</li>
        </ul>
    </div>
    <div class="row align-items-center vertical-align-center text-center my-3 ">
        <h3 class="text-center " id="amenorrea">AMENORREA SECUNDARIA</h3>
        <hr>    
    </div>
    <p>La mayoría son benignas. Inciar estudio en AP a partir del 3º mes.</p>
    <div>
        <ol>
            <li><strong>Descartar gestación</strong></li>
            <li><strong>Analítica general y hormonal</strong>
                <ul>
                    <li>PRL (prolactina). > 100 sugiere prolactinoma. >20 es elevado. Responsable del 30% de las amenorreas. Mirar galactorrea y descartar que sea por fármacos.</li>
                    <li>TSH. El hipotiroidismo &#8593; PRL. Si tratamos el hipotiroidismo corregimos la PRL.</li>
                    <li>FSH y LH:
                        <ul>
                            <li>Si &#8593; indican hipogonadismo.</li>
                            <li>Menopausia: FSH 500-1000, LH 70-120</li>
                            <li>LH/FSH > 2 sugiere ovario poliquístico.</li>
                            <li>Mujer < 30 años con insuficiencia ovárica (FSH >40 y stradiol < 25) está indicado estudio cromosómico.</30></li>
                        </ul> 

                    </li>
                </ul>
            </li>
            <li><strong>Test de la progesterona.</strong> Se hace ante niveles bajos de gonadotropinas. Se dan 300 mg de progesterona (o 10 mg de acetato de medroxiprogesterona) durante 5-10 días. Puede ocurrir:
                <ul>
                    <li>Hay sangrado. Diagnóstico de anovulación. Suele deberse a stress, ejercicio, adelgazamiento. No seguir estudio.</li>
                    <li>No hay sangrado. 
                        <ul>
                            <li>Síndrome del ovario poliquístico. Los altos niveles de estrógenos hacen que no haya repuesta a la progesterona.</li>
                            <li>Deficiencia suprarenal. Altos niveles de progesterona. No respuesta a deprivación.</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><strong>Test de los estrógenos. </strong>En caso de respuesta negativa al test de la progesterona. Se dan 2 mg de estradiol / 24 h / 21 días asociado a 10 mg de acetato de medroxiprogesterona los últimos 5 días (ACO que tengan al menso 30-35 mcg de etinilestradiol).
                <ul>
                    <li>Sangrado. Faltan estrógenos. Como se asocia a &#8595; de gonadotropinas &#8594; estudio de imagen hipotálamo hipófisis.</li>
                    <li>No sangrado. Estudio de permeabilidad del canal. Legrado biopsia de endometrio.</li>
                </ul>
            </li>
            <li><strong>TC o RM silla turca</strong></li>
        </ol>
    </div>
    <p><strong>TRATAMIENTO:</strong></p>
    <div>
        <ul>
            <li>Todas se tratan con ACO ( o progesterona sola 10 días al mes si sequiere embarazo</li>
            <li>Las oligomenorreas no son contraindicación para ACO</li>
        </ul>
    </div>
    <div class="row align-items-center vertical-align-center text-center my-3 ">
        <h3 class="text-center " id="dismenorrea">DISMENORREA</h3>
        <hr>    
    </div>
    <div class="row">
        <p><strong>PRIMARIA</strong></p>
        <div>
            <ul>
                <li>Frecuente desde la menarquia hasta que pasa 1 año</li>
                <li>Dura 1-3 días y tiene buena respuesta a los AINES</li>
            </ul>
        </div>
        <p><strong>SECUNDARIA</strong></p>
        <div>
            <ul>
                <li>Aparece en cualquier momento de la vida</li>
                <li>La esad y multiparidad son factores de riesgo</li>
                <li>Suelen deberse a endometriosis o quistes ováricos</li>
                <li>Clínicamente: masa pélvica, leucorrea o dolor que no se limita al periodo menstrual</li>
            </ul>
        </div>
        <p><strong>TRATAMIENTO</strong></p>
        <div>
            <ul>
                <li>AINES. Esperar hasta 6 meses para valorar respuesta.</li>
                <li>ACHO. Alargan ciclos. No han demostrado utilidad. Probarlos.</li>
                <li>Calor local y vitaminas.</li>
            </ul>
        </div>
    </div>
    
    

{% endblock %}