{% extends "nefrologia/baseNefrologia.html" %}

{% block titulo %} IRC {% endblock %}
{% load static %}

{% block cabecera %} INSUFICIENCIA RENAL CRÓNICA {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/urologia.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}
<div class="row mt-4 justify-content-between">
    
    <div class="col-md-5">
        <p id="inicio"><strong>Índice</strong> </p>
        <ul>
            <li><a href="#definicion" class="text-success" style="text-decoration:none ;" > Definición IRC</a></li>
            <li><a href="#progresion" class="text-success" style="text-decoration:none ;"> Definición de progresión de IRC</a></li>
            <li><a href="#pronostico" class="text-success" style="text-decoration:none ;"> Estadiaje y pronóstico</a></li>
            <li><a href="#riesgo" class="text-success" style="text-decoration:none ;"> Factores de riesgo</a></li>
            <li><a href="#derivacion" class="text-success" style="text-decoration:none ;"> Criterios de derivación a nefrología</a></li>            
        </ul>
        
    </div>
    <div class="col-md-5">
        <p><strong>Documentos</strong> </p>
        <ul>
            <li><a href="{% url 'consensoIRC' %} "class="text-success" style="text-decoration:none ;" > Documento de consenso IRC 2021</a></li>
            <li><a href="https://www.nefrologiaaldia.org/es-articulo-ajuste-farmacos-enfermedad-renal-cronica-325" class="text-success" target="_blank" style="text-decoration:none ;"> Ajuste de fármacos en la ERC (web SEN)</a></li>
                        
        </ul>
        
    </div>
</div>    

<div class="row align-items-center vertical-align-center text-center py-3 border justify-content-between my-5" style="background-color:#E2F6F6 ;">
    <div class="col-md-11">
        <h5 class="text-center pt-2" id="definicion">DEFINICIÓN ENFERMEDAD RENAL CRÓNICA (ERC)</h5>
    </div>
    <div class="col-md-1">
        <a href="#inicio" class="text-danger", style="text-decoration:none ;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
            </svg>        
        </a>
    </div>       
</div>

<div class="row justify-content-center">            
    
    <div class="col-md-7 px-4 mb-5">
        <h6 class="text-center">Criterios diagnósticos de ERC (cualquiera de los siguientes si persiste durante más de 3 meses)</h6>
        <table class="table table-striped mx-2 border">            
            <tr>
                <th colspan="3" class="border border-dark">Descenso del FG FG < 60 mL/min/1,73 m2</th>                                                
            </tr>
            <tr>
                <td class="border border-dark">
                    <strong>Marcadores de lesión o daño renal:</strong> 
                    <ul>
                        <li>Albuminuria: cociente albúmina/creatinina en una muestra de orina al azar > 30 mg/g</li>
                        <li>Proteinuria: cociente proteína/creatinina en una muestra de orina al azar > 150 mg/g</li>
                        <li>Alteraciones en el sedimento urinario</li>
                        
                    </ul>
                </td>                
            </tr>
            
        </table>
    </div>
</div>

<div class="row justify-content-center">            

    <div class="col-md-12 px-4 mb-5">
        <h6 class="text-center">Categorías de albuminuria/proteinuria</h6>
        <table class="table table-striped mx-2 border">            
            <tr>
                <th class="border border-dark"></th>
                <th class="border border-dark">A1 (normal a incremento leve)</th>
                <th class="border border-dark">A2 (Incremento moderado)</th>
                <th class="border border-dark">A3 (Incremento grave)</th>                                                
            </tr>
            <tr>
                <td class="border border-dark">Cociente albúmina/creatinina</td>
                <td class="border border-dark">< 30</td>
                <td class="border border-dark">30-300</td>
                <td class="border border-dark">>300</td>                
            </tr>
            <tr>
                <td class="border border-dark">Cociente proteina/creatinina</td>
                <td class="border border-dark">< 150</td>
                <td class="border border-dark">150-500</td>
                <td class="border border-dark">>500</td>                
            </tr>
            <tr>
                <td class="border border-dark">Tira reactiva</td>
                <td class="border border-dark">Negativa a indicios</td>
                <td class="border border-dark">Indicios a 1+</td>
                <td class="border border-dark">&ge;1+</td>                
            </tr>
            
        </table>
    </div>
</div>
<div class="row align-items-center vertical-align-center text-center py-3 border justify-content-between" style="background-color:#E2F6F6 ;">
    <div class="col-md-11">
        <h5 class="text-center pt-2" id="progresion">DEFINICIÓN DE PROGRESIÓN DE ERC</h5>
    </div>
    <div class="col-md-1">
        <a href="#inicio" class="text-danger", style="text-decoration:none ;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
            </svg>        
        </a>
    </div>       
</div>

<div class="row mt-5">
    <p>Se <strong>define la progresión</strong> en base a la presencia de cualquiera de los siguientes puntos:</p>
    <div>
        <ul>
            <li>Descenso confirmado en el FG:
                <ul>
                    <li>Descenso confirmado del FG > 5 año o > 10 en cinco años.</li>
                    <li>Descartar factores funcionales</li>
                    <li>Progresión acelerada: disminución de más del 25% del FG o un descenso sostenido ≥ 15 en un año</li>
                    
                </ul>
            </li>
            <li>Incremento de más del 50% en el cociente albumina/creatinina respecto a la situación basal.</li>
            <li>Progresión a una categoría superior o más grave de deterioro en la función renal o de albuminuria.</li>
            
        </ul>
    </div>
    <p>Se deben <strong>tener en cuenta</strong> 2 apectos:</p>
    <div>
        <ul>
            <li>Repetir el FG a los 90 días para descartar deterioro renal agudo funcional. Si la situación clínica lo indica volver a repetir a las 2 semanas.</li>
            <li>Descartar causas de deterioro agudo (diarrea, vómitos, depleción por diuréticos, AINES, IECAS, iSGLT2)</li>
        </ul>
    </div>
</div>
<div class="row align-items-center vertical-align-center text-center py-3 my-5 border justify-content-between" style="background-color:#E2F6F6 ;">
    <div class="col-md-11">
        <h5 class="text-center pt-2" id="pronostico" >ESTADIAJE Y PRONÓSTICO ERC</h5>
    </div>
    <div class="col-md-1">
        <a href="#inicio" class="text-danger", style="text-decoration:none ;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
            </svg>        
        </a>    
    </div>      
</div>
<div class="row justify-content-center">            

    <div class="col-md-10 px-4 mb-5">
        <img src="{% static 'img/pronosticoERC.png' %}" class="card-img-top" alt="...">
    </div>
</div>

<div class="row align-items-center vertical-align-center text-center py-3 my-5 border justify-content-between" style="background-color:#E2F6F6 ;">
    <div class="col-md-11">
        <h5 class="text-center pt-2" id="riesgo" >FACTORES DE RIESGO DE LA ERC</h5>
    </div>
    <div class="col-md-1">
        <a href="#inicio" class="text-danger", style="text-decoration:none ;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
            </svg>        
        </a>    
    </div>      
</div>
<div class="row justify-content-center">            

    <div class="col-md-3 mb-5">
        <h6 class="text-center">Factores de susceptibilidad</h6>
        <table class="table table-striped mx-2 border">            
            <tr><td class="border border-dark">Edad avanzada</td></tr>
            <tr><td class="border border-dark">Historia familiar de ERC</td></tr>    
            <tr><td class="border border-dark">Masa renal disminuida</td></tr>    
            <tr><td class="border border-dark">Bajo peso al nacer</td></tr>    
            <tr><td class="border border-dark">Raza negra y otras minorías étnicas</td></tr>
            <tr><td class="border border-dark">Hipertensión arterial</td></tr>
            <tr><td class="border border-dark">Diabetes</td></tr>
            <tr><td class="border border-dark">Obesidad</td></tr>
            <tr><td class="border border-dark">Nivel socioeconómico bajo</td></tr>           
        </table>
    </div>
    <div class="col-md-3 mb-5">
        <h6 class="text-center">Factores iniciadores</h6>
        <table class="table table-striped mx-2 border">            
            <tr><td class="border border-dark">Insuficiencia renal aguda</td></tr>
            <tr><td class="border border-dark">Enfermedades autoinmunes</td></tr>    
            <tr><td class="border border-dark">Infecciones (incluyendo VHB, VHC, VIH, SARS-CoV-2)</td></tr>    
            <tr><td class="border border-dark">Infecciones urinarias</td></tr>    
            <tr><td class="border border-dark">Litiasis renal</td></tr>
            <tr><td class="border border-dark">Obstrucción de las vías urinarias bajas</td></tr>
            <tr><td class="border border-dark">Nefrotóxicos (AINEs, antirretrovirales)</td></tr>
            <tr><td class="border border-dark">Hipertensión arterial</td></tr>
            <tr><td class="border border-dark">Diabetes</td></tr>           
        </table>
        
    </div>
    <div class="col-md-3 mb-5">
        <h6 class="text-center">Factores de progresión</h6>
        <table class="table table-striped mx-2 border">            
            <tr><td class="border border-dark">Proteinuria persistente</td></tr>
            <tr><td class="border border-dark">Hipertensión arterial mal controlada</td></tr>    
            <tr><td class="border border-dark">Diabetes mellitus mal controlada</td></tr>    
            <tr><td class="border border-dark">Enfermedad CV + tabaquismo</td></tr>    
            <tr><td class="border border-dark">Obesidad</td></tr>
            <tr><td class="border border-dark">Dislipemia</td></tr>
            <tr><td class="border border-dark">Raza negra o asiática</td></tr>
            <tr><td class="border border-dark">Tratamiento crónico con AINEs</td></tr>
            <tr><td class="border border-dark">Obstrucción del tracto urinario</td></tr>
            <tr><td class="border border-dark">Acidosis metabólica</td></tr>
            <tr><td class="border border-dark">FRA y nefrotoxicidad</td></tr>
            <tr><td class="border border-dark">Ingresos por I Cardíaca</td></tr>           
        </table>
        
    </div>
    <div class="col-md-3 mb-5">
        
            <h6 class="text-center">Factores de estadío final</h6>
            <table class="table table-striped mx-2 border">            
                <tr><td class="border border-dark">Dosis baja de diálisis</td></tr>
                <tr><td class="border border-dark">Acceso vascular temporal para diálisis</td></tr>    
                <tr><td class="border border-dark">Anemia</td></tr>    
                <tr><td class="border border-dark">Hipoalbuminemia</td></tr>    
                <tr><td class="border border-dark">Derivación tardía a nefrología</td></tr>
                <tr><td class="border border-dark">Calcificación vascular</td></tr>
                        
            </table>
    </div>
</div>

<div class="row align-items-center vertical-align-center text-center py-3 my-5 border justify-content-between" style="background-color:#E2F6F6 ;">
    <div class="col-md-11">
        <h5 class="text-center pt-2" id="derivacion" >CRITERIOS DE DERIVACIÓN A NEFROLOGIA</h5>
    </div>
    <div class="col-md-1">
        <a href="#inicio" class="text-danger", style="text-decoration:none ;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
            </svg>        
        </a>    
    </div>      
</div>
<div class="row justify-content-center">
    <div class="col-md-10 px-4 mb-5">
        <img src="{% static 'img/derivacionNefrologia1.png' %}" class="card-img-top" alt="...">
    </div>            

    <div class="col-md-10 px-4 mb-5">
        <img src="{% static 'img/derivacionNefrologia.png' %}" class="card-img-top" alt="...">
    </div>
</div>

<div class="row my-3 border bg-light">    
    <h6 class="my-2">Pacientes candidatos a Terapia Sustitutiva Renal (TSR):</h6>    
</div>
<div class="row">
    <div>
        <ul>
            <li>Mayores de 80 años con un FG < 20</li>
            <li>Entre 70-80 años con un FG < 30</li>
            <li>En < 70 años con un FG < 45 especialmente si se acompaña de albuminuria</li>
        </ul>
    </div>
</div>
<div class="row my-3 border bg-light">    
    <h6 class="my-2">Anemia renal</h6>    
</div>
<p>Hb < 10,0 g/dL con ERC a pesar de corregir ferropenia:</p>
<div>
    <ul>
        <li>Indice de saturación de transferrina  > 20% </li>
        <li>Ferritina > 100 ng/mL</li>        
    </ul>
</div>



{% endblock %}