{% extends "neumologia/baseNeumologia.html" %}

{% block titulo %} neumologia {% endblock %}
{% load static %}

{% block cabecera %} NEUMOLOGÍA {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/neumologia.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<div class="row mt-4">
    <div class="col-md-3"> 
        <br>       
        <ul>
            <li><a href="{% url 'acuerdoNeumologia' %} "class="text-success", style="text-decoration:none ;" >Acuerdo neumología</a></li>
            
            
        </ul>
        
    </div>
</div>


{% endblock %}