{% extends "baseEspecialidades.html" %}

{% block titulo %} urologia {% endblock %}

{% block cabecera %} Urología {% endblock %}
{% load static %}

{% block imgCabecera %}<img src="{% static 'img/urologia.jpg' %}" class="img-fluid" alt="..." >  {% endblock %}


{% block contenido %}

<div class="row mt-4">
    <div class="col-md-5">
        <p><strong>Documentos</strong> </p>
        <ul>
            <li><a href="{% url 'acuerdoUrologia' %} "class="text-success", style="text-decoration:none ;" >Acuerdo urología</a></li>
            <li><a href="{% url 'recomendacionesITU' %} "class="text-success", style="text-decoration:none ;" >Recomendaciones ITU</a></li>
            <li><a href="{% url 'recomendacionesUrolitiasis' %} "class="text-success", style="text-decoration:none ;" >Recomendaciones urolitiasis</a></li>
            
        </ul>
        
    </div>
</div>


{% endblock %}