{% extends "baseCentroSalud.html" %}
{% load static %}
{% block titulo %} objetivos {% endblock %}
{% block cabecera %} Objetivos individuales 2022 {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/objetivos.jpg' %}" alt="" class="img-fluid">  {% endblock %}

{% block contenido %}
<div class="row mt-4">
    <div class="col-md-3">
        <p><strong>Documentos</strong> </p>
        <ul>
            <li><a href="{% url 'objetivos2022' %} "class="text-success", style="text-decoration:none ;" >Objetivos individuales 2022</a></li>
        </ul>
        
    </div>

</div>

<div class="row mt-4 justify-content-center">   
    <table class="table table-striped mx-2 border">
        
        <tr class="table-success ">
            <th class="border border-dark">Número</th>
            <th class="border border-dark">Objetivo</th>
            <th class="border border-dark">Descripción</th>
            <th class="border border-dark">Valor óptimo</th>
            <th class="border border-dark">Ponderación</th>
            
            
                            
        </tr>
        <tr>
            <th class="border border-dark" rowspan="10">1</th>                
            <td class="border border-dark" rowspan="10">Farmacia (55)</td>
            <td class="border border-dark">PVP/TAFE. No superar el presupuesto asignado en farmacia</td>
            <td class="border border-dark">232,4</td>
            <td class="border border-dark">8</td>
                                         
        </tr>
        <tr>
            <td class="border border-dark">Principio activo.</td>
            <td class="border border-dark">Mínimo 92%. Óptimo 94%.</td>
            <td class="border border-dark">4</td>
                                         
        </tr>
        <tr>
            <td class="border border-dark">Biosimilares</td>
            <td class="border border-dark">Mínimo 40%. Óptimo 60%.</td>
            <td class="border border-dark">6</td>
                                         
        </tr>
        <tr>
            <td class="border border-dark">Revisión polimedicados. Revisar a los que tengan más de 10 fármacos y dejarle menos de 10. <span class="text-danger">Tengo 43. Quitar 6</span></td>
            <td class="border border-dark">Mínimo 7%. Óptimo 12%</td>
            <td class="border border-dark">6</td>
                                         
        </tr>
        <tr>
            <td class="border border-dark">Revisión de crónicos. Más de 80 años con insulina y un segretagogo o 2 ADOs no segretagogos</td>
            <td class="border border-dark">Mínimo 90%. Óptimo 100%</td>
            <td class="border border-dark">6</td>
                                         
        </tr>
        <tr>
            <td class="border border-dark">Revisión opioides. Registro valoración de riesgo en diraya para los no oncológicos en tto con opioides mayores o menores</td>
            <td class="border border-dark">Mínimo 10%. Óptimo 15%</td>
            <td class="border border-dark">2</td>
                                         
        </tr>
        <tr>
            <td class="border border-dark">Disminución presión antibiótica normal.</td>
            <td class="border border-dark">Mínimo 1,75. Óptimo 1</td>
            <td class="border border-dark">8</td>
                                         
        </tr>
        <tr>
            <td class="border border-dark">Aumentar prescripción de amoxicilina y disminuir la de amoxicilina/clavulánico</td>
            <td class="border border-dark">Mínimo 50%. Óptimo 55%</td>
            <td class="border border-dark">5</td>
                                         
        </tr>
        <tr>
            <td class="border border-dark">Disminuir la prescripción de quinolonas con respecto a 2021</td>
            <td class="border border-dark">Mínimo 0,9%. Óptimo 0,8%</td>
            <td class="border border-dark">5</td>
                                         
        </tr>
        <tr>
            <td class="border border-dark" style="background-color:coral">Disminuir la prescripción de cefditoreno con respecto a 2021</td>
            <td class="border border-dark" style="background-color:coral">Mínimo 0,9%. Óptimo 0,8%</td>
            <td class="border border-dark" style="background-color:coral">5</td>
                                         
        </tr>
        <tr>
            <th class="border border-dark">2</th>                
            <td class="border border-dark">Avisos</td>
            <td class="border border-dark">Aumentar el número de visitas domiciliarias</td>
            <td class="border border-dark">Mínimo 1 visita/día. Óptimo 2 visitas / día</td>
            <td class="border border-dark">5</td>
                                         
        </tr>
        <tr style="background-color:coral">
            <th class="border border-dark">3</th>                
            <td class="border border-dark">Teleconsulta</td>
            <td class="border border-dark">Aumentar el uso de la teleconsulta</td>
            <td class="border border-dark">Mínimo 25%. Óptimo 35%</td>
            <td class="border border-dark">5</td>
                                         
        </tr>
        <tr style="background-color:coral">
            <th class="border border-dark">4</th>                
            <td class="border border-dark">Valoración riesgo CV</td>
            <td class="border border-dark">Escala REGICOR a hipertensos sin enfermedad vascular conocida</td>
            <td class="border border-dark">Mínimo 60%. Óptimo 75%</td>
            <td class="border border-dark">8</td>
                                         
        </tr>
        <tr>
            <th class="border border-dark" rowspan="3">5</th>                
            <td class="border border-dark" rowspan="3">Proceso diabetes</td>
            <td class="border border-dark">% diabéticos >14 años y &#8804; 75 con HBA1c < 7</td>
            <td class="border border-dark" rowspan="2">Mínimo 45%. Óptimo 55%</td>
            <td class="border border-dark" rowspan="2">10</td>
                                         
        </tr>
        <tr>
            <td class="border border-dark">% diabéticos > 75 con HBA1c < 8,5</td>
            
                                         
        </tr>
        <tr>           
            <td class="border border-dark">% diabéticos con fondo de ojo o retinografía en los 2 últimos años < 7</td>
            <td class="border border-dark" >Mínimo 35%. Óptimo 45%</td>
            <td class="border border-dark" >7</td>
                                         
        </tr>
        <tr style="background-color:coral">
            <th class="border border-dark" >6</th>                
            <td class="border border-dark" >Pluripatológicos</td>
            <td class="border border-dark">PAP a pacientes con IC o EPOC</td>
            <td class="border border-dark" >Mínimo 15%. Óptimo 22%</td>
            <td class="border border-dark" >5</td>
                                         
        </tr>
        <tr style="background-color:coral">
            <th class="border border-dark" >7</th>                
            <td class="border border-dark" >EPOC</td>
            <td class="border border-dark">Intervención antitabaco a > 40 años y fumadores</td>
            <td class="border border-dark" >Mínimo 15%. Óptimo 30%</td>
            <td class="border border-dark" >5</td>
                                         
        </tr>
    </table>
</div>




{% endblock %}