{% extends "baseCentroSalud.html" %}
{% load static %}
{% block titulo %} estudio contactos ITS {% endblock %}
{% block cabecera %}Estudio de contactos VIH y otras ITS{% endblock %}
{% block imgCabecera %} <img src="{% static 'img/vacuna.webp' %}" alt="" class="img-fluid">  {% endblock %}

{% block contenido %}

<!-- <embed id='pdf' src="doc/anexo1.pdf"></embed> -->
<embed class="mt-5" src="{% static 'doc/aerosolterapiaDiciembre2022.pdf' %}" type="application/pdf" width="100%" height="600px" />


{% endblock %}