{% extends "baseCentroSalud.html" %}
{% load static %}
{% block titulo %} documentos imprimir {% endblock %}
{% block cabecera %}Listado de documentos{% endblock %}
{% block imgCabecera %} <img src="{% static 'img/impresora4.png' %}" alt="" class="img-fluid">  {% endblock %}

{% block contenido %}

<div class="row mt-4">
    <div class="col-md-5">
        <p><strong>Índice</strong> </p>
        --------------------------A-----------------------
        <ul>        
            <li><a href="{% url 'peticionAmbulancia' %} "class="text-success", style="text-decoration:none ;" >Ambulancia (petición)</a></li>
            <li><a href="{% url 'transporte_sanitario' %}"class="text-success", style="text-decoration:none ;" >Ambulancia (POE Transporte Sanitario)</a></li>
        </ul>
        --------------------------B----------------------- <br>
        --------------------------C-----------------------
        <ul>
            <li><a href="{% url 'anexo1CD' %}"class="text-success", style="text-decoration:none ;" >Certificado Defunción (Anexo 1)</a></li>
            <li><a href="{% url 'POE_CertificadoDefuncion' %}"class="text-success", style="text-decoration:none ;" >Certificado de Defunción (POE)</a></li>
            <li><a href="{% url 'resumen_POE_Certificados_defuncion' %}"class="text-success", style="text-decoration:none ;" >Certificado de Defunción (Resumen POE)</a></li>
        </ul>
        --------------------------E-----------------------
        <ul>            
            <li><a href="{% static 'doc/solicitudEcografia.pdf' %}"class="text-success", style="text-decoration:none ;" >Ecografías (Acuerdo de solicitud)</a></li>
        </ul>
        --------------------------I-----------------------            
        <ul>
            <li><a href="{% url 'implanon' %}"class="text-success", style="text-decoration:none ;" >Implanon (POE)</a></li>
            <li><a href="{% url 'unidadesEspecializadasIT' %}"class="text-success", style="text-decoration:none ;" >IT (Unidades especializadas) </a></li>
        </ul>
        --------------------------O-----------------------
        <ul>
            <li><a href="{% url 'solicitudOxigenoterapia' %}"class="text-success", style="text-decoration:none ;" >Oxigenoterapia (solicitud)</a></li>
            <li><a href="{% url 'manual_oximesa' %}"class="text-success", style="text-decoration:none ;" >Oxigenoterapia (manual oximesa)</a></li>
        </ul>
        --------------------------P-----------------------
        <ul>
            <li><a href="{% url 'proteccion_datos' %}"class="text-success", style="text-decoration:none ;" >Protección de datos (Guía)</a></li>            
        </ul>

        --------------------------T-----------------------
        <ul>
            <li><a href="{% url 'tabaco' %}"class="text-success", style="text-decoration:none ;" >Tabaco deshabituación</a></li>            
        </ul>
        --------------------------V-----------------------
        <ul>
            <li><a href="{% url 'viruela_mono' %}"class="text-success", style="text-decoration:none ;" >Viruela del mono</a></li>
            <li><a href="{% static 'doc/lesiones_cutaneas_viruela_mono.pdf' %}"class="text-success", style="text-decoration:none ;" >Viruela del mono (lesiones cutáneas)</a></li>
        </ul>
        
    </div>
</div>



{% endblock %}