{% extends "baseCentroSalud.html" %}
{% load static %}
{% block titulo %} tabaco {% endblock %}
{% block cabecera %} Tabaco {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/cajetillaTabaco.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<div class="row justify-content-center">
   
    <div class="col-md-6 border mt-5">
       <div class="row px-2 mb-3 border" style="background-color: rgb(3, 88, 30); color:white">DOCUMENTOS DESHABITUACIÓN TABÁQUICA</div> 
        <ul >
            <li><a href="{% url 'tabaco' %}" style="text-decoration:none ;" target="_blank">Protocolo deshabituación tabáquica</a></li>
            <li><a href="{% url 'cistisina' %}" style="text-decoration:none ;" target="_blank">Protocolo cistisina</a></li>
            
            
        </ul>
    </div>
</div>    




{% endblock %}