{% extends "baseCentroSalud.html" %}
{% load static %}
{% block titulo %} centro salud {% endblock %}
{% block cabecera %} Centro de Salud {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/sanse.png' %}" alt="" class="img-fluid">  {% endblock %}

{% block contenido %}

<embed class="mt-5" src="{% static 'doc/planillas/abril_2023.pdf' %}" type="application/pdf" width="100%" height="600px" />


<div class="row py-4 justify-content-start border-top border-bottom mt-5">
      
    <div class="col-md-3"><strong>AMBULANCIA :</strong> </div>
    <div class="col-md-2"><a href="{% static 'doc//POES/POE_trasporte_sanitario.pdf' %} "class="text-success", style="text-decoration:none ;" >POE transporte sanitario</a></div>
    <div class="col-md-2"><a href="{% url 'peticionAmbulancia' %} "class="text-success", style="text-decoration:none ;" >Petición ambulancia</a></div>
    
    <div class="col-md-2"></div>          
</div>

<div class="row py-4 justify-content-start border-top border-bottom" style="background-color: #EAFAF1 ;">
      
    <div class="col-md-3"><strong>DEFUNCIÓN :</strong> </div>
    <div class="col-md-3"><a href="{% static 'doc/POES/POE_CertificadoDefuncion.pdf' %} "class="text-success", style="text-decoration:none ;" >POE Certificado de defunción</a></div>
    <div class="col-md-3"><a href="{% static 'doc/resumen_POE_Certificados_defuncion.pdf' %} "class="text-success", style="text-decoration:none ;" >Resumen POE Certificado de defunción</a></div>    
    <div class="col-md-3"><a href="{% url 'anexo1CD' %}"class="text-success", style="text-decoration:none ;" >Anexo 1. Constatación de muerte</a></div>          
</div>

<div class="row py-4 justify-content-start border-top border-bottom">
      
    <div class="col-md-3"><strong>DESBUROCRATIZACIÓN :</strong> </div>
    <div class="col-md-3"><a href="{% url 'desburocratizacion' %}"class="text-success", style="text-decoration:none ;" >Desburocratización</a></div>
    
</div>

<div class="row py-4 justify-content-start border-top border-bottom" style="background-color: #EAFAF1 ;">
      
    <div class="col-md-3"><strong>INCAPACIDAD TEMPORAL :</strong> </div>
    <div class="col-md-3"><a href="{% url 'IT' %}"class="text-success", style="text-decoration:none ;" >Unidades especializadas IT</a></div>
    <div class="col-md-3"><a href="{% url 'manualIT' %}"class="text-success", style="text-decoration:none ;" >Manual IT para AP</a></div>    
    <div class="col-md-3"></div>          
</div>

<div class="row py-4 justify-content-start border-top border-bottom">
      
    <div class="col-md-3"><strong>OXIGENOTERAPIA (Oximesa):</strong> </div>
    <div class="col-md-3"><a href="{% url 'manual_oximesa' %}"class="text-success", style="text-decoration:none ;" >Manual oximesa</a></div>
    <div class="col-md-3"><a href="{% url 'solicitudOxigenoterapia' %}"class="text-success", style="text-decoration:none ;" >Solicitud oxigenoterapia</a></div>    
    <div class="col-md-3"></div>          
</div>

<div class="row py-4 justify-content-start border-top border-bottom" style="background-color: #EAFAF1 ;">
      
    <div class="col-md-3"><strong>PREVENTIVA: </strong> </div>
    <div class="col-md-3"><a href="{% url 'estudio_contactos_ITS' %}"class="text-success", style="text-decoration:none ;" >Estudio de contactos ITS</a></div>
    
    <div class="col-md-3"><a href="{% url 'aerosolterapiaDiciembre2022' %}"class="text-success", style="text-decoration:none ;" >Indicaciones de Aerosolterapia diciembre 2022</a></div>          
</div>

<div class="row py-4 justify-content-start border-top border-bottom">
      
    <div class="col-md-3"><strong>PROTECCIÓN DE DATOS: </strong> </div>
    <div class="col-md-3"><a href="{% url 'proteccion_datos' %}"class="text-success", style="text-decoration:none ;" >Guía de protección de datos</a></div>
    
    <div class="col-md-3"></div>          
</div>

<div class="row py-4 justify-content-start border-top border-bottom" style="background-color: #EAFAF1 ;">
      
    <div class="col-md-3"><strong>VIRUELA DEL MONO: </strong> </div>
    <div class="col-md-3"><a href="{% url 'viruela_mono' %}"class="text-success", style="text-decoration:none ;" >Viruela del mono</a></div>
    
    <div class="col-md-3"><a href="{% url 'lesiones_cutaneas_vm' %}"class="text-success", style="text-decoration:none ;" >Lesiones cutáneas viruela del mono</a></div>          
</div>
<div class="row py-4 justify-content-start border-top border-bottom">
      
    <div class="col-md-3"><strong>ESTREPTOCOCO B-HEMOLÍTICO: </strong> </div>
    <div class="col-md-6"><a href="{% url 'estreptococo' %}"class="text-success", style="text-decoration:none ;" >Protocolo utilización test rápido estreptococo b hemolítico</a></div>
    
             
</div>
<div class="row py-4 justify-content-start border-top border-bottom" style="background-color: #EAFAF1 ;">
      
    <div class="col-md-3"><strong>CISTISINA (TODACITAN): </strong> </div>
    <div class="col-md-3"><a href="{% url 'cistisina' %}"class="text-success", style="text-decoration:none ;" >Condiciones de financiación de CISTISINA</a></div>
    
    
</div>
<div class="row py-4 justify-content-start border-top border-bottom">
      
    <div class="col-md-3"><strong>PREVENCIÓN RIESGOS LABORALES: </strong> </div>
    <div class="col-md-6"><a href="http://dsapcordobayguadalquivir.es/index.php/profesionales/"class="text-success" style="text-decoration:none ;" target="_blank" >Web del Distrito sobre PRL</a></div>
    
             
</div>


              










{% endblock %}