{% extends "baseCentroSalud.html" %}
{% load static %}
{% block titulo %} it {% endblock %}
{% block cabecera %}Incapacidad temporal (IT) AP{% endblock %}
{% block imgCabecera %} <img src="{% static 'img/IT.jpg' %}" alt="" class="img-fluid">  {% endblock %}

{% block contenido %}

<div class="row mt-4">
    <div class="col-md-3">
        <p><strong>Documentos</strong> </p>
        <ul>
            <li><a href="{% url 'unidadesEspecializadasIT' %} "class="text-success", style="text-decoration:none ;" >Unidades especializadas IT</a></li>
        </ul>
        
    </div>

</div>



{% endblock %}