{% extends "baseCentroSalud.html" %}
{% load static %}
{% block titulo %} telefonos {% endblock %}
{% block cabecera %}Teléfonos{% endblock %}
{% block imgCabecera %} <img src="{% static 'img/telefono.png' %}" alt="" class="img-fluid ">  {% endblock %}

{% block contenido %}

<div class="row mt-4">
    <div class="col-md-5">
        <p><strong>Índice</strong> </p>
        <ul>
            <li><a href="{% url 'telefonosDistrito' %} "class="text-success", style="text-decoration:none ;" >Distrito</a></li>
            <li><a href="#carlota" class="text-success" style="text-decoration:none ;" >La Carlota</a></li>
            <li><a href="#arrecife" class="text-success" style="text-decoration:none ;" >El Arrecife</a></li>
            <li><a href="#guijarrosa" class="text-success" style="text-decoration:none ;" >La Guijarrosa</a></li>
            <li><a href="#victoria" class="text-success" style="text-decoration:none ;" >La Victoria</a></li>
            <li><a href="#ballesteros" class="text-success" style="text-decoration:none ;" >San Sebastian de los Ballesteros</a></li>
                        
        </ul>
        
    </div>
</div>
<hr>

<div class="row mt-4 justify-content-center">            
    <div class="col-md-7 px-4 mt-4">
        <h3 class="text-center" id="carlota">LA CARLOTA</h3>
            <table class="table table-striped mx-2 border">
                
                <tr class="table-success ">
                    <th class="border border-dark">Usuario</th>
                    <th class="border border-dark">Corporativo</th>
                    <th class="border border-dark">Largo</th>                          
                </tr>
                <tr>
                    <th class="border border-dark">Información</th>                
                    <td class="border border-dark">581573</td>
                    <td class="border border-dark">957307573</td>                
                </tr>
                <tr>
                    <th class="border border-dark">UAC 1</th>                
                    <td class="border border-dark">581579</td>
                    <td class="border border-dark">957307579</td>                
                </tr>
                <tr>
                    <th class="border border-dark">UAC 2</th>                
                    <td class="border border-dark">521500</td>
                    <td class="border border-dark">957021500</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Jefa de Grupo</th>                
                    <td class="border border-dark">521501</td>
                    <td class="border border-dark">957021501</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Administración</th>                
                    <td class="border border-dark">521502</td>
                    <td class="border border-dark">957021502</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Tocólogo</th>                
                    <td class="border border-dark">521507</td>
                    <td class="border border-dark">957021507</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta médica 1</th>                
                    <td class="border border-dark">521508</td>
                    <td class="border border-dark">957021508</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta médica 2</th>                
                    <td class="border border-dark">521509</td>
                    <td class="border border-dark">957021509</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta médica 3</th>                
                    <td class="border border-dark">521510</td>
                    <td class="border border-dark">957021510</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta médica 4</th>                
                    <td class="border border-dark">521511</td>
                    <td class="border border-dark">957021511</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta médica 5</th>                
                    <td class="border border-dark">521512</td>
                    <td class="border border-dark">957021512</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta médica 6</th>                
                    <td class="border border-dark">521513</td>
                    <td class="border border-dark">957021513</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta médica 7</th>                
                    <td class="border border-dark">521517</td>
                    <td class="border border-dark">957021517</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta enfermería 1</th>                
                    <td class="border border-dark">521519</td>
                    <td class="border border-dark">957021519</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta enfermería 2</th>                
                    <td class="border border-dark">521520</td>
                    <td class="border border-dark">957021520</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta enfermería 3</th>                
                    <td class="border border-dark">521521</td>
                    <td class="border border-dark">957021521</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta pediatria 1</th>                
                    <td class="border border-dark">521522</td>
                    <td class="border border-dark">957021522</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Consulta pediatria 2</th>                
                    <td class="border border-dark">521523</td>
                    <td class="border border-dark">957021523</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Trabajadora Social</th>                
                    <td class="border border-dark">521526</td>
                    <td class="border border-dark">957021526</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Vacunas</th>                
                    <td class="border border-dark">521527</td>
                    <td class="border border-dark">957021527</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Extracciones</th>                
                    <td class="border border-dark">521528</td>
                    <td class="border border-dark">957021528</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Odontología</th>                
                    <td class="border border-dark">521529</td>
                    <td class="border border-dark">957021529</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Servicios Comunes</th>                
                    <td class="border border-dark">521530</td>
                    <td class="border border-dark">957021530</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Fisioterapeuta</th>                
                    <td class="border border-dark">521531</td>
                    <td class="border border-dark">957021531</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Rayos X</th>                
                    <td class="border border-dark">521533</td>
                    <td class="border border-dark">957021533</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Estar Urgencias</th>                
                    <td class="border border-dark">521540</td>
                    <td class="border border-dark">957021540</td>                
                </tr>
                <tr>
                    <th class="border border-dark">UAC Urgencias</th>                
                    <td class="border border-dark">521545</td>
                    <td class="border border-dark">957021545</td>                
                </tr>
                <tr>
                    <th class="border border-dark">UAC Urgencias 1</th>                
                    <td class="border border-dark">521546</td>
                    <td class="border border-dark">957021546</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Críticos</th>                
                    <td class="border border-dark">521547</td>
                    <td class="border border-dark">957021547</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Dormitorio 1</th>                
                    <td class="border border-dark">521557</td>
                    <td class="border border-dark">957021557</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Dormitorio 2</th>                
                    <td class="border border-dark">521564</td>
                    <td class="border border-dark">957021564</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Dormitorio 3</th>                
                    <td class="border border-dark">521567</td>
                    <td class="border border-dark">957021567</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Dormitorio 4</th>                
                    <td class="border border-dark">521568</td>
                    <td class="border border-dark">957021568</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Dormitorio 5</th>                
                    <td class="border border-dark">521569</td>
                    <td class="border border-dark">957021569</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Coordinador de Cuidados</th>                
                    <td class="border border-dark">521570</td>
                    <td class="border border-dark">957021570</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Director</th>                
                    <td class="border border-dark">521571</td>
                    <td class="border border-dark">957021571</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Enfermero de Enlace</th>                
                    <td class="border border-dark">521572</td>
                    <td class="border border-dark">957021572</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Salud Pública 1</th>                
                    <td class="border border-dark">521573</td>
                    <td class="border border-dark">957021573</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Salud Pública 2</th>                
                    <td class="border border-dark">521574</td>
                    <td class="border border-dark">957021574</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Sala de Formación</th>                
                    <td class="border border-dark">521575</td>
                    <td class="border border-dark">957021575</td>                
                </tr>
            </table>
        </div>
    <div class="col-md-7 px-4 mt-4">
    <h3 class="text-center" id="arrecife">EL ARRECIFE</h3>
        <table class="table table-striped mx-2 border">
            
            <tr class="table-success ">
                <th class="border border-dark">Usuario</th>
                <th class="border border-dark">Corporativo</th>
                <th class="border border-dark">Largo</th>                          
            </tr>
            <tr>
                <th class="border border-dark">Información</th>                
                <td class="border border-dark">581510</td>
                <td class="border border-dark">957307510</td>                
            </tr>
            <tr>
                <th class="border border-dark">Cons. médica</th>                
                <td class="border border-dark">505157</td>
                <td class="border border-dark">957005157</td>                
            </tr>
            <tr>
                <th class="border border-dark">Cons. Enfermería</th>                
                <td class="border border-dark">505158</td>
                <td class="border border-dark">957005158</td>                
            </tr>
            <tr>
                <th class="border border-dark">Sala de curas</th>                
                <td class="border border-dark">505164</td>
                <td class="border border-dark">957005164</td>                
            </tr>
        </table>
    </div>

    <div class="col-md-7 px-4 mt-4">
        <h3 class="text-center" id="guijarrosa">LA GUIJARROSA</h3>
            <table class="table table-striped mx-2 border">
                
                <tr class="table-success ">
                    <th class="border border-dark">Usuario</th>
                    <th class="border border-dark">Corporativo</th>
                    <th class="border border-dark">Largo</th>                          
                </tr>
                <tr>
                    <th class="border border-dark">Información</th>                
                    <td class="border border-dark">581619</td>
                    <td class="border border-dark">957307619</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Cons. médica</th>                
                    <td class="border border-dark">505168</td>
                    <td class="border border-dark">957005168</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Cons. Enfermería</th>                
                    <td class="border border-dark">505169</td>
                    <td class="border border-dark">957005169</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Sala de curas</th>                
                    <td class="border border-dark">505170</td>
                    <td class="border border-dark">957005170</td>                
                </tr>
            </table>
    </div>

    <div class="col-md-7 px-4 mt-4">
        <h3 class="text-center" id="victoria">LA VICTORIA</h3>
            <table class="table table-striped mx-2 border">
                
                <tr class="table-success ">
                    <th class="border border-dark">Usuario</th>
                    <th class="border border-dark">Corporativo</th>
                    <th class="border border-dark">Largo</th>                          
                </tr>
                <tr>
                    <th class="border border-dark">Información</th>                
                    <td class="border border-dark">581923</td>
                    <td class="border border-dark">957307923</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Sala de curas</th>                
                    <td class="border border-dark">505176</td>
                    <td class="border border-dark">957005176</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Cons. médica 1</th>                
                    <td class="border border-dark">505178</td>
                    <td class="border border-dark">957005178</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Cons. médica 2</th>                
                    <td class="border border-dark">505179</td>
                    <td class="border border-dark">957005179</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Cons. enfermeria</th>                
                    <td class="border border-dark">505180</td>
                    <td class="border border-dark">957005180</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Pediatria</th>                
                    <td class="border border-dark">505181</td>
                    <td class="border border-dark">957005181</td>                
                </tr>
            </table>
    </div>

    <div class="col-md-7 px-4 mt-4">
        <h3 class="text-center" id="ballesteros">SAN SEBASTIAN DE LOS BALLESTEROS</h3>
            <table class="table table-striped mx-2 border">
                
                <tr class="table-success ">
                    <th class="border border-dark">Usuario</th>
                    <th class="border border-dark">Corporativo</th>
                    <th class="border border-dark">Largo</th>                          
                </tr>
                <tr>
                    <th class="border border-dark">MÓVIL URGENCIAS</th>                
                    <td class="border border-dark"></td>
                    <td class="border border-dark">671597015</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Información</th>                
                    <td class="border border-dark">581551</td>
                    <td class="border border-dark">957307551</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Cons. médica</th>                
                    <td class="border border-dark">505183</td>
                    <td class="border border-dark">957005183</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Cons. Enfermería</th>                
                    <td class="border border-dark">505184</td>
                    <td class="border border-dark">957005184</td>                
                </tr>
                <tr>
                    <th class="border border-dark">Sala de curas</th>                
                    <td class="border border-dark">505173</td>
                    <td class="border border-dark">957005173</td>                
                </tr>
            </table>
    </div>

    
    

    
</div>

{% endblock %}