{% extends "baseCentroSalud.html" %}
{% load static %}
{% block titulo %} unidades IT {% endblock %}
{% block cabecera %} Unidades especializadas IT Locomotor Salud Mental {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/IT.jpg' %}" alt="" class="img-fluid">  {% endblock %}

{% block contenido %}

<!-- <embed id='pdf' src="doc/anexo1.pdf"></embed> -->
<embed class="mt-5" src="{% static 'doc/unidadesEspecializadasIT.pdf' %}" type="application/pdf" width="100%" height="600px" />

{% endblock %}