{% extends "baseCentroSalud.html" %}
{% load static %}
{% block titulo %} vacunas {% endblock %}
{% block cabecera %} Vacunas {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/vacuna.webp' %}" alt="" class="img-fluid">  {% endblock %}

{% block contenido %}

<div class="row mt-4">
    <h6 class=" py-3 text-center my-5 " style="background-color:#E2F6F6 ;"><a href="https://www.andavac.es/ " target="_blank" style="text-decoration:none ; color: black;">Web de vacunación de la Junta de Andalucia</a></h6>
    <div class="col-md-3">
        <p><strong>Gripe</strong> </p>
        <ul>
            <li><a href="#fechaGripe "class="text-success", style="text-decoration:none ;" >Por fechas</a></li>
            <li><a href="#grupos "class="text-success", style="text-decoration:none ;" >Por grupos de pacientes</a></li>
            <li><a href="{% url 'documentoVacunas' %} "class="text-success", style="text-decoration:none ;" >Documento técnico</a></li>
            <li><a href="https://www.andavac.es/campanas/gripe/informacion-para-profesionales/ " target="_blank" class="text-success" style="text-decoration:none ;">Junta de Andalucía</a></li>
        </ul>
        
    </div>
    
    <div class="col-md-3">
        <p><strong>COVID</strong> </p>
        <ul>
            <li><a href="#grupos "class="text-success", style="text-decoration:none ;" >Por grupos de pacientes</a></li>
            <li><a href="{% url 'anafilaxiaVacunacionCOVID' %} "class="text-success", style="text-decoration:none ;" > Anafilaxia tras vacunación por COVID</a></li>
            <li><a href="#espera "class="text-success", style="text-decoration:none ;" >Tiempo de espera tras pasar COVID</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <p><strong>Neumococo</strong> </p>
        <ul>
            <li><a href="#esquemaNeumococo "class="text-success", style="text-decoration:none ;" > Esquema vacunación por neumococo</a></li>
           
        </ul>
    </div>
    <div class="col-md-3">
        <p><strong>Otros</strong> </p>
        <ul>           
            <li><a href="{% url 'vacunaHerpesZoster' %} "class="text-success", style="text-decoration:none ;" > Herpes zóster (documento)</a></li>
            <li><a href="{% url 'vacunaHepatitisA' %} "class="text-success", style="text-decoration:none ;" > Hepatitis A (documento)</a></li>
            <li><a href="#hepatitisB "class="text-success", style="text-decoration:none ;" > Hepatitis B (esquema)</a></li>
            <li><a href="{% url 'vacunaHepatitisAB' %} "class="text-success", style="text-decoration:none ;" > Hepatitis A y B (documento)</a></li>
            <li><a href="https://www.andavac.es/vacunacion-en-grupos-de-riesgo/papilomavirus/ "class="text-success", style="text-decoration:none ;" target="_blank"> Virus papiloma en grupos de riesgo</a></li>
        </ul>
    </div>    
</div>

<hr>
<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
        
    <h5 class="text-center pt-2">CENTROS DE VACUNACIÓN INTERNACIONAL EN ANDALUCÍA</h5>
        
</div>
<div class="row p-4 justify-content-center">
    <div class="col-md-4 border">
        <div class="row bg-success text-light mb-2">
            <strong >HUELVA.</strong>
        </div>        
        <strong>Sanidad Exterior</strong>  <br> 
        C/ Sanlúcar de Barrameda, 9
        (Planta Baja)<br> 21011 - Huelva <br>
        (Se accede entre las oficinas de
        “Estihuelva”) <br>
        <strong>Teléfono:</strong> 959 75 90 50
    </div>
    <div class="col-md-4 border">
        <div class="row bg-success text-light mb-2">
            <strong >MÁLAGA.</strong>
        </div>        
        <strong>Sanidad Exterior</strong>  <br> 
        Estación Marítima
        Recinto del Puerto Muelle, 3 <br>
        Local EM/E03 <br>
        29011 – Málaga <br>
        <strong>Teléfono:</strong> 952 98 94 81 / 82
    </div>
    <div class="col-md-4 border">
        <div class="row bg-success text-light mb-2">
            <strong >SEVILLA.</strong>
        </div>        
        <strong>Sanidad Exterior</strong>  <br>         
        C/ Chaves Rey, 4 <br>
        41012. Sevilla <br>
        <strong>Teléfono:</strong> 955 56 90 08 / 9355 <br>
        <strong>Fax:</strong> 955 56 93 80 <br>
        Macarena pendiente apertura
    </div>

</div>
<div class="row p-4 justify-content-center">
    <div class="col-md-4 border">
        <div class="row bg-success text-light mb-2">
            <strong >GRANADA.</strong>
        </div>        
        <strong>Hospital Universitario Virgen de
            las Nieves</strong>  <br> 
            Servicio de Medicina Preventiva <br>
            Avda. Fuerzas Armadas, 2 <br>
            18014 – Granada <br>
            <strong>Teléfonos de cita previa:</strong>  958 02 04 78 <br>
            de lunes a viernes de 8:30 a 9:30
            y de 13:30 a 14:30 h <br>
            <strong>Atención en consulta:</strong>  de
            lunes a viernes de 8:30 a 14:00
    </div>
    <div class="col-md-4 border">
        <div class="row bg-success text-light mb-2">
            <strong >ALMERÍA.</strong>
        </div>        
        <strong>Subdelegación del Gobierno en
            Almería – Sanidad Exterior</strong>  <br> 
            C/ Hermanos Machado, 23 <br>
            04004 – Almería <br>
            <strong>Teléfonos de cita previa:</strong>  950 75 94 18 / 90 00 <br>
            <strong>Correo electrónico:</strong> citaviajero@seap.minhap.es <br>
            <strong>Teléfono de centralita:</strong>  950 75 94 16
    </div>
    <div class="col-md-4 border">
        <div class="row bg-success text-light mb-2">
            <strong >CÁDIZ.</strong>
        </div>        
        C/ Ciudad de Vigo, s/n (Recinto
        Portuario, frente al edificio de
        Aduanas) <br>
        11006 – Cádiz <br>
        <strong>Teléfono:</strong>  956 98 90 45 / 52        
        <div class="row bg-success text-light my-2">
            <strong >ALGECIRAS.</strong>
        </div>
        <strong>Sanidad Exterior</strong>  <br>
        Muelle Juan Carlos I, s/n. Edificio PIF <br>
        11201 - Algeciras <br>
        <strong>Teléfono:</strong>  956 98 90 45 / 52
    </div>

</div>


<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
        
    <h5 class="text-center pt-2">GRIPE</h5>
        
</div>

<h3 id="fechaGripe">Vacunación por fechas</h3>

<div class="row p-4 justify-content-center">
    <div class="col-md-6 mt-4" >
        <figure>
            <img src="{% static 'img/calendarioVacunas.png' %}" class="card-img-top" alt="...">          
        
        </figure>        
    </div> 
</div>
<h3 id="grupos">Vacunación por grupos de pacientes</h3>

<div class="row mt-4 justify-content-center">   
    <table class="table table-striped mx-2 border">
        
        <tr class="table-success ">
            <th class="border border-dark text-center" >GRUPO</th>
            <th class="border border-dark text-center" >DESCRIPCIÓN</th>
            <th class="border border-dark text-center">TIPO DE VACUNA</th>
            <th class="border border-dark text-center">2ª DOSIS COVID</th>
            <th class="border border-dark text-center">FECHA COMIENZO</th>
            <th class="border border-dark text-center">INDICACIÓN VNC13</th>
            
            
                            
        </tr>
        <tr style="background-color:#C7F3F3 ;" >
            <th class="border border-dark text-light" rowspan="2" style="background-color:#F39C12 ;"><span class="h3"><strong>Grupo 1</strong> </span>  Residencias y centros socio sanitarios</th>                
            <td class="border border-dark">1.1 Personas institucionalizadas en centros residenciales de mayores</td>
            <td class="border border-dark">Efluelda (>60 años)</td>
            <td class="border border-dark">Indicada</td>
            <td class="border border-dark">3 octubre</td>
            <td class="border border-dark">Indicación sistemática</td>
                                         
        </tr>
        <tr>
                            
            <td class="border border-dark">1.2 Personas internas en centros de discapacidad</td>
            <td class="border border-dark">Vaxigrip Tetra o Flucelvax Tetra</td>
            <td class="border border-dark">Indicada</td>
            <td class="border border-dark">3 octubre</td>
            <td class="border border-dark">Indicada si 60-71 años o factores de riesgo de 
                <span class="text-danger" data-bs-toggle="modal" style="color:#90460C ;" data-bs-target="#ENI">ENI</span>
            </td>
                                         
        </tr>
        
        <tr style="background-color:#F3DAC7 ;" >
            <th class="border border-dark text-light" rowspan="3" style="background-color:#0E6655 ;"><span class="h3"><strong>Grupo 2</strong> </span> Vacunación sistemática por edad</th>                
            <td class="border border-dark ">2.1 Personas a partir de 65 años</td>
            <td class="border border-dark">Vaxigrip Tetra o Flucelvax Tetra</td>
            <td class="border border-dark">Indicada</td>
            <td class="border border-dark">3 octubre: a partir de 80 años
                                            17 octubre: 65 a 79 años
            </td>
            <td class="border border-dark">Indicación sistemática
                si 65-71 años, o si factores de riesgo de 
                <span class="text-danger" data-bs-toggle="modal" style="color:#90460C ;" data-bs-target="#ENI">ENI</span>
            </td>
                                         
        </tr>
        <tr>
                            
            <td class="border border-dark">2.2 Personas de 6 a 59 meses</td>
            <td class="border border-dark">Vaxigrip Tetra (6 a 59 meses) o Flucelvax Tetra (24 a 59 meses)</td>
            <td class="border border-dark">No Indicada</td>
            <td class="border border-dark">17 octubre</td>
            <td class="border border-dark">Indicación sistemática </td>
                                         
        </tr>
        <tr style="background-color:#F3DAC7 ;">
                            
            <td class="border border-dark">2.3 Personas de 60 a 64 años</td>
            <td class="border border-dark">No salvo si pertenecen a algún grupo de riesgo</td>
            <td class="border border-dark">Indicada</td>
            <td class="border border-dark">24 octubre</td>
            <td class="border border-dark">Indicación sistemática </td>
                                         
        </tr>
        <tr style="background-color:#C7F3F3 ;" >
            <th class="border border-dark text-light" rowspan="3" style="background-color:#82E0AA ;"><span class="h3"><strong>Grupo 3</strong> </span><br> Personas con patologías o grupos de riesgo</th>                
            <td class="border border-dark ">3.1 Personas menores de 65 años con patologías crónicas <span class="text-danger" data-bs-toggle="modal" style="color:#90460C ;" data-bs-target="#tabla2">(TABLA 2)</span></td>
            <td class="border border-dark">Vaxigrip Tetra o Flucelvax Tetra</td>
            <td class="border border-dark">Indicada a partir de los 5 años de edad</td>
            <td class="border border-dark">17 octubre </td>
            <td class="border border-dark">Indicación sistemática
                si 65-71 años, o si factores de riesgo de 
                <span class="text-danger" data-bs-toggle="modal" style="color:#90460C ;" data-bs-target="#ENI">ENI</span>
            </td>
                                         
        </tr>
         <!-------------------------------------------- MODAL -->
         <div class="modal fade" id="tabla2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-success text-light">
                        <h5 class="modal-title" id="exampleModalLabel">TABLA 2. Personas menores de 65 años con patologías crónicas (Grupo 3.1)  </h5>                            
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: azure;"></button>
                    </div>
                    
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-start"> 
                            <ul>
                                <li>Enfermedades crónicas cardiovasculares (incluyendo hipertensión arterial).</li>
                                <li>Enfermedades crónicas neurológicas. </li>
                                <li>Enfermedades crónicas respiratorias (incluyendo displasia broncopulmonar, fibrosis quística y asma).</li>
                                <li>Diabetes mellitus.</li>
                                <li>Obesidad mórbida (índice de masa corporal ≥40 en adultos, ≥35 en adolescentes o ≥3 DS en la infancia).</li>
                                <li>Enfermedad renal crónica y síndrome nefrótico. </li>
                                <li>Hemoglobinopatías y anemias. </li>
                                <li>Hemofilia, otros trastornos de la coagulación y trastornos hemorrágicos crónicos, así como receptores de hemoderivados y transfusiones múltiples. </li>
                                <li>Asplenia o disfunción esplénica grave.  </li>
                                <li>Enfermedad hepática crónica (incluyendo alcoholismo).</li>
                                <li>Enfermedades neuromusculares graves. </li>
                                <li>Inmunodeficiencias primarias, incluyendo déficit de complemento.</li>
                                <li>Inmunodeficiencias adquiridas, incluyendo la originada por la infección por VIH, por fármacos (ej: inmunosupresores, eculizumab,...) y trasplantados.</li>
                                <li>Cáncer y hemopatías malignas. </li>
                                <li>Implante coclear o en espera del mismo. </li>
                                <li>Fístula de líquido cefalorraquídeo.</li>
                                <li>Enfermedad celíaca</li>
                                <li>Enfermedad inflamatoria crónica (ej: artritis reumatoide, lupus eritematoso sistémico, enfermedad inflamatoria intestinal,...). </li>
                                <li>Trastornos y enfermedades que conllevan disfunción cognitiva: síndrome de Down, demencias y otras. </li>
                                <li>Prematuridad <32 semanas de gestación, de entre 6 y 24 meses de edad.*</li>
                                <li>Personas entre 6 meses y 18 años de edad, que reciben tratamiento prolongado con ácido acetilsalicílico*.</li>
                                
                            </ul>
                            <p>*Solo se vacunarán de gripe, no de 2ª dosis de recuerdo de COVID-19 salvo si presentan otra indicación.</p>
                                                       
                        </div>    
                    </div>                    
                </div>                
                </div>
            </div>
        </div>
    
        <!---------------------------------------------------------------------------------------------------------------------------- -->
        <tr>
                            
            <td class="border border-dark">3.2 Personas grandes dependientes en sus domicilios y sus cuidadores profesionales</td>
            <td class="border border-dark">
                <ul>
                    <li>&ge;60 años: Efluelda</li>
                    <li>&lt;60 años: Vaxigrip Tetra o Flucelvax Tetra</li>
                    <li>Cuidadores: Vaxigrip o Flucelvax</li>
                </ul>
            </td>
            <td class="border border-dark">Indicada a partir de los 5 años de edad</td>
            <td class="border border-dark">17 octubre </td>            
            <td class="border border-dark">Indicación sistemática </td>
                                         
        </tr>
        <tr style="background-color:#C7F3F3 ;">
                            
            <td class="border border-dark">3.3 Embarazadas</td>
            <td class="border border-dark">Vaxigrip Tetra o Flucelvax Tetra</td>
            <td class="border border-dark">Indicada</td>
            <td class="border border-dark">17 octubre </td>
            <td class="border border-dark">Indicación sistemática </td>
                                         
        </tr>
        <tr style="background-color:#F3DAC7 ;">
            <th class="border border-dark text-light" style="background-color:#F7DC6F;"><span class="h3"><strong>Grupo 4</strong> </span> Sanitarios y sociosanitarios</th>                
            <td class="border border-dark">4. Personal y estudiantes en prácticas de centros sanitarios y
                sociosanitarios, residencias
                <span class="text-danger" data-bs-toggle="modal" style="color:#90460C ;" data-bs-target="#tabla3">(TABLA 3)</span></td>
            <td class="border border-dark">Vaxigrip Tetra o Flucelvax Tetra</td>
            <td class="border border-dark">Indicada</td>
            <td class="border border-dark">3 octubre</td>
            <td class="border border-dark">Indicada si factores de riesgo de 
                <span class="text-danger" data-bs-toggle="modal" style="color:#90460C ;" data-bs-target="#ENI">ENI</span> 
            </td>
                                         
        </tr>
        <!-------------------------------------------- MODAL -->
        <div class="modal fade" id="tabla3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-success text-light">
                        <h5 class="modal-title" id="exampleModalLabel">TABLA 3. Personal sanitario y sociosanitario (Grupo 4)</h5>                            
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: azure;"></button>
                    </div>
                    
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-start">                            
                            <figure>
                                <img src="{% static 'img/tabla3Gripe.png' %}" class="card-img-top" alt="...">          
                            
                            </figure>                   
                                                       
                        </div>    
                    </div>                    
                </div>                
                </div>
            </div>
        </div>
    
        <!---------------------------------------------------------------------------------------------------------------------------- -->
        <tr style="background-color:#C7F3F3 ;">
            <th class="border border-dark text-light" style="background-color:#2471A3"><span class="h3"><strong>Grupo 5</strong> </span><br> Otros profesionales y situaciones</th>                
            <td class="border border-dark">5. Fuerzas y cuerpos de seguridad, instituciones penitenciarias, granjas
                de aves o cerdos 
                <span class="text-danger" data-bs-toggle="modal" style="color:#90460C ;" data-bs-target="#tabla4">(TABLA 4)</span></td>
            <td class="border border-dark">Vaxigrip Tetra o Flucelvax Tetra</td>
            <td class="border border-dark">Indicada en personal y reclusos de instituciones penitenciarias</td>
            <td class="border border-dark">24 octubre</td>
            <td class="border border-dark">Indicada si 60-71 años o factores de riesgo de 
                <span class="text-danger" data-bs-toggle="modal" style="color:#90460C ;" data-bs-target="#ENI">ENI</span> 
            </td>
                                         
        </tr>
        <!-------------------------------------------- MODAL -->
        <div class="modal fade" id="tabla4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-success text-light">
                        <h5 class="modal-title" id="exampleModalLabel">TABLA 4. Otros grupos profesionales en los que se recomienda la vacunación
                            (Grupo 5)</h5>                            
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: azure;"></button>
                    </div>
                    
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-start"> 
                            <figure>
                                <img src="{% static 'img/tabla4Gripe.png' %}" class="card-img-top" alt="...">                    
                            </figure>           
                        </div>    
                    </div>                    
                </div>                
                </div>
            </div>
        </div>
    
        <!---------------------------------------------------------------------------------------------------------------------------- -->
        <tr style="background-color:#F3DAC7 ;">
            <th class="border border-dark text-light" style="background-color:#E74C3C;"><span class="h3"><strong>Grupo 6</strong> </span> Cuidadores y convivientes</th>                
            <td class="border border-dark">6. Convivientes en el hogar con personas mayores de 65 años (Grupo 2.1) o de riesgo (Grupo 3)</td>
            <td class="border border-dark">Vaxigrip Tetra o Flucelvax Tetra</td>
            <td class="border border-dark">Indicada en convivientes de personas con alto grado de inmunodepresión</td>
            <td class="border border-dark">A partir de diciembre</td>
            <td class="border border-dark">Indicada si 60-71 años o factores de riesgo de 
                <span class="text-danger" data-bs-toggle="modal" style="color:#90460C ;" data-bs-target="#ENI">ENI</span>
            </td>
                                         
        </tr>

        <!-------------------------------------------- MODAL -->
        <div class="modal fade" id="ENI" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-success text-light">
                        <h5 class="modal-title" id="exampleModalLabel">TABLA 6. Patologías y situaciones de riesgo de enfermedad neumocócica invasora (ENI).</h5>                            
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: azure;"></button>
                    </div>
                    
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-3 border">
                            <span>Riesgo de ENI</span>
                        </div>
                        <div class="col-md-9 border">
                            <span>Patologías y situaciones</span>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-md-3 border">
                            <span>GRUPO 1.
                                RIESGO ALTO
                                INMUNODEPRIMIDOS</span>
                        </div>
                        <div class="col-md-9 border">
                            <ul>
                                <li>Transplantados</li>
                                <li>Inmunodeficiencias congénitas o adquiridas</li>
                                <li>Neoplasia maligna</li>
                                <li>Infección por VIH.</li>
                                <li>Insuficiencia renal crónica en estadios 4 y 5</li>
                                <li>Enfermedades crónicas susceptibles de recibir tratamiento
                                    inmunosupresor, incluidos aquellos con esteroides a dosis
                                    inmunosupresoras o con agentes biológicos:</li>
                                <li>Asplenia anatómica o funcional</li>
                                <li>Tratamiento con eculizumab.</li>
                                <li>Síndrome de Down.</li>
                            </ul>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-md-3 border">
                            <span>GRUPO 2.
                                RIESGO ALTO
                                INMUNOCOMPETENTES</span>
                        </div>
                        <div class="col-md-9 border">
                            <ul>
                                <li>Fístula de líquido cefalorraquídeo</li>
                                <li>Portadores de implantes cocleares o susceptibles de recibirlo</li>
                                <li>Antecedente personal de haber padecido una enfermedad
                                    neumocócica invasora</li>
                                <li>Alcoholismo crónico y cirrosis hepática</li>
                                <li>Fibrosis quística</li>                                
                            </ul>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-md-3 border">
                            <span>GRUPO 3.
                                RIESGO MODERADO</span>
                        </div>
                        <div class="col-md-9 border">
                            <strong>Grupo 3A</strong>
                            <ul>
                                <li>Enfermedad CV crónica, excluida HTA</li>
                                <li>Enfermedades respiratorias crónicas, incluyendo asma
                                    moderada-grave que no precise tratamiento inmunosupresor.</li>
                                <li>Enfermedad neurológica crónica con dificultades en el manejo
                                    de secreciones, por riesgo de aspiración pulmonar</li>
                                <li>Enfermedad hepática crónica</li>
                                <li>Enfermedad celíaca</li>
                                <li>Diabetes</li>
                                <li>Tabaquismo. Fumador de al menos 1 cigarillo diario.</li>                                                                
                            </ul>
                            <strong>Grupo 3B</strong>
                            <ul>
                                <li>Personas que hayan padecido COVID-19 de forma grave (que
                                    haya precisado hospitalización por ello).</li>
                                <li>Personas institucionalizadas en residencias de mayores,
                                    independientemente de la edad.</li>                                                                                              
                            </ul>
                        </div>  
                    </div>                                   
                </div>                
                </div>
            </div>
        </div>
    
        <!---------------------------------------------------------------------------------------------------------------------------- -->
    </table>
</div>
<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;" id="espera">
        
    <h5 class="text-center pt-2" id="neumococo">COVID</h5>
        
</div>
<div class="row" >
    <p>Se debe esperar al menos <strong>5 meses</strong> desde la última infección de COVID-19 (con diagnóstico registrado) para recibir la dosis de recuerdo, ya sea la primera o la segunda dosis de recuerdo.</p>
    <p>Hay tres <strong>excepciones</strong>, en las que el intervalo mínimo será de 3 meses:</p>
    <div>
        <ul>
            <li>Personas de 80 años o más</li>
            <li>Residentes en centros de mayores</li>
            <li>Personas con alto grado de inmunosupresión </li>
        </ul>
    </div>
</div>
<div class="row align-items-center vertical-align-center text-center py-3 mt-5 border" style="background-color:#E2F6F6 ;">
        
    <h5 class="text-center pt-2" id="neumococo">NEUMOCOCO</h5>
        
</div>
<div class="modal-body container-fluid">
    <div class="row text-center justify-content-center " id="esquemaNeumococo">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-3">
                    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#ENI">Grupos de riesgo neumococo</button>
                </div>
                
            </div>
            
        </div>
        
        
        <div class="col-md-8 mt-4"> 
            <figure>
                <img src="{% static 'img/esquemaNeumococo.png' %}" class="card-img-top" alt="...">                    
            </figure>           
        </div>    
    </div>                    
</div>

<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;" id="espera">
        
    <h5 class="text-center pt-2" id="hepatitisB">HEPATITIS B</h5>
        
</div>

<div class="row">
    <div class="col-md-12 mt-4"> 
        <figure>
            <img src="{% static 'img/vacunaHepatitisB1.png' %}" class="card-img-top" alt="...">                    
        </figure>
        <figure>
            <img src="{% static 'img/vacunaHepatitisB2.png' %}" class="card-img-top" alt="...">                    
        </figure>           
    </div>  
</div>
<div class="row justify-content-center">
    <div class="col-md-8 mt-4"> 
        <figure>
            <img src="{% static 'img/profilaxisHepatitisB.png' %}" class="card-img-top" alt="...">                    
        </figure>
                   
    </div>  
</div>





{% endblock %}