{% extends "bases/baseHistoria.html" %}

{% load static %}

{% block titulo %} CarlosI {% endblock %}

{% block cabecera %} Carlos I {% endblock %}

{% block imgCabecera %} <img class="img-fluid" src="{% static 'images/sigloXVI/carlosI.jpg' %}" alt=""> {% endblock %}

{% block contenido %}
<div class="container  mt-5 justify-content-center text-center">
    
    
    <h3  >Hijos de Juana la loca y Felipe el Hermoso</h3>
    <div class="row justify-content-center text-center mb-5">
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/leonorDeAustria.jpg' %}">
                <figcaption> <strong>Leonor (1498-1558)</strong> </figcaption>                
            </figure>
            <p>Fue reina consorte de Portugal siendo la tercera esposa de Manuel I de Portugal y a la muerte de este contrajo matrimonio con Francisco I de Francia.</p>
           
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/carloII.jpg' %}" alt="">
                <figcaption> <strong>Carlos (1500-1558)</strong> </figcaption>
            </figure>
            <p>Rey de España, con el nombre de Carlos I, y Sacro Emperador Romano con el nombre de Carlos V y que se casó con Isabel, la hija de Manuel de Portugal.</p>

        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/isabelDinamarca.jpg' %}" alt="">
                <figcaption> <strong>Isabel (1501 – 1526)</strong> </figcaption>
            </figure>
            <p>Reina consorte de Dinamarca, esposa de Cristián II.</p>
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/fernandoEmperador.jpg' %}" alt="">
                <figcaption> <strong>Fernando (1503 – 1564)</strong> </figcaption>
            </figure>
            <p>Sacro Emperador Romano, con el nombre de Fernando I, al suceder a su hermano Carlos en el puesto tras la decisión de este de dividir el Imperio entre su hermano y su hijo.</p>

        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/mariaHungria.jpg' %}" alt="">
                <figcaption> <strong>María (1505 – 1558)</strong> </figcaption>
            </figure>
            <p> Reina consorte de Hungría y Bohemia, esposa de Luis II y a la muerte de este fue Gobernadora de los Países Bajos.</p>

        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/catalinaPortugal.jpg' %}" alt="">
                <figcaption> <strong>Catalina (1507- 1578)</strong> </figcaption>
            </figure>
            <p> Fue reina consorte de Portugal, casada con Juan III, fue abuela del rey Sebastián I de Portugal.</p>

        </div>
    </div>
    
    <div class="row text-start">
        <h3>Primeros años</h3>
        <hr>
        <div class="col-md-12">
            <ul>
                <li>Hijo de Juana la Loca y de Felipe el Hermoso. Nieto de los Reyes Católicos y del emperador Maxi­miliano I de Austria y María de Borgoña.</li>
                <li>La muerte de su padre en <strong>1506</strong> y la ausencia de su madre hacen que quede al cuidado de su tía Margarita de Austria junto a sus hermanas Leonor, Isabel y María,  en su Corte de Malinas.</li>
                <li> Desde <strong>1511</strong> su educación cae bajo la dirección de Adriano de Utrecht, entonces deán de Lovaina, más tarde cardenal y Papa; y muy pronto tendrá a su lado, como consejero, a Guillermo de Croy, señor de Chièvres.</li>
                <li>En <strong>1515</strong> el emperador lo declara mayor de edad de Carlos; acto seguido es nombrado Señor de los Países Bajos terminando aquí la regencia de su tía Margarita.</li>
            </ul>
        </div>
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-2 border">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/adrianoUtrech.png' %}" alt="">
                    <figcaption> <strong>Adriano de Utrecht</strong> </figcaption>                
                </figure>
                <p></p>
            
            </div>
            <div class="col-md-2 border">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/guillermoCroy.jpg' %}" alt="">
                    <figcaption> <strong>Guillermo de Croy</strong> </figcaption>                
                </figure>
                <p></p>
            
            </div>
            <div class="col-md-2 border">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/margaritaAustria.jpg' %}" alt="">
                    <figcaption> <strong>Margarita de Austria</strong> </figcaption>                
                </figure>
                <p></p>
            
            </div>
        </div>
        <h3>Rey de España</h3>
        <hr>
                <p>En <strong>1516</strong> muere Fernado el Católico. Su <strong>testamento</strong>:</p>
                
                <div class="col-md-12">
                    <ul>
                        <li>En Castilla Carlos será gobernador y administrador en nombre de la reina Juana I, incapacitada por su enfermedad.</li>
                        <li>En Aragón el rey Fernando dejaba todos sus estados a su hija Juana, nombrando gobernador general a Carlos en nombre de su madre.</li>
                        <li>Hasta que Carlos llegara, en Castilla gobernaría el cardenal Cisneros y en Aragón el arzobispo Alonso de Aragón.</li>
                        
                    </ul>
                </div>
                
                <p>Sin embargo, aconsejado por sus asesores flamencos Carlos toma el título de rey. Carlos aseguró su posición gracias al reconocimiento por parte del papa León X.</p>
                <p>Inmediatamente el <strong>Reino de Navarra</strong> jura fidelidad a Carlos como su rey y señor natural.</p>
                <p>En <strong>1517</strong> llega a España acompañado de su hermana Leonor y de Guillermo de Croy y no llega a entrevistarse con Cisneros porque este muere en septiembre de ese año</li>
                <p>La primera medida del rey Carlos fue visitar a su madre Juana en Tordesillas; allí pudo ver por primera vez a su hermana Catalina, que vivía su triste infancia al lado de su madre. En su entrevista con doña Juana, a la que asistió Chièvres, Carlos obtuvo su licencia para gobernar España en su nombre.</p>
                <p>En <strong>1518</strong> Carlos convocó en Valladolid las primeras <strong>Cortes de Castilla.</strong> En ellas juraron como rey a Carlos junto con su madre Juana​ y le concedieron 600 000 ducados. Se pidió al rey lo siguiente: </p>
                
                <div class="col-md-12">
                    <ul>
                        <li>Aprender a hablar en Castellano</li>
                        <li>El cese de nombramientos a extranjeros.</li>
                        <li>La prohibición de la salida de metales preciosos y caballos de Castilla.</li>
                        <li>Trato más respetuoso a su madre Juana, recluida en Tordesillas.</li>
                    
                    </ul>
                </div>

                <p>A continuación se celebran en Zaragoza las <strong>Cortes de Aragón</strong> donde Carlos es jurado rey y recibe 200 000 libras </p>
                <p>En <strong>1519</strong> se celebran en Barcelona las <strong>Cortes Catalanas</strong> donde Carlos es jurado rey junto a Juana y recibe 300 000 libras</p>
                <p>En <strong>1520</strong> pasó por Valencia y juró sus fueros</p>
                <h5> <u> Guerra de las comunidades (1520-1522)</u></h5>
                <p><strong>Causas:</strong></p>
                <div class="col-md-12">
                    <ul>
                        <li>Los castellanos preferían al príncipe Alfonso antes que a Carlos (un extranjero)</li>
                        <li>Su corte flamenca comenzó a ocupar los puestos de poder castellanos, siendo el nombramiento más escandaloso el de Guillermo de Croy, un joven de tan solo 20 años, como arzobispo de Toledo sucediendo al Cardenal Cisneros.</li>
                        <li>Carlos había gastado el dinero de los nuevos impuestos para ser elegido Emperador Alemán.</li>
                        <li>Se dejó como regente a Adriano de Utrech</li>
                        <li>La Castilla interior, zona de mayor actividad comunera, se veía cada vez más desplazada del dominio comercial</li>
                        
                    </ul>
                </div>
                <p><strong> Estallido de la revuelta</strong></p>
                <p>En 1520 el rey convocó a todos los regidores de Castilla en Santiago. Cuando los regidores de Toledo, con Juan de Padilla a la cabeza,  se disponían a partir una gran multitud se opuso y se apoderó del gobierno local.</p>
                <p>Tras la marcha del Monarca hacia Alemania, el levantamiento comunero no tardó en cobrar fuerza, primero entre ciudades como Toledo y Segovia, a las que se fueron sumando otras como Zamora, Toro, Madrid, Guadalajara, Ávila, Salamanca o Burgos..</p>
                <p>Durante el verano de 1520, sobre todo tras el incendio de Medina del Campo por las tropas imperiales (como se llamó al ejército real), muchas otras ciudades se sumaron a la rebelión y se generalizó el movimiento en los núcleos rurales. La insurrección se radicalizó y se convirtió en una rebelión antiseñorial que produjo la división interna de los grupos burgueses que sustentaban la protesta.</p>
                <p>Después de un año de luchas, el 23 de abril de 1521, las tropas comuneras y las imperiales se enfrentaron en la <strong>batalla de Villalar</strong>. Allí, el ejército comunero quedó destruido y sus líderes, <strong> Padilla, Bravo y Maldonado</strong>, fueron ejecutados.</p>
                <p>Como consecuencia de esta revuelta la nobleza queda definitivamente neutralizada frente a la triunfante monarquía autoritaria</p>

                <h5> <u> La Germanías (1519-1523)</u></h5>
                <p>En los territorios del Reino de Valencia y de Mallorca se produjo el movimiento de las Germanías. Los artesanos de Valencia poseían el privilegio del reinado de Fernando el Católico para formar unas milicias en caso de necesidad de lucha contra las flotas berberiscas. En 1519 Carlos I permitió la formación de esas milicias y se pusieron al mando de Joan Llorenç.</p>
                <p>En 1520 cuando se produjo una epidemia de peste en Valencia y los nobles abandonaron la zona, la milicias se hicieron con el poder y desobedecieron la orden de Adriano de Utrecht de su inmediata disolución. En pocos días el movimiento llegó a las islas Baleares en donde duró hasta 1523. Después de la derrota de los comuneros, el ejército acabó con el conflicto de las Germanías.</p>
                <h5> <u> La organización de la monarquía hispánica</u></h5>
                <p>Con Carlos I, la monarquía estará asistida por cinco Consejos: El Consejo Real, el de Estado, el de Hacienda, el de la Inquisición y el de las Indias.</p>
                <p>Los Austria mayores siguieron la norma de hacer muy suyo el <strong>Consejo Real</strong>  que actuaba como tribunal supremo de justicia. Los consejeros era 16, en su mayoría letrados profesionales. La nobleza solo tenía una representación testimonial.</p>
                <p>En 1529, se crearon los <strong>consejos de la Guerra y de las Ordenes</strong> que tenía atribuciones sobre las órdenes de Santiago, Calatrava y Alcántara. Todo aquel entramado de instituciones, en organización polisinoidal, se mostró muy eficaz durante los gobiernos de Carlos I y de Felipe II. </p>
                <p><strong>El ejército de las glorias imperiales</strong> lo formaban unos 60.000 soldados de los que unos 12.000 formaban los famosos 
                tercios españoles, tremenda y temida fuerza de choque, artífice de muchas victorias durante más de un siglo.
                <div class="col-md-11">
                <p><strong>Los tercios</strong></p>
                    <ul>
                        <li>Aunque fueron creados oficialmente por Carlos I su origen se remonta las tropas del Gran Capitan en Italia.</li>
                        <li>Se formaron con soldados profesionales y voluntarios que estaban en filas de forma permanente</li>
                        <li>Los soldados de los tercios eran hombres orgullosos y extremadamente cuidadosos de su honor personal, tanto que preferían la muerte a la deshonra y su reputación como soldados.</li>
                        <li>Reunían una serie de características que les hacían ser la fuerza de elite: gran movilidad, destructora 
                    potencia de fuego y extrema moral de victoria.</li>
                        <li>Cada tercio estaba formado por 12 compañías de 250 soldados. 
                    Cada una bajo el mando de un capitán, un alférez y un sargento.</li>
                        <li>Los jubilados o impedidos de los tercios recibían una pensión equivalente a la tercera parte de una paga, 
                    siempre que hubieran servido 10 años en el Tercio</li>
                    </ul> 
                   

                </div> 

                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-2 ">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/tercioAlferez.png' %}" alt="">
                            <figcaption> <strong>Alférez</strong> </figcaption>                
                        </figure>
                        <p></p>
                    </div>
                    <div class="col-md-2 ">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/tercioMosquetero.png' %}" alt="">
                            <figcaption> <strong>Mosquetero</strong> </figcaption>                
                        </figure>
                        <p></p>
                    </div>
                    <div class="col-md-2 ">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/tercioArcabucero.png' %}" alt="">
                            <figcaption> <strong>Arcabucero</strong> </figcaption>                
                        </figure>
                        <p></p>
                    </div>
                    <div class="col-md-2 ">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/tercioLancero.png' %}" alt="">
                            <figcaption> <strong>Lancero</strong> </figcaption>                
                        </figure>
                        <p></p>
                    </div>
                </div>

                <p> <strong> La Marina</strong></p>
                <p>Se disponía de unas <strong>veinticinco galeras</strong> dedicadas, sobre todo, a la protección de las costas de Levante, pero el emperador Carlos se servía esencialmente de la marina de guerra genovesa de los Doria.
                 Poco a poco, se fue se fue desarrollando una industria naval más potente por las necesidades de protección de las rutas comerciales atlánticas. </p>
                
                 <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-6 ">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/galera.png' %}" alt="">
                            <figcaption> <strong>Galera</strong> </figcaption>                
                        </figure>
                        <p></p>
                    </div>
                    
                </div>
                <p><strong>Consejo de Hacienda</strong></p>
                <div class="col-md-11">
                    <ul>
                        <li>A mediados del siglo XVI el presupuesto ordinario ascendía a 1.500.000 ducados en tiempos de paz, pero en tiempos de guerra era necesario 
                            disponer de unos 3.000.000 de ducados adicionales para mantener los ejércitos y su equipamiento.</li>
                        <li>Los cuatro tercios y la caballería absorbían 1.600.000 ducados ( un caballo costaba unos 60 ducados). </li>
                        <li>Esto obligaba a un progresivo endeudamiento que, al final del reinado de Carlos I, supuso una deuda de 24.000.000 de ducados.</li>
                        <li>Solo los intereses devoraban el 50% de los ingresos de la Corona que ascendían a unos 3.000.000 de ducados. </li>
                        <li> <strong>Ingresos:</strong> 
                            <ul>
                                <li>Procedían de sus propias rentas anuales, de los servicios votados en las Cortes y de las ayudas de la gracia pontificia. </li>
                                <li>Tráfico de esclavos negros en dirección a las Américas. Un esclavo valía 8 ducados (8 veces menos quee el precio de un caballo)</li>
                                <li>Venta de oficialías, hidalguías y otros privilegios</li>
                                <li>Ingresos procedentes de las Indias. Al final del reinado de Carlos suponían para la Corona unos 400.000 ducados anuales</li>
                                <li>Como ingresos extraordinarios del reino de Carlos I hay que destacar los 900.000 ducados de la dote de Isabel de Portugal y 
                                    los 2.000.000 de escudos (unos mil millones de pesetas actuales) del rescate pagado por los dos hijos de Francisco I. </li>
                                <li>Además, se disponía, como fuente de financiación, de los "juros", una especie de bonos del Estado y con los préstamos de la nobleza,
                                    alto clero, ricos comerciantes y banqueros o prestamistas internacionales, entre los que destacaba la casa italiana de los Fugger. </li>
                                <li>En el fondo todo cargaba sobre el trabajo del pueblo, ya que la "clase patricia" estaba exenta del pago de impuestos. </li>
                            
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-6 ">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/carlosFugger.jpg' %}" alt="">
                            <figcaption> <strong>Carlos I y Jacobo Rugger</strong> </figcaption>                
                        </figure>
                        <p></p>
                    </div>
                    
                </div>

                <p><strong>Reinado en América</strong></p>
                <p>Durante el reinado de Carlos I, la corona de Castilla expandió sus territorios sobre gran parte de América:</p>
                <div class="col-md-11">
                    <ul>
                        <li>Hernán Cortés y Nuño de Guzmán conquistaron Méjico.</li>
                        <li>Francisco Pizarro conquistó Perú</li>
                        <li>Gonzalo Jiménez de Quesada conquistó Colombia</li>
                        <li>Francisco de Montejo iniciaría el largo proceso de conquista de los mayas de la península de Yucatán</li>
                        <li>Pedro de Alvarado conquistó Guatemala</li>
                        <li>Juan Sebastián Elcano dio la primera vuelta al mundo en 1522, terminando el viaje que comenzó Fernando de Magallanes</li>
                    </ul>
                </div>

                               
                
         </div>
        
    <div class="row text-start">
            <h3>Carlos emperador</h3>
            <hr>
            <p>A la muerte de Maximiliano de Austria Carlos es nombrado nuevo emperador en 1519 pese a las aspiraciones del rey Francisco I de Francia</p>
            <h5> <strong><u> Problemas iniciales</u></strong> </h5>
            <div class="col-md-10">
                <ul>
                    <li>En España el descontento crecía. Los 543.000 florines prestados por el banquero Jacobo Fugger fueron devueltos por Castilla </li>
                    <li>En Alemania estaba a punto de estallar la Reforma contra Roma, de la mano de Lutero.</li>
                    <li>Francisco I no olvidaba la afrenta sufrida y se aprestaba a combatir al Emperador en to­dos sus dominios.</li>
                    <li>En oriente otro personaje de formidable poderío: Soleimán el Magní­fico, el señor de Constantinopla. Era el otro empera­dor, y un Emperador que aspiraba a ser cada vez más grande a costa de la Cristiandad.</li>
                                     
                </ul>
            </div>
            
    </div>
    <div class="row justify-content-center text-center mb-5 ">
        <div class="col-md-4 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/carlosEmperador.jpg' %}" alt="">
                <figcaption> <strong>Carlos V</strong> </figcaption>                
            </figure>
            <p></p>
        </div>
        <div class="col-md-6 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/imperioCarlos_I.png' %}" alt="">
                <figcaption> <strong>Imperio de Carlos V</strong> </figcaption>                
            </figure>
            <p></p>
        </div>
        
            
     
        
    </div>
    <div class="row text-start">
        <p>En <strong>1520</strong>  Carlos decide acudir al imperio para ser <strong>coronado Emperador</strong>. Para ello convoca nuevas cortes, esta vez en La Coruña y tras 5 votaciones consigue el dinero que necesita</p>
        <p>En <strong>1521</strong>  convoca a Lutero en la <strong>Dieta imperial en Worms</strong> pero este no se retracta </p>
        <p>En <strong>1522</strong>  pasa por Inglaterra para firmar con Enrique VIII una alianza, el <strong>tratado de Wind­sor</strong>. Este tratado tiene una cláusula que acabaría volviéndosele en contra: su compromiso ma­trimonial con la princesa niña María Tudor, la hija de Catalina de Aragón. Cuando vulnerase esa cláusula se encontraría con un nuevo enemigo: el Rey inglés.</p>
        
        <h5 class="mt-5"> <strong> <u> Guerra contra los turcos</u></strong> </h5>
        <p><strong>1516</strong> el príncipe Selim de Argel pidió ayuda al corsario <strong>Barbarroja</strong> para deshacerse del sometimiento de Castilla. 
          Barbarroja acudió en calidad de amigo, pero tras atacar <strong>Argel</strong> y expulsar a los españoles de la ciudad, mató a Selim y se autonombró rey.
          El cardenal Cisneros envió a una tropa de 8000 hombres para reconquistar la ciudad, pero fracasó​</p>
        <p>En  Aruj se apoderó de Tremecén. Al año siguiente, el marqués de Comares Diego Fernández de Córdoba. derrotó y mató al corsario y su hermano Jeireddín se proclamó rey de Argel. 
        Tras enterarse de la noticia, Carlos decidió reconquistar inmediatamente la ciudad, pero una fuerte tempestad asoló la flota española se vieron obligados a retirarse.</p>
        <p>En <strong>1532</strong> Carlos acude en ayuda de su hermano Fernando de Habsburgo para defender Viena del ataque de <strong>Solimán el Magnífico</strong>. Pero Francisco I de Francia, quien temía que el emperador derrotara a los turcos y así se centrara en la guerra contra él, aconsejó al sultán que no atacara al ejército imperial y este acabó retirándose sin ofrecer apenas batalla.</p>
        <p>Ese mismo año Jeireddín Barbarroja logró expulsar a los españoles del Peñón de Argel. En 1533 se alió con Solimán, quien le nombró almirante de flota. Al año siguiente el corsario tomó Túnez y, ante esta situación, Carlos organizó dos operaciones, la primera arrebató Túnez a Barbarroja y la segunda, la Jornada de Argel, en 1541, que fracasó debido al mal tiempo.</p>
        <div class="row justify-content-center text-center mb-5">
                    
                    <div class="col-md-2 ">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/soleymanMagnifico.jpg' %}" alt="">
                            <figcaption> <strong>Soleyman</strong> </figcaption>                
                        </figure>
                        <p></p>
                    </div>
                    <div class="col-md-2 ">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/barbarroja.jpg' %}" alt="">
                            <figcaption> <strong>Barbarroja</strong> </figcaption>                
                        </figure>
                        <p></p>
                    </div>
                    
                    
        </div>    
        <h5 class="mt-5"> <strong> <u> Guerra contra Francia</u></strong> </h5>
        
        <div class="col-md-9 border-right">
        <p>Carlos I sostuvo cinco guerras con Francisco I de Francia, que también aspiraba a la corona imperial, y al que exigía la devolución de Borgoña.</p>
            <ul>
                <li><strong>Primera guerra (1521-1526).</strong> Francia se apoderó del Milanesado y ayudó a Enrique II a recuperar el Reino de Navarra, 
                tras su conquista en 1512. Sin embargo el monarca francés fue derrotado y hecho prisionero, junto al monarca navarro, en la <strong>batalla de Pavía (1525)</strong>. Francisco fue llevado a Madrid en donde firmó el <strong>Tratado de Madrid (1526)</strong> , por el cual no volvería a ocupar ni el Milanesado ni apoyaría al rey de Navarra (pacto al que renunció meses después por firmarlo bajo coacción) y entregaría Borgoña a Carlos, además de renunciar a Flandes e Italia.</li>
                <li><strong>Segunda guerra (1526-1529).</strong> El papa Clemente VII ofreció su apoyo al rey francés para debilitar 
                el emperador Carlos y formó la Liga de Cognac junto con Venecia, Florencia y Milán.
                La guerra empezó en junio de 1526, apenas un mes después de constituirse la alianza, y se decantó fácilmente a favor de 
                las fuerzas imperiales, que consiguieron capturar Milán. Sin embargo, inmediatamente surgió un importante problema: 
                las tropas mercenarias, que constituían alrededor de una tercera parte del ejército, se amotinaron a causa de las malas 
                condiciones de vida en el campamento y del retraso en las pagas; y puesto que sus oficiales no disponían del dinero, 
                decidieron conseguirlo por la vía del saqueo. Amenazando con la deserción, obligaron al comandante del ejército imperial,
                 Carlos de Borbón, a dar la orden de marchar hacia Roma. En mayo de 1527, 35.000 hombres armados se presentaron ante las 
                 murallas de la ciudad asaltaron y  <strong>saquearon Roma</strong>, obligando al <strong>papa Clemente VII</strong> 
                 a refugiarse en el castillo de Sant´Angelo. 
                Mediante la <strong>Paz de Cambrai</strong>, Carlos I renunció a Borgoña a cambio de que Francisco I renunciara a Italia, Flandes y el 
                Artois, además de entregar la ciudad de Tournay. Coronado por el papa como emperador del Sacro Imperio Romano (1530),
                Carlos I continuó sus luchas contra Francia.</li>
                <li><strong>Tercera guerra(1535-1538)</strong>. Se produjo por la invasión francesa del ducado de Saboya, aliado de la 
                monarquía Habsburgo, con la intención de continuar hacia Milán. Acabó con la firma de la <strong>tregua de Niza</strong> debido al agotamiento de 
                ambos contendientes.
                El tratado suponía para el rey francés una mejora de las condiciones respecto al Tratado de Madrid: debía renunciar a los 
                territorios de Italia y Bélgica; pero a su vez, el emperador renunciaba a la Borgoña y a la Baja Navarra, en la Vasconia francesa.
                 También se estipulaba la liberación de los hijos de Francisco I, si bien a cambio de un enorme rescate de dos millones de escudos. 
                 Sin embargo, ambos salían de la guerra enormemente desgastados a nivel económico. La posterior división del imperio habsbúrguico 
                 entre los sucesores del emperador Carlos y la debilidad de Francia facilitarían en pocas décadas el ascenso de Inglaterra como nueva gran potencia europea. </li>
                <li><strong>Cuarta guerra (1542-1544)</strong>. En 1540 Carlos decidió dar la investidura del ducado de Milán 
                a su hijo Felipe, lo que causó malestar en Francia. La guerra estallaría por un pretexto simple dos años después, cuando dos 
                enviados franceses que iban a negociar con el imperio otomano murieron y se acusó a las autoridades españolas del Milanesado. 
                Concluyó debido a la reanudación del conflicto de los protestantes en Alemania. Agotados, los dos monarcas firmaron 
                la <strong>Paz de Crépy</strong>, mediante la cual Carlos I perdió territorios del norte de Francia y cercanos a Flandes; 
                una vez más Francia renunciaba a Italia y Países Bajos, entrando Milán en la política matrimonial mediante un previsible enlace
                hispano-francés que no llegó a producirse por fallecimiento del hijo de Francisco I.</li>
                <li><strong>Quinta guerra (1552 – 1559).</strong> La paz duró 8 años. Carlos V se centró en su lucha contra 
                los príncipes protestantes alemanes y, mientras tanto, Francisco I de Francia fallecía, siendo su sucesor Enrique II. 
                Este continuaría con la política hostil contra España e intentaría de nuevo aliarse con los enemigos del emperador.
                En 1552 ocupó sucesivamente Metz, Toul y Verdún.Mientras tanto, Mauricio de Sajonia, aliado del emperador, se pasa al 
                bando enemigo y marcha sobre la ciudad de Augsburgo. Conquistada Augsburgo, se dirige a Innsbruck, donde se encontraba 
                el emperador Carlos V, que tuvo que huir de forma precipitada y humillante. Consciente de la situación de debilidad, 
                Fernando de Austria llegó a un acuerdo con Mauricio de Sajonia en la <strong>Dieta de Passau en 1552</strong> , por el 
                que Mauricio accedía a abandonar la alianza con Enrique II y a apoyar al emperador contra el turco en Hungría. Gracias a
                este acuerdo, Carlos pudo afrontar su guerra contra Francia, tratando de recuperar los ducados perdidos. en 1544 se consuma 
                la boda entre Felipe, hijo y heredero de Carlos I de España, y María Tudor, hija de Enrique VIII y heredera de Inglaterra.
                </li>
            </ul>
        </div>
        <div class="col-md-2 justify-content-end text-center ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/franciscoI.jpg' %}" alt="">
                <figcaption> <strong>Francisco I</strong> </figcaption>                
            </figure>
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/lansquenetes.jpg' %}" alt="">
                <figcaption> <strong>Lansquenetes</strong> </figcaption>                
            </figure>
            <p class="text-start">"Tres soldados y un perro", grabado por Hans Sebald Beham (ca. 1540) que muestra a un grupo de lansquenetes, 
                una de las principales fuerzas de combate del emperador Carlos. Eran soldados de infantería especializados en el 
                combate con armas largas, como alabardas, picas y la temible zweihänder, una espada de dos metros que se blandía 
                con ambas manos (de ahí su nombre).</p>
        </div>

        <h5 class="mt-5"> <strong> <u> Guerra contra el Protestantismo</u></strong> </h5>
        <div class="col-md-9">
            <p>En <strong>1517</strong>, el mismo año en el que Carlos V llega a España, Lutero expone sus tesis en Wittenberg en contra de la Iglesia de Roma, a la que acusaba de haber traicionado el mensaje de Cristo. Era el inicio de la ruptura de la unidad cristiana en occidente.</p>
            
            <p><strong>La Dieta de Worms (1521)</strong></p>
            <p>Lutero había sido convocado por el emperador para que se retractara las tesis que había expuesto años antes, pero no lo hizo</p>
            <p>En consecuencia se publicó el <strong> Edicto de Worms </strong> por parte del emperador Carlos V y el cardenal Girolamo Alendro donde se declara a Lutero un proscrito, un hereje, se prohibían la lectura y posesión de sus escritos. En el Edicto se exigía que Lutero fuera arrestado y condenado.</p>
            <p>La ruptura religiosa se convierte en una <strong>ventaja política</strong> para algunos príncipes alemanes. Aprovecharon para unirse al luteranismo y al romper con la Iglesia Católica se quedaban con las propiedades religiosas dentro de sus territorios. Carlos V se vio perjudicado por todo ello, ya que menoscababa su poder como emperador.</p>

            <p><strong>La Dieta de Espira de 1526</strong></p>
            <p>La decisión más importante tomada en esta dieta fue que no se podía forzar el Edicto de Worms, lo que suponía que <strong>cada príncipe podía decidir si permitía en 
                sus territorios la enseñanza y el culto luteranos</strong> . Este acuerdo tenía validez hasta que algún Concilio General pudiese encararlos o pronunciarse sobre los 
                asuntos religiosos suscitados por Martín Lutero. El ambiguo edicto de la dieta resultó en una suspensión temporal del Edicto de Worms y ayudó a la expansión 
                del protestantismo.</p>

            <p><strong>La Dieta de Augsburgo (1530)</strong></p>
            <p>En esta Dieta acudió Melanchton, como representante de Lutero. Este hizo concesiones, pero se mostró intransigente en el matrimonio de los sacerdotes, la comunión bajo las dos especies y el rechazo de las misas privadas.
            <strong>Carlos confirmó el Edicto de Worms de 1521</strong>, es decir la excomunión para los luteranos, amenazando la reconstitución de la propiedad eclesiástica. 
            Como respuesta, <strong>los luteranos, actuaron dando vida a la Liga de los Protestantes en 1531. Tal coalición estaba dotada de un ejército y de una caja común.</strong> </p>

            <p><strong>La Dieta de Ratisbona (1532)</strong></p>
            <p>Tampoco se llegó a un acuerdo. En consecuencia el Papa convoca el Concilio de Trento. Tras la negativa de los protestantes a reconocer el Concilio de Trento, 
                el emperador <strong>comenzó la guerra en 1546</strong> , una vez firmada la Paz de Crépy (1545) con Francia y alcanzada una tregua con los turcos en Europa central.</p>
            
            <p><strong>Guerra de Esmalcada (1546-1547)</strong></p>
                <p>Dirigidos por el duque de Alba <strong>Carlos V consiguió una contundente victoria en la batalla de Mühlberg, en 1547</strong>; poco después, los príncipes alemanes se retiraron y se subordinaron al emperador. </p>

            <p>A pesar de su victoria, no logró el anhelado deseo de unificar política y socialmente el luteranismo con el catolicismo, por lo que poco después, en 1555, 
                se vio obligado a suscribir la <strong> Paz de Augsburgo</strong>, por la que se <strong>reconocía a los príncipes alemanes el derecho de adherirse libremente a la confesión católica 
                o al luteranismo,</strong>  dando fin, aunque fuera de manera temporal (cincuenta años), al largo conflicto surgido por la Contrarreforma.</p>

            

        </div>
        <div class="col-md-3 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/lutero.jpg' %}" alt="">
                <figcaption> <strong>Lutero (1483-1546)</strong> </figcaption>                
            </figure>
            <p>Teólogo y fraile católico agustino que comenzó e impulsó la <strong>Reforma protestante en Alemania</strong>  y cuyas enseñanzas se 
                inspiraron en la doctrina teológica y cultural denominada luteranismo. Lutero exhortaba a la Iglesia a regresar a las 
                enseñanzas originales de la Biblia,​ lo que produjo una reestructuración de las iglesias cristianas católicas en Europa.
                La reacción de la Iglesia católica ante la Reforma protestante fue la Contrarreforma. 
                </p>
                <p>
                Sus <strong>traducciones de la Biblia</strong>  ayudaron a desarrollar una versión estándar de la lengua alemana y se convirtieron en un modelo en el arte de la 
                traducción. Su <strong>matrimonio con Catalina de Bora</strong>  inició un movimiento de apoyo al matrimonio sacerdotal dentro de 
                muchas corrientes cristianas. Tres años antes de morir, escribió un <strong>tratado de antijudaísmo cristiano</strong>  llamado 
                Sobre los judíos y sus mentiras,​ en donde exhortaba al asesinato de judíos, a quemar sus propiedades y sinagogas. 
                Lutero murió en 1546 con la excomunión del Papa León X aún en vigor.
                </p>
        </div>
        
        <h3>Abdicación, retiro, fallecimiento</h3>
        <hr>
        <p>El desaliento que se produjo tras el fracaso del emperador en contener la reforma protestante en el Imperio Alemán estuvo en la base de su <strong>abdicación en 1555</strong>  
                y de la división de su herencia, separando el Imperio Alemán del resto de territorios y <strong>creando dos líneas dinásticas</strong>  para los augsburgo, 
                <strong>la línea española para Felipe II  y la línea imperial para su hermano Fernando</strong> . El Imperio se convertiría en una mera confederación de territorios.  </p>
        <p> Tras su retiro los grandes protagonistas, que junto con él habían trazado la escena europea en la primera mitad del siglo xvi, habían fallecido: 
            Enrique VIII de Inglaterra y Francisco I de Francia en 1547, Martín Lutero en 1546, Erasmo de Róterdam diez años antes y el papa Paulo III en 1549.</p>
        <p>Se retira al <strong>monasterio de Yuste</strong> .En este plácido lugar permaneció un año y medio en retiro, alejado de las ciudades y de la vida política, y acompañado por la orden de los Jerónimos, quienes guiaron espiritualmente al monarca hasta sus últimos días.</p>
        <p>Finalmente, el 21 de septiembre de 1558 <strong>falleció de paludismo</strong> tras un mes de agonía y fiebres
         (a lo que se sumaba la gota, enfermedad que también padecía de manera aguda)</p>
         <p>En 1573 el rey Felipe II dispuso el traslado de los restos del extinto emperador y de la infanta Leonor de Austria, reina de Portugal, al Monasterio de El Escorial. </p>
     </div>

     <h3  >Matrimonio</h3>
     <hr>
    </div> 
    <div class="row justify-content-center text-center mb-5">
        
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/carloII.jpg' %}" alt="">
                <figcaption> <strong>Carlos I(1500-1558)</strong> </figcaption>
            </figure>
            <p>Rey de España, con el nombre de Carlos I, y Sacro Emperador Romano con el nombre de Carlos V y que se casó con Isabel, la hija de Manuel de Portugal.</p>

        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/isabelMujerCarlosI.png' %}" alt="">
                <figcaption> <strong>Isabel de Portugal (1503-1539)</strong> </figcaption>                
            </figure>
            <p>Era la segunda hija del rey Manuel I de Portugal y de su segunda esposa, María de Aragón. Era nieta de los Reyes Católicos y por tanto prima hermana de Carlos V</p>
           
        </div>
        
    </div>
    
    
    <div class="row justify-content-center text-center mb-5 mt-5">
        <h3  >Hijos de Carlos I e Isabel de Portugal</h3>
        <hr>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/felipeII.jpg' %}" alt="">
                <figcaption> <strong>Felipe (1527-1598)</strong> </figcaption>                
            </figure>
            <p>Sucesor de su padre en el trono de España (juntamente con sus posesiones en América, los Países Bajos, Milán, Cerdeña, Nápoles y Sicilia) con el nombre de Felipe II.</p>
           
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/mariaAustriaPortugall.jpg' %}" alt="">
                <figcaption> <strong>María (1528-1603)</strong> </figcaption>
            </figure>
            <p>Emperatriz del Sacro Imperio por su boda con Maximiliano II.</p>

        </div>
        <div class="col-md-2 border">
            <figure>
                <img class="img-fluid" src="" alt="">
                <figcaption> <strong>Fernando (1529-1530)</strong> </figcaption>
            </figure>
            <p>Muerto en la infancia.</p>
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/juanaPortugal.jpg' %}" alt="">
                <figcaption> <strong>Juana (1535 – 1573)</strong> </figcaption>
            </figure>
            <p>Princesa de Portugal por matrimonio con Juan Manuel de Portugal que murió antes de ser rey y regente de España (1554-1559).</p>
        </div>
        <div class="col-md-2 border">
            <figure>
                <img class="img-fluid" src="" alt="">
                <figcaption> <strong>Juan (1539 – 1539)</strong> </figcaption>
            </figure>
            <p>Nacido el 30 de abril de 1539 y muerto ese mismo día, a consecuencia de su parto murió también su madre Isabel..</p>

        </div>
        
    </div>

    
    <div class="row justify-content-center text-center mb-5 mt-5">
        <h3  >Tumba de Carlos I</h3>
        <hr>
        <div class="col-md-5">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/lechoCarlosI.jpg' %}" alt="">
                <figcaption> <strong>Lecho de muerte de Carlos I</strong> </figcaption>
            </figure>
            <p>Lecho de muerte del emperador Carlos V en el Monasterio de Yuste, Cáceres.</p>

        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/momiaCarlosI.jpg' %}" alt="">
                <figcaption> <strong>Momia Carlos I</strong> </figcaption>                
            </figure>
            <p>Sufrió una exhumación (profanación) por milicianos en la Guerra Civil</p>
           
        </div>
        <div class="col-md-5">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/tumbaCarlosI.png' %}" alt="">
                <figcaption> <strong>Sepulcro de Carlos I</strong> </figcaption>
            </figure>
            <p>En el Monasterio del Escorial</p>

        </div>
    
    </div> 

     
</div>
{% endblock %}