{% extends "bases/baseHistoria.html" %}

{% load static %}

{% block titulo %} Felipe II {% endblock %}

{% block cabecera %} FelipeII {% endblock %}

{% block imgCabecera %} <img class="img-fluid" src="{% static 'images/sigloXVI/felipeII.jpg' %}" alt=""> {% endblock %}

{% block contenido %}

<div class="container  mt-5 justify-content-center text-center">
    <div class="row mb-4 ">
        <h2>Felipe II, el rey prudente. Reinó entre 1556 y 1598</h2>
    </div>
    <hr>
    <h3  >Hijos de Carlos I e Isabel de Portugal</h3>

    <div class="row justify-content-center text-center mb-5 mt-5">
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/felipeII.jpg' %}" alt="">
                <figcaption> <strong>Felipe (1527-1598)</strong> </figcaption>                
            </figure>
            <p>Sucesor de su padre en el trono de España (juntamente con sus posesiones en América, los Países Bajos, Milán, Cerdeña, Nápoles y Sicilia) con el nombre de Felipe II.</p>
           
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/mariaAustriaPortugall.jpg' %}" alt="">
                <figcaption> <strong>María (1528-1603)</strong> </figcaption>
            </figure>
            <p>Emperatriz del Sacro Imperio por su boda con Maximiliano II.</p>

        </div>
        <div class="col-md-2 border">
            <figure>
                <img class="img-fluid" src="" alt="">
                <figcaption> <strong>Fernando (1529-1530)</strong> </figcaption>
            </figure>
            <p>Muerto en la infancia.</p>
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/juanaPortugal.jpg' %}" alt="">
                <figcaption> <strong>Juana (1535 – 1573)</strong> </figcaption>
            </figure>
            <p>Princesa de Portugal por matrimonio con Juan Manuel de Portugal que murió antes de ser rey y regente de España (1554-1559).</p>
        </div>
        <div class="col-md-2 border">
            <figure>
                <img class="img-fluid" src="" alt="">
                <figcaption> <strong>Juan (1539 – 1539)</strong> </figcaption>
            </figure>
            <p>Nacido el 30 de abril de 1539 y muerto ese mismo día, a consecuencia de su parto murió también su madre Isabel..</p>

        </div>
        
    </div>

    <div class="row text-start">
        <h3>Extensión de la monarquía</h3>
        <hr>
        <div class="col-md-8">
            <div class="row justify-content-center text-center mb-5">
                
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVI/dominiosFelipeII.jpg' %}" alt="">
                        <figcaption> <strong>Dominios europeos y norteafricanos de Felipe II hacia 1580</strong> </figcaption>                
                    </figure>
                    <p></p>
                
                     
            </div>
        </div>
        <div class="col-md-4">
            <p><strong>Duque de Milán</strong></p>
            <p>Tras la muerte en 1535 de Francisco II, último Sforza, el Ducado de Milán quedó sin soberano. 
                Carlos I pensó nombrarse a sí mismo duque, ya que Milán era un estado feudatario del Sacro Imperio Romano Germánico, 
                pero esto podría ser considerado un casus belli en Francia y optó por nombrar a su hijo Felipe II. </p>
            
            <p><strong>Rey de Nápoles</strong></p>
            <p>A finales de 1553 se anunció la boda de Felipe con su tía segunda, la reina de Inglaterra, María I.
                Pero resultaba que Felipe era únicamente príncipe y duque. No podía haber matrimonio entre la reina y alguien de rango inferior.
                Carlos I solucionó el inconveniente renunciando al Reino de Nápoles en favor de su hijo, para que este fuese rey.</p>

            <p><strong>Rey de Inglaterra e Irlanda</strong></p>
            <p>1554 Felipe se casó con la reina María I de Inglaterra convirtiéndose en rey de Inglaterra. En 1558, encontrándose en los 
                Países Bajos, la reina María I Tudor falleció sin haber tenido descendencia. Su hermana ascendió al trono como 
                Isabel I de Inglaterra, reconocida como tal por el ya exrey Felipe</p>
        </div>
            <p><strong>Soberano de los Países Bajos y duque de Borgoña</strong></p>
            <p>En 1555 Carlos abdicó en su hijo como Soberano de los paises Bajos y Borgoña. 
                A diferencia de Castilla, Aragón, Nápoles y Sicilia, los Países Bajos no eran parte de la herencia de los Reyes Católicos 
                y veían al monarca como un rey extranjero y lejano. Los estados del norte pronto se convirtieron en un gran campo de batalla, 
                ayudados por Francia e Inglaterra, que explotaron la situación para debilitar a la Corona Española.</p>

            <p><strong>Rey de España, Sicilia y las Indias</strong></p>
            <p>En 1556 Carlos I, en sus habitaciones privadas y sin ninguna ceremonia, cedió a Felipe la Corona de 
                los Reinos Hispanos, Sicilia y las Indias. 
                Aunque durante su juventud vivió doce años fuera de España en Suiza, Inglaterra, Flandes, Portugal, etc., 
                una vez convertido en rey de España fijó su residencia en Madrid y potenció el papel de esta ciudad como capital de todos 
                sus reinos.
            </p>

            <p><strong>Rey de Portugal</strong></p>
            <p>En 1578, tras la muerte sin descendientes del rey Sebastián I de Portugal, 
                Felipe II se convirtió en candidato al trono ya que era hijo de Isabel de Portugal.
                En 1580 y tras una guerra con el Prior de Crato venció en la batalla de Alcántara y lograba la tan 
                ansiada unificación de la península ibérica bajo un único rey español.
            </p>
        
        
        
        

        <h3 class="mt-5">Familia</h3>
        <hr>
        
        <div class="row justify-content-center text-center mb-5">
        
            <div class="col-md-2">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/felipeII.jpg' %}" alt="">
                    <figcaption> <strong>Felipe (1527-1598)</strong> </figcaption>                
                </figure>
            </div>          
        
        </div>

        <div class="row justify-content-center text-center mb-1">
            <div class="col-md-2 border">
                <div class="row h-70">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVI/mariaManuelaPortugal.jpg' %}" alt="">
                        <figcaption> <strong>María Manuela de Portugal (1543-1545)</strong> </figcaption>                
                    </figure>
                    <p>Hija de Juan III el Piadoso y Catalina de Austria (hermana de Carlos I). Murió en el parto sin llegar a ser reina de España</p>
                </div>
                
                <div class="row h-30">
                    <div class="col-md-6">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/carlosAustria.jpg' %}" alt="">
                        <figcaption> <strong>Carlos de Austria (1545-1568)</strong> </figcaption>                
                        </figure>
                    </div>
                </div>
                
            </div>
            <div class="col-md-2 border">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/mariaTudor.jpg' %}" alt="">
                    <figcaption> <strong>María Tudor (1554-1558)</strong> </figcaption>                
                </figure>
                <br>
                <p>Hija de Enrique VIII y Catalina de Aragón. Reina de Inglaterra. Se casó con 37 años</p>
            </div>
            <div class="col-md-2 border">
                <div class="row h-70">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVI/isabelValoiss.jpg' %}" alt="">
                        <figcaption> <strong>Isabel de Valois (1559-1568)</strong> </figcaption>                
                    </figure>
                    <p>Isabel de Valois era la segunda hija del rey Enrique II de Francia y Catalina de Médicis. Murió en el parto de una niña que tb falleció</p>
                </div>
                
                
                <div class="row h-30">
                    <div class="col-md-6">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/isabelClaraEugenia.jpg' %}" alt="">
                            <figcaption> <strong>Isabel Clara Eugenia (1566-1633)</strong> </figcaption>                
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/catalinaMicaela.jpg' %}" alt="">
                            <figcaption> <strong>Catalina Micaela (1567-1597)</strong> </figcaption>                
                        </figure>
                    </div>
                </div>
            </div> 
            <div class="col-md-2 border">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/anaAustria.jpg' %}" alt="">
                    <figcaption> <strong>Ana de Austria (1570-1580)</strong> </figcaption>                
                </figure>
                <p>Hija de Maximiliano II de Habsburgo y de María de Austria (hermana de Felipe). Murió en el parto de una niña que también falleció</p>
                <div class="row">
                    <div class="col-md-6">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/fernandoHijoFelipeII.jpg' %}" alt="">
                            <figcaption> <strong>Fernando (1571-1578)</strong> </figcaption>                
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVI/felipeiii.jpg' %}" alt="">
                            <figcaption> <strong>Felipe III (1578-1621)</strong> </figcaption>                
                        </figure>
                    </div>
                </div>
            
            </div>                    

        </div>
        <p>Murieron 3 hijos de su matrimonio con Ana de Austria, Fernando con 7 años, Carlos Lorenzo con 2 y María con 3 </p>

        <h3 class="mt-5">Su personalidad</h3>
        <hr>
        <div class="row">
            
            <div class="col-md-12">
                <p>Fue educado directamente por su padre para el gobierno, aunque con otros colaboradores. <strong>Tímido y retraído</strong> , fue muy trabajador; quería conocer y controlar por sí mismo todos los asuntos, para lo cual pasaba mucho tiempo revisando documentos y anotándolos de su mano, lo que frecuentemente retrasaba la solución de los asuntos. Lento en tomar decisiones, cuando las tomaba las mantenía inflexiblemente. Este aspecto de su personalidad le ha valido el sobrenombre de <strong>“el Prudente”</strong> .</p>
                <p>Su reinado no puede comprenderse sin tener en cuenta que se consideraba como el <strong> defensor del Catolicismo</strong>. Separado ya el Imperio alemán de España, Felipe II hizo de España el centro de su Imperio, y dentro de España fue Castilla el reino en que más se apoyó. Felipe II no saldría, desde su acceso al trono, de la Península, en lo que contrasta con su padre, que viajó mucho. Buscando un lugar retirado, estableció la capital en Madrid (1561) y más tarde se estableció en El Escorial.</p>
                <p>Su defensa del Catolicismo y la hegemonía de España le valieron la enemistad de gran parte de Europa; sus enemigos trataron de difamarlo y así surgió <strong>la Leyenda Negra</strong> , que lo presentaba como un hombre malvado. A esta leyenda contribuyeron Guillermo de Orange, holandés, con su “Apología”; su antiguo secretario Antonio Pérez, con sus “Relaciones” y el asunto de su hijo, el príncipe don Carlos.</p>
            </div>

        <h3 class="mt-5">Política interior</h3>
        <hr>
        <h5><strong><u> El príncipe Carlos</u></strong></h5>
        <div class="row">
            <div class="col-md-2">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/carlosAustria.jpg' %}" alt="">
                    <figcaption> Carlos de Austria (1545-1568) </figcaption>                
                </figure>
            </div>
            <div class="col-md-10 mb-5">
                <p>Caracterizado por su desequilibrio mental, Carlos tuvo una complexión débil y enfermiza.</p>
                <p>Fue educado en la Universidad de Alcalá junto al medio hermano del rey, don Juan de Austria.</p>
                <p>Conspiró con poco disimulo con los rebeldes flamencos contra su padre. 
                    Tras asombrosos escándalos relacionados con esto, como el intento de acuchillar en público al duque de Alba, 
                    fue detenido por su propio padre, procesado y encerrado en sus aposentos.</p>     
                    
                <p>Posteriormente fue trasladado al Castillo de Arévalo donde murió de inanición (se negaba a comer) y en total delirio en 1568. 
                 Este terrible hecho marcó profundamente, y de por vida, la personalidad del monarca.</p> 
                    
            </div>
        </div>
        
        <h5><strong><u> La rebelión en las Alpujarras (1568 a 1571)</u></strong></h5>
        <div class="row">
            
            <div class="col-md-8">
                <p>Si Felipe II tuvo un annus horribilis, ese fue 1568. En el terreno doméstico se sucedieron las desgracias, con las muertes su hijo, el príncipe don Carlos, y su tercera esposa, Isabel de Valois. Mientras tanto, el soberano tenía que enfrentarse al estallido de revueltas en los Países Bajos y en Granada. Esta última, protagonizada por la población morisca, provocó a la monarquía hispana muchos más problemas de los inicialmente previstos.</p>
                <p>Entre 1500 y 1502 tuvo lugar una campaña de conversiones forzadas de los moriscos que se repetiría entre 1525 y 1526, ya bajo el reinado de Carlos V.</p>
                <p>En 1567, el rey promulgó una <strong>Pragmática Sanción</strong>  que obligaba a los moriscos de la zona a abandonar su lengua, sus trajes típicos y otros elementos de su cultura.</p>
                <p>Esta imposición hizo que el malestar se extendiera como la pólvora. La situación se agravó todavía más cuando se supo que las autoridades iban a obligar a la población de origen musulmán a justificar la propiedad de sus tierras. Los que no pudieran presentar documentos acreditativos se verían despojados de las mismas.</p>
                <p>El levantamiento que se gestaba estalló finalmente en la Nochebuena de 1568. Los rebeldes tomaron como monarca a Hernando de Córdoba, un aristócrata morisco que adoptó el nombre de <strong>Abén Humeya</strong>.</p>
                <p>La situación degeneró hacia la guerra total, con actos de increíble violencia por ambos bandos. Los moriscos profanaban templos católicos y asesinaban a los sacerdotes y religiosos, aprovecharon para tomar venganza por las humillaciones pasadas, cuando los curas tomaban buena nota de quien no asistía a misa, o llamaban la atención a las mujeres por no descubrirse el rostro.</p>
                <p>Si Felipe II imaginó que la rebelión sería aplastada sin grandes dificultades, debió de salir pronto de su error. Los sublevados utilizaban su conocimiento del terreno, una zona de montaña abrupta, para organizar una temible guerrilla.</p>
                <p>En esos momentos, las autoridades cristianas temían que el Imperio otomano intentara capitalizar la revuelta en su favor. Pero la sorprendente realidad fue que los turcos apenas enviaron ayuda a sus correligionarios de Granada. Llegaron desde el norte de África algunos combatientes, pero en cantidades que nunca fueron significativas.</p>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/juanAustria.jpg' %}" alt="">
                    <figcaption> <strong>Juan de Austria (1545-1578)</strong> </figcaption>                
                </figure>
                <p>Hijo ilegítimo de  Carlos V con Bárbara Blomberg. Comandó la guerra de las Alpujarras y la batalla de Lepanto y pacificó los Paises Bajos. Felipe II comenzó a desconfiar de él y cuando murió con 30 años surgieron rumores de un posible envenenamiento por parte del rey</p>
                            
            </div>
            
                
                <p>Las tropas castellanas vieron obstaculizado su avance por la rivalidad entre sus mandos. Felipe II zanjó la cuestión otorgando el mando supremo a don <strong>Juan de Austria</strong>, su medio hermano. El joven comandante acabó con todos los núcleos de resistencia, aunque al precio de métodos drásticos: hizo destruir los pueblos y las cosechas de sus enemigos.</p>
                <p>Las disensiones internas habían resquebrajado a los rebeldes. Su líder, Abén Humeya, murió asesinado. A los vencidos les esperaba la muerte, la esclavitud o la deportación. La Corona repartió a miles de moriscos granadinos en ciudades como Toledo, Sevilla y Ciudad Real, a la vez que mandaba repoblar con cristianos el reino de Granada.</p>
                <p>Poco después, Juan de Austria, al frente de la flota de la Santa Liga, alcanzó en Lepanto una épica victoria. Las costas de los dominios españoles siguieron sufriendo incursiones, pero no con la misma intensidad.</p>
                <p>Tras la guerra de las Alpujarras se recrudeció el sentimiento antimusulmán.Este tipo de prejuicios creó el clima favorable para su expulsión en 1609</p>
        </div>
        <h5 class="mt-3"><strong><u> Antonio Pérez</u></strong></h5>
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/antonioPerez.jpg' %}" alt="">
                    <figcaption> <strong>Antonio Pérez (1540-1611)</strong> </figcaption>                
                </figure>
            </div>
            <div class="col-md-8">
                <p><strong> Cuando sospechó que su antiguo «criado» Juan de Escobedo podía revelar sus secretos al Rey –entre ellos su probable relación íntima con la Princesa de Éboli–, Pérez convenció a Felipe II para que accediera a asesinarlo bajo falsas acusaciones. La muerte de Escobedo fue el principio del fin del todopoderoso secretario, que en su huida provocó una grave rebelión en Aragón y terminó uniéndose a los enemigos de la Monarquía hispánica.</strong></p>
                <p>Antonio Pérez, aragonés,fue el secretariodel rey hasta 1579, cuando fue arrestado porconspirar contra el rey.Logró huir y refugiarse en Aragón, donde se amparó en el derecho foral. Para detenerle, el rey lo acusó de hereje, lo que suponía la intervención de la Inquisición. Los aragoneses lo protegieron, por lo que Felipe II decidió ocupar el reino y sentenciar a muerte a Juan Lanuza, el Justicia Mayor de Aragón19,  que se enfrentó al rey amparándose en su potestad para interpretar los fueros aragoneses. Mientras tanto, el perseguido escaparía a Francia para el resto de sus días.</p>
                <p>El enfrentamiento con Escobedo provocará la rápida caída de Pérez ya que, con motivo de una visita oficial de Escobedo a Madrid enviado por don Juan para recabar mayores apoyos en su política flamenca, Pérez consideró peligroso al recién llegado, temeroso de que descubriera su doble juego. Por lo tanto, don Antonio convenció al rey de que Escobedo era el instigador de una posible traición de don Juan, por lo que se decidió su eliminación. Escobedo fue asesinado en las calles de Madrid el 23 de marzo de 1578. </p>
                <p>Este error político fue rápidamente aprovechado por los enemigos de Pérez que encendieron la sombra de la duda en Felipe. Se inició una investigación en la que se descubrió la culpabilidad del secretario. Pérez era detenido y encarcelado el 28 de julio de 1579. La causa por la que Pérez era enjuiciado se limitaba a asuntos de corrupción, sin profundizar en el asesinato. Fue condenado a dos años de cárcel y diez de destierro. Simultáneamente, se inició el proceso por el asesinato de Escobedo que acabó con la acusación formal y la tortura del reo.</p>
            </div>
            
            
            <p>Corría el mes de junio de 1589 y Pérez se vio perdido, por lo que empezó a pensar en la huida. El 19 de abril de 1590 llegaba a Aragón acogiéndose al derecho foral, valiéndose de su condición de hijo de aragonés. El rey no podía enjuiciar en Aragón a un reo que hubiera cometido su crimen en Castilla por lo que empleó el único tribunal que tenía competencias en todo el territorio peninsular: la Santa Inquisición.</p>
            <p>Pérez fue acusado de herejía y se intentó trasladar a la cárcel inquisitorial, lo que provocó una revuelta en Zaragoza, al ver el joven Justicia de Aragón Juan de Lanuza como los fueros aragoneses no eran respetados. </p>
            <p>Pérez consiguió huir a Francia y Felipe enviaba un ejército a Aragón que ponía fin a los disturbios y a la vida del Justicia.</p>
            <p>Una vez en territorio galo, Antonio Pérez recibió el apoyo de Enrique IV al poner en manos de éste atractivos proyectos desestabilizadores para España. El fracaso de los intentos de invasión francesa motivó el traslado de Pérez a Inglaterra donde también contó con importantes ayudas, ofreciendo interesante información que sirvió para el ataque inglés a Cádiz en 1596.</p>
            <p>La paz de Vervins (1598) supuso el final diplomático de Pérez, dedicándose a la escritura, publicando dos importantes obras que tuvieron un destacado efecto negativo en la figura de Felipe II: las Relaciones y las Cartas. Tras intentar obtener el perdón hispano en numerosas ocasiones, siempre con un resultado negativo, Pérez falleció en la más absoluta pobreza en París, el 7 de abril de 1615.</p>
        </div>

        <h5 class="mt-3"><strong><u> Modelo político</u></strong></h5>
        <p>Se consolidó el sistema de <strong>gobierno por consejos</strong> . Carlos I creó el Consejo de
            Estado con jurisdicción sobre todos los reinos y que asesoraba al soberano en
            asuntos relevantes, sobre todo de política exterior. Otros consejos eran: el de
            Castilla, Aragón, la Inquisición, Indias, Órdenes Militares, el de Hacienda.</p>

            <p>Aumentó el poder de los <strong>secretarios del rey</strong> , que pasaron a ser claves en el
            gobierno: eran los encargados de informar al monarca de las decisiones de los
            consejos, de manera que el rey no acudía a estos y despachaba sólo con los
            secretarios.</p>

            <p>Se mantuvo la delegación del poder en <strong>virreyes y gobernadores</strong>  en los territorios
            en los que el soberano iba a estar ausente durante bastante tiempo: Navarra,
            Aragón, Nápoles, Sicilia, Cerdeña, Méjico… En Milán y los Países Bajos había
            gobernadores.</p>

            <p>El modelo era descentralizado por la base: se seguían convocando <strong>Cortes</strong>  tanto
            en Castilla como en Navarra, Aragón, Cataluña y Valencia.</p>

            <p><strong>Financiación</strong> : Los ingresos crecieron notablemente, pero no cubrían los gastos,
            sobre todo por los gastos militares. Los ingresos procedían de los impuestos de Castilla, sobre todo los subsidios votados en la Cortes y además eran muy importantes los
            ingresos provenientes de las Indias.
            <p>Los nobles no pagaban impuestos y la Iglesia colaboraba más: una parte del diezmo
            , la bula de cruzada, el subsidio sobre las rentas de los eclesiásticos y el excusado sobre los bienes de las parroquias.</p>

            <p>El déficit se cubría recurriendo al <strong>crédito y al préstamo</strong> . De esta forma banqueros sobre todo alemanes y genoveses fueron haciéndose con
            cantidades crecientes del importe de los impuestos. Por ello y por la disminución del oro
            americano, la monarquía se declaró en <strong>bancarrota</strong>  y suspensión de pagosen diversas ocasiones (1557, 1560, 1575, 1596) </p>  

        <h3 class="mt-5">La leyenda negra</h3>
        <hr>
        <div class="row">
            
            <div class="col-md-12">
                <p>La imagen negativa más poderosa de Felipe II ha sido transmitida a través de la llamada Leyenda Negra, 
                    que todavía se mantiene con fuerza. Una parte de esta leyenda
                    se debe a los oponentes del rey, personajes como Guillermo de Orange o Antonio
                    Pérez, donde acusaban a Felipe de crímenes "personales" tales como el asesinato de su
                    hijo don Carlos, de su esposa Isabel de Valois y del secretario Escobedo. Pero ya que no
                    se ha encontrado evidencia alguna que justifique estas acusaciones, deben tomarse como
                    simplemente falsas. La supervivencia de la leyenda sobre don Carlos se debe a la
                    popularidad de la ópera de Verdi.</p>

                <p>La otra parte de la Leyenda Negra que implica a Felipe II es su posible responsabilidad
                    por la política religiosa española. En estos crímenes se incluirían los sufrimientos de la
                    población indígena de América (tema de las protestas de Bartolomé de las Casas), la
                    ejecución de protestantes en España (tratada por el exiliado Reginaldo González
                    Montano) y la muerte de aquellos nobles ejecutados bajo el régimen sangriento del
                    duque de Alba en los Países Bajos.</p>
                    
                    
            </div>

            <h3 class="mt-5">Política exterior</h3>
            <hr>
            <h5><strong><u> La guerra contra Francia</u></strong></h5>
            <div class="row">
                
                <div class="col-md-12">
                    <p>Al iniciar su reinado, España se encontraba en guerra contra Francia. Los enfrentamientos se desarrollaron en la zona fronteriza entre Francia y los Países Bajos. Las tropas de Felipe II vencieron en dos batallas (<strong> San Quintín en 1557</strong> y <strong>Gravelinas en 1558)</strong> . Francia reconoció la derrota y se firmó la paz de Cateau-Cambrèsis en 1559.</p>
                    <p>Felipe II, que entonces se encontraba viudo, contrajo <strong>matrimonio con Isabel de Valois</strong> , hija del rey de Francia, Enrique II. Se abría una etapa de tranquilidad con Francia, que reconocía el predominio de España en Italia.</p>
                </div>
            </div>
            
            <h5><strong><u> Los turcos en el mediterráneo</u></strong></h5>
            <div class="row">
                
                <div class="col-md-3">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVI/lepanto.jpg' %}" alt="">
                                        
                    </figure>
                </div>
                <div class="col-md-9">
                    <p>Este enfrentamiento era otro problema heredado; los turcos en su avance en el Mediterráneo ocupan Chipre, territorio de Venecia. Para detener su progreso se decidió responder con una coalición entre diversos Estados. Se formó así la <strong>Liga Santa</strong> , integrada por Venecia, el papa Pio V y Felipe II.</p>
                    <p>Al frente de la escuadra iba don Juan de Austria (entre los marinos figuraba Miguel de Cervantes), que derrotó a la turca en la batalla de Lepanto en 1571. Fue un gran triunfo que contribuyó a debilitar a los turcos en el Mediterráneo.</p>
                </div>

            </div>

            <h5><strong><u> Sublevación de los Países Bajos</u></strong></h5>
            <div class="row">
                
                
                <div class="col-md-9">
                    <p>los Países Bajos estaban formados aproximadamente por los actuales estados de Bélgica, Holanda, Luxemburgo y algunos de los actuales departamentos franceses del noroeste.</p>
                    <p>Fueron heredados por Felipe II de su padre y durante su reinado se desarrolla en este territorio el calvinismo y el protestantismo y ello contribuyó a que se extendiera el independentismo, dado que Felipe II no estaba dispuesto a admitir en ellos la libertad religiosa.</p>
                    <p>Los primeros intentos de sublevación se dan 1566. Felipe II respondió enviando tropas al frente del duque de Alba. Éstas obtuvieron diversos éxitos frente a los rebeldes pero no lograron pacificar el territorio.</p>
                    <p>Desde muy pronto los Países Bajos empezaron a ofrecer dos zonas de fidelidad: <strong>el sur, católico, fiel a Felipe II</strong>, que correspondería a la actual Bélgica y los territorios hoy franceses, ya comentados. <strong>El norte, calvinista,</strong>  en contra de Felipe II, bajo la dirección de <strong>Guillermo de Orange</strong> (con apoyo francés, inglés y alemán) apostó por la independencia construyendo un nuevo Estado, las Provincias Unidas (actual Holanda).</p>
                </div>
                <div class="col-md-3">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVI/guillermoOrange.jpg' %}" alt="">
                        <figcaption> <strong>Guillermo de Orange</strong> </figcaption>                 
                    </figure>
                </div>

                <p>Tras la gestión del duque de Alba en los Países Bajos fueron enviados otros gobernadores: Luis de Requesens, luego don Juan de Austria y, al morir éste, don Alejandro Farnesio.</p>

            </div>

            <h5><strong><u> La lucha contra Inglaterra</u></strong></h5>
            <div class="row">
                
                <div class="col-md-3">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVI/armadaInvencible.jpg' %}" alt="">
                                        
                    </figure>
                </div>
                <div class="col-md-9">
                    <p>Las relaciones con Inglaterra fueron de amistad durante el reinado de Carlos I.</p>
                    <p>Con Felipe II las cosas se complicaron. Al comienzo de su reinado contrajo matrimonio con la reina de Inglaterra María Tudor, pero ésta falleció poco después. A María Tudor le sucedió Isabel (tenían el mismo padre, Enrique VIII, pero distinta madre: de María Tudor, Catalina de Aragón; de Isabel, Ana Bolena). Su política consistió en apoyar a todos los enemigos de España. Así, cuando estalló la sublevación de los Países Bajos apoyó a los holandeses.</p>
                    <p>Felipe II decidió enfrentarse a Inglaterra. Planeó su invasión; una enorme flota (la “Armada Invencible”) partió de Lisboa rumbo a los Países Bajos para recoger al ejército de Alejandro Farnesio, y desembarcarlo en las costas inglesas.</p>
                    
                </div>
                <p>Sin embargo, el plan fracasó; los ingleses establecieron una mejor estrategia, con buques más pequeños y de más rápido movimiento, además, las tempestades contribuyeron a desorganizar la escuadra. En torno a la mitad de los barcos y de los hombres se perdió en su regreso al circunnavegar las Islas Británicas. Era el año 1588.</p>
            </div>

            <h5><strong><u> Las guerras de religión con Francia</u></strong></h5>
            <div class="row">
                
                
                <div class="col-md-9">
                    <p>Desde la muerte de Enrique II los enfrentamientos religiosos se acentúan en Francia.</p>
                    <p>Por un lado, estaban los <strong>católicos</strong> que eran defendidos por <strong>Enrique de Guisa</strong> . Por otro, los <strong>hugonotes o calvinistas</strong>  que estaban dirigidos por <strong>Enrique de Borbón</strong>.</p>
                    <p>En París eran muy fuertes los católicos y para debilitarlos el rey Enrique III (1588) ordenó asesinar a Enrique de Guisa. Meses después era también asesinado el mismo rey Enrique III (1589) quedando como heredero a la corona Enrique de Borbón que era calvinista.</p>
                    <p>Los católicos no lo aceptaban. Felipe II dio una solución: que su hija Isabel Clara Eugenia, habida con Isabel de Valois, hija de Enrique II, fuese reconocida como reina de Francia, fórmula que no llegó a tener el apoyo suficiente.</p>
                    <p>La salida a la crisis la dio el mismo <strong>Enrique de Borbón, en 1593,</strong> Enrique de Borbón, en 1593, convirtiéndose al catolicismo <strong>(“París bien vale una misa”).</strong> </p>
                </div>
                <div class="col-md-3">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVI/enriqueBorbon.jpg' %}" alt="">
                        <figcaption> <strong>Enrique de Borbón</strong> </figcaption>                 
                    </figure>
                </div>

                

            </div>

            <h3 class="mt-5">Fallecimiento</h3>
            <hr>
            <p>Felipe II tuvo, durante la mayor parte de la vida, una salud delicada. Padeció numerosas enfermedades y durante sus diez últimos años de vida la gota le tuvo postrado. Llegó a perder la movilidad de la mano derecha, sin poder firmar los documentos. </p>
            <p> A fines de la primavera de 1598 se hizo trasladar en litera de Madrid a El Escorial. Comulgó por última vez el 8 de septiembre, ya que los médicos se lo prohibieron a partir de ese momento, por miedo a ahogarse al tragar la hostia. Se instaló en una reducida habitación desde cuya cama y a través de una pequeña abertura podía ver el altar mayor de la basílica y el tabernáculo que reposaba en el. A pesar de su inmenso sufrimiento disponía minuciosamente de los menores detalles de sus exequias. </p>
            <p>Mando a llamar a su hija preferida y a su hijo, a quienes se mostró encenegado en sus deyecciones y les murmuro “he querido, hijos míos, que os hallarais presentes para que veáis en que vienen a parar los reinos y señoríos de este mundo”.</p>
            <p>A las cinco de la madrugada del domingo 13 de septiembre de 1598, con un crucifijo en una mano y un cirio encendido en la otra y los ojos fijos en el tabernáculo, falleció en el monasterio de El Escorial, donde fue sepultado, a los setenta y un años. Su agonía había durado cincuenta y tres días, en los que sufrió varias enfermedades: gota, artrosis, fiebres tercianas, abscesos e hidropesía entre otras.</p>
        </div>

    
    
    </div>


{% endblock %}