{% extends "bases/baseHistoria.html" %}

{% load static %}

{% block titulo %} Sucesión de Isabel la Católica {% endblock %}

{% block cabecera %} Sucesión de Isabel la Católica {% endblock %}

{% block imgCabecera %} <img class="img-fluid" src="{% static 'images/sigloXVI/juanaIDeCastilla.jpg' %}" alt=""> {% endblock %}

{% block contenido %}

<h2>Hijos de los Reyes Católicos</h2>
    <div class="row justify-content-center text-center mb-5">
        <div class="col-md-2 border">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/isabelDeAragon.jpg' %}"  alt="">
                <figcaption> <strong>Isabel (1470-1498)</strong> </figcaption>                
            </figure>
            <p>Casada en 1490 con Alfonso de Portugal y en segunda nupcias con su hermano Manuel (1497). Murió de parto en 1498. El niño, Miguel, fue jurado príncipe heredero de Castilla, Aragón y Portugal, pero murió en 1500.</p>
           
        </div>
        <div class="col-md-2 border">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/juanDeAragon.jpg' %}" alt="">
                <figcaption> <strong>Juan (1478-1497)</strong> </figcaption>
            </figure>
            <p>Casado en 1497 con la infanta Margarita de Austria murió ese mismo año. Tuvieron un hijo póstumo que nació muerto. Margarita se fue de España y se encargó de los primeros pasos de su sobrino Carlos.</p>

        </div>
        <div class="col-md-2 border">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/juanaIDeCastilla.jpg' %}" alt="">
                <figcaption> <strong>Juana (1479-1555)</strong> </figcaption>
            </figure>
            <p>Casada en 1496 con Felipe de Austria. En 1500 nació en Gante su primer hijo varón, Carlos que fué Emperador. En 1503 nació Fernando que sucedió a Carlos V como Emperador.</p>
        </div>
        <div class="col-md-2 border">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/mariaDeAragon.jpg' %}" alt="">
                <figcaption> <strong>María (1482-1517)</strong> </figcaption>
            </figure>
            <p>Casada en 1500 con Manuel de Portugal, viudo de su hermana. Tuvieron diez hijos, entre ellos, Isabel, esposa de Carlos V.</p>

        </div>
        <div class="col-md-2 border">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/catalinaDeAragon.jpg' %}" alt="">
                <figcaption> <strong>Catalina (1485-1536)</strong> </figcaption>
            </figure>
            <p>Casada con Arturo (1502), Príncipe de Gales y con Enrique VIII (1509), rey de Inglaterra. Madre de María Tudor, esposa de Felipe II y reina de Inglaterra.</p>

        </div>
    </div>

    <h2>Sucesión al trono de Castilla</h2>
           
                           
        <div class="row text-center pt-5">
            <div class="col-md-6 text-start">
                <p>La reina Isabel murió el 26 de noviembre de 1504.
                <h4>Testamento</h4>
                <ul>
                    <li>Juana será «reina verdadera y señora natural» de Castilla, reconociéndole a Felipe únicamente los honores y dignidades como consorte</li>
                    <li>Todos los oficios laicos y eclesiásticos serían desempeñados por españoles y no por extranjeros</li>
                    <li>Los territorios americanos se reservaban como monopolio a los reinos de Castilla y León</li>
                    <li>Cuando Juana no estuviese en los reinos o «estando en ellos no quiera o no pueda atender en la gobernación», de esta se haría cargo Fernando.</li>
                    
                </ul>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/sigloXVI/mapaEspagna.png' %}" alt="">
            </div>            
        </div>

        <div class="row text-start">
            <p>En 1505 Fernando el Católico se casa con Germana de Foix, sobrina de Luis XII de Francia. De esta manera conseguía el apoyo del rey de Francia que hasta ahora apoyaba a Juana la Loca y Felipe el Hermoso.</p>
            <p>Fernando el Católico que aspira a ser rey de Castilla entra en conflicto con Felipe el Hermoso que cuenta con el apoyo de la mayoría de nobles castellanos y que considera el matrimonio de Fernando como una maniobra política en su lucha por Castilla. </p>
        </div>

        <div class="row mt-4 mb-3">
            <h4>Concordia de Salamanca (1505)</h4>
        </div>

        <div class="row text-start">
            <ul>
                <li>Se acordó que Fernando, Felipe y Juana gobernarían Castilla</li>
                <li>Al llegar al territorio peninsular, Juana y Felipe serían proclamados reyes propietarios y Fernando, gobernador perpetuo</li>
                <li>Se repartirían las rentas reales por mitad entre Fernando y el matrimonio y las de los maestrazgos de las órdenes militares enteramente para el Católico</li>
                <li>Se acordó la provisión alternativa de las vacantes en los cargos</li>
                <li>Debido a los trastornos mentales que se apreciaban en Juana, se añadió una cláusula por la que el gobierno recaería en Felipe y, en ausencia de este, en Fernando.</li>
            </ul>
        </div>

        <div class="row justify-content-center text-center pt-5">
            <div class="col-md-2">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/fernandoCatolico.jpg' %}" alt="">
                    <figcaption>Fernado el Católico (1479-1516)</figcaption>
                </figure>
            </div>
            <div class="col-md-2">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/juanaIDeCastilla.jpg' %}" alt="">
                    <figcaption>Juana la Loca (1479-1555)</figcaption>
                </figure>
            </div>
            <div class="col-md-2">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/felipeHermoso.jpg' %}" alt="">
                    <figcaption>Felipe el Hermoso (1478-1506)</figcaption>
                </figure>
            </div>
        </div>

        <div class="row mt-4 mb-3">
            <h4>Concordia de Villafáfila (1506)</h4>
        </div>

        <div class="row text-start">
            <ul>
                <li>Felipe el Hermoso no se conformó con lo plasmado en el acuerdo y se apresuró a embarcarse junto a su esposa desde Flandes llegando a La Coruña en 15  06</li>
                <li>Cuando llegan a Castilla y se agravan las malas relaciones lo que los lleva a celebrar la Concordia de Villafáfila</li>
                <li>Se pone de manifiesto los pocos apoyos que tiene Fernando entre los nobles por lo que este decide retirarse a Aragón.</li>
                <li>Se considera a Juana como incapaz para gobernar.</li>
                <li>Queda Felipe como único rey de Castilla siendo proclamado como Felipe I</li>
                

            </ul>
        </div>
        <div class="row justify-content-center text-center pt-5">
            
            <div class="col-md-2">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/juanaIDeCastilla.jpg' %}" alt="">
                    <figcaption>Juana la Loca (1479-1555)</figcaption>
                </figure>
            </div>
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/palacioTordesillas.jpg' %}" alt="">
                    <figcaption>Palacio de Tordesillas</figcaption>
                </figure>
            </div>
            <div class="col-md-2">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVI/cardenalCisneros.jpg' %}" alt="">
                    <figcaption>Cardenal Cisneros (1436-1517)</figcaption> 
                </figure>
            </div>
        </div>
        <div class="row text-start">
                <ul>
                    <li>Unos meses después muere Felipe. Unos dicen que tras beber agua fría y otros que fue envenenado por Fernando el Católico.</li>
                    <li>El trono queda vacante tanto por la incapacidad de Juana como por la edad de Carlos que era menor de edad y estaba en Flandes aún formándose. </li>
                    <li>El cardenal Cisneros asumió la regencia mientras llegada Fernando que se encontraba en Nápoles y que se hizo esperar.</li>
                    <li>Lo primero que hizo Fernando al regresar es encerrar a Juana de por vida en Tordesillas. Juana I de Castilla estuvo recluida durante 46 años -desde 1509 hasta 1555- con un breve periodo de libertad en 1533 por la peste que asolaba al reino. Con ella estuvo su hija Catalina hasta que se casó con Juan III y se convirtió en reina de Portugal. Fue maltratada física y psicológicamente por sus carceleros.</li>
                    <li>Aunque Fernando gobernó como regente dejó los asuntos importantes en manos de Cisneros.</li>
                    <li>En 1509 Germana de Foix tiene un hijo (Juan de Aragón y Foix) que muere a las pocas horas de nacer. De haber sobrevivido hubiera heredado las posesiones de Fernando el Católico terminando con la unión de Castilla y Aragón ya que el heredero de Castilla era Carlos desde la Concordia de Salamanca y el heredero de Aragón hubiera sido Juan de Aragón.</li>
                    <li>En 1516 muere Fernando el Católico tras tomar ciertos remedios afrodisíacos para aumentar su virilidad. Su herencia pasa a su nieto Carlos I.</li>
                </ul>
        </div>

        
        
        
    

    
</div>




{% endblock %}