{% extends "baseCRUD.html" %}
{% load static %}
{% block titulo %} eliminar paciente {% endblock %}
{% block cabecera %}Eliminar paciente {% endblock %}
{% block imgCabecera %} <img src="" alt="" class="img-fluid">  {% endblock %}

{% block contenido %}

<div class="row justify-content-center">
    <div class="col-md-5 mt-5">
        <form action="" method="POST">
            {% csrf_token %}
            <h6>Desea eliminar el registro {{ paciente.nombre }} {{ paciente.apellido1 }} {{ paciente.apellido2 }}</h2>
            <button type="submit">Eliminar</button>
            <a href="{% url 'listarPacientes' %}">Cancelar</a>
        </form>
    </div>
</div>

<script>
    // $('form').on('submit', function(e){
    //     e.preventDefault();
    //     var parameters = $(this).serializeArray();
    //     $.ajax({
    //         url : window.location.pathname,  //URL donde mandaremos la petición
    //         type: 'POST',
    //         data: parameters,         // Información que mandamos
    //         dataType: 'json'

    //     }).done(function(data) {
    //         console.log(data);
    //         if (!data.hasOwnProperty('error')){
    //             location.href = '{{ list_url }}';
    //             return false;
    //         }
    //         message_error(data.error);
    //     }).fail(function(jqXHR, textStatus, errorThrown) {
    //         alert( textStatus + ' : ' + errorThrown);
    //     }).always(function(data) {
            
    //     });
        
    // });
</script>

{% endblock %}