{% extends "bases/baseHistoria.html" %}

{% load static %}

{% block titulo %} Alfonso VIII {% endblock %}
{% block cabecera %} Alfonso VIII el de Las Navas {% endblock %}
{% block imgCabecera %} <img class="img-fluid" src="{% static 'images/sigloXII/alfonsoVIII.jpg' %}" alt=""> {% endblock %}

{% block contenido %}


<div class="row">
    <div class="col-md-2 border">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXII/alfonsoVIII_1.jpg' %}" alt="">
            <figcaption class="text-center"> <strong>Alfonso VIII (1155-1214)</strong> </figcaption>                
        </figure>
        <div class="border text-center" style="background-color: lightblue;"><h6 >Rey de Castilla (1158-1214)</h6></div>
        
        <p>1º regente: Manrique Pérez de Lara (1158-1164)</p>
        <p>2º regente: Nuño Pérez de Lara (1165-1169)</p>
        <p>Comienza reinado en 1169 con 14 años</p>

        <div class="border text-center" style="background-color: lightblue;"><h6 >FAMILIA</h6></div>
        
        <p>Padre: Sancho III de Castilla</p>
        <p>Madre: Blanca Garcés de Pamplona</p>
        <p>Consorte: Leonor Plantagenet</p>
    </div>
    <div class="col-md-10 border">
        <h5>Minoría de edad</h5>
        <p>Hijo de Sancho III «el Deseado», rey de Castilla, y de Blanca Garcés de Pamplona, a la muerte de su padre solo contaba tres años de edad, por lo que se designó como <strong>tutor</strong> a Gutierre Fernández de Castro y como <strong>regente</strong>  a Manrique Pérez de Lara, para equilibrar a las poderosas <strong>familias Castro y Lara</strong> 
            
            <ul>Esta rivalidad derivó en una <strong>guerra civil</strong> y en un período de incertidumbre que fue aprovechado por los reinos vecinos:
            
                <li>El rey navarro Sancho VI se apoderó de Logroño y de amplias zonas de La Rioja</li>
                <li>Fernando II de León se apoderó de la ciudad de Burgos</li>
            </ul>
            
        <p>En <strong>1160</strong>, los partidarios de la <strong>Casa de Lara</strong>, capitaneados por Nuño Pérez de Lara, <strong>fueron derrotados</strong> por los miembros de la Casa de Castro, dirigidos por Fernando Rodríguez de Castro el Castellano en la provincia de Valladolid.</p>
        <h5>Primer período del reinado</h5>
    </div>
</div>
{% endblock %}