{% extends "bases/baseHistoria.html" %}

{% load static %}

{% block titulo %} Siglo XII {% endblock %}
{% block cabecera %} Siglo XII {% endblock %}
{% block imgCabecera %} <img class="img-fluid" src="{% static 'images/sigloXII/fernando_III_el_santo.jpg' %}" alt=""> {% endblock %}

{% block contenido %}
<!-- <div>
  
    <div class="row justify-content-center">
        <div class="arrowRight">
            <div class="row justify-content-center py-1">
                <div class="border-1 rounded my-2 text-center " style="background-color:#590e96 ; color:white; width:145px ; height:235px ;"">
                    <a href="{% url 'urraca' %}" class="text-light", style="text-decoration:none ;">    
                        <div class="row text-center">                                    
                            <img class="img-fluid mt-4" style="width:135px ; height:125px ;" src="{% static 'images/sigloXII/urraca.jpg' %}" alt="">
                            <figcaption class="text-center mt-3">URRACA I</figcaption>
                            <span class="text-center">Reina de León</span> 
                            <span class="text-center">(1109-1126)</span> 
                        </div>
                    </a>                       
                </div>
        
                <div class="border-1 rounded my-2 mx-1 text-center " style="background-color:#E74C3C ; color:white; width:145px ; height:235px ;">
                    <a href="{% url 'alfonsoVII' %}" class="text-light", style="text-decoration:none ;">    
                        <div class="row text-center">                                    
                            <img class="img-fluid mt-4" style="width:135px ; height:125px ;" src="{% static 'images/sigloXII/alfonsoVII.png' %}" alt="">
                            <figcaption class="text-center mt-3">ALFONSO VII</figcaption>
                            <span class="text-center">Rey de León</span> 
                            <span class="text-center">(1126 - 1157)</span> 
                        </div>
                    </a>                       
                </div>
                <div class="border-1 rounded my-2 mx-1 text-center " style="background-color:#066725 ; color:white; width:145px ; height:235px ;">
                    <a href="{% url 'alfonsoVIII' %}" class="text-light", style="text-decoration:none ;">    
                        <div class="row text-center">                                    
                            <img class="img-fluid mt-4" style="width:135px ; height:125px ;" src="{% static 'images/sigloXII/alfonsoVIII.jpg' %}" alt="">
                            <figcaption class="text-center mt-3">ALFONSO VIII</figcaption>
                            <span class="text-center">Rey de Castilla</span>
                            <span class="text-center">(1158-1214)</span> 
                        </div>
                    </a>                       
                </div>                 
    
            </div>
        </div>
    </div>
</div> -->
<div class="row " >
    
    <div class="row align-items-center vertical-align-center text-center py-1 my-1 " >
        <div class="col-md-2"><a class="navbar-brand mx-3" href="{% url 'alfonsoVII' %}">Alfonso VII</a></div>
        <div class="col-md-2"><a class="navbar-brand mx-3" href="{% url 'alfonsoVIII' %}">Alfonso VIII</a></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        
    </div>

    <div class="row align-items-center vertical-align-center text-center py-1 my-1 " >
        
        <table class="table  mx-2 border">
            
            <tr class="table-success ">
                <th class="border border-dark">MUSULMANES</th>
                <th class="border border-dark">LEÓN</th>
                <th class="border border-dark">CASTILLA</th>
                <th class="border border-dark">NAVARRA</th>
                <th class="border border-dark ">ARAGÓN</th>
                <th class="border border-dark">CATALUÑA</th>               
            </tr>
            <tr>
                <td rowspan="7" class="border border-dark" style="background-color: aquamarine; width:300px ;">
                    <p class="text-start text-light">711-755. Emirato dependiente</p>
                    <p class="text-start text-light">756-929. Emirato de Córdoba</p>
                    <p class="text-start text-light">929-1031. Califato de Córdoba</p>
                    <p class="text-start text-light">1031-1085. Primeras taifas</p>
                    <p class="text-start">1086-1140. Imperio almorávide</p>
                    <p class="text-start">1144-1145. Segundas taifas</p>
                    <p class="text-start">1140-1214. Imperio almohade.</p>
                    <p class="text-start text-light">1212-1238. Terceras taifas</p>
                    <p class="text-start text-light">1238-1492. Reino nazarí de Granada.</p>
                    
                </td>                
                <td colspan="2" class="border border-dark" style="background-color: #E74C3C; color: white;">Casa de Borgoña <p>Urraca I (1109 - 1126)</p><span>Alfonso VII (1126 - 1157)</span></td>
                <td rowspan="3" colspan="2" class="border border-dark" style="background-color: cornflowerblue; color: white;">Alfonso I (1104 - 1134) </td>
                <td rowspan="6" class="border border-dark" style="background-color: darkorange;">Ramón Berenguer IV (1131 - 1162).
                    <p class="border mt-3" style="background-color: burlywood;">Se casa con Petronila, hija de Ramiro II de Aragón, se unen así Aragón y Cataluña.
                        Nace así la Corona de Aragón.</p> </td>
                                    
                                
            </tr>
            <tr>
                
            </tr>
            <tr>
                
            </tr>
            <tr>
                <td class="border border-dark" style="background-color: gold;">Fernando II (1157 - 1188)</td>
                <td class="border border-dark" style="background-color: aqua;">Sancho III (1157 - 1158)</td>
                <td class="border border-dark" style="background-color:gold;">García Ramírez IV (1134 - 1150)</td>
                <td class="border border-dark" rowspan="3" style="background-color: aquamarine;">Ramiro II el Monje (1134 - 1137)</td>
            </tr>
            <tr>
                <td class="border border-dark" rowspan="3" style="background-color: darkcyan; color: white;">Alfonso IX (1188 - 1230). 
                    <p class="border mt-3" style="background-color: lightcyan; color: black;">Se casa con Berenguela
                        hija de Alfonso VIII de ahí nace Fernando III.</p></td>
                <td class="border border-dark" rowspan="3" style="background-color: brown; color: white;">Alfonso VIII (1158 - 1214)</td>
                <td class="border border-dark" style="background-color: coral;">Sancho VI (1150 - 1194)</td>
            </tr>
            <tr>
                <td class="border border-dark" rowspan="2" style="background-color: bisque;">Sancho VII (1194 - 1234)</td>
            </tr>
            <tr>
                <td class="border border-dark" colspan="2" style="background-color: cadetblue; color: white;">Unión definitiva de Aragón y Cataluña
                    <p>Alfonso II (1162 1196)</p>
                    <span>Pedro II (1196 1213)</span></td>
            </tr>
            
            </table>

            <h3 class="mt-5">Hechos cronológios más importantes</h3>
            <h5 class="text-start">CASTILLA y LEÓN</h5>
            <div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
        
                <h5 class="text-center pt-2" id="castilla_leon">CASTILLA y LEÓN</h5>
                    
            </div>
            <div class="text-start">
                
                <ul>
                    <li>Alfonso VII (1126-1157), nieto de Alfonso VI, decidió a su muerte repartir el reino entre sus hijos: Castilla, para Sancho III (1157-1158) y León, para Fernando II (1157-1188).</li>
                    <li>La pronta muerte de Sancho III dejó como heredero a un niño, el futuro <strong>Alfonso VIII (1158-1214).</strong> 
                    <div>
                        <ul>
                            <li>Conquistó Cuenca en 1177</li>
                            <li>En 1195, los almohades le derrotan en la <strong>batalla de Alarcos</strong>.</li>
                            <li>Esta victoria musulmana contribuyó a organizar una cruzada contra los almohades, predicada por el papa Inocencio III y puesta bajo la dirección de Alfonso VIII con la colaboración de Pedro II de Aragón, Sancho VII el Fuerte de Navarra y caballeros franceses y alemanes. El resultado fue la victoria cristiana de las <strong>Navas de Tolosa (1212)</strong> donde quedaron destrozados los almohades, que se hunden y disgregan.</li>
                        </ul>
                    </div>
                    </li>
                </ul>
            </div>
            <h5 class="text-start">ARAGÓN Y NAVARRA</h5>
            <div class="text-start">
                <ul>
                    <li><strong>Alfonso I el Batallador (1104-1134)</strong> conquistó Zaragoza (1118) y el valle medio del Ebro.</li>
                    <li>Al morir sin descendencia hubo una crisis sucesoria que fue aprovechada por la alta nobleza navarra para volver a convertir a Navarra en reino independiente de Aragón.</li>
                    <li>A Alfonso I su hermano <strong>Ramiro II el Monje (1134-1137)</strong>, que tuvo una hija, Petronila</li>
                    <li>Petronila se casó con el conde de Barcelona Ramón Berenguer IV y se formó así una nueva entidad política, la <strong>Corona de Aragón</strong>, constituida por la unión dinástica de Aragón y Cataluña.</li>
                    <li><strong>Ramón Berenguer IV</strong> concluyó la Reconquista del valle del Ebro tomando Lérida y Tortosa (1148).</li>
                    <li><strong>Alfonso II (1162-1196)</strong>, primer monarca de la Corona de Aragón, hijo de Ramón Berenguer IV y de Petronila, conquista Teruel (1171), con lo que dejaba abierto el camino hacia Valencia.</li>
                    <li>Su hijo <strong>Pedro II (1196-1213)</strong> colaboró en la victoria de las Navas de Tolosa (1212).</li>
                </ul>
            </div>
            
</div>
       
            
                
                           
            
            
       
    

</div>

{% endblock %}