{% extends "baseEspecialidades.html" %}

{% block titulo %} analisis {% endblock %}
{% load static %}

{% block cabecera %} Alteraciones analíticas {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/analisis.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<h3 class="my-4">TRANSAMINASAS</h3>
<p>Las transaminasas AST y ALT son marcadores sensibles de lesión hepática, pero solo
    ALT es específica del tejido hepático, ya que la AST también se encuentra en otros
    órganos como riñón, corazón, músculo…</p>

<p>Hablamos de <strong> hipertransaminasemia leve o moderada </strong>cuando la elevación de ALT
    no supera 10 veces el límite superior de la normalidad, y en la mayoría de los casos es
    asintomática y transitoria, por lo que previo a su derivación a digestivo para estudio es
    necesario una confirmación analítica entre las 4-6 semanas tras iniciar cambios en el
    estilo de vida y evitar fármacos y tóxicos.</p>
<p>Son candidatos a derivación a digestivo:</p>
<ul>
    <li>Hipertransaminasemia mantenida a pesar de cambios en los estilos de vida.</li>
    <li>Pacientes con síntomas o signos de descompensación hepática (estigmas de
        enfermedades crónicas del hígado, ascitis, encefalopatía…)</li>
    <li>Evidencia de disfunción hepática (elevación de bilirrubina, albumina baja, alteración
        de TP o INR) o enfermedad hepática que sea subsidiaria de tratamiento
        específico (VHB, VHC, Enfermedad de Wilson…)</li>
</ul>

<p>La <strong>hipertransaminasemia grave</strong>  (ALT > 10 veces límite superior de la normalidad)
    debe remitirse a digestivo para estudio</p>

<p>Toda derivación a digestivo por estas causas, deberán acompañarse de:</p>
<ul>
    <li><strong>Anamnesis</strong> detallada con inicio de síntomas, consumo de tóxicos (incluido
        alcohol) y fármacos y prácticas de riesgo para infecciones víricas.</li>
    <li><strong>Analítica</strong> general con transaminasas y enzimas de colestasis, serología hepática
        y estudio de coagulación, así como hierro, transferrina y ferritina, proteínas
        totales, albúmina y TSH</li>
    
</ul>

<h3 class="my-4">ENZIMAS DE COLESTASIS</h3>
<p>La colestasis es una alteración en la formación de la bilis y/ o de su flujo que se
    manifiesta clínicamente con síntomas de fatiga, prurito y, en su forma más evidente,
    ictericia.</p>

<p>Los marcadores bioquímicos que se manifiestan de manera temprana en pacientes
    asintomáticos, a menudo, incluyen el aumento de la fosfatasa alcalina sérica (FA) y γglutamiltranspeptidasa (γGT), seguido de hiperbilirrubinemia conjugada en etapas
    más avanzadas.</p>

<p>Los pacientes asintomáticos son generalmente identificados en pruebas de laboratorio
    rutinarias llevadas a cabo durante el estudio o diagnóstico de otra enfermedad,
    observando un aumento en los niveles séricos de FA (1.5 veces por encima del límite
    superior de la normalidad) y γGT (3 veces por encima del límite superior de la
    normalidad)</p>

<p>Los pacientes con patrón de colestasis en su analítica deben ser remitidos a digestivo
    para estudio. Toda derivación por esta causa, deberá acompañarse de:</p>
<ul>
    <li>Anamnesis detallada con inicio de síntomas, consumo de tóxicos
        (incluido alcohol) y fármacos y prácticas de riesgo para infecciones
        víricas.</li>
    <li>Analítica general con transaminasas y enzimas de colestasis, serología
        hepática y estudio de coagulación, así como hierro, transferrina y
        ferritina, proteínas totales, albúmina y TSH.</li>
</ul>
<p>Una elevación aislada en suero de γGT tiene poca especificidad para el diagnóstico de
    colestasis, ya que podría ser el resultado de una inducción enzimática en respuesta a la
    ingesta de alcohol o fármacos.</p>

<h3 class="my-4">BILIRRUBINA</h3>
<p>La Bilirrubina (Bb) en sangre se expresa como directa (BbD), indirecta (BbI) y total</p>
<ul>
    <li><strong>Bilirrubina directa</strong>: La elevación de BbD suele corresponder a patología hepática o biliar, por
        lo que las elevaciones mantenidas de BbD deben remitirse a digestivo para
        valoración.
        <p>Toda derivación por esta causa deberá acompañarse de:</p>
        <ul>
            <li>Anamnesis detallada con inicio de síntomas, consumo de tóxicos
                (incluido alcohol) y fármacos y prácticas de riesgo para infecciones
                víricas.</li>
            <li>Analítica general con transaminasas y enzimas de colestasis, serología
                hepática y estudio de coagulación, así como hierro, transferrina y
                ferritina, proteínas totales, albúmina y TSH.</li>
        </ul>
    
    </li>
    <li><strong>Bilirrubina indirecta.</strong> La causa más frecuente de elevación de BbI es el <strong>Síndrome de Gilbert</strong>.
        Son pacientes que presentan ictericia leve e intermitente, que cursa
        generalmente asintomática. En todos los casos se acompaña de valores normales de BbD y pruebas de
            función hepática también normales, al igual que el frotis de sangre periférica,
            sin anemia ni hemólisis.
        <p>Los valores de BbI no suelen superar los 6 mg/dl y su elevación suele estar
            desencadenada por situaciones como el ayuno prolongado, ejercicio físico,
            fiebre o situaciones estresantes como cirugía, infecciones…</p>
        <p>No precisa derivación ni estudio por digestivo.</p>
    
    </li>
</ul>

<h3 class="my-4">SEROLOGIAS DE VIRUS HEPATROPOS</h3>

<ul>
    <li><strong>Hepatitis A:</strong> Se transmite de persona a persona por vía fecal oral y no se
        cronifica. Sus síntomas típicos son ictericia y coluria si bien en menores de 6
        años suele ser asintomática.
        <p>Es una enfermedad de declaración obligatoria y su tratamiento es
            sintomático. No precisa seguimiento por Digestivo.</p>    
    </li>
    <li><strong>Hepatitis B</strong>: Se transmite por contacto con la sangre o fluidos corporales de la
        persona infectada. Está relacionada con la aparición de cirrosis y cáncer de
        hígado.
        <p>Todos los estados de infección por VHB (salvo postvacunación o infección
            pasada) deben ser derivados a Digestivo para completar estudio y
            seguimiento si procede.</p>
    </li>
    <li><strong>Hepatitis C</strong>: Se transmite fundamentalmente por vía parenteral y en la mayoría
        de los casos la fase aguda cursa asintomática, aunque la mayoría de los
        infectados desarrollan una enfermedad crónica.
    <p>Todos los estados de infección por VHC deber ser derivados a Digestivo
        para completar estudio y seguimiento si procede.</p>
    </li>
</ul>

<div class="col-md-12 ">
    <img src="{% static 'img/marcadoresHepatitis.png' %}" alt="" class="img-fluid">
</div>




{% endblock %}