{% extends "baseEspecialidades.html" %}

{% block titulo %} dispepsia {% endblock %}
{% load static %}

{% block cabecera %} Dispepsia y ERGE {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/dispepsia.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}



<div class="row align-items-center vertical-align-center text-center py-5 ">
    <div class="col-md-2">
        <a href="{% url 'dispepsiaTexto' %}">Texto</a>
    </div>
    <div class="col-md-12 ">
        <img src="{% static 'img/protocoloDispepsia.png' %}" alt="" class="img-fluid">
    </div>
    <div class="col-md-12 ">
        <img src="{% static 'img/testhp.png' %}" alt="" class="img-fluid">
    </div>
</div>

{% endblock %}