{% extends "baseEspecialidades.html" %}

{% block titulo %} helicobacter {% endblock %}
{% load static %}
{% block cabecera %} Tratamiento infección por helicobacter pylori {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/helicobacter.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}




<div class="row align-items-center vertical-align-center  py-5 ">
    
    <div class="col-md-12 ">
        <h4>Primera línea</h4>
        <div class="row">
            <div class="col-md-3 border">
               <p class="bg-success text-white">No alergia a la penicilina</p>
                
                <ul>
                    <li>IBP / 12 h</li>
                    <li>Amoxicilina 1 gr / 12 h</li>
                    <li>Claritromicina 500 mg / 12 h</li>
                    <li>Metronidazol 500 mg / 12 h</li>
                </ul>
                Durante 14 días.
            </div>
            <div class="col-md-6 card">
                <strong class="bg-warning">Alergia a la penicilina</strong> 
                <ul>
                    <li>IBP / 12 h</li>
                    <li>Pylera (Subcitrato de bismuto, Tetraciclina, Metronidazol) 3 cáps / 6 h o 4 cáps / 8h</li>
                    
                </ul>
                Durante 10 días.
            </div>
            
                
            
           
        </div>
        
    </div>
    <div class="col-md-12 mt-5">
        <h4>Segunda línea</h4>
        <div class="row">
            <div class="col-md-3 border">
                <p class="bg-success text-white">No alergia a la penicilina</p>
                                
                <ul>
                    <li>IBP / 12 h</li>
                    <li>Amoxicilina 1 gr / 2 h</li>
                    <li>Levofloxacino 500 mg / 24 h</li>
                    <li>Bismuto 240 mg / 12 h</li>
                </ul>
                Durante 14 días.
            </div>
            <div class="col-md-6 card">
                <strong class="bg-warning">Alergia a la penicilina</strong> 
                <p><strong>Opción 1</strong></p>
                <ul>
                    <li>IBP / 12 h</li>
                    <li>Pylera (Subcitrato de bismuto, Tetraciclina, Metronidazol) 3 cáps / 6 h o 4 cáps / 8h</li>
                    
                </ul>
                
                    Durante 10 días.
                
                
            </div>
            <div class="col-md-3 card">
                <strong class="bg-warning">Alergia a la penicilina</strong> 
                <p><strong>Opción 2</strong></p>
                <ul>
                    <li>IBP / 12 h</li>
                    <li>Claritromicina 500 mg / 12 h</li>
                    <li>Levofloxacino 500 mg / 24 h</li>
                    <li>Bismuto 240 mg / 12 h</li>
                </ul>
                Durante 10 días.
            </div>
           
        </div>
        
    </div>
</div>

{% endblock %}