{% extends "bases/baseHistoria.html" %}

{% load static %}

{% block titulo %} Inicio Inglaterra {% endblock %}

{% block cabecera %} Historia de Inglaterra {% endblock %}

{% block contenido %}

<div class="row mb-3 mt-5 text-center">
    <div class="col-md-2 border"><a href="{% url 'sigloXVIIng' %}">Siglo XVI</a> </div>
    
    
</div>
<div class="row text-center justify-content-center align-items-center">
    <div class="col-md-6">
        <img class="imagenInicio" src="" alt="">
    </div>
    
</div>


{% endblock %}