{% extends "bases/baseHistoria.html" %}

{% load static %}

{% block titulo %} felipeIV {% endblock %}

{% block cabecera %} Felipe IV {% endblock %}

{% block imgCabecera %} <img class="img-fluid" src="{% static 'images/sigloXVII/feliipeIV.jpg' %}" alt=""> {% endblock %}

{% block contenido %}

<div class="container  mt-5 justify-content-center text-center">
    <div class="row mb-4 ">
            <h2>Felipe IV, «el Grande» o «el Rey Planeta». Reinó entre 1621 y 1665</h2>
        
        <hr>
        <h3  >Hermanos de Felipe IV</h3>
    </div>

    

    <div class="row justify-content-center text-center mb-1">
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/anaAustria.jpg' %}" alt="">
                <figcaption> <strong>Ana de Austria (1601-1666)</strong> </figcaption>                
            </figure>
            <p>Fué reina consorte de Francia y de Navarra por su matrimonio con Luis XIII y regente de Francia durante la minoría de edad de su hijo Luis XIV, el famoso Rey Sol</p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/feliipeIV.jpg' %}" alt="">
                <figcaption> <strong>Felipe IV (1605-1665)</strong> </figcaption>                
            </figure>

        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/mariaAnaAustria.jpg' %}" alt="">
                <figcaption> <strong>María Ana de Austria (1606-1646)</strong> </figcaption>                
            </figure>
            <p>Por su matrimonio, fue emperatriz del Sacro Imperio Romano Germánico y Reina Consorte de Hungría.</p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/carlosAustria.jpg' %}" alt="">
                <figcaption> <strong>Carlos de Austria (1607-1632)</strong> </figcaption>                
            </figure>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/fernandoAustria.jpg' %}" alt="">
                <figcaption> <strong>Fernando de Austria (1609-1641)</strong> </figcaption>                
            </figure>
            <p>Gobernador de Milán y Países Bajos, virrey de Cataluña, Administrador Archidiócesis de Toledo y comandante de las fuerzas españolas Guerra de los Treinta Años.</p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/margaritaAustria.jpg' %}" alt="">
                <figcaption class="text-center"> <strong>Margarita de Austria (1610-1617)</strong> </figcaption>                
            </figure>
        </div>

    </div>

    <h3 class="mt-5">Familia</h3>
    <hr>
    <div class="row justify-content-center text-center mb-5">
        
            <div class="col-md-2">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVII/feliipeIV.jpg' %}" alt="">
                    <figcaption> <strong>Felipe (1527-1598)</strong> </figcaption>                
                </figure>
            </div>          
        
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row justify-content-center text-center">
                <div class="col-md-4 ">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVII/isabelBorbon.jpg' %}" alt="">
                        <figcaption> <strong>Isabel de Borbón (1602-1644)</strong> </figcaption>                
                    </figure>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-3">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVII/baltasarCarlos.jpg' %}" alt="">
                        <figcaption> <strong>Baltasar Carlos de Austria (1629-1646)</strong> </figcaption>                
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVII/teresaAustria.jpg' %}" alt="">
                        <figcaption> <strong>María Teresa de Austria (1638-1683)</strong> </figcaption>                
                    </figure>
                </div>
            <p>Murieron 6 hijos y tuvo 2 abortos</p>    
            </div>
        </div>
        <div class="col-md-6">
            <div class="row justify-content-center text-center">
                <div class="col-md-4 ">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVII/mariaAnaAustria.jpg' %}" alt="">
                        <figcaption> <strong>Mariana de Austria (1634-1696)</strong> </figcaption>                
                    </figure>
                </div>
            </div>
            <div class="row justify-content-center text-center">
                <div class="col-md-3">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVII/margaritaTeresa.jpg' %}" alt="">
                        <figcaption> <strong>Margarita Teresa de Austria (1651-1673)</strong> </figcaption>                
                    </figure>
                </div>
                <div class="col-md-3">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVII/carlosII.jpg' %}" alt="">
                        <figcaption> <strong>Carlos (1661-1700)</strong> </figcaption>                
                    </figure>
                </div>
                <p>Murieron 3 hijos</p> 
            </div>
        </div>

    <p>Tuvo al menos 30 hijos extramatrimoniales</p>
    </div>

    <h3 class="mt-5">Reinado de Felipe IV (1621-1665)</h3>
    <hr>
    <div class="row text-center">
        <figure>
            <img class="img-fluid" src="{% static 'images/sigloXVII/etapasFelipeIV.jpg' %}" alt="">
            <figcaption>  </figcaption>                
        </figure>            

    </div>
    <div class="row text-start d-flex ">
        <p>Durante buena parte de su reinado, más de veinte años, su favorito fue el <strong>conde-duque de
        Olivares</strong>. Este valido se propuso llevar a cabo importantes reformas que devolvieran
        el antiguo esplendor a la monarquía hispánica, para que pudiese continuar siendo la
        principal potencia internacional:</p>
        <div class="row justify-content-between">
            <div class="col-md-8">
            <ul>
                <li>Impuso <strong>medidas contra la corrupción</strong> que se había apoderado de la administración
                del gobierno durante el reinado anterior. Creó 16 juntas de reforma
                encargadas de cuestiones concretas.En 1622 creó la Junta Grande de Reformación,
                cuyo fruto fue una estricta legislación en materia de costumbres
                y moral pública, así como limitaba los excesos en la administración.</li>
                <li>Impulsó <strong>medidas de orden económico</strong> con la intención de paliar la recesión
                económica que tuvo lugar durante este periodo. Entre éstas practicó el proteccionismo
                comercial, prohibiendo el comercio textil extranjero, creó el Impuesto
                único y suprimió las aduanas interiores.</li>
                <li><strong> Trató de unificar la monarquía</strong> para lo que creó la Unión de Armas,
                ejército común para toda la monarquía que debían mantener entre todos los
                reinos con sus aportaciones económicas. Acabó con los fueros, lo que ocasionaría
                la revuelta armada de portugueses y catalanes.</li>
            </ul>
            </div>
            <div class="col-md-3">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVII/condeOlivares.jpg' %}" alt="">
                    <figcaption class="text-center"> Conde Duque de Olivares de Velazquez  </figcaption>                
                </figure>  
            </div>
            
        </div>
    </div>
    <div class="row text-start">
        <h3 class="mt-5">La crisis de 1640</h3>
        <hr>
        <p>Durante la década de 1640 se desencadenaron diferentes revueltas localizadas en las zonas
        periféricas de la monarquía y que pondrán en riesgo la pervivencia de ésta.</p>
        <div class="text-center">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/crisis1640.jpg' %}" alt="">                               
            </figure>  
        </div>
        <h4><u>Cataluña</u></h4>
        <p>Las relaciones políticas entre Cataluña y la monarquía de Felipe IV fueron de enemistad y crisis
        desde el mismo comienzo del reinado pues el rey no se había trasladado a Cataluña a jurar su
        constitución y la nobleza catalana se sintió agraviada por este hecho.</p>
        <p>Esta crisis se convertirá en un conflicto armado en la primavera de 1640 en la que actuarán
        como <strong>desencadenantes</strong>:</p>
        <div>
            <ul>
                <li><strong>En el ámbito interno</strong>, las medidas de reforma practicadas por el conde-duque de Olivares,
                    no gustaron en absoluto en Cataluña, especialmente la idea de pérdida de autonomía de
                    cada uno de los reinos en favor de una unificación y homogeneización de la monarquía de
                    Felipe IV en su conjunto. Tampoco fue de su agrado el aumento y creación de nuevos impuestos
                    que permitieran mantener la Unión de Armas.</li>
                <li><strong>En el ámbito externo</strong>, la declaración de guerra de Francia convirtió a Cataluña en el primer
                    frente militar. El envío de tropas castellanas a la zona y la demanda de mayores contribuciones
                    económicas para su mantenimiento aumentaron las tensiones entre catalanes y castellanos, que
                    al fin estallaron en el alzamiento campesino y popular de la primavera de 1640.</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVII/corpusSangre.jpeg' %}" alt="">
                    <figcaption class="text-center"> Corpus de Sangre  </figcaption>                
                </figure> 
            </div>
            <div class="col-md-6">
                <p>La revuelta comenzó en Girona, zona donde se habían producido los mayores enfrentamientos
                entre las tropas allí establecidas y los campesinos catalanes, y se desarrolló en dos fases:</p>
                <div>
                    <ul>
                        <li>La primera de <strong>carácter social</strong>, así lo que parecía un conflicto político-constitucional
                            se transforma en un conflicto de clases, dirigido por el campesinado, pues si en un
                            primer momento el objetivo eran las tropas reales, pronto se volvieron también contra
                            la nobleza y la clase acomodada.</li>
                        <li>Ante esta amenaza, los nobles deciden ponerse en cabeza de la rebelión antes que
                            verse sometidos a ella, a partir de este momento la rebelión toma <strong>carácter político.</strong> </li>
                    </ul>
                </div>
                <p>Ante esta situación Olivares optará por resolver el conflicto por la fuerza, ordenando
                    la ocupación militar de Cataluña, para ello envió un ejército con 30.000 hombres. Las
                    clases dirigentes catalanas deciden pedir ayuda militar a los franceses y el 16 de enero
                    </p>
            </div>
            <p>de 1641 Cataluña intenta la transformación en una república independiente bajo el
                    protectorado de Francia. La solución no duró mucho, pues el 23 del mismo mes Cataluña
                    juraba fidelidad al rey francés. Con la ocupación militar francesa se reproducirán los
                    mismos problemas que con la castellana, lo que llevó a nuevas conspiraciones, esta
                    vez profelipistas, hasta que, en 1652, Cataluña volvió a formar parte de la monarquía
                    hispánica.</p>

        </div>
        <h4><u>Portugal</u></h4>
        <p>Entre <strong>1628 y 1630</strong> se produjeron violentas revueltas en diferentes lugares de Portugal, estas tenían como causa las
            reformas de Olivares de carácter administrativo y las diferentes medidas fiscales. La nobleza portuguesa tuvo que comenzar a
            pagar impuestos de los que hasta el momento se habían encontrado exentos, por lo que se empezó a alentar y legitimar el
            separatismo.</p>
        <p>En <strong>1637</strong> se suceden disturbios en el sur de Portugal y será en <strong>1640</strong>, cuando se formalice la <strong>rebelión definitiva</strong>. Miguel
            de Vasconcellos, hombre de confianza de Olivares y principal elemento del gobierno en Portugal, es asesinado y la princesa
            Margarita de Saboya, virreina de Portugal en este momento, es escoltada hasta la frontera. Los rebeldes se apoderaron con
            facilidad de todo Portugal y <strong>proclamaron rey al duque de Braganza, como Juan IV.</strong></p>

        <h3 class="mt-5">La guerra de los Treinta Años (1618-1648)</h3>
        <hr>
        <p>La guerra de los Treinta Años tuvo lugar en la Europa Central entre los años 1618 y 1648, en
        la que participó la mayoría de las grandes potencias de la época. Se trató de un conflicto largo
        y complejo en el que intervinieron un elevado número de contendientes, por lo que se pueden
        distinguir varias etapas durante su desarrollo.</p>
    

        <div class="text-center">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/guerraTreintaAgnos.jpg' %}" alt="">
                              
            </figure> 
        </div>
        <p>Las causas del conflicto hay que buscarlas en factores de diferente índole:</p>
        <div>
            <ul>
                <li><strong>Factores religiosos:</strong>
                    <div>
                        <ul>
                            <li>La división religiosa del imperio, firmada en la <strong>paz de Augsburgo en 1555</strong>, supuso el
                                abierto enfrentamiento entre católicos y protestantes.</li>
                            <li>El constante intento por parte de la dinastía de los Habsburgo de introducir en el imperio
                                la contrarreforma católica, que encontró una fuerte oposición sobre todo en Bohemia.</li>
                        </ul>
                    </div>
            
                </li>
                <li><strong>Factores políticos.</strong> La lucha centroeuropea por la dignidad imperial y la rivalidad hispano-
                francesa por la hegemonía europea serán las cuestiones más destacadas en el ámbito político.</li>
                <li><strong>Factores económicos y sociales.</strong> La crisis económica general del siglo XVII, que provocará
                un gran malestar social.</li>
            </ul>
        </div>
        <p>La monarquía de Felipe IV intervino en el conflicto de manera indirecta, en un primer momento,
            apoyando al imperio, no solo por cuestiones religiosas sino por una cuestión táctica, la
            Tregua de los Doce Años con los Países Bajos expiró en 1621 y la guerra se reanudó en esta
            parte del imperio hispánico, si la causa imperial y el catolicismo retrocedían en Alemania,
            los Países Bajos quedarían aislados. En este contexto histórico se producirá la rendición de la ciudad holandesa de Breda, después de 10 meses de asedio, que inmortalizaría Velázquez, en
            su famosa obra. Posteriormente el enfrentamiento con Francia, que se había estado
            produciendo de forma indirecta durante todo el conflicto, será ahora abierto y directo.</p>
        
        </div>
        <div class="text-center">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/rendicionBreda.jpg' %}" alt="">
                <figcaption class="text-center"> La rendición de Breda. Velazquez  </figcaption>              
            </figure>
            <p>Muestra el momento de la entrega de las llaves de la ciudad de
            los vencidos a los vencedores. Los españoles se sitúan a la derecha del lienzo y los
            holandeses, a la izquierda, aparecen con desigual vestimenta y armamento. El centro
            de la composición la ocupan dos personajes: el español Ambrosio de Spínola, a
            la derecha, que recibe la llave de la ciudad de Breda en actitud de clemencia, y a la
            izquierda el gobernador holandés, Justino de Nassau, que se la entrega en actitud de
            humilde sometimiento y rendición.</p> 
        </div>
        <div class="text-start">
            <h4><u>La Paz de Westfalia</u></h4>
            <p>Se firmó en las ciudades de Münster y Osnabrück en octubre de 1648. Será la primera vez que
            se intente establecer un régimen de equilibrio europeo, por lo que sus acuerdos afectaron a
            todo el continente:</p>
            <div>
                <ul>
                    <li>El emperador renunciaría a sus intenciones centralizadoras, produciéndose una atomización
                        del imperio alemán, que quedará dividido en numerosos Estados.</li>
                    <li>Desaparece la hegemonía de la Casa de Habsburgo en sus dos ramas, la austriaca y la española.</li>
                    <li>La monarquía hispánica pierde de forma definitiva su hegemonía y se convierte en un
                        Estado de segundo orden.</li>
                    <li>El ascenso de la supremacía francesa, iniciado en el siglo xvi, aumentará y se materializará en estos acuerdos.</li>
                    <li>Se mantiene el mapa religioso de la paz de Augsburgo de 1555, y se reconoce a los calvinistas el mismo rango que a los protestantes.</li>
                    <li>Se produce la separación de las Provincias Unidas del imperio.</li>
                    <li>En el Báltico, Suecia se convirtió en la potencia hegemónica.</li>
                </ul>
            </div>
            <h4><u>La Paz de los Pirineos</u></h4>
            <p>Tras la firma de la paz de Westfalia continuó la guerra hispano-francesa, enfrentamiento que
            concluiría en 1659 con la firma de la paz de los Pirineos. Sus efectos se pueden resumir en:</p>
            <div>
                <ul>
                    <li>La pérdida de territorios para la monarquía hispánica en favor de Francia. En la frontera
                    norte pierde Artois y en la frontera de los Pirineos, el Rosellón y parte de la Cerdaña.</li>
                    <li>Francia consigue ventajas comerciales con América.</li>
                    <li>Fruto de este acuerdo será el enlace entre Luis XIV de Francia y la hija de Felipe IV, María Teresa.</li>
                    
                </ul>
            </div>
        </div>
        


</div>


{% endblock %}