{% extends "bases/baseHistoria.html" %}

{% load static %}

{% block titulo %} felipeIII {% endblock %}

{% block cabecera %} Felipe III {% endblock %}

{% block imgCabecera %} <img class="img-fluid" src="{% static 'images/sigloXVII/felipeIII.jpg' %}" alt=""> {% endblock %}

{% block contenido %}

<div class="container  mt-5 justify-content-center text-center">
    <div class="row mb-4 ">
            <h2>Felipe III, el piadoso. Reinó entre 1598 y 1621</h2>
        
        <hr>
        <h3  >Hermanos de Felipe III</h3>
    </div>

    <div class="row justify-content-center text-center mb-5 mt-5">
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/isabelClaraEugenia.jpg' %}" alt="">
                <figcaption> <strong>Isabel Clara Eugenia (1566-1633)</strong> </figcaption>                
            </figure>
            <p>Hija de Isabel de Valois. La hija más querida de Felipe II. A la muerte de Enrique III (asesinado) optó al trono de Francia. Se casó con su primo Alberto de Austria y fué gobernadora de los Paises Bajos a la muerte de este. </p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/catalinaMicaela.jpg' %}" alt="">
                <figcaption> <strong>Catalina Micaela (1567-1597)</strong> </figcaption>                
            </figure>
            <p>Hija de Isabel de Valois. En 1585 se casó con Carlos Manuel I de Saboya, duque de Saboya (Italia). Nunca más volvió a ver a su familia. Murió de parto a los 30 años.</p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/felipeIII.jpg' %}" alt="">
                <figcaption> <strong>Felipe III (1578-1621)</strong> </figcaption>                
            </figure>
            <p>Hijo de Ana de Austria</p>
        </div>

    </div>

    <h3 class="mt-5">Familia</h3>
    <hr>
    <div class="row justify-content-center text-center mb-5 mt-5">
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/felipeIII.jpg' %}" alt="">
                <figcaption> <strong>Felipe III (1578-1621)</strong> </figcaption>                
            </figure>
            
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/margaritaAustriaEstiria.jpg' %}" alt="">
                <figcaption> <strong>Margarita de Austria-Estiria (1584-1611)</strong> </figcaption>                
            </figure>
            
        </div>
    </div>

    <div class="row justify-content-center text-center mb-1">
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/anaAustria.jpg' %}" alt="">
                <figcaption> <strong>Ana de Austria (1601-1666)</strong> </figcaption>                
            </figure>
            <p>Fué reina consorte de Francia y de Navarra por su matrimonio con Luis XIII y regente de Francia durante la minoría de edad de su hijo Luis XIV, el famoso Rey Sol</p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/feliipeIV.jpg' %}" alt="">
                <figcaption> <strong>Felipe IV (1605-1665)</strong> </figcaption>                
            </figure>

        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/mariaAnaAustria.jpg' %}" alt="">
                <figcaption> <strong>María Ana de Austria (1606-1646)</strong> </figcaption>                
            </figure>
            <p>Por su matrimonio, fue emperatriz del Sacro Imperio Romano Germánico y Reina Consorte de Hungría.</p>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/carlosAustria.jpg' %}" alt="">
                <figcaption> <strong>Carlos de Austria (1607-1632)</strong> </figcaption>                
            </figure>
        </div>
        <div class="col-md-2">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/fernandoAustria.jpg' %}" alt="">
                <figcaption> <strong>Fernando de Austria (1609-1641)</strong> </figcaption>                
            </figure>
            <p>Gobernador de Milán y Países Bajos, virrey de Cataluña, Administrador Archidiócesis de Toledo y comandante de las fuerzas españolas Guerra de los Treinta Años.</p>
        </div>
        

    </div>

    <h3 class="mt-5">Reinado de Felipe III (1598-1621)</h3>
    <hr>
    <div class="row text-start">
        <div class="col-md-8">
            <p>El reinado de Felipe III supuso el mantenimiento de la hegemonía de los Austrias
            en el mundo, aunque la mala situación económica de este momento apuntaba hacia el declive
            del imperio y el comienzo de la decadencia.</p>

            <p>El valido más importante de Felipe III fue el <strong>duque de Lerma</strong> . Se considera que la decisión
            de trasladar la corte a Valladolid fue deseo suyo, aunque duró poco, porque seis años después
            se trasladaría definitivamente a Madrid. Bajo la privanza de Lerma el gobierno, aunque continuaba
            ejerciéndose por medio de <strong>consejos</strong> como en el siglo anterior, toma ahora la tendencia a constituir <strong>juntas
            transitorias</strong>  que tratan de problemas
            concretos.</p>

            <p>En 1618 el duque de Lerma, que había gozado de todos los privilegios reales, cae en desgracia y es sustituido por
            su propio hijo, <strong>el duque de Uceda</strong> , que no tendrá tanta influencia en el gobierno del reino.</p>

            <p>En los <strong>asuntos internos</strong> destacará durante su reinado el decreto de expulsión de los moriscos. En lo referente
            a <strong>política exterior</strong> su orientación general le llevará a practicar una política  de pacificación, aun así durante su
            reinado comenzará la guerra de los  Treinta Años (1618-1648).</p>

        </div>
        <div class="col-md-4">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVII/felipeIIICaballo.jpg' %}" alt="">
                <figcaption class="text-center"> <strong>Felipe III (Velázquez)</strong> </figcaption>                
            </figure>

        </div>
        

        <h4>Política interior: La expulsión de los moriscos</h4>
        <hr>
        <p>Felipe III firmó el decreto de expulsión de los moriscos valencianos el 9 de abril de 1609]. A este siguieron otros que determinaron la expulsión de toda la comunidad morisca
        de la Península Ibérica.</p>
        <p><strong>Causas:</strong></p>
        <div class="row">
            
            <div class="col-md-6">
                <ul>
                    <li>La <strong> situación internacional </strong>en la que se había conseguido una relativa pacificación permitiría
                    retomar la idea de la expulsión ya planteada por Carlos I y Felipe II, pero no llevada
                    a término.</li>
                    <li>El <strong>aumento constante de la población morisca</strong>, que ejercería una presión demográfica
                    importante allí donde se concentraban.</li>
                    <li>Los <strong>motivos religiosos</strong>, aunque la idea no partiera de la Iglesia.</li>
                    <li>El intento de la burguesía de <strong> debilitar a la aristocracia </strong>, para la que la mano de obra morisca
                    era fundamental en su economía.</li>
                    <li>La falta de asimilación cultural y religiosa que continuaba existiendo entre la población
                    morisca.</li>
                    <li>El temor de que los moriscos pudieran aliarse con los turcos o los franceses, enemigos de la
                    monarquía hispánica.</li>
                </ul>
            </div>
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVII/expulsionMoriscos.jpg' %}" alt="">
                    <figcaption class="text-center"> <strong>La expulsión de los moriscos</strong> </figcaption>                
                </figure>
            </div>
                
        </div>
        <p><strong>Efectos:</strong></p>
        <div>
            <ul>
                <li><strong>Consecuencias demográficas.</strong>  Cerca de 300.000 moriscos abandonaron la península, lo que
                supondría algo más del 4% de la población total. Afectó de forma desigual, así en Aragón,
                donde se concentraban dos terceras partes de la población morisca, tuvo una enorme incidencia,
                y especialmente en Valencia al perder más de un cuarto de su población. Para Castilla
                el descenso poblacional fue menor, como menor era el número de moriscos asentados
                en esta zona.</li>
                <li><strong> Consecuencias socioeconómicas</strong>. Relacionadas con el desigual reparto poblacional de la
                expulsión de las mismas para todo el territorio.
                <ul>
                    <li>En Castilla afectó a las zonas de Almería, Murcia y Granada, donde las industrias moriscas eran relevantes,
                    como es el caso de la industria de la seda.</li>
                    <li>En Aragón, el alto número de población morisca estaba
                    concentrada a lo largo del río Ebro. El abandono
                    de las tierras de los moriscos supuso la ruina de
                    los cultivos, que pasarán ahora de una agricultura
                    intensiva a una extensiva, ante la falta de mano
                    de obra.</li>
                    <li>En Valencia la incidencia fue enorme, repercutió en
                    el terreno agrícola y provocó una gran inflación
                    causada por las grandes cantidades de dinero sacadas
                    por los moriscos del reino valenciano.</li>
                    <li>La repoblación resultó insuficiente provocando un
                    proceso de concentración parcelaria que finalmente
                    beneficiaría a las familias de la nobleza.</li>
                </ul>
            
                </li>
                
            </ul>
        </div>
        <h4 class="mt-4">La política exterior: el pacifismo</h4>
        <hr>
        
        <div class="row">
            <div class="col-md-4">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVII/duqueLerma.jpg' %}" alt="">
                    <figcaption class="text-center"> <strong>Duque de Lerma de Rubens</strong> </figcaption>    
                </figure>

            </div>
            <div class="col-md-8">
                        <p>El reinado de Felipe III en lo referente a política exterior tendió hacia el logro de la paz en
                    los diferentes frentes conflictivos heredados de Felipe II.</p>
                <ul>
                    <li>Uno de los problemas más importantes durante todo el siglo xvi, la guerra de Flandes, continuaba
                    abierto y muy vivo, sin embargo, en 1609 se firmó la <strong>Tregua de los Doce Años</strong>, por
                    la que se reconocía oficialmente a <strong>Holanda</strong> y se ponía fin al enfrentamiento militar.</li>
                    <li>En 1615 se consolidará la <strong>paz con Francia</strong> a través del <strong>doble matrimonio entre hermanos</strong>; el
                    príncipe heredero, que reinaría más tarde como Felipe IV, contrae matrimonio con Isabel de
                    Borbón, y la infanta Ana con el rey francés Luis XIII (hermano de Isabel).</li>
                    <li>La <strong>muerte de Isabel I de Inglaterra</strong> y la subida al trono del rey escocés Jacobo I Estuardo,
                    inclinado hacia la práctica de la política pacifista, propició la firma de la <strong>paz de Londres</strong>,
                    en 1604, por medio de la cual se restablecían las relaciones diplomáticas y comerciales entre
                    ambos estados.</li>
                </ul>
                <p>En 1618 comenzaría un nuevo ciclo belicista con el inicio de la guerra de los Treinta Años,
                    hecho que coincide con la caída en desgracia del duque de Lerma; a partir de ahora
                    se considerará prioritario en el ámbito europeo apoyar a los Habsburgo austriacos, lo que tendría
                    como consecuencia la participación en la <strong>guerra de los Treinta Años</strong> .</p>
            </div>
        </div>
            

    </div>


</div>


{% endblock %}