{% extends "bases/baseHistoria.html" %}

{% load static %}

{% block titulo %} siglo xvii {% endblock %}

{% block cabecera %} Siglo XVII {% endblock %}

{% block imgCabecera %} <img class="img-fluid" src="{% static 'images/sigloXVII/feliipeIV.jpg' %}" alt=""> {% endblock %}

{% block contenido %}


    <div class="row mb-3 justify-content-center align-items-center">
        <div class="col-md-4 ">
            <div class="row mb-2 justify-content-center align-items-center">
                <div class="col-md-6">
                    <a href="/Primaria/historia/espagna/sigloXVII/felipeIII.php">
                    <figure>                        
                        <img class="img-fluid" src="{% static 'images/sigloXVII/felipeIII.jpg' %}" alt="">
                        <figcaption> <strong>Felipe III (1598 y 1621)</strong> </figcaption>                
                    </figure></a>
                    <p></p>
                </div>
            </div>
            <div class="row mb-2 text-start border-end">
                <p>1598. Ascenso al poder del duque de Lerma.</p>
                <p>1609. Inicio de la tregua de 12 años en Flandes.</p>
                <p>1618. Inicio de la guerra de los Treinta Años.</p>
                <p>1618. El duque de Uceda sustituye al duque de Lerma.</p>
                <p>1621. Fallece Felipe III.</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="row mb-2 justify-content-center align-items-center">
                <div class="col-md-6">
                    <a href="/Primaria/historia/espagna/sigloXVII/felipeIV.php">
                        <figure>
                            <img class="img-fluid" src="{% static 'images/sigloXVII/feliipeIV.jpg' %}" alt="">
                            <figcaption> <strong>Felipe IV (1621 y 1665)</strong> </figcaption>                
                        </figure>
                    </a>
                    <p></p>
                </div>
            </div>
            <div class="row mb-2 text-start border-end">
                <p>1623. El conde-duque de Olivares, valido del rey.</p>
                <p>1640. Sublevación en Cataluña y Portugal.</p>
                <p>1643. El rey aparta de la política a Olivares.</p>
                <p>1648. Paz de Westfalia.</p>
                <p>1659. Paz de los Pirineos.</p>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="row mb-2 justify-content-center align-items-center">
                <div class="col-md-6">
                    <figure>
                        <a href="/Primaria/historia/espagna/sigloXVII/carlosII.php">
                        <img class="img-fluid" src="{% static 'images/sigloXVII/carloosII.jpg' %}" alt="">
                        <figcaption> <strong>Carlos II (1665 y 1700)</strong> </figcaption>                
                    </figure></a>
                    <p></p>
                </div>
            </div>
            <div class="row mb-2 text-start">
                <p>1665. Inicio de la regencia de Mariana de Austria.</p>
                <p>1668. Reconocimiento de la independencia de Portugal.</p>
                <p>1668. Paz de Aquisgrán con Francia</p>
                <p>1675. Carlos II asume el trono a la edad de 14 años.</p>
                <p>1678. Paz de Nimega con Francia</p>

            </div>
        </div>
        
    </div>
    <div class="row mb-3 text-start ">
        <hr class="mt-5">
            <h3 class="text-center my-4">LA DECADENCIA DE LOS AUSTRIAS MENORES</h3>
        <hr>
        
        
        
            <p>En pleno Siglo de Oro de la cultura española, los Austrias
                menores, últimos reyes de esta dinastía, tuvieron que
                afrontar en el <strong>ámbito exterior</strong> la derrota militar, la decadencia
                y la pérdida de hegemonía como potencia europea.</p>

            <p>En el <strong> ámbito interior</strong>, las reformas del conde-duque
                de Olivares estarían en la causa de la crisis de 1640,
                durante la cual se produjo la sublevación de Cataluña y
                la escisión de Portugal.</p>
            
            <p>La monarquía hispánica pasó así
                del esplendor del imperio del siglo xvi a la situación de
                <strong>decadencia y ruina</strong> del siglo XVII.</p>

            <p>El siglo XVII estará marcado por unos rasgos comunes que se mantienen durante toda la centuria:</p>
            <div class="">
                <ul>
                    <li class="mt-1">Tras la muerte de Felipe II se inicia un período en el que la importancia de la figura personal
                    del monarca disminuye, y en cierta medida se sustituye por el papel que comienzan
                    ahora a desempeñar los denominados <strong>validos</strong> validos, personas de confianza del rey que se ocuparán
                    de asesorar y dirigir el gobierno en su nombre.</li>
                    <li class="mt-1">El siglo xvii significará para la monarquía hispánica, en contraste con el xvi, la <strong>pérdida de
                    hegemonía</strong> , quedando relegada a un segundo plano internacional, en el que Francia emergerá
                    de forma definitiva.</li>
                    <li class="mt-1">Se produce ahora una <strong> profunda depresión económica y una crisis demográfica</strong>, que solo
                    en el último tercio del siglo remontará para iniciar una nueva etapa expansiva.</li>
                    <li class="mt-1">Tanto la situación política como la económica vienen a significar la entrada en una etapa
                    de <strong> decadencia de la monarquía hispánica </strong>que incluso los propios contemporáneos de la
                    época percibieron, quedando plasmada en la producción literaria y artística de este siglo.</li>
                    <li class="mt-1">Culturalmente se superan incluso los niveles alcanzados en el siglo xvi. Destacarán las artes
                    y la literatura, conociéndose parte del siglo xvi y el xvii como el <strong>Siglo de Oro</strong> .</li>
                </ul>
            </div>
            <hr class="mt-5">
            <h3 class="text-center my-4">ECONOMIA Y SOCIEDAD EN EL SIGLO XVII</h3>
            <hr>
            
            <p>Durante el siglo XVII asistimos a un periodo de crisis generalizada que afectó a toda Europa en
            mayor o menor medida. Los primeros signos ya aparecieron a finales del siglo anterior y será
            durante la primera mitad del XVII cuando tengan mayor incidencia. En las últimas centurias del
            siglo comenzará una etapa de recuperación económica.</p>
            <p>Las <strong>causas</strong> de la recesión económica española fueron dos:</p>
            <div>
                <ul>
                    <li>Una <strong>grave crisis demográfica</strong> que aparece a finales del siglo XVI y que se prolongará durante
                        buena parte del XVII. Su incidencia geográfica será desigual, afectando con mayor virulencia
                        al interior peninsular que a las zonas situadas en la periferia. Los factores que contribuyeron
                        al descenso poblacional fueron:
                        <div>
                            <ul>
                                <li>Oleadas periódicas de epidemias.</li>
                                <li>Periodos de malas cosechas que derivarían en épocas de grandes hambrunas y enfermedades.</li>
                                <li>La expulsión de la población morisca en 1609, que tendrá gran incidencia sobre todo en Valencia y Aragón.</li>
                                <li>La presencia constante de guerras que diezmaban la población.</li>
                            </ul>
                        </div>
                    </li>
                    <li>La <strong>disminución de los metales preciosos</strong> que llegaban desde América, hecho que tendría consecuencias en toda la economía.</li>
                </ul>
            </div>
            <p>Las soluciones a la crisis del siglo XVII tras las diferentes bancarrotas padecidas en la Hacienda
                Real habían consistido en negociar con los banqueros y añadir la suma de los intereses a la
                deuda principal, con lo que la deuda no hacía más que aumentar continuamente.</p>

            <p>El conde-duque de Olivares, dentro de su política general reformista, decidió tomar medidas
            para resolver el problema, aunque no fueran del todo acertadas para conseguir los objetivos deseados:</p>
            <div>
                <ul>
                    <li>La <strong>acuñación de monedas de vellón</strong> con la intención de incrementar los recursos de la
                        monarquía, ya que esta práctica permitía obtener un beneficio inmediato, gracias a la reducción
                        del peso de la moneda y a la eliminación de la plata, surgiendo así el vellón de cobre
                        puro. La consecuencia fue el gran aumento de la inflación.</li>
                    <li><strong>Devaluación de la moneda</strong>, que veía reducido así su valor.</li>
                    <li><strong>Aumento de los impuestos.</strong> El primero sobre la barrilla* y la sosa, después sobre la sal, lo que
                        generaría importantes disturbios en Vizcaya; o la creación del impuesto de lanzas*.</li>
                    <li>El intento de repartir en igualdad las cargas fiscales entre los diferentes territorios de la
                        monarquía a través de la creación de la<strong> Unión de Armas</strong>.</li>
                    <li>Venta de pueblos de Castilla y Andalucía, que perdían así la cualidad de realengos y se convertían en señoríos.</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <p>La percepción que hubo de la decadencia española durante el siglo
                        XVII se manifiesta claramente en los numerosos escritos e informes
                        económicos que se elaboraron para el rey, en los que se analizaba
                        y, en algunos casos, se diagnosticaban con gran acierto los
                        problemas del reino, a la vez que se proponían soluciones para los
                        mismos. Surge, de esta forma, la figura del arbitrista, personaje muy
                        caricaturizado por la literatura de la época al proponer en ocasiones
                        soluciones que resultaban ser auténticos disparates. Sin embargo,
                        hubo un grupo de ellos que produjeron las primeras manifestaciones
                        de literatura económica, aunque las soluciones aportadas se reducían
                        a la imposición de nuevos arbitrios* que proporcionaran nuevos
                        ingresos de la Hacienda Real. Este es el caso de Sancho Moncada o
                        de Pedro Fernández Navarrete.</p>
                    <p>La sociedad durante el siglo xvii seguirá siendo de carácter estamental.
                        El empobrecimiento del campesinado y las clases populares
                        urbanas continúa creciendo, esto generará mayor número de
                        grupos improductivos que se canalizarán unos hacia la mendicidad
                        y otros hacia el bandolerismo. La burguesía se debilita
                        mientras que la nobleza aumenta numéricamente como consecuencia
                        de la venta de títulos.</p>
                    <p><strong>Moneda de vellón.</strong> Moneda compuesta de una aleación de cobre y plata en distintas proporciones.</p>
                    <p><strong>Barrilla</strong>Planta arbustiva que crece en terrenos salados, de cuyas cenizas se obtiene sosa.</p>
                    <p><strong>Impuesto de lanzas</strong>Instituido por Felipe IV y que pagaban los nobles como compensación
                    de las «lanzas» o soldados que antes aportaban a sus expensas al ejército real..</p>
                </div>
                <div class="col-md-3">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVII/mendigo.jpg' %}" alt="">
                        <figcaption class="text-center">Joven mendigo, de Bartolomé Murillo.</figcaption>            
                    </figure>
                </div>
            </div>

            <h2 class="mt-4">El Siglo de Oro</h2>
            <hr>
            <div class="col-md-10">
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVII/arquitecturaSigloOro.jpg' %}" alt="">
                    <!-- <figcaption class="text-center">Joven mendigo, de Bartolomé Murillo.</figcaption>             -->
                </figure>
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVII/esculturaSigloOro.jpg' %}" alt="">
                    <!-- <figcaption class="text-center">Joven mendigo, de Bartolomé Murillo.</figcaption>             -->
                </figure>
                <figure>
                    <img class="img-fluid" src="{% static 'images/sigloXVII/pinturaSigloOro.jpg' %}" alt="">
                    <!-- <figcaption class="text-center">Joven mendigo, de Bartolomé Murillo.</figcaption>             -->
                </figure>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVII/sanHugo.jpg' %}" alt="">
                        <figcaption class="text-center">San Hugo en el refectorio de los cartujos, de Zurbarán (1655).
                        A este pintor se le conoce como el pintor de los frailes por su especial atención a esta temática..</figcaption>            
                    </figure>
                </div>
                <div class="col-md-6">
                    <p>Época de apogeo de la cultura española que engloba
                        parte del movimiento <strong>renacentista del siglo XVI</strong> y el
                        <strong>barroco del XVII</strong>. Surgirán ahora personajes ilustres en
                        las letras y las artes en tal cantidad que dieron origen
                        al término <strong>Siglo de Oro</strong>. Durante el siglo XVII se
                        producirá el movimiento cultural denominado barroco,
                        que tendrá grandes exponentes en la arquitectura, la
                        escultura y la pintura españolas, pero que además alcanzará
                        también a la literatura e incluso al modo de
                        vida. En todas las disciplinas mostrará una característica
                        común, el contraste y la oposición de personajes,
                        a los que se les representa de forma realista pero no
                        se les da un carácter individual, sino que ejemplifican
                        determinados valores, entre los que destaca el
                        cumplimiento del deber. Así a un tipo se le opone un
                        contratipo, a Don Quijote se le opone Sancho Panza,
                        en el teatro el ejemplo será El alcalde de Zalamea, en
                        pintura, La rendición de Breda.</p>
                        <p>La manifestación artística más revolucionaria durante
                        este periodo será la <strong>pintura</strong>. Ahora se practicará un
                        <strong>arte naturalista</strong>, rompiendo con los cánones de belleza
                        anteriores; se representa lo que se ve, bonito o
                        feo, agradable o no. Será además un arte grandioso,
                        con obras de grandes dimensiones en las que el movimiento,
                        la luz y el colorido serán los elementos
                        esenciales. En la pintura barroca española, el naturalismo cobra tal magnitud que explica la
                        práctica ausencia de obras de carácter mitológico que, aunque existen, en ellas sus personajes
                        aparecen en actitudes cotidianas. Los pintores más destacados de este nuevo concepto del
                        arte son <strong>Ribera, Zurbarán y Velázquez</strong>, que serán a su vez los máximos exponentes de las
                        tres escuelas españolas, la valenciana, la andaluza y la madrileña, respectivamente. Obras
                        destacadas de estos autores son El martirio de San Felipe, de Ribera, San Hugo en el refectorio
                        de los cartujos, de Zurbarán y Las Meninas o Las Hilanderas, de Velázquez.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVII/martirioSanFelipe.jpg' %}" alt="">
                        <figcaption class="text-center">El martirio de San Felipe. Ribera</figcaption>            
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure>
                        <img class="img-fluid" src="{% static 'images/sigloXVII/meninas.jpg' %}" alt="">
                        <figcaption class="text-center">Las Meninas. Velázquez</figcaption>            
                    </figure>
                </div>
            </div>
        
    </div>


{% endblock %}