{% extends "bases/basePaises.html" %}

{% load static %}

{% block titulo %} Inicio EPOC {% endblock %}

{% block contenido %}

<p class="mt-5">El tto actual de la EPOC es LAMA + LABA</p>

<h5 >INDICACIONES TRIPLE TERAPIA</h5>

<p>Paciente agudizador + eosinófilos > 300 cls / ml : Indicada la triple terapia de forma crónica.</p>
<p>También indicada si no hay control de los síntomas y/o agudizaciones pese a LAMA/LABA y los eosinófilos son > 100</p>

<p><strong>Paciente agudizador</strong></p>
<div>
    <ul>
        <li>>= de 2 exacerbaciones al año</li>
        <li>>= 1 ingreso hospitalario al año</li>
    </ul>
</div>






{% endblock %}


















