{% extends "bases/basePaises.html" %}

{% load static %}

{% block titulo %} Inicio EPOC {% endblock %}

{% block contenido %}

<div class="container">
    <div class="row d-flex justify-content-center">
    
        
        <div class="col-md-2 mt-1 border text-center mx-1">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/accuhaler.jpg' %}" alt="">
                        <figcaption >Accuhaler </figcaption>
                    </figure>
                    <a href="https://www.coflugo.org/docs/accuhaler.pdf" class="card-link link-success" target="_blank">Uso</a>
                    <a href="https://www.youtube.com/watch?v=7phdhJ_0Hn0" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>

        <div class="col-md-2 mt-1 border text-center">
                           
                    <figure>
                        <img src="{% static 'img/inhaladores/aerolizer.jpg' %}" alt="">
                        <figcaption>Aerolizer </figcaption>
                    </figure>
                    <a href="http://gestorweb.camfic.cat/uploads/ITEM_8604_FULL_2720.pdf" class="card-link link-success" target="_blank">Uso</a>
                    <a href="https://www.youtube.com/watch?v=AKNlOShWXIg" class="card-link link-success"  target="_blank">Vídeo</a> 
        </div>
        <div class="col-md-2 mt-1 border text-center mx-1">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/breezhaler.jpg' %}" alt="">
                        <figcaption >Breezhaler </figcaption>
                    </figure>
                    <a href="https://www.coflugo.org/docs/Breezhaler.pdf" class="card-link link-success target="_blank">Uso</a>
                    <a href="https://www.youtube.com/watch?v=UUV0SlVnGdc" class="card-link link-success target="_blank">Vídeo</a> 
        </div>
        <div class="col-md-2 mt-1 border text-center">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/easyhaler.jpg' %}" alt="">
                        <figcaption >Easyhaler </figcaption>
                    </figure>
                        <a href="http://projectes.camfic.cat/CAMFiC/Seccions/Publicacions/Docs/Fulls_Pacients/Inhaladores_58-9.pdf" class="card-link link-success" class="card-link" target="_blank">Uso</a>
                        <a href="https://www.youtube.com/watch?v=vpGyl3z3UyI" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>
        <div class="col-md-2 mt-1 border text-center mx-1">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/ellipta.jpg' %}" alt="">
                        <figcaption >Ellipta </figcaption>
                    </figure>
                        <a href="http://gestorweb.camfic.cat/uploads/ITEM_8637_FULL_2770.pdf" class="card-link link-success" target="_blank">Uso</a>
                        <a href="https://www.youtube.com/watch?v=4ltZsrWNHis" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>
        <div class="col-md-2 mt-1 border text-center mx-1">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/forspiro.jpg' %}" alt="">
                        <figcaption >Forspiro </figcaption>
                    </figure>
                        <a href="http://gestorweb.camfic.cat/uploads/ITEM_8647_FULL_2775.pdf" class="card-link link-success" target="_blank">Uso</a>
                        <a href="https://www.youtube.com/watch?v=FLhBciUqII4" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>
        <div class="col-md-2 mt-1 border text-center ">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/genuair.jpg' %}" alt="">
                        <figcaption >Genuair </figcaption>
                    </figure>
                        <a href="http://gestorweb.camfic.cat/uploads/ITEM_8645_FULL_2774.pdf" class="card-link link-success" link-success target="_blank">Uso</a>
                        <a href="https://www.youtube.com/watch?v=2AYnkg1KOc4" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>
        <div class="col-md-2 mt-1 border text-center mx-1">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/handihaler.jpg' %}" alt="">
                        <figcaption >Handihaler </figcaption>
                    </figure>
                        <a href="https://www.infermeravirtual.com/files/media/file/790/handihaler.pdf?1363176576" class=" link-success card-link" target="_blank">Uso</a>
                        <a href="https://www.youtube.com/watch?v=9EajkzRSeR0" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>
        
        <div class="col-md-2 mt-1 border text-center">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/nexthaler.jpg' %}" alt="">
                        <figcaption >Nexthaler </figcaption>
                    </figure>
                        <a href="http://gestorweb.camfic.cat/uploads/ITEM_8639_FULL_2771.pdf" class="card-link link-success" target="_blank">Uso</a>
                        <a href="https://www.youtube.com/watch?v=T0c5LLKmSec" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>

        <div class="col-md-2 mt-1 border text-center mx-1">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/genuair.jpg' %}" alt="">
                        <figcaption >Novolizer </figcaption>
                    </figure>
                    <a href="https://www.infermeravirtual.com/files/media/file/792/novolizer.pdf?1363176561" class="card-link link-success" target="_blank">Uso</a>
                    <a href="https://www.youtube.com/watch?v=y05O6xySUPE" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>
        
        <div class="col-md-2 mt-1 border text-center mx-1">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/respimat.jpg' %}" alt="">
                        <figcaption >Respimat </figcaption>
                    </figure>
                    <a href="https://www.infermeravirtual.com/files/media/file/794/respimat.pdf?1363176666" class="card-link link-success" target="_blank">Uso</a>
                    <a href="https://www.youtube.com/watch?v=T30-xxXBNhg" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>
        
        
        
        <div class="col-md-2 mt-1 border text-center ">
                           
                    <figure >
                        <img src="{% static 'img/inhaladores/easyhaler.jpg' %}" alt="">
                        <figcaption >Spiromax </figcaption>
                    </figure>
                        <a href="http://gestorweb.camfic.cat/uploads/ITEM_8641_FULL_2772.pdf" class="card-link link-success" target="_blank">Uso</a>
                        <a href="https://www.youtube.com/watch?v=HaF93CcwIPQ" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>
        
        
        <div class="col-md-2 mt-1 border text-center mx-1">
                           
                    <figure>
                        <img src="{% static 'img/inhaladores/turbuhaler.jpg' %}" alt="">
                        <figcaption>Turbuhaler </figcaption>
                    </figure>
                    <a href="https://www.coflugo.org/docs/turbuhaler.pdf" class="card-link link-success" target="_blank">Uso</a>
                    <a href="https://www.youtube.com/watch?v=adHDWCHoIa0" class="card-link link-success" target="_blank">Vídeo</a> 
        </div>
    
    
    </div>





</div>



{% endblock %}


















