{% extends "bases/basePaises.html" %}

{% load static %}

{% block titulo %} tto EPOC {% endblock %}

{% block contenido %}
<div class="row mt-4 align-items-center justify-content-between">
    <div id="inicio" class="col-md-5 ">
        <p><strong>ÍNDICE</strong> </p>
        <ul>            
            <li><a href="#betaAdrenergicos" class="text-success", style="text-decoration:none ;" >Agonistas Beta-Adrenérgicos</a></li>
            <li><a href="#anticolinergicos" class="text-success", style="text-decoration:none ;" >Anticolinérgicos</a></li>
            <li><a href="#lamaLaba" class="text-success", style="text-decoration:none ;" >LAMA + LABA</a></li>
            <li><a href="#corticoidesLaba" class="text-success", style="text-decoration:none ;">Corticoides + LABA</a></li>
            <li><a href="#corticoidesLabaLama" class="text-success", style="text-decoration:none ;">Corticoides + LABA + LAMA</a></li>
            
        </ul>        
    </div>
    <div class="col-md-3">
        <img src="{% static 'img/inhaladores.webp' %}" alt="" class="img-fluid">
    </div>
</div>
<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
    <div class="col-12">
        <h5 class="text-center pt-2 mx-4">AGONISTAS BETA-ADRENÉRGICOS</h5> 
    </div>
         
      
</div>      
<div class="row align-items-center vertical-align-center text-center py-3 my-5 " >  
        
        <table class="table table-striped mx-2 border">
            
            <tr class="table-success ">
                <th class="border border-dark">Grupo</th>
                <th class="border border-dark">P. activo</th>
                <th class="border border-dark">Marca</th>
                <th class="border border-dark">Dispositivo</th>
                <th class="border border-dark ">Presentación</th>
                <th class="border border-dark">Precio</th>
                <th class="border border-dark">Dosis</th>
                
            </tr>
            <tr>
                <th rowspan="2" class="border border-dark">SABA</th>                
                <td class="border border-dark">Salbutamol</td>
                <td class="border border-dark">Ventolín</td>
                <td class="border border-dark"></td>
                <td class="border border-dark">100 mcg/puls</td>
                <td class="border border-dark">2,5</td>
                <td class="border border-dark">2 puls/4-6 h</td>                    
                                
            </tr>
            <tr>
                                
                <td class="border border-dark">Terbutalina</td>
                <td class="border border-dark">Terbasmin</td>
                <td class="border border-dark">Turbuhaler</td>
                <td class="border border-dark">500 mcg/puls</td>
                <td class="border border-dark">6,93</td>
                <td class="border border-dark">2 puls/4-6 h</td>                    
                                
            </tr>
            <tr>
                <th rowspan="11" class="border border-dark">LABA</th>                
                <td rowspan="3" class="border border-dark">Formoterol</td>
                <td class="border border-dark">Foradil</td>
                <td class="border border-dark">Aerolizer</td>
                <td rowspan="2" class="border border-dark">12 mcg/cásp</td>
                <td rowspan="3" class="border border-dark">23,46</td>
                <td class="border border-dark">1 cáps/12 h</td>                    
                                
            </tr>
            <tr>
                                
                
                <td class="border border-dark">Formatris</td>
                <td class="border border-dark">Novolizer</td>
                <td class="border border-dark">1 cáps/12 h</td>                    
                                
            </tr>
            <tr>
                                
                
                <td class="border border-dark">Oxis</td>
                <td class="border border-dark">Turbuhaler</td>
                <td class="border border-dark">9 mcg/pulsación</td>
                <td class="border border-dark">1 pulsación/12 h</td>                    
                                
            </tr>
            <tr>
                <td rowspan="3" class="border border-dark">Indacaterol</td>
                <td class="border border-dark">Hirobriz</td>
                <td rowspan="3" class="border border-dark">Breezhaler</td>
                <td rowspan="3" class="border border-dark">150 mcg/cásp</td>
                <td rowspan="3" class="border border-dark">50,13</td>
                <td rowspan="3" class="border border-dark">1 cáps/24 h</td>                    
                                
            </tr>
                
            <tr>
                <td class="border border-dark">Onbrez</td>
            </tr>
            <tr>
                <td class="border border-dark">Oslif</td>
            </tr>
            <tr>
                <td class="border border-dark">Olodaterol</td>
                <td class="border border-dark">Striverdi</td>
                <td class="border border-dark">Respimat</td>
                <td class="border border-dark">2,5 mcg/inhalación</td>
                <td class="border border-dark">50,13</td>
                <td class="border border-dark">2 inhalación /24 h</td>                    
                                
            </tr>
            <tr>
                <td rowspan="3" class="border border-dark">Salmeterol</td>
                <td class="border border-dark">Beglan</td>
                <td rowspan="3" class="border border-dark">Accuhaler</td>
                <td rowspan="3" class="border border-dark">50 mcg/alveolo</td>
                <td rowspan="3" class="border border-dark">29,58</td>
                <td rowspan="3" class="border border-dark">1 alveolo/12 h</td>                    
                                
            </tr>
            <tr>
                <td class="border border-dark">Betamican</td>                                    
                                
            </tr>
            <tr>
                <td class="border border-dark">Inaspir</td>                                    
                                
            </tr>
        </table>
</div>
<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
    <div class="col-11">
        <h5 class="text-center pt-2 mx-4" id="anticolinergicos">ANTICOLINÉRGICOS</h5> 
    </div>
    <div class="col-1">
        <a href="#inicio" class="text-danger", style="text-decoration:none ;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
            </svg>        
        </a>
        
    </div>        
      
</div>          
<div class="row align-items-center vertical-align-center text-center py-3 my-5 " >        
        <table class="table table-striped mx-2 border">
            
            <tr class="table-success ">
                <th class="border border-dark">Grupo</th>
                <th class="border border-dark">P. activo</th>
                <th class="border border-dark">Marca</th>
                <th class="border border-dark">Dispositivo</th>
                <th class="border border-dark ">Presentación</th>
                <th class="border border-dark">Precio</th>
                <th class="border border-dark">Dosis</th>
                
            </tr>
            <tr>
                <th rowspan="2" class="border border-dark">SAMA</th>                
                <td rowspan="2" class="border border-dark">Ipatropio</td>
                <td class="border border-dark">Atrovent</td>
                <td class="border border-dark"></td>
                <td class="border border-dark">20 mcg/puls</td>
                <td class="border border-dark">4,56</td>
                <td class="border border-dark">2 puls/6 h</td>                    
                                
            </tr>

            <tr>                              
                <td class="border border-dark">Atroaldo</td>
                <td class="border border-dark"></td>
                <td class="border border-dark">20 mcg/puls</td>
                <td class="border border-dark">4,56</td>
                <td class="border border-dark">2 puls/6 h</td>                    
                                
            </tr>
            <tr>
                <th rowspan="13" class="border border-dark">LAMA</th>                
                <td rowspan="2" class="border border-dark">Aclidinio</td>
                <td class="border border-dark">Bretaris</td>
                <td rowspan="2" class="border border-dark">Genuair</td>
                <td rowspan="2" class="border border-dark">322 mcg/inh</td>
                <td rowspan="2" class="border border-dark">47,61</td>
                <td rowspan="2" class="border border-dark">1 inh/12 h</td>                    
                                
            </tr>
            <tr>
                <td class="border border-dark">Elkira</td>
                                  
                                
            </tr>
            <tr>
                                
                <td rowspan="3" class="border border-dark">Glicopirronio</td>
                <td class="border border-dark">Enurev</td>
                <td rowspan="3" class="border border-dark">Breezhaler</td>
                <td rowspan="3" class="border border-dark">44 mg/cápsula</td>
                <td rowspan="3" class="border border-dark">47,61</td>
                <td rowspan="3" class="border border-dark">1 cápsula/ 24 h</td>                    
                                
            </tr>
            <tr>       
                <td >Seebri</td>                       
            </tr>
            <tr>       
                <td class="border border-dark">Tovanor</td>                       
            </tr>

            <tr>
                                
                <td rowspan="4" class="border border-dark">Tiotropio</td>
                <td class="border border-dark">Braltus</td>
                <td class="border border-dark"></td>
                <td rowspan="4" class="border border-dark">10 mcg/dosis</td>
                <td rowspan="4" class="border border-dark">39,25</td>
                <td rowspan="3" class="border border-dark">1 cápsula/ 24 h</td>                    
                                
            </tr>

            <tr>
                <td class="border border-dark">Gregal</td>
                <td class="border border-dark"></td>
                                        
            </tr>

            <tr>
                <td class="border border-dark">Spiriva</td>
                <td class="border border-dark">Handihaler</td>
                                        
            </tr>

            <tr>
                <td class="border border-dark">Spiriva</td>
                <td class="border border-dark">Respimat</td>
                <td rowspan="1" class="border border-dark">2 puls/ 24 h</td>
                                        
            </tr>
            <tr>
                <td class="border border-dark">Umeclidinio</td>
                <td class="border border-dark">Rolufta</td>
                <td class="border border-dark">Ellipta</td>
                <td class="border border-dark">55 mcg/inhalación</td>
                <td class="border border-dark">45,27</td>
                <td class="border border-dark">1 inhalación /24 h</td>                    
                                
            </tr>            
            
        </table>
</div>

<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
    <div class="col-11">
        <h5 id="lamaLaba" class="text-center pt-2 mx-4">COMBINACIONES DE LAMA Y LABA</h5> 
    </div>
    <div class="col-1">
        <a href="#inicio" class="text-danger", style="text-decoration:none ;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
            </svg>        
        </a>
        
    </div>        
      
</div>  

<div class="row align-items-center vertical-align-center text-center py-3 my-5 " >
        
        <table class="table table-striped mx-2 border">
            
            <tr class="table-success ">
                <th class="border border-dark">Grupo</th>
                <th class="border border-dark">P. activo</th>
                <th class="border border-dark">Marca</th>
                <th class="border border-dark">Dispositivo</th>
                <th class="border border-dark ">Presentación</th>
                <th class="border border-dark">Precio</th>
                <th class="border border-dark">Dosis</th>
                
            </tr>
            <tr>
                <th rowspan="9" class="border border-dark">LAMA + LABA</th>                
                <td rowspan="2" class="border border-dark">Aclidinio/formoterol</td>
                <td class="border border-dark">Brimica</td>
                <td rowspan="2" class="border border-dark">Genuair</td>
                <td rowspan="2" class="border border-dark">340/12 mcg/dosis</td>
                <td rowspan="9" class="border border-dark">70,25</td>
                <td rowspan="2"class="border border-dark">1 inh / 12 h</td>                    
                                
            </tr>
            <tr>
                <td class="border border-dark">Duaklir</td>
            </tr>
            <tr>
                <td rowspan="3" class="border border-dark">Glicopirronio/Indacaterol</td>
                <td class="border border-dark">Ultibro</td>
                <td rowspan="3" class="border border-dark">Breezhaler</td>
                <td rowspan="3" class="border border-dark">85/43 mg/cápsula</td>
                <td rowspan="3"class="border border-dark">1 cáps / 24 h</td>                    
                                
            </tr>
            <tr>
                <td class="border border-dark">Ulunar</td>
            </tr>
            <tr>
                <td class="border border-dark">Xoterna</td>
            </tr>
            <tr>
                <td rowspan="2" class="border border-dark">Tiotropio/ olodaterol</td>
                <td class="border border-dark">Spiolto</td>
                <td rowspan="2" class="border border-dark">Respimat</td>
                <td rowspan="2" class="border border-dark">2,5/2,5 mcg/puls</td>
                <td rowspan="2"class="border border-dark">2 puls / 24 h</td>                    
                                
            </tr>
            <tr>
                
                <td class="border border-dark">Yanimo</td>                                 
                                
            </tr>
            <tr>
                <td rowspan="2" class="border border-dark">Umeclidinio/ vilanterol</td>
                <td class="border border-dark">Anoro</td>
                <td rowspan="2" class="border border-dark">Ellipta</td>
                <td rowspan="2" class="border border-dark">55/22 mcg/puls</td>
                <td rowspan="2"class="border border-dark">1 puls / 24 h</td>                    
                                
            </tr>
            <tr>
                
                <td class="border border-dark">Laventair</td>                                 
                                
            </tr>
        </table>
</div>

<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
    <div class="col-11">
        <h5 id="corticoidesLaba" class="text-center pt-2 mx-4">COMBINACIONES DE CORTICOIDES Y LABA</h5> 
    </div>
    <div class="col-1">
        <a href="#inicio" class="text-danger", style="text-decoration:none ;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
            </svg>        
        </a>
        
    </div>        
      
</div>  

<div class="row align-items-center vertical-align-center text-center py-3 my-5 " >
        <h6 class="text-center">Combinaciones de Corticoides Y LABA</h6>
        <table class="table table-striped mx-2 border">
            
            <tr class="table-success ">
                <th class="border border-dark">Grupo</th>
                <th class="border border-dark">P. activo</th>
                <th class="border border-dark">Marca</th>
                <th class="border border-dark">Dispositivo</th>
                <th class="border border-dark ">Presentación</th>
                <th class="border border-dark">Precio</th>
                <th class="border border-dark">Dosis</th>
                
            </tr>
            <tr>
                <th rowspan="19" class="border border-dark">Corticoide + LABA</th>                
                <td rowspan="2" class="border border-dark">Beclometasona/formoterol</td>
                <td class="border border-dark">Foster</td>
                <td rowspan="2" class="border border-dark">Nexthaler</td>
                <td rowspan="2" class="border border-dark">100/6 mcg/dosis</td>
                <td rowspan="2" class="border border-dark">47,91</td>
                <td rowspan="8"class="border border-dark">2 inh / 12 h</td>                    
                                
            </tr>
            <tr>
                
                <td class="border border-dark">Formodual</td>                                 
                                
            </tr>
            <tr>
                                
                <td rowspan="6" class="border border-dark">Budesonida/formoterol</td>
                <td class="border border-dark">Biresp</td>
                <td class="border border-dark">Spiromax</td>
                <td rowspan="6" class="border border-dark">160/4,5 mcg/dosis</td>
                <td rowspan="6" class="border border-dark">43,94</td>
                                       
            </tr>
            <tr>                                
                <td class="border border-dark">Bufomix</td>
                <td class="border border-dark">Easyhaler</td>                                  
                                
            </tr>
            <tr>                                
                <td class="border border-dark">Duoresp</td>
                <td class="border border-dark">Spiromax</td>                                  
                                
            </tr>
            <tr>                                
                <td class="border border-dark">Gibiter</td>
                <td class="border border-dark">Easyhaler</td>                                  
                                
            </tr>
            <tr>                                
                <td class="border border-dark">Rilast</td>
                <td rowspan="2" class="border border-dark">Turbuhaler</td>                                  
                                
            </tr>
            <tr>                                
                <td class="border border-dark">Symbicort</td>
                                       
            </tr>
            <tr>
                                
                <td rowspan="8" class="border border-dark">Fluticasona/Salmeterol</td>
                <td class="border border-dark">Airflusal</td>
                <td class="border border-dark">Forspiro</td>
                <td rowspan="7" class="border border-dark">500/50 mcg/dosis</td>
                <td rowspan="7" class="border border-dark">41,28</td>
                <td rowspan="7"class="border border-dark">1 inh / 12 h</td>
                                       
            </tr>
            <tr>                                
                <td class="border border-dark">Anasma</td>
                <td class="border border-dark">Accuhaler</td>                                  
                                
            </tr>
            <tr>                                
                <td class="border border-dark">Flusamix</td>
                <td class="border border-dark">Easyhaler</td>                                  
                                
            </tr>
            <tr>                                
                <td class="border border-dark">Inaladuo</td>
                <td class="border border-dark">Accuhaler</td>                                  
                                
            </tr>
            <tr>                                
                <td class="border border-dark">Inhalok</td>
                <td class="border border-dark">Forspiro</td>                                  
                                
            </tr>
            <tr>                                
                <td class="border border-dark">Plusvent</td>
                <td rowspan="2" class="border border-dark">Accuhaler</td>                                  
                                
            </tr>
            <tr>                                
                <td class="border border-dark">Seretide</td>                                                  
                                
            </tr>
            <tr>                                
                <td class="border border-dark">Bropair</td>
                <td class="border border-dark">Spiromax</td>
                <td class="border border-dark">12,7/100  12,7/202 mcg/dosis</td>
                <td class="border border-dark">26,44</td>
                <td class="border border-dark">1 inh / 12 h</td>                                                  
                                
            </tr>
            <tr>
                                
                <td rowspan="2" class="border border-dark">Fluticasona/Vilanterol</td>
                <td class="border border-dark">Relvar</td>
                <td rowspan="2" class="border border-dark">Ellypta</td>
                <td rowspan="2" class="border border-dark">92/22 mcg/dosis</td>
                <td rowspan="2" class="border border-dark">47,91</td>
                <td rowspan="2"class="border border-dark">1 inh / 24 h</td>
                                       
            </tr>
            <tr>    
                <td class="border border-dark">Revinty</td>
                                                      
            </tr>
            </table>
</div>

<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
    <div class="col-11">
        <h5 class="text-center pt-2 mx-4">COMBINACIONES DE CORTICOIDES, LABA Y LAMA</h5> 
    </div>
    <div class="col-1">
        <a href="#inicio" class="text-danger", style="text-decoration:none ;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
            </svg>        
        </a>
        
    </div>        
        
</div>  
            <h6 id="corticoidesLabaLama" class="text-center">Combinaciones de Corticoides, LABA y LAMA</h6>
            <table class="table table-striped mx-2 border">
                
                <tr class="table-success ">
                    <th class="border border-dark">Grupo</th>
                    <th class="border border-dark">P. activo</th>
                    <th class="border border-dark">Marca</th>
                    <th class="border border-dark">Dispositivo</th>
                    <th class="border border-dark ">Presentación</th>
                    <th class="border border-dark">Precio</th>
                    <th class="border border-dark">Dosis</th>
                    
                </tr>
                <tr>
                    <th class="border border-dark">Corticoide + LABA + LAMA</th>                
                    <td class="border border-dark">Beclometasona/formoterol/glicopirronio</td>
                    <td class="border border-dark">Trimbow</td>
                    <td class="border border-dark">Nexthaler</td>
                    <td class="border border-dark">87/5/9 mcg/dosis</td>
                    <td class="border border-dark">85,08</td>
                    <td class="border border-dark">2 inh / 12 h</td>                    
                                
                </tr>
                <tr>
                    <th class="border border-dark">Corticoide + LABA + LAMA</th>                
                    <td class="border border-dark">Fluticasona /vilanterol/umeclidinio</td>
                    <td class="border border-dark">Trelegy</td>
                    <td class="border border-dark">Ellipta</td>
                    <td class="border border-dark">92/22/55 mcg/dosis</td>
                    <td class="border border-dark">85,08</td>
                    <td class="border border-dark">1 inh /24 h</td>                    
                                
                </tr>
                <tr>
                    <th class="border border-dark">Corticoide + LABA + LAMA</th>                
                    <td class="border border-dark">Fluticasona /vilanterol/umeclidinio</td>
                    <td class="border border-dark">Elebrato</td>
                    <td class="border border-dark">Ellipta</td>
                    <td class="border border-dark">92/22/55 mcg/dosis</td>
                    <td class="border border-dark">75,87</td>
                    <td class="border border-dark">1 inh /24 h</td>                    
                                
                </tr>
            </table>
    
     

                                




{% endblock %}


















