{% extends "bases/basePaises.html" %}

{% load static %}

{% block titulo %} Inicio EPOC {% endblock %}

{% block contenido %}



<div class="container row align-items-center vertical-align-center " style="height: 500px;">
    <h3 class="text-center">Enfermedad Pulmonar Obstructiva Crónica (EPOC)</h4>
    
        <div class="col-md-3">

            <div class="card-group">
                <div class="card">
                    <a href="{% url 'tratamientoEPOC' %}">
                        <img class="img-fluid" src="{% static 'img/tratamientoEPOC.jpg' %}" alt="">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Fármacos</h5>
                    </div>
                </div>    
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-group">
                <div class="card py-2">
                    <a href="{% url 'protocoloEPOC' %}">
                        <img src="{% static 'img/protocoloEPOC.jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Protocolos</h5>
                    </div>
                </div>    
            </div>
        </div>

        <div class="col-md-3">
            <div class="card-group">
                <div class="card">
                    <a href="http://www.semergencantabria.org/calc/aaalgo.htm">
                        <img src="{% static 'img/espirometro1.png' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Espirometrias</h5>
                    </div>
                </div>    
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-group">
                <div class="card">
                    <a href="{% url 'EPOCinhaladores' %}">
                        <img src="{% static 'img/inhaladores.png' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body mx-2">
                        <h5 class="card-title text-center">Inhaladores</h5>
                    </div>
                </div>    
            </div>
        </div>
        
        

    

</div>



{% endblock %}


















