
    
   /* RIGHT ARROW */
   .arrowRight{              /* Cuerpo del div */
    position:relative;
    margin: 20px;
    width:1150px;
    height: 260px;
    background: #75461E ;
    border:solid 1px #75461E ;
    float: left;
   }
   
    .arrowRight:before, .arrowRight:after {
    border-bottom: 165px solid transparent;   
    border-top: 165px solid transparent;      /*Debe ser igual que border-bottom*/
    top:-33px;                               /*Altura de la flecha con respecto al div*/
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;   
    }
    .arrowRight:after {      /*Punta flecha*/
    border-left: 200px solid #75461E ;   /*Debe se rel doble de border-top y border-bottom*/
    right: -180px;  /*Distancia de la flecha al cuerpo del div*/
    z-index: 2;
    }
    
   .arrowRight:before {
    border-left: 16px solid #75461E ;
    right: -16px;
    z-index: 1;
    }
    
   