{% extends "bases/baseHistoria.html" %}

{% load static %}

{% block titulo %} enrique viii {% endblock %}

{% block cabecera %} Enrique VIII {% endblock %}

{% block imgCabecera %} <img class="img-fluid" src="{% static 'images/sigloXVI/enriqueVIII.jpg' %}" alt=""> {% endblock %}

{% block contenido %}

<h3>Matrimonio</h3>
    <div class="row justify-content-center text-center mb-5">
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/catalinaDeAragon.jpg' %}" alt="">
                <figcaption> <strong>Catalina de Aragón (1485-1536)</strong> </figcaption>                
            </figure>
            <p>Fue reina de inglaterra entre 1509 y 1533. Su hija <strong>María Tudor</strong>  fué reina de Inglaterra. Provocó la separación por parte de Enrique VIII 
                de la Iglesia Católica en 1534 debido a que esta no le daba la nulidad matrimonial. Esto dió lugar a la creación de la Iglesia Anglicana. 
            </p>
           
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/anaBolena.jpg' %}" alt="">
                <figcaption> <strong>Ana Bolena (?-1536)</strong> </figcaption>                
            </figure>
            <p>Fue reina de inglaterra entre 1533 y 1536. Su hija <strong>Isabel</strong>  fué reina de Inglaterra. Fué decapitada por mandato real en 1536.

        </p>
           
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/juanaSeymour.jpg' %}" alt="">
                <figcaption> <strong>Juana Seymour (?-1537)</strong> </figcaption>                
            </figure>
            <p>Fue reina de inglaterra entre 1536 y 1537. Su hijo <strong>Eduardo</strong> fué rey de Inglaterra. Murió tras el parto.

        </p>
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/anaCleverys.jpg' %}" alt="">
                <figcaption> <strong>Ana  de  Cleverys (1515-1557)</strong> </figcaption>                
            </figure>
            <p>Siendo el duque de Cléveris aliado de los príncipes protestantes, Enrique VIII de Inglaterra necesitaba una alianza con él. Se casó con su hija en 1540, pero el matrimonio nunca se consumó y no fue coronada reina consorte. Se separó de ella a los 6 meses de casado.

        </p>
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/catalinaHoward.jpg' %}" alt="">
                <figcaption> <strong>Catalina Howard (?-1542)</strong> </figcaption>                
            </figure>
            <p>Fue reina de inglaterra entre 1540 y 1541. Decapitada en 1542 tras ser acusada de adulterio.

        </p>
        </div>
        <div class="col-md-2 ">
            <figure>
                <img class="img-fluid" src="{% static 'images/sigloXVI/catalinaParr.jpg' %}" alt="">
                <figcaption> <strong>Catalina Parr (1512-1548)</strong> </figcaption>                
            </figure>
            <p>Fue reina de inglaterra entre 1543 y 1547. No tuvieron hijos. El rey murió en 1547.

        </p>


{% endblock %}