body{
    background-color: #f2f2f2;
}

header{
    width: 1290px;
    height: 140px;
    background-color: #23282B;
    margin: 0 auto;
}

nav{
    width: 1290px;
    margin:0 auto;
    background-color:azure;
    
}

#logotipo h1{
    display:block;
    letter-spacing:  2px;
    /* text-transform: uppercase; */
    font-weight: normal;
    color: #42a096;
}

.footer{
    text-align:center;
    margin: 0 auto;
    padding-top: 10px;
    width: 1290px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
}


