{% extends "nefrologia/baseNefrologia.html" %}

{% block titulo %} manejo patologias {% endblock %}

{% load static %}

{% block cabecera %} Manejo patologías en la IRC {% endblock %}
{% block imgCabecera %} <img id="inicio" src="{% static 'img/urologia.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}
<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
    <div class="col-12">
        <h5 id="antivirales" class="text-center pt-2 mx-4">DIABETES MELLITUS</h5> 
    </div>      
</div>

<div class="row">
    <p>La HBA1C es fiable para el control metabólico hasta un FG de 30. Por debajo de este no lo es tanto.</p>
    
    <div class="row my-3 border bg-light">    
        <h6 class="my-2">Metformina</h6>    
    </div>
    <div>
        <p>Necesita ajustes:</p>

        <ul>
            <li>No ajuste con FG > 45</li>
            <li>Reducir a la mitad con FG entre 30 y 45</li>
            <li>Suspender metformina si FG < 30</li>
            
        </ul>
        <p>Monitorizar la aparición de deficiencia de <strong>vitamina B12</strong> cuando los pacientes son tratados con metformina durante más de cuatro años</p>
        <p>En pacientes con <strong>FG entre 30 y 40</strong> las complicaciones agudas (diarrea,hipotensión, vómitos, etc.) pueden producir deterioro funcional en la función renal y complicaciones derivadas del acumulo de metformina.</p>
    </div>

    <div class="row my-3 border bg-light">    
        <h6 class="my-2">Inhibidores de SGLT2</h6>    
    </div>

    <div class="row align-items-center vertical-align-center text-center mb-5 justify-content-center">
        <div class="col-md-10 mb-5">
            <img src="{% static 'img/nefrologia/iSGLT2.jpg' %}" class="card-img-top" alt="...">        
        </div>
    </div>
    <div>
        <ul>
            <li>El tratamiento con iSGLT2 se acompaña de importantes beneficios cardiovasculares y renales en pacientes con DM-2</li>
            <li>Los beneficios fueron desproporcionados en relación con la reducción en la HbA1c y no parecendepender de la reducción de glucosa</li>
            <li>El grado de función renal influye en la eficacia antihiperglucémica, pero no en el beneficio cardiovascular y renal.</li>
            <li>La <strong>caída del FG tras iniciar un iSGLT2</strong> no debe ser un motivo de derivación a Nefrología ni de retirar el tratamiento si la función renal permanece estable o si la caída del FG es ≤ 30%:
                <ul>
                    <li>Se debe descartar causas funcionales (depleción, exceso de dosis dediuréticos o PA baja antes del inicio).</li>
                    <li>Si tras corregir esto persiste una caída del FG > 30% sobre la cifra basal, se remitirá a Nefrología</li>
                </ul>   </li>
            <li><strong>Dapagliflozina. </strong>No iniciar si FG < 25. Mantener hasta diálisis o transplante.</li>
        </ul>
    </div>

    <div class="row my-3 border bg-light">    
        <h6 class="my-2">Agonistas  GLP-1</h6>    
    </div>
    
    <div>
        <ul>
            <li>Están financiados para el tratamiento de la DM-2 exclusivamente para pacientes con un <strong>IMC > 30</strong>.</li>
            <li>Se recomienda su utilizaciónen pacientes con DM-2 y ERC que no han alcanzado los objetivos glucémicos individualizados a pesar del uso de metformina e iSGLT2, o en aquellos en los que no se pueden usar esos medicamentos.</li>
            <li><strong>Beneficios:</strong>
                <ul>
                    <li>Reducción de eventos cardiovasculares (particularmente entre las personas con ECV aterosclerótica).</li>
                    <li>Previenen la aparición de macroalbuminuria y posiblemente se asocian a una caída más lenta del FG</li>
                    <li>Importantes reducciones en la HbA1c con bajo riesgo de hipoglucemia</li>
                    <li>Producen bajada de peso y de la TA</li>
                </ul>
            </li>
            <li>Se recomiendan aquellos que hayan demostrado beneficio cardiovascular y renal: liraglutida, semaglutida y dulaglutida.</li>
            <li>Estos tres fármacos pueden utilizarse hasta un FG de 15, si bien la experiencia entre 15 y 30 es limitada.</li>
            <li>Los AR GLP-1 no deben usarse en combinación con iDPP-4.</li>
        </ul>
    </div>
    <div class="row my-3 border bg-light">    
        <h6 class="my-2">iDPP4</h6>    
    </div>
    <div class="row align-items-center vertical-align-center text-center my-2 justify-content-center">
        <div class="col-md-10 ">
            <img src="{% static 'img/nefrologia/iDPP4.jpg' %}" class="card-img-top" alt="...">        
        </div>
    </div>

    <div class="mt-4">
        <ul>
            <li>Son fármacos seguros en términos de escaso riesgo de hipoglucemia y muy bien tolerados.</li>
            <li>No han demostrado ofrecer protección cardiovascular ni renal</li>
            <li>No pueden asociarse con aGLP1</li>            
        </ul>
    </div>
                
            
    
</div>

{% endblock %}