{% extends "baseDiabetes.html" %}
{% load static %}
{% block titulo %} Inicio Diabetes {% endblock %}
{% block cabecera %}Diabetes mellitus tipo II  {% endblock %}
{% block contenido %}

<div class="row">
    <div class="col-md-9">
        <div class="row align-items-center pt-2 border my-1 justify-content-around" style="background-color: aliceblue;">
    
            <div class="col-md-3 " >
    
                <div class="card-group">
                    <div class="">
                        <a href="{% url 'ado' %} "> 
                            
                            <img src="{% static 'img/ado1.png' %}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body mx-2">
                            <h5 class="card-title text-center">Antidiabéticos oraless</h5>
                        </div>          
                    </div>
                </div>
            </div>
            <div class="col-md-3 " >
    
                <div class="card-group">
                    <div class="">
                        <a href="{% url 'ttoAdo' %} "> 
                            
                            <img src="{% static 'img/ttoDM1.png' %}" alt="" class="img-fluid">
                        </a>
                        <div class="card-body mx-2">
                            <h5 class="card-title text-center">Tratamiento DM II</h5>
                        </div>          
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-2">
                <div class="card-group">
                    <div class="">
                        <a href="{% url 'ayudasTto' %}">
                            <img src="{% static 'img/ayudaTtoDm1.png' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body mx-2 py-2">
                            <h5 class="card-title text-center">Ayudas al tratamiento</h5>
                        </div>          
                    </div>
                </div>
           
            </div>
        </div>
        <div class="row border align-items-center pt-2 justify-content-around" style="background-color: aliceblue;">
            <div class="col-md-3 ">
     
                <div class="card-group">
                    <div class="">
                        <a href="{% url 'insulinas' %}">
                            <img src="{% static 'img/insulina1.jpg' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body mx-2">
                            <h5 class="card-title text-center">Insulinas</h5>
                        </div>          
                    </div>
                </div>
            </div>            
     
            <div class="col-md-3 " >
     
                 <div class="card-group">
                     <div class="">
                         <a href="{% url 'insulinizacion' %}">
                             <img src="{% static 'img/insulina1.png' %}" class="card-img-top" alt="...">
                         </a>
                         <div class="card-body mx-2">
                             <h5 class="card-title text-center">Insulinización</h5>
                         </div>          
                     </div>
                 </div>
            </div>
            <div class="col-md-3 " >
     
                <div class="card-group">
                    <div class="">
                        <a href="{% url 'insulinizacion' %}">
                            <img src="{% static 'img/ayudaInsulina.jpg' %}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body mx-2">
                            <h5 class="card-title text-center">Ayuda insulina</h5>
                        </div>          
                    </div>
                </div>
           </div>
     
             
        </div>
    </div>
    <div class="col-md-2 border mt-1 ms-1 pt-3" style="background-color: aliceblue;">
        <div class="row align-items-center pt-4">      
       
            <div class="card-group">
                <div class="">
                    <a href="{% url 'retinografias' %}">
                        <img src="{% static 'img/retinografia1.png' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body mx-2 py-2">
                        <h5 class="card-title text-center">Retinografias</h5>
                    </div>          
                </div>
            </div>
            
        </div>
        <div class="row align-items-center mt-5 pt-3">
            <div class="card-group">
                <div class="">
                    <a href="{% url 'farmacosFG' %}">
                        <img src="{% static 'img/rignones.jpg' %}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body mx-2 py-2">
                        <h5 class="card-title text-center">Fármacos según el FG</h5>
                    </div>          
                </div>
            </div>
        </div>
    </div>
</div>

    
    
       
       
    

   
       

        
                
    





{% endblock %}


















