{% extends "baseDiabetes.html" %}
{% load static %}
{% block titulo %} tratamiento1 {% endblock %}
{% block cabecera %}Plantilla de tratamiento {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/ado.png' %}" alt="" class="img-fluid"> {% endblock %}
{% block contenido %}

<form action="" method="get">
<div class="row align-items-center justify-content-center mt-2 pt-3 pb-2 px-2 ">
    
    
    <div class="col-md-2 border py-2 text-center" id= cuadroFG style="background-color:{{colorC}} ; color: {{colorT}};">Filtrado glomerular: {{ FG }}</div>
</div>
    

<!-- <div class="row justify-content-center"> -->
    <!-- <div id="cuadroRespuestas" class="col-12 border border-5 border-success rounded my-3" style="background-color:#EFEBDD; min-height: 200px;"> -->
        <div class="row bg-success justify-content-between  border border-5 border-success rounded my-3" style="background-color:#EFEBDD; color: white;">
            <div class="col-md-4  text-start" id="farmaco1" name="farmaco1" >
                <div class="row border py-2 justify-content-center">
                    TRATAMIENTO ACTUAL
                </div>
                <div class="row pt-2 border-end border-success" style="background-color:#D5F5E3 ; color: black;">
                    <div class="row justify-content-between ms-3 px-0">
                        <div class="col-md-10" style="background-color:{{color1}} ;">Primer fármaco: {{ farmaco1 }}</div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-danger text-white" id="btnQuitarFarmaco1" >X</button>
                        </div>
                    </div>
                    <div class="row justify-content-between ms-3 mt-1 px-0">
                        <div class="col-md-10 " style="background-color:{{color2}}">Segundo fármaco: {{ farmaco2 }}</div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-danger text-white" id="btnQuitarFarmaco2" >X</button>
                        </div>
                    </div>
                    <div class="row justify-content-between ms-3 mt-1 px-0 pb-1" style="height: 44px;">
                        <div class="col-md-10 " style="background-color:{{color3}}">Tercer fármaco: {{ farmaco3 }}</div>
                        <div class="col-md-2 ">
                            <button type="submit" class="btn btn-danger text-white" id="btnQuitarFarmaco3" >X</button>
                        </div>
                    </div>             
                </div>               
                               
            </div>
            <div class="col-md-4 text-start" id="glicada" name="glicada">
                <div class="row border py-2 justify-content-center">
                    HB GLICADA:
                </div>
                <div class="row pt-2 border-end border-success pb-1" style="background-color:#D5F5E3 ; color: black;">
                    <p>Glicada = {{ glicada }}</p>
                    <p>Objetivo glicada = {{ objetivoGlicada }}</p>
                    <div class="col-12 py-2 border border-3 border-dark text-center" style="background-color: #FAD7A0 ;">Exceso de glicada = {{ desvioGlicada }}</div>
                    
                </div>
                                
            </div>
            <div class="col-md-4 text-start" id="pprincipal" name="pprincipal">
                <div class="row border py-2 justify-content-center">
                    PATOLOGÍAS:
                </div>
                <div class="row pt-3 " style="background-color:#D5F5E3 ; color: black;">
                    <p>Patol. predominante: {{ predominante }}</p>
                    <p>Patología secundaria: {{ secundaria }} </p>
                    <p>Patología terciaria: {{ terciaria }}</p>
                </div>               
            </div>
            
        </div>
        <div class="row mt-2 border border-5 border-success rounded my-2" style="background-color:#EFEBDD;">
            
            <div class="col-md-6 border">
            <div class="row border align-items-center" style="background-color: #21618C; color: white;">
                <div class="col-md-10 py-1">
                    <h5 class="text-center">Analizar tratamiento actual</h5>
                </div>
                
                <div class="col-md-2 ">
                    <button type="submit" class="btn  text-black bg-info" id="analizarTto"  >Analizar</button>
                </div>
                
            </div>
            <div class="row border border-success border-2" style="height: 84px;">
                <p class="mt-1 ps-2">{{ subgrupo1 }} </p>  
            </div>
            <div class="row border border-success border-2 "style="height: 84px;">
                {{ subgrupo2 }} 
            </div>
            <div class="row border border-success border-2 " style="height: 84px;" >
                {{ subgrupo3 }}
            </div>
            <div class="row border border-success border-2 " style="height: 84px;" >
                {{ nuevoFarmaco1.subgrupo }}
            </div>

            </div>
            
            <div class="col-md-6 border">
                <div class="row border pt-2" style="background-color: #21618C; color: white;">
                    <h5 class="text-center">Tratamiento de elección</h5>
                </div>
                <div class="row border border-success border-2" style="height: 84px;">
                    <div class="col-md-11">
                        <strong>1º- De elección: </strong> <a style="text-decoration: none;" href="{% url 'ado'%}{{ dir1 }}">{{ nuevoFarmaco1 }}</a>{{ comentario1 }} <strong>{{ bajaGlicada1 }}</strong>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-success text-white mt-3" id="agregarFarmaco1" >+</button>
                    </div>
                    
                </div>
                <div class="row border border-success border-2 " style="height: 84px;" >
                    <div class="col-md-11">
                       <strong>2ª opción: </strong><a style="text-decoration: none;" href="{% url 'ado'%}#iSGLT2">iSGLT2. </a>. Usar cuando no tolera o están contraindicados los arGLP1. Usar asociados a los arGLP1 cuando con estos no se consigue el objetivo de glicada. <strong>Baja glicada 0.5-0.8 %.</strong>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-success text-white mt-3" id="agregarFarmaco2" >+</button>
                    </div>
                    
                </div>
                <div class="row border border-success border-2 " style="height: 84px;">
                    <div class="col-md-11">
                        <strong>3ª opción: </strong><a style="text-decoration: none;" href="{% url 'ado'%}#iDPP4">iDPP4</a>. Los más seguros son <strong>linagliptina y sitagliptina</strong>. Su principal indicación son los pacientes frágiles. Han demostrado seguridad CV. <strong>Baja glicada 0,5-0,7 %</strong>
                     </div>
                     <div class="col-md-1">
                         <button type="submit" class="btn btn-success text-white mt-3" id="agregarFarmaco3" >+</button>
                     </div>
                    
                </div>
                <div class="row border border-success border-2 " style="background-color: yellow; height: 84px;" >
                    <div class="col-md-11">
                        <strong>No usar: </strong> Sulfonilureas, repaglinida, pioglitazona, insulina porque favorecen el incremento de peso.
                     </div>
                     <div class="col-md-1">
                         <button type="submit" class="btn btn-success text-white mt-3" id="agregarFarmaco4" >+</button>
                     </div>
                    
                </div>
            </div>
</form>
    
       








<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.chained.js' %}"></script>
<script src="{% static 'js/cambiaCB.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/main10.js' %}"></script>

<script>
   
    
</script>








{% endblock %}