{% extends "mujer/baseMujer.html" %}
{% load static %}

{% block titulo %} planificación {% endblock %}

{% block cabecera %} Planificación familiar {% endblock %}

{% block imgCabecera %} <img src="{% static 'img/planificacion.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<div class="row mt-4">
    <div class="col-md-5">
        <p><a href="{% url 'implanon' %} "class="text-success", style="text-decoration:none ;" >Implanon (implante anticonceptivo de gestágenos)</a>
            <p><a href="{% url 'reproduccionAsistida' %} "class="text-success", style="text-decoration:none ;" >Unidad de reproducción asistida</a>
    </div>
    
</div>
<hr class="mt-5">




{% endblock %}