{% extends "locomotor/baseLocomotor.html" %}

{% block titulo %} cervicalgia {% endblock %}
{% load static %}

{% block cabecera %} Cervicalgia {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/cervicalgia.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<div class="row align-items-center vertical-align-center text-center pt-5 ">
    <div class="col-md-3">
        <a href="{% url 'exploracionCervicalgia' %}" class="text-success", style="text-decoration:none ;">Exploración de la columna cervical (pdf)</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'ejerciciosCervicalgia' %}" class="text-success", style="text-decoration:none ;">Ejercicios cervicalgia (pdf)</a>
    </div>
    <div class="col-md-3">
        <a href="https://www.youtube.com/watch?v=DN0LRV8343k&list=PLwVXCnb29opIfzYxW-W5N5MSMWOhrs54z&index=1" class="text-success", style="text-decoration:none ;" target="_blank">Anatomía Rx Simple Cervical</a>
    </div>
</div>
<hr>
<div class="row">
    <h4>Cuando derivar</h4>    
    <div>
        <ol>
            <li>Cervicalgia de >1 mes que no responde a medidas físicas, ejercicios, AINES, miorrelajantes</li>
            <li>Cervicalgia con signos neurológicos o de alarma (datos de insuficiencia vascular (drops attac), < 18 años) </li>
        </ol>
    </div>
</div>
<div class="row">
    <h4>Como derivar</h4>    
    <div>
        Motivo justificado de la derivación y tratamientos empleados:
        <ul>
            <li>Rx Ap y lat valorados por el MAP</li>
            <li>Analítica según sospecha </li>
            <li>Pacientes ya valorados y diagnosticados por la unidad no nueva derivación por el mismo motivo (salvo cambios clínicos) hasta 1 año</li>
        </ol>
    </div>
</div>


{% endblock %}