{% extends "locomotor/baseLocomotor.html" %}

{% block titulo %} codo {% endblock %}
{% load static %}

{% block cabecera %} Codo {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/codo.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<div class="row align-items-center vertical-align-center text-center py-5 ">
    <div class="col-md-3">
        <a href="{% url 'exploracionCodo' %}" class="text-success", style="text-decoration:none ;">Exploración del codo (pdf)</a>
    </div>
</div>

{% endblock %}