{% extends "locomotor/baseLocomotor.html" %}

{% block titulo %} dorsalgia {% endblock %}
{% load static %}

{% block cabecera %} Dorsalgia {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/dorsalgia.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<div class="row align-items-center vertical-align-center text-center pt-5 ">
    
    <div class="col-md-3">
        <a href="https://www.youtube.com/watch?v=qnVR9x9Sd6A&list=PLwVXCnb29opIfzYxW-W5N5MSMWOhrs54z&index=2" class="text-success", style="text-decoration:none ;" target="_blank">Anatomía Rx Simple Dorsal</a>
    </div>
</div>


{% endblock %}