{% extends "locomotor/baseLocomotor.html" %}

{% block titulo %} lumbalgia {% endblock %}
{% load static %}

{% block cabecera %} Lumbalgia {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/lumbalgia1.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<div class="row align-items-center vertical-align-center text-center pt-5 ">
    <div class="col-md-3">
        <a href="{% url 'higienePostural' %}" class="text-success", style="text-decoration:none ;">Higiene Postural (pdf)</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'exploracionLumbalgia' %}" class="text-success", style="text-decoration:none ;">Exploración de la columna lumbar (pdf)</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'ejerciciosLumbalgia' %}" class="text-success", style="text-decoration:none ;">Ejercicios lumbalgia (pdf)</a>
    </div>
    <div class="col-md-3">
        <a href="{% url 'ejerciciosEspondilitis' %}" class="text-success", style="text-decoration:none ;">Ejercicios espondilitis (pdf)</a>
    </div>
</div>
<div class="row align-items-center vertical-align-center text-center pt-4 ">
    <div class="col-md-3">
        <a href="https://www.youtube.com/watch?v=Tt-E_BZQmYY" class="text-success", style="text-decoration:none ;" target="_blank">Anatomía Rx Simple Lumbar</a>
    </div>
</div>

<hr>
<div class="row">
    <h4>Cuando derivar</h4>    
    <div>
        <ol>
            <li>Lumbalgia de >1 mes que no responde a medidas físicas, ejercicios, AINES, miorrelajantes</li>
            <li>Lumbalgia con signos neurológicos o de alarma (edad < 18 años y primer episodio de lumbalgia aguda en mayor de 55 años, antecedentes de neoplasia maligna, pérdida de peso inexplicada, ADVP, corticoterapia, historia de trauma previo significativos) </li>
        </ol>
    </div>
</div>
<hr>
<div class="row">
    <h4>Como derivar</h4>    
    <div>
        Motivo justificado de la derivación y tratamientos empleados:
        <ul>
            <li>Rx Ap y lat valorados por el MAP</li>
            <li>Analítica con hemograma bioquímica completa PCR y VSG </li>
            <li>Pacientes ya valorados y diagnosticados por la unidad no nueva derivación por el mismo motivo (salvo cambios clínicos) hasta 1 año</li>
            <li><strong>Lumbalgia mixta o inflamatoria derivar a reuma</strong> </li>
        </ol>
    </div>
    <hr>
    <h4 class="mt-4">Tipos de dolor</h4>
    <div class="row">
        <table class="table table-striped mx-2 border">
                
            <tr class="table-success ">
                <th class="border border-dark">Mecánico</th>
                <th class="border border-dark">Inflamatorio</th>
                
                
            </tr>
            <tr>
                <td class="border border-dark">Aumenta con actividad física y esaparece o se mitiga con el reposo</td>                
                <td class="border border-dark">Dolor nocturno o matutino que no cede con el reposo o incluso lo exacerba</td>                                    
                                
            </tr>
            <tr>
                <td class="border border-dark"> Artrosis</td>                
                <td class="border border-dark"> Artritis</td>                                    
                                
            </tr>
            <tr>
                <td class="border border-dark"> Analítica normal</td>                
                <td class="border border-dark"> Aumenta la VSG y más especificamente la PCR</td>                                    
                                
            </tr>
        </table>
    </div>
</div>



{% endblock %}