{% extends "locomotor/baseLocomotor.html" %}

{% block titulo %} osteoporosis {% endblock %}
{% load static %}

{% block cabecera %} Osteoporosis {% endblock %}
{% block imgCabecera %} <img src="{% static 'img/osteoporosis.jpg' %}" alt="" class="img-fluid"> {% endblock %}

{% block contenido %}

<div class="row mt-4 align-items-center border">
    <div class="col-md-5">
        <p><strong>Documentos</strong> </p>
        <ul>            
            <li><a href="{% url 'osteoporosisGascon' %} "class="text-success", style="text-decoration:none ;" >Osteoporosis</a></li>
            <li><a href="{% url 'prevencionOsteoporosis' %} "class="text-success", style="text-decoration:none ;" >Algoritmo prevención de la osteoporosis</a></li>
            <li><a href="{% url 'dietaCalcio' %} "class="text-success", style="text-decoration:none ;" >Dieta rica en calcio</a></li>
            <li><a href="{% url 'consenso_vitD' %} "class="text-success", style="text-decoration:none ;" >Consenso Vitamina D</a></li>
             
        </ul>
        
    </div>
    <div class="col-md-5 text-center">       
        
            <a href="https://www.sheffield.ac.uk/FRAX/tool.aspx?lang=sp" class="card-link link-success bg-success py-4 px-2" style="text-decoration:none ; color:white " target="_blank">Cálculo del riesgo de fractura por osteoporosis (índice FRAX)</a>
           
    </div>
    
    
</div>
<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
        
    <h5 class="text-center pt-2">DEFINICIÓN</h5>
        
</div>
<div class="row mt-4 justify-content-center">            
    
    <div class="col-md-6 px-4">
        <table class="table table-striped mx-2 border">            
            <tr class="table-success ">
                <td class="border border-dark"><strong>Normalidad: </strong>DMO superior a -1 desviación estándar (DE). </td>                                                
            </tr>
            <tr>
                <td class="border border-dark"><strong>Osteopenia: </strong>DMO entre -1 y -2,4 DE</td>                
            </tr>
            <tr class="table-success ">
                <td class="border border-dark"><strong>Osteoporosis densitométrica: </strong>DMO igual o inferior a -2,5 DE. </td>                                                
            </tr>
            <tr>
                <td class="border border-dark"><strong>Osteoporosis establecida: </strong>Osteoporosis y fractura por fragilidad</td>                
            </tr>
        </table>
    </div>
</div>


<div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
        
    <h5 class="text-center pt-2">FACTORES DE RIESGO</h5>
        
</div>
<div class="row mt-4 justify-content-center">            
    
    <div class="col-md-6 px-4">
    <h6 class="text-center">RIESGO ALTO (RR &ge; 2)</h6>
        <table class="table table-striped mx-2 border">            
            <tr class="table-success ">
                <td class="border border-dark">Edad > 65 años</td>                                                
            </tr>
            <tr>
                <td class="border border-dark">IMC < 20 kg/m2 o pérdida peso > 10%</td>                
            </tr>
            <tr class="table-success ">
                <td class="border border-dark">Antecedentes personales de fractura por fragilidad</td>                
            </tr>
            <tr>
                <td class="border border-dark">Antecedente maternal de fractura de fémur</td>                
            </tr>
            <tr class="table-success ">
                <td class="border border-dark">Tto con prednisona 5 mg/día (o equivalente) > 3 meses</td>                
            </tr>
            
            <tr>
                <td class="border border-dark">Caidas (> de 2 en el último año)</td>                
            </tr>       
        </table>
    </div>
    <div class="col-md-6 px-4">
        <h6 class="text-center">RIESGO MODERADO (RR ENTRE 1-2)</h6>
            <table class="table table-striped mx-2 border">
                
                <tr class="table-success ">
                    <td class="border border-dark">Tabaquismo activo</td>                                                
                </tr>
                <tr>
                    <td class="border border-dark">Consumo de alcohol > 3 unidades diarias</td>                
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark">Menopausia antes de los 45 años</td>                
                </tr>
                <tr>
                    <td class="border border-dark">DM, Artritis Reumatoide, Hiperparatiroidismo, Hipertiroidismo, anorexia, bulimia</td>                
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark">Malabsorcion, hepatopatías, celiaquía, enfermedad inflamatoria crónica intestinal</td>                
                </tr>
                <tr >
                    <td class="border border-dark">Fármacos: Anticonvulsionantes, heparina, inh aromatasa, inmunosupresores</td>                
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark">Riesgo de caidas</td>                
                </tr>                 
                         
            </table>
    </div>
    <div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
        
        <h5 class="text-center pt-2" >PREVENCIÓN PRIMARIA</h5>
            
    </div>
    <div class="row justify-content-center">
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right-square-fill mx-2" viewBox="0 0 16 16">
                <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
            </svg>
            Hacer el <a href="https://www.sheffield.ac.uk/FRAX/tool.aspx?lang=sp" class="card-link link-success" style="text-decoration:none ;" target="_blank"> índice FRAX</a> a todo paciente > 65 años, postmenopausia o que tenga factores de riesgo.</p>  
        <div class="col-md-6 mt-5">
            <img src="{% static 'img/protocoloOsteoporosis.jpeg' %}" class="card-img-top" alt="...">
        </div>     
    </div>
    
    <div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
        
        <h5 class="text-center pt-2">PREVENCIÓN SECUNDARIA</h5>
            
    </div>
    
    
    <div class="row align-items-center justify-content-around">
        <div class="col-md-5 mx-5 border">
            <img src="{% static 'img/genant.jpg' %}" class="card-img-top" alt="...">
        </div>
        <div class="col-md-4 mt-5 pt-3  px-5 mx-5 border bg-success text-light">
            <p class=""><strong>A quién tratar</strong> </p>
            <ul>
                <li>Pacientes con fractura vertebral o de cadera</li>
                <li>Pacientes con &ge; 2 fracturas por fragilidad</li>
                <li>Pacientes con 1 fractura y DMO compatible ( osteopenia/osteoporosis ) </li>
            </ul>
        </div>
        
        
    </div>
    
    <div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
        
        <h5 class="text-center pt-2" >TRATAMIENTO</h5>
            
    </div>
    <div class="row justify-content-center">            
    
        <div class="col-md-7 px-4 mb-5">
        <h6 class="text-center">OPCIONES FARMACOLÓGICAS</h6>
            <table class="table table-striped mx-2 border">            
                <tr class="table-success ">
                    <th colspan="3" class="border border-dark">Antiresortivos</th>                                                
                </tr>
                <tr>
                    <td rowspan="7" class="border border-dark">Bifosfonatos</td>                
                </tr>
                <tr class="">
                    <td rowspan="2"class="border border-dark">Alendronato</td>
                    <td class="border border-dark">Oral: semanal </td>             
                                    
                </tr>
                <tr>                    
                    <td class="border border-dark">Alendronato + Vit D</td>                            
                </tr>
                <tr class="">
                    <td rowspan="2"class="border border-dark">Risedronato</td>
                    <td class="border border-dark">Oral: semanal </td>             
                                    
                </tr>
                <tr>                    
                    <td class="border border-dark">Oral: mensual</td>                            
                </tr>
                <tr class="">
                    <td class="border border-dark">Ibendronato</td>
                    <td class="border border-dark">Oral: mensual </td>             
                                    
                </tr>
                <tr class="">
                    <td class="border border-dark">Zoledronato</td>
                    <td class="border border-dark">Parenteral: anual </td>             
                                    
                </tr>
                <tr class=" ">
                    <td colspan="" class="border border-dark">Anticuerpos monoclonales</td>
                    <td colspan="" class="border border-dark">Denosumab (Prolia)</td>
                    <td colspan="" class="border border-dark">Parenteral: semestral</td>                                                
                </tr>
                <tr class=" ">
                    <td rowspan="2"class="border border-dark">Moduladores selectivos del receptor estrogénico</td>
                    <td class="border border-dark">Raloxifeno </td>
                    <td class="border border-dark">Oral: diaria </td>                                                        
                </tr>
                <tr class=" ">
                    
                    <td class="border border-dark">Bazedoxifeno </td>
                    <td class="border border-dark">Oral: diaria </td>                                                        
                </tr>
                <tr class=" ">
                    <td colspan="" class="border border-dark">Terapia hormonal sustitutiva</td>
                    <td colspan="" class="border border-dark">Estrógenos con gestágenos</td>
                    <td colspan="" class="border border-dark">Oral: diaria transcutánea</td>                                                
                </tr>
                <tr class="table-success ">
                    <th colspan="3" class="border border-dark">Osteoformadores</th>                                                
                </tr>
                <tr class=" ">
                    <td rowspan="2"class="border border-dark">Derivados de la PTH</td>
                    <td class="border border-dark">Teriparatida </td>
                    <td class="border border-dark">Parenteral: diaria </td>                                                        
                </tr>
                <tr class=" ">
                    
                    <td class="border border-dark">Abaloparatida </td>
                    <td class="border border-dark">Parenteral </td>                                                        
                </tr>
                <tr class=" ">
                    <td colspan="" class="border border-dark">Anticuerpos monoclonales</td>
                    <td colspan="" class="border border-dark">Romosozumab</td>
                    <td colspan="" class="border border-dark">Parenteral</td>                                                
                </tr>
                
                
                
            </table>
        </div>
        <div class="col-md-5 px-4 mb-5">
            <h6 class="text-center">ELECCIÓN DEL FÁRMACO</h6>
            <p>En la mayoría de los casos la primera opción será un <strong>bifosfonato oral</strong> por eficacia, seguridad y coste.</p>
                <table class="table table-striped mx-2 border">            
                    <tr class="table-success ">
                        <td class="border border-dark"><strong>Mujeres postmenopáusicas:</strong> Alendronato</td>                                                
                    </tr>
                    <tr>
                        <td rowspan="" class="border border-dark">Uso de <strong>Corticoides y varones:</strong> Risedronato  </td>                
                    </tr>
                    <tr class="table-success ">
                        <td class="border border-dark"><strong>Intolerancia digestiva:</strong> Zoledronato IV</td>                                                
                    </tr>
                    <tr >
                        <td class="border border-dark"><strong>Intolerancia digestiva + rechazo vía IV:</strong> Raloxifeno, bazedoxifeno</td>                                                
                    </tr>
                    <tr class="table-success ">
                        <td rowspan="" class="border border-dark"><strong>Contraindicación de bifosfonatos:</strong> Denosumab  </td>                
                    </tr>
                    <tr >
                        <td class="border border-dark"><strong>OP grave y contraindicación de bifosfonatos:</strong> Teriparatida</td>                                                
                    </tr>
                                 
                </table>
        </div>
    </div>
    <div class="row align-items-center vertical-align-center text-center py-3 my-5 border" style="background-color:#E2F6F6 ;">
        
        <h5 class="text-center pt-2" >BIFOSFONATOS</h5>
            
    </div>
    <div class="row justify-content-center">            
    
        <div class="col-md-4 mb-5 ">
            <h6 class="text-center">RECOMENDACIONES SEGURIDAD</h6>
            <table class="table  mx-2 border">            
                <tr>
                    <td rowspan="3" class="border border-dark">Antes de iniciar el tratamiento</td>
                    <td class="border border-dark">Si hay <strong>patologia gastroesofágica</strong> optar por formas parenterales</td>                                                  
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark">Si se va a hacer <strong>implantes</strong> no inicar tto hasta que no termine</td>                
                </tr>
                <tr >
                    <td class="border border-dark"><strong>Analítica:</strong>  FG, calcemia y Vit D</td>                
                </tr>
                <tr>
                    <td rowspan="3" class="border border-dark">Durante el tratamiento</td>
                    <td class="border border-dark"><strong>Bifosfonatos orales</strong> Tomarlos en ayunas y mantenerse incorporado durante los 30 minutos posteriores. Optar por pautas semanales, mensuales o anuales antes que la diaria.</td>                                                  
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark">Asociar suplementos de  <strong>calcio y vitamina D</strong> a dosis adecuadas.</td>                
                </tr>
                <tr >
                    <td class="border border-dark"><strong>Densitometría de control:</strong>  No requerida de forma habital (en todo caso no antes de los 2 años)</td>                
                </tr>
                <tr>
                    <td rowspan="4" class="border border-dark">Al finalizar el tratamiento</td>
                    <td class="border border-dark"><strong>Revisar indicación </strong> de bifosfonato oral a los 5 años</td>                                                  
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark"><strong>Revisar indicación </strong> de bifosfonato IV a los 3 años</td>                
                </tr>
                <tr >
                    <td class="border border-dark"><strong>Revisar indicación de denosumab</strong>  a los 5 años</td>                
                </tr>
                <tr >
                    <td class="border border-dark">Valorar necesidad de tto alternativo sobre todo tras suspender denosumab</td>                
                </tr>
            </table>
        </div>
        <div class="col-md-4 px-4 mb-5 ">
            <h6 class="text-center">EFECTOS SECUNDARIOS</h6>
            <table class="table  mx-2 border">            
                <tr>
                    <td rowspan="" class="border border-dark"><strong>General</strong></td>
                    <td class="border border-dark">Síndrome pseudogripal (zoledronato IV)</td>                                                  
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark"><strong>Gastrointestinal</strong></td>
                    <td class="border border-dark">Reflujo, esofagitis, úlcera gástrica.</td>                
                </tr>
                <tr>
                    <td rowspan="" class="border border-dark"><strong>Muscular</strong></td>
                    <td class="border border-dark">Dolores musculares</td>                                                  
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark"><strong>Fracturas</strong></td>
                    <td class="border border-dark"><strong>Fractura atípica de fémur.</strong> Rara. En tto prolongado (7 años). Muy rara en los 5 primeros años. <br> <strong>Osteonecrosis mandibular.</strong> 
                     Rara. Asociada a cirugía dental. </td>                
                </tr>
                <tr>
                    <td rowspan="" class="border border-dark"><strong>Renal</strong></td>
                    <td class="border border-dark">Insuficiencia renal. Evitarlos si FG < 30.</td>                                                  
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark"><strong>Endocrino</strong></td>
                    <td class="border border-dark">Hipocalcemia transitoria. Insistir en la suplementación de calcio, pero no simultánea al bifosfonato porque interfiere con su absorción.  </td>                
                </tr>
                <tr>
                    <td rowspan="" class="border border-dark"><strong>Cardiovascular</strong></td>
                    <td class="border border-dark">Fibrilación auricular. Asociación controvertida e infrecuente.</td>                                                  
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark"><strong>Oftalmología</strong></td>
                    <td class="border border-dark">Visión borrosa, conjuntivitis y escleritis. Infrecuente.</td>                
                </tr>
            </table>
        </div>
        <div class="col-md-4 px-4 mb-5 ">
            <h6 class="text-center">CONTRAINDICACIONES</h6>
            <table class="table  mx-2 border">            
                <tr>
                    <td rowspan="" class="border border-dark"><strong>Patología esofágica</strong></td>
                    <td class="border border-dark">Acalasia, esofagitis, Barret, varices</td>                                                  
                </tr>
                <tr class="table-success ">
                    <td class="border border-dark"><strong>Cirugía bariátrica</strong></td>
                    <td class="border border-dark">Usar zoledronato IV.</td>                
                </tr>
                <tr>
                    <td rowspan="" class="border border-dark"><strong>Enfermedad renal crónica</strong></td>
                    <td class="border border-dark">No usar si FG < 30</td>                                                  
                </tr>
            </table>
        </div>
    </div>

    <hr>
    <ol>
        <li><strong>Suplementos de Calcio y Vitamina D</strong>
            <ul>
                <li>Hay evidencia para aumentar la densidad ósea pero no está claro que disminuya el riesgo de fracturas.</li>
                <li>No se recomienda el cribado poblacional del déficit de vitamina D. Estaría indicado en personas de alto riesgo, con alteraciones del metabolismo óseo, obesidad y malabsorción.</li>
                <li>No existe acuerdo en cuanto a <strong>concentraciones óptimas</strong> de vitamina D pero hay cierto consenso en :
                    <ul>
                        <li>Mayor de 20 ng/ml en población general</li>
                        <li>Mayor de 30 ng/ml en pacientes con osteoporosis y riesgo de fractura</li>
                        <li>Suplementar si niveles menores de 10 a cualquier edad</li>
                    </ul>
                </li>
                <li>No hay acuerdo en la <strong>dosis</strong> pero se acepta  1200 mg de calcio y 800 UI/ día de Vit D en la osteoporosis establecida.</li>
            </ul>
        </li>
        <li class="mt-3"><strong><u>BIFOSFONATOS</u></strong>
            <ul>
                <li>Son los fármacos de primera elección</li>
                <li>Deben usarse en combinación con calcio y vitamina D.</li>
                <li>Todos inhiben la resorción ósea y aumentan la DMO.</li>
                <li>Todos previenen la fracturas vertebrales.</li>
                <li>Con respecto a la fractura de cadera:
                    <ul>
                        <li>La previene: alendronato y risedronato orales y zoledronato IV.</li>
                        <li>No la previenen: ibandronato y etidronato.</li>
                    </ul>
                </li>
                <li>Tienen un balance eficacia seguridad favorable durante los 5 primeros años (los 3 primeros para el zoledronato). Luego debe reevaluarse el riesgo de fractura</li>
            </ul>
        </li>
        <li class="mt-3"><u><strong>DENOSUMAB (Prolia): </strong></u> 
            <ul>
                <li>Previene fracturas vertebrales, no vertebrales y de cadera.</li>
                <li>Este beneficio se mantiene 10 años</li>
                <li>Sus principales problemas son:
                    <ul>
                        <li>Pérdida rápida de densidad ósea cuando dejas el tratamiento. Hay que continuar con otro fármaco.</li>
                        <li>Hipocalcemia</li>
                        <li>Dolor musculoesquelético</li>
                        <li>Osteonecrosis de mandíbula</li>
                        <li>Fractura atípica de fémur</li>
                    </ul>
                </li>
                <li>Se considera alternativa a los bifosfonatos en algunos casos de incumplimiento terapéutico, intolerancia a los bifosfonatos, o insuficiencia renal crónica.</li>
            </ul>
        </li>
        <li class="mt-3"><u><strong>Fármacos osteoformadores</strong></u>
            <ul>
                <li>No son de primera elección pero sí una alternativa en pacientes con osteoporosis grave, fractura previa o T-score menor de -3,5 DE</li>
                <li>Pueden ser útiles para continuar tto una vez se suspende denosumab</li>
                <li>La teriparatida no ha demostrado utilidad en prevención fractura cadera.</li>
                <li>Se administra a diario vía SC</li>
                <li>Duración del tto: 2 años</li>
                <li>Contraindicaciones: hiperparatiroidismo, hipercalcemia o tumores con riesgo de desarrollarla</li>
            </ul>
        </li>
        <li class="mt-3"><u><strong>Moduladores selectivos de receptores estrogénicos</strong></u>
            <ul>
                <li>Reducción de fractura vertebral pero no hay evidencia  de reducción de fractura no vertebral y de cadera</li>
                <li>El raloxifeno y bazedoxifeno son los más empleados</li>
                <li>Previenen el cáncer de mama pero aumentan los sofocos y el riesgo de enfermedad tromboembólica</li>
                <li>El balance riesgo beneficio se mantiene favorable durante los primeros 8 años</li>
                <li>Su perfil sería cuando los bifosfonatos están contraindicados y hay riesgo de cáncer de mama</li>
            </ul>
        </li>
    </ol>
    







{% endblock %}